﻿<div class="row">
    <div class="row">
        @* /////////////////////////////////////////////////////////Depreciationi Group//////////////////////////////////////////////////////// *@
        <div class="col-md-6">
            <div>
                <div class="row">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label for="WFD01180_ADD_Company" class="col-md-3 control-label">Company :</label>
                            <div class="col-md-3">
                                @Html.CompanyCombobox("WFD01180_ADD_Company", new { @class = "form-control select2", style = "width: 100px;", tabindex = "1" }, true)
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="col-md-3 control-label text-left">Asset Class:</label>
                            <div class="col-md-8">
                                @Html.AssetClassComboboxDepreciationCombobox("WFD01180_ADD_ASSET_CLASS", new { @class = "form-control select2", style = "", tabindex = "2" })
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="col-md-3 control-label text-left">Minor Cate:</label>
                            <div class="col-md-8">
                                @Html.Minor_CategoryeDepreciationCombobox("WFD01180_ADD_MINOR_CATEGORY", new { @class = "form-control select2", style = "width: 180px;", tabindex = "3" })
                                <!--<select id="WFD01180_ADD_MINOR_CATEGORY" name="WFD01180_ADD_MINOR_CATEGORY" class="form-control  form-inline" style="width: 100%;" tabindex="-1" aria-hidden="true"></select>-->
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        @* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// *@
        <div class="col-md-6">
            <div class="row">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label for="WFD01180_ADD_Physical_check" class="col-md-3 control-label">Physical Check :</label>
                        <div class="col-md-3">
                            @Html.PhysicalCheckDepreciationCombobox("WFD01180_ADD_Physical_check", new { @class = "form-control select2", style = "width: 100%;", tabindex = "3" })
                        </div>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="col-md-3 control-label text-left">Plate Type:</label>
                        <div class="col-md-3">
                            @Html.PlateTypeDepreciationCombobox("WFD01180_ADD_Plate_Type", new { @class = "form-control select2", style = "width: 150px;", tabindex = "3" })
                        </div>
                        <label class="col-md-2 control-label text-left">Size:</label>
                        <div class="col-md-3">
                            @Html.PlateSizeDepreciationCombobox("WFD01180_ADD_Plate_Size", new { @class = "form-control select2", style = "width: 180px;", tabindex = "3" })
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>

</div>

<div class="row">
    @* //////////////////////////////////////////////////////////Local Book/////////////////////////////////////////////////////// *@
    <div class="col-md-6 text-left" style="border:1px solid #a0a0a0;">
        <h4>01 Local Accounting Book</h4>
        <div class="form-horizontal">
            <div class="form-group">
                <label for="WFD01180_ADD_Local_Depre_Key" class="col-md-3 control-label">Depre Key :</label>
                <div class="col-md-6">
                    @Html.CommonTextBox("WFD01180_ADD_Local_Depre_Key", null, new { @class = "form-control require text-left", style = "width: 100px;", maxlength = "4", tabindex = "2" })
                </div>
            </div>
        </div>
        <div class="form-horizontal">
            <div class="form-group">
                <label class="col-md-3 control-label text-left">Useful Life :</label>
                <div class="col-md-4">
                    <input id="WFD01180_ADD_Local_Base_On_Contact" type="radio" name="Useful_Life_Loacl_Book">&nbsp;Base on contract
                </div>
                <div class="col-md-3">
                    <input id="WFD01180_ADD_Local_N_A" type="radio" name="Useful_Life_Loacl_Book" checked>&nbsp;N/A
                </div>

            </div>
        </div>
        <div class="form-horizontal">
            <div class="form-group">
                <div class="col-md-3"></div>
                <div class="col-md-2">
                    <input id="WFD01180_ADD_Local_Life" type="radio" name="Useful_Life_Loacl_Book">&nbsp;Year
                </div>
                <div class="col-md-2">
                    @Html.CommonTextBox("WFD01180_ADD_Local_Life_Year", null, new { @class = "form-control require text-right", style = "width: 40px;", maxlength = "3", tabindex = "3" })
                </div>
                <label class="col-md-2 control-label text-left">Month</label>
                <div class="col-md-2">
                    @Html.CommonTextBox("WFD01180_ADD_Local_Life_Month", null, new { @class = "form-control require text-right", style = "width: 40px;", maxlength = "2", tabindex = "3" })
                </div>

            </div>
        </div>
        <div class="form-horizontal">
            <div class="form-group">
                <label for="WFD01180_ADD_Local_Scrap_Value" class="col-sm-3 control-label text-left">Scrap Value :</label>
                <div class="col-md-6">
                    @Html.CommonTextBox("WFD01180_ADD_Local_Scrap_Value", null, new { @class = "form-control require text-right scrap-value", style = "width: 125px;", maxlength = "14", tabindex = "2" })
                </div>
            </div>
        </div>
    </div>
    @* /////////////////////////////////////////////////////////Tax Book//////////////////////////////////////////////////////// *@
    <div class="col-md-6" style="border:1px solid #a0a0a0;">
        <h4>15 Local Tax Book</h4>
        <div class="form-horizontal">
            <div class="form-group">
                <label for="WFD01180_ADD_Tax_Depre_Key" class="col-md-3 control-label">Depre Key :</label>
                <div class="col-md-4">
                    @Html.CommonTextBox("WFD01180_ADD_Tax_Depre_Key", null, new { @class = "form-control require text-left", style = "width: 100px;", maxlength = "4", tabindex = "2" })
                </div>
                <div class="col-md-3">
                    <input type="checkbox" id="WFD01180_ADD_Tax_Deactivate" name="Deactivate" value="1">&nbsp;Deactivate
                </div>
            </div>
        </div>
        <div class="form-horizontal">
            <div class="form-group">
                <label class="col-md-3 control-label text-left">Useful Life :</label>
                <div class="col-md-4">
                    <input id="WFD01180_ADD_Tax_Base_On_Contact" type="radio" name="Useful_Life_Tax">&nbsp;Base on contract
                </div>
                <div class="col-md-3">
                    <input id="WFD01180_ADD_Tax_N_A" type="radio" name="Useful_Life_Tax" checked>&nbsp;N/A
                </div>
            </div>
        </div>
        <div class="form-horizontal">
            <div class="form-group">
                <div class="col-md-3"></div>
                <div class="col-md-2">
                    <input id="WFD01180_ADD_Tax_Life" type="radio" name="Useful_Life_Tax">&nbsp;Year
                </div>
                <div class="col-md-2">
                    @Html.CommonTextBox("WFD01180_ADD_Tax_Life_Year", null, new { @class = "form-control require text-right", style = "width: 40px;", maxlength = "3", tabindex = "3" })
                </div>
                <label class="col-md-2 control-label text-left">Month</label>
                <div class="col-md-2">
                    @Html.CommonTextBox("WFD01180_ADD_Tax_Life_Month", null, new { @class = "form-control require text-right", style = "width: 40px;", maxlength = "2", tabindex = "3" })
                </div>
            </div>
        </div>
        <div class="form-horizontal">
            <div class="form-group">
                <label for="WFD01180_ADD_Tax_Scrap_Value" class="col-md-3 control-label text-left">Scrap Value :</label>
                <div class="col-md-6">
                    @Html.CommonTextBox("WFD01180_ADD_Tax_Scrap_Value", null, new { @class = "form-control require text-right scrap-value", style = "width: 125px;", maxlength = "14", tabindex = "2" })
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    @* /////////////////////////////////////////////////////////Consolidate Book//////////////////////////////////////////////////////// *@
    <div class="col-4 col-sm-6" style="border:1px solid #a0a0a0;;">
        <h4>31 Consolidation Book</h4>
        <div class="form-horizontal">
            <div class="form-group">
                <label for="WFD01180_ADD_Consolidate_Depre_Key" class="col-md-3 control-label">Depre Key :</label>
                <div class="col-md-6">
                    @Html.CommonTextBox("WFD01180_ADD_Consolidate_Depre_Key", null, new { @class = "form-control require text-left", style = "width: 100px;", maxlength = "4", tabindex = "2" })
                </div>
            </div>
        </div>
        <div class="form-horizontal">
            <div class="form-group">
                <label class="col-md-3 control-label text-left">Useful Life :</label>
                <div class="col-md-4">
                    <input id="WFD01180_ADD_Consolidate_Base_On_Contact" type="radio" name="Useful_Life_Consolidate">&nbsp;Base on contract
                </div>
                <div class="col-md-3">
                    <input id="WFD01180_ADD_Consolidate_N_A" type="radio" name="Useful_Life_Consolidate" checked>&nbsp;N/A
                </div>

            </div>
        </div>
        <div class="form-horizontal">
            <div class="form-group">
                <div class="col-md-3"></div>
                <div class="col-md-2">
                    <input id="WFD01180_ADD_Consolidate_Life" type="radio" name="Useful_Life_Consolidate">&nbsp;Year
                </div>
                <div class="col-md-2">
                    @Html.CommonTextBox("WFD01180_ADD_Consolidate_Life_Year", null, new { @class = "form-control require text-right", style = "width: 40px;", maxlength = "3", tabindex = "3" })
                </div>
                <label class="col-md-2 control-label text-left">Month</label>
                <div class="col-md-2">
                    @Html.CommonTextBox("WFD01180_ADD_Consolidate_Life_Month", null, new { @class = "form-control require text-right", style = "width: 40px;", maxlength = "2", tabindex = "3" })
                </div>

            </div>
        </div>
        <div class="form-horizontal">
            <div class="form-group">
                <label for="WFD01180_ADD_Consolidate_Scrap_Value" class="col-sm-3 control-label text-left">Scrap Value :</label>
                <div class="col-md-6">
                    @Html.CommonTextBox("WFD01180_ADD_Consolidate_Scrap_Value", null, new { @class = "form-control require text-right scrap-value", style = "width: 125px;", maxlength = "14", tabindex = "2" })
                </div>
            </div>
        </div>

    </div>
    @* /////////////////////////////////////////////////////////Management Reporting//////////////////////////////////////////////////////// *@
    <div class="col-4 col-sm-6" style="border:1px solid #a0a0a0;;">
        <h4>41 Management Reporting</h4>
        <div class="form-horizontal">
            <div class="form-group">
                <label for="WFD01180_ADD_Management_Depre_Key" class="col-md-3 control-label">Depre Key :</label>
                <div class="col-md-6">
                    @Html.CommonTextBox("WFD01180_ADD_Management_Depre_Key", null, new { @class = "form-control require text-left", style = "width: 100px;", maxlength = "4", tabindex = "2" })
                </div>
            </div>
        </div>
        <div class="form-horizontal">
            <div class="form-group">
                <label class="col-md-3 control-label text-left">Useful Life :</label>
                <div class="col-md-4">
                    <input id="WFD01180_ADD_Management_Base_On_Contact" type="radio" name="Useful_Life_Management">&nbsp;Base on contract
                </div>
                <div class="col-md-3">
                    <input id="WFD01180_ADD_Management_N_A" type="radio" name="Useful_Life_Management" checked>&nbsp;N/A
                </div>

            </div>
        </div>
        <div class="form-horizontal">
            <div class="form-group">
                <div class="col-md-3"></div>
                <div class="col-md-2">
                    <input id="WFD01180_ADD_Management_Life" type="radio" name="Useful_Life_Management">&nbsp;Year
                </div>
                <div class="col-md-2">
                    @Html.CommonTextBox("WFD01180_ADD_Management_Life_Year", null, new { @class = "form-control require text-right", style = "width: 40px;", maxlength = "3", tabindex = "3" })
                </div>
                <label class="col-md-2 control-label text-left">Month</label>
                <div class="col-md-2">
                    @Html.CommonTextBox("WFD01180_ADD_Management_Life_Month", null, new { @class = "form-control require text-right", style = "width: 40px;", maxlength = "2", tabindex = "3" })
                </div>

            </div>
        </div>
        <div class="form-horizontal">
            <div class="form-group">
                <label for="WFD01180_ADD_Management_Scrap_Value" class="col-sm-3 control-label text-left">Scrap Value :</label>
                <div class="col-md-6">
                    @Html.CommonTextBox("WFD01180_ADD_Management_Scrap_Value", null, new { @class = "form-control require text-right scrap-value", style = "width: 125px;", maxlength = "14", tabindex = "2" })
                </div>
            </div>
        </div>

    </div>
</div>

<div class="row">
    @* /////////////////////////////////////////////////////////Leasing-Local//////////////////////////////////////////////////////// *@
    <div class="col-md-6" style="border:1px solid #a0a0a0;;">
        <h4>81 Leasing Book - Local</h4>
        <div class="form-horizontal">
            <div class="form-group">
                <label for="WFD01180_ADD_Leasing_Local_Depre_Key" class="col-md-3 control-label">Depre Key :</label>
                <div class="col-md-6">
                    @Html.CommonTextBox("WFD01180_ADD_Leasing_Local_Depre_Key", null, new { @class = "form-control require text-left", style = "width: 100px;", maxlength = "4", tabindex = "2" })
                </div>
            </div>
        </div>
        <div class="form-horizontal">
            <div class="form-group">
                <label class="col-md-3 control-label text-left">Useful Life :</label>
                <div class="col-md-4">
                    <input id="WFD01180_ADD_Leasing_Local_Base_On_Contact" type="radio" name="Useful_Life_Leasing_Local">&nbsp;Base on contract
                </div>
                <div class="col-md-3">
                    <input id="WFD01180_ADD_Leasing_Local_N_A" type="radio" name="Useful_Life_Leasing_Local" checked>&nbsp;N/A
                </div>

            </div>
        </div>
        <div class="form-horizontal">
            <div class="form-group">
                <div class="col-md-3"></div>
                <div class="col-md-2">
                    <input id="WFD01180_ADD_Leasing_Local_Life" type="radio" name="Useful_Life_Leasing_Local">&nbsp;Year
                </div>
                <div class="col-md-2">
                    @Html.CommonTextBox("WFD01180_ADD_Leasing_Local_N_A_Year", null, new { @class = "form-control require text-right", style = "width: 40px;", maxlength = "3", tabindex = "3" })
                </div>
                <label class="col-md-2 control-label text-left">Month</label>
                <div class="col-md-2">
                    @Html.CommonTextBox("WFD01180_ADD_Leasing_Local_N_A_Month", null, new { @class = "form-control require text-right", style = "width: 40px;", maxlength = "2", tabindex = "3" })
                </div>

            </div>
        </div>
        <div class="form-horizontal">
            <div class="form-group">
                <label for="WFD01180_ADD_Leasing_Local_Scrap_Value" class="col-sm-3 control-label text-left">Scrap Value :</label>
                <div class="col-md-6">
                    @Html.CommonTextBox("WFD01180_ADD_Leasing_Local_Scrap_Value", null, new { @class = "form-control require text-right scrap-value", style = "width: 125px;", maxlength = "14", tabindex = "2" })
                </div>
            </div>
        </div>

    </div>
    @* /////////////////////////////////////////////////////////Leasing-Consolidation//////////////////////////////////////////////////////// *@
    <div class="col-md-6" style="border:1px solid #a0a0a0;">
        <h4>91 Leasing Book - Global</h4>
        <div class="form-horizontal">
            <div class="form-group">
                <label for="WFD01180_ADD_Leasing_Consolidation_Depre_Key" class="col-md-3 control-label">Depre Key :</label>
                <div class="col-md-6">
                    @Html.CommonTextBox("WFD01180_ADD_Leasing_Consolidation_Depre_Key", null, new { @class = "form-control require text-left", style = "width: 100px;", maxlength = "4", tabindex = "2" })
                </div>
            </div>
        </div>
        <div class="form-horizontal">
            <div class="form-group">
                <label class="col-md-3 control-label text-left">Useful Life :</label>
                <div class="col-md-4">
                    <input id="WFD01180_ADD_Leasing_Consolidation_Base_On_Contact" type="radio" name="Useful_Life_Leasing_Consolidation">&nbsp;Base on contract
                </div>
                <div class="col-md-3">
                    <input id="WFD01180_ADD_Leasing_Consolidation_N_A" type="radio" name="Useful_Life_Leasing_Consolidation" checked>&nbsp;N/A
                </div>

            </div>
        </div>
        <div class="form-horizontal">
            <div class="form-group">
                <div class="col-md-3"></div>
                <div class="col-md-2">
                    <input id="WFD01180_ADD_Leasing_Consolidation_Life" type="radio" name="Useful_Life_Leasing_Consolidation">&nbsp;Year
                </div>
                <div class="col-md-2">
                    @Html.CommonTextBox("WFD01180_ADD_Leasing_Consolidation_Life_Year", null, new { @class = "form-control require text-right", style = "width: 40px;", maxlength = "3", tabindex = "3" })
                </div>
                <label class="col-md-2 control-label text-left">Month</label>
                <div class="col-md-2">
                    @Html.CommonTextBox("WFD01180_ADD_Leasing_Consolidation_Life_Month", null, new { @class = "form-control require text-right", style = "width: 40px;", maxlength = "2", tabindex = "3" })
                </div>

            </div>
        </div>
        <div class="form-horizontal">
            <div class="form-group">
                <label for="WFD01180_ADD_Leasing_Consolidation_Scrap_Value" class="col-sm-3 control-label text-left">Scrap Value :</label>
                <div class="col-md-6">
                    @Html.CommonTextBox("WFD01180_ADD_Leasing_Consolidation_Scrap_Value", "1", new { @class = "form-control require text-right scrap-value", style = "width: 125px;", maxlength = "14", tabindex = "2" })
                </div>
            </div>
        </div>

    </div>
</div>
<script>
    //validateNumber(document.getElementById('WFD01180_ADD_Leasing_Consolidation_Life_Month'), 2, 0, false);
    /*validateDecimal(document.getElementById('WFD01180_ADD_Local_Scrap_Value'), 14, 0, '00');
    validateDecimal(document.getElementById('WFD01180_ADD_Tax_Scrap_Value'), 14, 0, '00');
    validateDecimal(document.getElementById('WFD01180_ADD_Consolidate_Scrap_Value'), 14, 0, '00');
    validateDecimal(document.getElementById('WFD01180_ADD_Management_Scrap_Value'), 14, 0, '00');
    validateDecimal(document.getElementById('WFD01180_ADD_Leasing_Local_Scrap_Value'), 14, 0, '00');
    validateDecimal(document.getElementById('WFD01180_ADD_Leasing_Consolidation_Scrap_Value'), 14, 0, '00');*/

</script>