﻿<div class="row">
    <h4>Add New : Depreciationi Group</h4>
    <hr>
    <div class="row">
        @* /////////////////////////////////////////////////////////Depreciationi Group//////////////////////////////////////////////////////// *@
        <div class="col-4 col-sm-6">
            <div class="form-group">
                <div class="row">
                    <label for="WFD01180_ADD_Company" class="col-sm-4 control-label">Company :</label>
                    <div class="col-sm-3">
                        @Html.CompanyCombobox("WFD01180_ADD_Company", new { @class = "form-control select2", style = "width: 100px;", tabindex = "1" }, true)
                    </div>
                </div>
                <div class="row">
                    <label class="col-sm-3 control-label text-left">Asset Class:</label>
                    <div class="col-sm-3">
                        @Html.AssetClassComboboxDepreciationCombobox("WFD01180_ADD_ASSET_CLASS", new { @class = "form-control select2", style = "width: 150px;", tabindex = "3" })
                    </div>
                    
                    <table style="width:200px">
                        <tr>
                            <td width="40%" align="left" valign="top">
                                @*<label for="WFD01180_ADD_MINOR_CATEGORY" class="col-sm-1 text-left">Minor Cate:</label>*@
                                Minor Cate:
                            </td>
                            <td width="60%" align="left" valign="top">
                                @Html.Minor_CategoryeDepreciationCombobox("WFD01180_ADD_MINOR_CATEGORY", new { @class = "form-control select2", style = "width: 180px;", tabindex = "3" })
                            </td>
                        </tr>
                    </table>
                 </div>
            </div>
        </div>
        @* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// *@
        <div class="col-4 col-sm-6">
            <div class="form-group">
                <div class="row">
                    <label for="WFD01180_ADD_Physical_check" class="col-sm-4 control-label">Physical check :</label>
                    <div class="col-sm-3">
                        @Html.PhysicalCheckDepreciationCombobox("WFD01180_ADD_Physical_check", new { @class = "form-control select2", style = "width: 100%;", tabindex = "3" })
                    </div>
                </div>

                <div class="row">
                    <label class="col-sm-3 control-label text-left">Plate Type:</label>
                    <div class="col-sm-3">
                        @Html.AssetClassComboboxDepreciationCombobox("WFD01180_ADD_Plate_Type", new { @class = "form-control select2", style = "width: 150px;", tabindex = "3" })
                    </div>

                    <table style="width:190px">
                        <tr>
                            <td width="40%" align="left" valign="top">
                                @*<label for="WFD01180_ADD_MINOR_CATEGORY" class="col-sm-1 text-left">Plate size:</label>*@
                                Plate size:
                            </td>
                            <td width="60%" align="left" valign="top">
                                @Html.Minor_CategoryeDepreciationCombobox("WFD01180_ADD_Plate_Size", new { @class = "form-control select2", style = "width: 180px;", tabindex = "3" })
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
         </div>
    </div>
</div>

<div class="row">
    @* //////////////////////////////////////////////////////////Local Book/////////////////////////////////////////////////////// *@
    <div class="col-4 col-sm-6">
        <div class="form-group">
            <h4>Local Accounting Book</h4>
            <hr>
            <div class="row">
                <label for="WFD01180_ADD_Local_Depre_Key" class="col-sm-4 control-label">Depre Key :</label>
                <div class="col-sm-6">
                    @Html.CommonTextBox("WFD01180_ADD_Local_Depre_Key", null, new { @class = "form-control require text-left", style = "width: 100px;", maxlength = "40", tabindex = "2" })
                </div>
            </div>
            <div class="row">
                <label class="col-sm-4 control-label text-left">Useful Life :</label>
                <table>
                    <tr>
                        <td width="50%" align="left" valign="top">
                            <input id="WFD01180_ADD_Local_Base_On_Contact" type="radio" name="Useful_Life_Loacl_Book" checked>Base on Contact
                        </td>
                        <td width="50%" align="left" valign="top">
                            <table>
                                <tr>
                                    <td><input id="WFD01180_ADD_Local_Life" type="radio" name="Useful_Life_Loacl_Book">Life</td>
                                    <td>@Html.CommonTextBox("WFD01180_ADD_Local_Life_TXT", null, new { @class = "form-control require text-left", style = "width: 100px;", maxlength = "40", tabindex = "3" })</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td width="50%" align="left" valign="top">
                            <input id="WFD01180_ADD_Local_N_A" type="radio" name="Useful_Life_Loacl_Book">N/A
                        </td>
                        <td width="50%" align="left"></td>
                    </tr>
                </table>
            </div>

            <div class="row">
                <label for="WFD01180_ADD_Local_Scrap_Value" class="col-sm-4 control-label text-left">Scrap Value :</label>
                <div class="col-sm-6">
                    @Html.CommonTextBox("WFD01180_ADD_Local_Scrap_Value", null, new { @class = "form-control require text-left", style = "width: 100px;", maxlength = "40", tabindex = "2" })
                </div>
            </div>
        </div>
    </div>
    @* /////////////////////////////////////////////////////////Tax Book//////////////////////////////////////////////////////// *@
    <div class="col-4 col-sm-6">
        <div class="form-group">
            <h4>Local Tax Book</h4>
            <hr>
            <div class="row">
                 <label for="WFD01180_ADD_Tax_Depre_Key" class="col-sm-4 control-label">Depre Key :</label>
                 <div class="col-sm-6">
                 @Html.CommonTextBox("WFD01180_ADD_Tax_Depre_Key", null, new { @class = "form-control require text-left", style = "width: 100px;", maxlength = "40", tabindex = "2" })
                 </div>
             </div>
             <div class="row">
                 <label class="col-sm-4 control-label text-left">Useful Life :</label>
                 <table>
                     <tr>
                         <td width="50%" align="left" valign="top">
                             <input id="WFD01180_ADD_Tax_Base_On_Contact" type="radio" name="Useful_Life_Tax" checked>Base on Contact
                         </td>
                         <td width="50%" align="left" valign="top">
                             <table>
                                 <tr>
                                     <td><input id="WFD01180_ADD_Tax_Life" type="radio" name="Useful_Life_Tax">Life</td>
                                     <td>@Html.CommonTextBox("WFD01180_ADD_Tax_Life_TXT", null, new { @class = "form-control require text-left", style = "width: 100px;", maxlength = "40", tabindex = "3" })</td>
                                 </tr>
                             </table>
                         </td>
                     </tr>
                     <tr>
                         <td width="50%" align="left" valign="top">
                             <input id="WFD01180_ADD_Tax_N_A" type="radio" name="Useful_Life_Tax">N/A
                         </td>
                         <td width="50%" align="left"></td>
                     </tr>
                 </table>
             </div>

             <div class="row">
                 <label for="WFD01180_ADD_Tax_Scrap_Value" class="col-sm-4 control-label text-left">Scrap Value :</label>
                 <div class="col-sm-6">
                 @Html.CommonTextBox("WFD01180_ADD_Tax_Scrap_Value", null, new { @class = "form-control require text-left", style = "width: 100px;", maxlength = "40", tabindex = "2" })
                 </div>
             </div>
        </div>
     </div>
</div>

<div class="row">
    @* /////////////////////////////////////////////////////////Consolidate Book//////////////////////////////////////////////////////// *@
    <div class="col-4 col-sm-6">
        <div class="form-group">
            <h4>Consolidation Book</h4>
            <hr>
            <div class="row">
                <label for="WFD01180_ADD_Consolidate_Depre_Key" class="col-sm-4 control-label">Depre Key :</label>
                <div class="col-sm-6">
                    @Html.CommonTextBox("WFD01180_ADD_Consolidate_Depre_Key", null, new { @class = "form-control require text-left", style = "width: 100px;", maxlength = "40", tabindex = "2" })
                </div>
            </div>
            <div class="row">
                <label class="col-sm-4 control-label text-left">Useful Life :</label>
                <table>
                    <tr>
                        <td width="50%" align="left" valign="top">
                            <input id="WFD01180_ADD_Consolidate_Base_On_Contact" type="radio" name="Useful_Life_Loacl_Book" checked>Base on Contact
                        </td>
                        <td width="50%" align="left" valign="top">
                            <table>
                                <tr>
                                    <td><input id="WFD01180_ADD_Consolidate_Life" type="radio" name="Useful_Life_Loacl_Book">Life</td>
                                    <td>@Html.CommonTextBox("WFD01180_ADD_Consolidate_Life_TXT", null, new { @class = "form-control require text-left", style = "width: 100px;", maxlength = "40", tabindex = "3" })</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td width="50%" align="left" valign="top">
                            <input id="WFD01180_ADD_Consolidate_N_A" type="radio" name="Useful_Life_Loacl_Book">N/A
                        </td>
                        <td width="50%" align="left"></td>
                    </tr>
                </table>
            </div>

            <div class="row">
                <label for="WFD01180_ADD_Consolidate_Scrap_Value" class="col-sm-4 control-label text-left">Scrap Value :</label>
                <div class="col-sm-6">
                    @Html.CommonTextBox("WFD01180_ADD_Consolidate_Scrap_Value", null, new { @class = "form-control require text-left", style = "width: 100px;", maxlength = "40", tabindex = "2" })
                </div>
            </div>
        </div>
    </div>
    @* /////////////////////////////////////////////////////////Management Reporting//////////////////////////////////////////////////////// *@
    <div class="col-4 col-sm-6">
        <div class="form-group">
            <h4>Management Reporting</h4>
            <hr>
            <div class="row">
                <label for="WFD01180_ADD_Management_Depre_Key" class="col-sm-4 control-label">Depre Key :</label>
                <div class="col-sm-6">
                    @Html.CommonTextBox("WFD01180_ADD_Management_Depre_Key", null, new { @class = "form-control require text-left", style = "width: 100px;", maxlength = "40", tabindex = "2" })
                </div>
            </div>
            <div class="row">
                <label class="col-sm-4 control-label text-left">Useful Life :</label>
                <table>
                    <tr>
                        <td width="50%" align="left" valign="top">
                            <input id="WFD01180_ADD_Management_Base_On_Contact" type="radio" name="Useful_Life_Tax" checked>Base on Contact
                        </td>
                        <td width="50%" align="left" valign="top">
                            <table>
                                <tr>
                                    <td><input id="WFD01180_ADD_Management_Life" type="radio" name="Useful_Life_Tax">Life</td>
                                    <td>@Html.CommonTextBox("WFD01180_ADD_Management_Life_TXT", null, new { @class = "form-control require text-left", style = "width: 100px;", maxlength = "40", tabindex = "3" })</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td width="50%" align="left" valign="top">
                            <input id="WFD01180_ADD_Management_N_A" type="radio" name="Useful_Life_Tax">N/A
                        </td>
                        <td width="50%" align="left"></td>
                    </tr>
                </table>
            </div>

            <div class="row">
                <label for="WFD01180_ADD_Management_Scrap_Value" class="col-sm-4 control-label text-left">Scrap Value :</label>
                <div class="col-sm-6">
                    @Html.CommonTextBox("WFD01180_ADD_Management_Scrap_Value", null, new { @class = "form-control require text-left", style = "width: 100px;", maxlength = "40", tabindex = "2" })
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    @* /////////////////////////////////////////////////////////Leasing-Local//////////////////////////////////////////////////////// *@
    <div class="col-4 col-sm-6">
        <div class="form-group">
            <h4>Leasing Book - Local</h4>
            <hr>
            <div class="row">
                <label for="WFD01180_ADD_Leasing_Local_Depre_Key" class="col-sm-4 control-label">Depre Key :</label>
                <div class="col-sm-6">
                    @Html.CommonTextBox("WFD01180_ADD_Leasing_Local_Depre_Key", null, new { @class = "form-control require text-left", style = "width: 100px;", maxlength = "40", tabindex = "2" })
                </div>
            </div>
            <div class="row">
                <label class="col-sm-4 control-label text-left">Useful Life :</label>
                <table>
                    <tr>
                        <td width="50%" align="left" valign="top">
                            <input id="WFD01180_ADD_Leasing_Local_Base_On_Contact" type="radio" name="Useful_Life_Tax" checked>Base on Contact
                        </td>
                        <td width="50%" align="left" valign="top">
                            <table>
                                <tr>
                                    <td><input id="WFD01180_ADD_Leasing_Local_Life" type="radio" name="Useful_Life_Tax">Life</td>
                                    <td>@Html.CommonTextBox("WFD01180_ADD_Leasing_Local_N_A", null, new { @class = "form-control require text-left", style = "width: 100px;", maxlength = "40", tabindex = "3" })</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td width="50%" align="left" valign="top">
                            <input id="WFD01180_ADD_Leasing_Local_N_A" type="radio" name="Useful_Life_Tax">N/A
                        </td>
                        <td width="50%" align="left"></td>
                    </tr>
                </table>
            </div>

            <div class="row">
                <label for="WFD01180_ADD_Leasing_Local_Scrap_Value" class="col-sm-4 control-label text-left">Scrap Value :</label>
                <div class="col-sm-6">
                    @Html.CommonTextBox("WFD01180_ADD_Leasing_Local_Scrap_Value", null, new { @class = "form-control require text-left", style = "width: 100px;", maxlength = "40", tabindex = "2" })
                </div>
            </div>
        </div>
    </div>
    @* /////////////////////////////////////////////////////////Leasing-Consolidation//////////////////////////////////////////////////////// *@
    <div class="col-4 col-sm-6">
        <div class="form-group">
            <h4>Leasing Book - Global</h4>
            <hr>
            <div class="row">
                <label for="WFD01180_ADD_Leasing_Consolidation_Depre_Key" class="col-sm-4 control-label">Depre Key :</label>
                <div class="col-sm-6">
                    @Html.CommonTextBox("WFD01180_ADD_Leasing_Consolidation_Depre_Key", null, new { @class = "form-control require text-left", style = "width: 100px;", maxlength = "40", tabindex = "2" })
                </div>
            </div>
            <div class="row">
                <label class="col-sm-4 control-label text-left">Useful Life :</label>
                <table>
                    <tr>
                        <td width="50%" align="left" valign="top">
                            <input id="WFD01180_ADD_Leasing_Consolidation_Base_On_Contact" type="radio" name="Useful_Life_Tax" checked>Base on Contact
                        </td>
                        <td width="50%" align="left" valign="top">
                            <table>
                                <tr>
                                    <td><input id="WFD01180_ADD_Leasing_Consolidation_Life" type="radio" name="Useful_Life_Tax">Life</td>
                                    <td>@Html.CommonTextBox("WFD01180_ADD_Leasing_Consolidation_Life_TXT", null, new { @class = "form-control require text-left", style = "width: 100px;", maxlength = "40", tabindex = "3" })</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td width="50%" align="left" valign="top">
                            <input id="WFD01180_ADD_Leasing_Consolidation_N_A" type="radio" name="Useful_Life_Tax">N/A
                        </td>
                        <td width="50%" align="left"></td>
                    </tr>
                </table>
            </div>

            <div class="row">
                <label for="WFD01180_ADD_Leasing_Consolidation_Scrap_Value" class="col-sm-4 control-label text-left">Scrap Value :</label>
                <div class="col-sm-6">
                    @Html.CommonTextBox("WFD01180_ADD_Leasing_Consolidation_Scrap_Value", null, new { @class = "form-control require text-left", style = "width: 100px;", maxlength = "40", tabindex = "2" })
                </div>
            </div>
        </div>
    </div>
</div>
