﻿<h4>Local Tax Book</h4>
<hr>
<div class="row">
    <div class="col-4 col-sm-6">
        <div class="form-group">
            <label for="WFD01180_ADD_Tax_Depre_Key" class="col-sm-4 control-label">Depre Key :</label>
            <div class="col-sm-6">
                @*@Html.CommonTextBox("WFD01180_ADD_Tax_Depre_Key", null, new { @class = "form-control require text-left", style = "width: 100px;", maxlength = "40", tabindex = "2" })*@
                <input id="WFD01180_ADD_Tax_Depre_Key" type="text" name="email" size="20">
            </div>
        </div>
    </div>
</div>

<div class="row">
    <table>
        <tr>
            <td width="10%" align="right"><label class="control-label">Useful Life :</label></td>
            <td width="50%" align="left">
                <div class="col-12 col-lg-8 text-left">
                    <label for="WFD01180_ADD_Tax_Base_On_Contact" class="radio-inline  text-left">
                        <input id="WFD01180_ADD_Tax_Base_On_Contact" type="radio" name="Useful_Life_Tax" checked>Base on Contact
                    </label>
                    <label for="WFD01180_ADD_Tax_Life" class="radio-inline text-left">
                        <input id="WFD01180_ADD_Tax_Life" type="radio" name="Useful_Life_Tax">Life
                        <input id="WFD01180_ADD_Tax_Life_TXT" type="text" name="WFD01180_ADD_Life_TXT" style="text-align:right" >
                    </label>
                    <label for="WFD01180_ADD_Tax_N_A" class="radio-inline text-left">
                        <input id="WFD01180_ADD_Tax_N_A" type="radio" name="Useful_Life_Tax">N/A
                    </label>
                </div>
            </td>
        </tr>
    </table>
</div>

<div class="row">
    <div class="col-4 col-sm-6">
        <div class="form-group">
            <label for="WFD01180_ADD_Tax_Scrap_Value" class="col-sm-4 control-label">Scrap Value :</label>
            <div class="col-sm-6">
                @*@Html.CommonTextBox("WFD01180_ADD_Tax_Scrap_Value", null, new { @class = "form-control require text-left", style = "width: 100px;", maxlength = "40", tabindex = "2" })*@
                <input id="WFD01180_ADD_Tax_Scrap_Value" type="text" name="email" size="20">
            </div>
        </div>
    </div>
</div>
