﻿
<h4>Edit : Depreciationi Group</h4>
<hr>
<div class="row">
    <div class="col-8 col-sm-6">
        <div class="form-group">
            <label for="WFD01180_EDIT_Company" class="col-sm-4 control-label">Company :</label>
            <div class="col-sm-6">
                @*<select id="WFD01180_EDIT_Company" class="form-control select2">
                    <option>&nbsp;</option>
                </select>*@
                @Html.CompanyCombobox("WFD01180_EDIT_Company", new { @class = "form-control select2", tabindex = "1" }, true)
            </div>
        </div>
    </div>
    <div class="col-4 col-sm-6">
        <label for="WFD01180_EDIT_Physical_check" class="col-sm-4 control-label">Physical check :</label>
        <div class="col-sm-6">
            @*<select id="WFD01180_EDIT_Physical_check" class="form-control select2">
                <option>&nbsp;</option>
            </select>*@
            @Html.PhysicalCheckDepreciationCombobox("WFD01180_EDIT_Physical_check", new { @class = "form-control select2", style = "width: 100%;", tabindex = "3" })
        </div>
    </div>
</div>

<div class="row border-top-0">
    <div class="col-8 col-sm-6">
        <div class="form-group">
            <label for="WFD01180_EDIT_ASSET_CLASS" class="control-label col-sm-4">Asset Class:</label>
            <div class="col-sm-6">
                @Html.AssetClassComboboxDepreciationCombobox("WFD01180_EDIT_ASSET_CLASS", new { @class = "form-control select2", style = "width: 100%;", tabindex = "3" })
            </div>
        </div>
    </div>
    <div class="col-4 col-sm-6">
        <label for="WFD01180_EDIT_MINOR_CATEGORY" class="control-label col-sm-4">Minor Cate:</label>
        <div class="col-sm-6">
            @*<select id="WFD01180_EDIT_MINOR_CATEGORY" class="form-control select2" readonly>
                <option>&nbsp;</option>
            </select>*@
            @Html.Minor_CategoryeDepreciationCombobox("WFD01180_EDIT_MINOR_CATEGORY", new { @class = "form-control select2", style = "width: 100%;", tabindex = "3" })     
        </div>
    </div>
</div>


<div class="row">
    <div class="col-8 col-sm-6">
        <div class="form-group">
            <label for="WFD01180_EDIT_Plate_Type" class="control-label col-sm-4">Plate Type:</label>
            <div class="col-sm-6">
                @*<select id="WFD01180_EDIT_Plate_Type" class="form-control select2" readonly>
                    <option>&nbsp;</option>
                </select>*@
                @Html.PlateTypeDepreciationCombobox("WFD01180_EDIT_Plate_Type", new { @class = "form-control select2", style = "width: 100%;", tabindex = "3" })
            </div>
        </div>
    </div>
    <div class="col-4 col-sm-6">
        <label for="WFD01180_EDIT_Plate_Size" class="control-label col-sm-4">Plate size:</label>
        <div class="col-sm-6">
            @*<select id="WFD01180_EDIT_Plate_Size" class="form-control select2">
                <option>&nbsp;</option>
            </select>*@
            @Html.PlateSizeDepreciationCombobox("WFD01180_EDIT_Plate_Size", new { @class = "form-control select2", style = "width: 100%;", tabindex = "3" })
        </div>
    </div>
</div>
