﻿
<h4>Consolidation Book</h4>
<hr>
<div class="row">
    <div class="col-4 col-sm-6">
        <div class="form-group">
            <label for="WFD01180_EDIT_Consolidate_Depre_Key" class="col-sm-4 control-label">Depre Key :</label>
            <div class="col-sm-6">
                @Html.CommonTextBox("WFD01180_EDIT_Consolidate_Depre_Key", null, new { @class = "form-control require text-left", style = "width: 80%;", maxlength = "40", tabindex = "2" })
            </div>
        </div>
    </div>
</div>

<div class="row">
    <table>
        <tr>
            <td width="10%" align="right"><label class="control-label">Useful Life :</label></td>
            <td width="50%" align="left">
                <div class="col-12 col-lg-8 text-left">
                    <label for="WFD01180_EDIT_Consolidate_Base_On_Contact" class="radio-inline  text-left">
                        <input id="WFD01180_EDIT_Consolidate_Base_On_Contact" type="radio" name="Useful_Life_Consolidate" checked>Base on Contact
                    </label>
                    <label for="WFD01180_EDIT_Consolidate_Life" class="radio-inline text-left">
                        <input id="WFD01180_EDIT_Consolidate_Life" type="radio" name="Useful_Life_Consolidate">Life
                        <input id="WFD01180_EDIT_Consolidate_Life_TXT" type="text" name="WFD01180_EDIT_Life_TXT" style="text-align:right">
                    </label>
                    <label for="WFD01180_EDIT_Consolidate_N_A" class="radio-inline text-left">
                        <input id="WFD01180_EDIT_Consolidate_N_A" type="radio" name="Useful_Life_Consolidate">N/A
                    </label>
                </div>
            </td>
        </tr>
    </table>
</div>

<div class="row">
    <div class="col-4 col-sm-6">
        <div class="form-group">
            <label for="WFD01180_EDIT_Consolidate_Scrap_Value" class="col-sm-4 control-label">Scrap Value :</label>
            <div class="col-sm-6">
                @Html.CommonTextBox("WFD01180_EDIT_Consolidate_Scrap_Value", null, new { @class = "form-control require text-left", style = "width: 80%;", maxlength = "40", tabindex = "2" })
            </div>
        </div>
    </div>
</div>
