﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.ScreenTitle = "Depreciation Group Config Master";
}
<style>
    .auto-drop {
        /*width: auto !important;
        min-width: 200px;*/
    }

    #tbSearchResult.table.dataTable thead .sorting_desc:after {
        display: none;
    }
    .auto-drop > .select2-results > .select2-results__options > .select2-results__option {
        white-space: nowrap;
    }

    .notextindent > th {
        text-indent: 0px;
    }

    table.dataTable thead > tr > th {
        padding-left: 5px;
        padding-right: 5px;
        text-align: center;
    }

    p {
        margin: 0px;
    }

    .table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
        padding: 7px 10px 7px 4px;
    }

    .table-responsive {
        min-height: 0.01%;
        overflow-x: hidden;
    }

        .table-responsive > div:first-child > div:nth-child(2) {
            overflow-x: auto;
            margin-right: 0px;
        }

        .table-responsive > div:first-child {
            margin-right: 0px;
        }

    #WFD01180Loading {
        display: none;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background: url(../../Images/Loading.gif) no-repeat center #fff;
        text-align: center;
        font: normal 16px Tahoma,Geneva,sans-serif;
        border: 1px solid #FFF;
        z-index: 99999;
        overflow: auto;
        opacity: .69;
        border-radius: 12px;
    }
</style>

<div id="WFD01180Loading" style="width:100%;"></div>

<form class="form-horizontal" id="form">
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">Search Condition</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="" data-original-title="Collapse">
                    <i class="fa fa-minus"></i>
                </button>
            </div>
        </div>

        <div class="box-body" style="display: block;" id="Condition">
            <div class="row search-row">
                <div class="col-sm-12 col-md-6 col-lg-3">
                        <div class="col-sm-4 text-right">
                            <label class="control-label" for="WFD01180MultipleBoxCompany">Company </label>
                        </div>
                        <div class="col-sm-8">
                            <div class="input-inline" style="width: 100%;text-align:left">
                                @Html.CompanyMultipleComboboxNew("WFD01180MultipleBoxCompany", new { multiple = "multiple", @class = "form-control", tabindex = "1" }, true)
                            </div>
                        </div>
                </div>

                <div class="col-sm-12 col-md-6 col-lg-5">
                        <div class="col-sm-3 text-right">
                            <label class="control-label" for="WFD02120txtAssetClass">Asset Class</label>
                        </div>
                        <div class="col-sm-9">
                            @Html.AssetClassComboboxDepreciationCombobox("WFD01180_ASSET_CLASS", new { @class = "form-control", style = "width: 100%;", tabindex = "3" })
                        </div>
                </div>

                <div class="col-sm-12 col-md-8 col-lg-4">
                        <div class="col-sm-3 col-lg-5 text-right">
                            <label class="control-label" for="WFD02120txtAssetClass">Minor Category</label>
                        </div>
                        <div class="col-sm-9 col-lg-7">
                            <select id="WFD01180_MINOR_CATEGORY" class="form-control select2" style="width: 90%;">
                                <option></option>
                            </select>
                        </div>
                </div>
            </div>

            <div class="row search-row" style="padding-top:5px">
                <div class="form-group col-sm-12 col-md-12 col-lg-12">
                    <div class="form-inline from-in text-right">
                        @Html.Button("WFD01180Search", "Search", new { @class = "btn btn-primary text-right btn-md", tabindex = "4" }, TagHelper.BUTTON_TYPES.SEARCH)
                        @Html.Button("WFD01180Clear", "Clear", new { @class = "btn btn-warning text-right btn-md", tabindex = "5" }, TagHelper.BUTTON_TYPES.CLEAR)
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="box box-success">
        <div class="box-header with-border">
            <h3 class="box-title">Search Result</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="" data-original-title="Collapse">
                    <i class="fa fa-minus"></i>
                </button>
            </div>
        </div>
        <div class="box-body" style="display: block;">
            <div class="col-sm-12">
                <div class="form-group">
                    <div class="form-inline from-in text-right">
                        @Html.Button("WFD01180Add", "Add", new { @class = "btn btn-success text-right btn-md", tabindex = "6" }, TagHelper.BUTTON_TYPES.ADD)
                        @Html.Button("WFD01180Edit", "Edit", new { @class = "btn btn-success text-right btn-md", tabindex = "7" }, TagHelper.BUTTON_TYPES.EDIT)
                        @Html.Button("WFD01180Delete", "Delete", new { @class = "btn btn-danger text-right btn-md", tabindex = "8" }, TagHelper.BUTTON_TYPES.DELETE)
                    </div>
                </div>
                <div class="form-group" id="WFD01180_SearchResult">
                    <div class="table-responsive">
                        <table id="tbSearchResult" class="table table-bordered table-striped table-hover table-th-center" style="border-radius:3px;font-size:12px;">
                            <thead class="bg-gray">
                                <tr class="notextindent">
                                    <th style="min-width: 10px;" rowspan="2"></th>
                                    <th style="min-width: 55px;" rowspan="2">Company</th>
                                    <th style="min-width: 55px;" rowspan="2">Asset Class</th>
                                    <th style="min-width: 120px;" rowspan="2">Asset Class Description</th>
                                    <th style="min-width: 55px;" rowspan="2">Minor Category</th>
                                    <th style="min-width: 150px;" rowspan="2">Minor Category Description</th>
                                    <th colspan="5" rowspan="1" class="sorting_disabled">Local GAAP (01)</th>
                                    <th colspan="5" rowspan="1" class="sorting_disabled">Tax Book (15)</th>
                                    <th colspan="5" rowspan="1" class="sorting_disabled">IFRS (31)</th>

                                    <th colspan="5" rowspan="1" class="sorting_disabled">Management Reporting (41)</th>
                                    <th colspan="5" rowspan="1" class="sorting_disabled">Leasing-Local (81)</th>
                                    <th colspan="5" rowspan="1" class="sorting_disabled">Leasing-Consolidation (91)</th>
                                </tr>
                                <tr class="notextindent">
                                    <th style="min-width: 60px;">Depre Key</th>
                                    <th style="min-width: 98px;">Useful Life Type</th>
                                    <th style="min-width: 60px;">Useful Life Year</th>
                                    <th style="min-width: 60px;">Useful Life Month</th>
                                    <th style="min-width: 60px;">Scrap Value</th>

                                    <th style="min-width: 60px;">Depre Key</th>
                                    <th style="min-width: 98px;">Useful Life Type</th>
                                    <th style="min-width: 60px;">Useful Life Year</th>
                                    <th style="min-width: 60px;">Useful Life Month</th>
                                    <th style="min-width: 60px;">Scrap Value</th>

                                    <th style="min-width: 60px;">Depre Key</th>
                                    <th style="min-width: 98px;">Useful Life Type</th>
                                    <th style="min-width: 60px;">Useful Life Year</th>
                                    <th style="min-width: 60px;">Useful Life Month</th>
                                    <th style="min-width: 60px;">Scrap Value</th>

                                    <th style="min-width: 60px;">Depre Key</th>
                                    <th style="min-width: 98px;">Useful Life Type</th>
                                    <th style="min-width: 60px;">Useful Life Year</th>
                                    <th style="min-width: 60px;">Useful Life Month</th>
                                    <th style="min-width: 60px;">Scrap Value</th>

                                    <th style="min-width: 60px;">Depre Key</th>
                                    <th style="min-width: 98px;">Useful Life Type</th>
                                    <th style="min-width: 60px;">Useful Life Year</th>
                                    <th style="min-width: 60px;">Useful Life Month</th>
                                    <th style="min-width: 60px;">Scrap Value</th>

                                    <th style="min-width: 60px;">Depre Key</th>
                                    <th style="min-width: 98px;">Useful Life Type</th>
                                    <th style="min-width: 60px;">Useful Life Year</th>
                                    <th style="min-width: 60px;">Useful Life Month</th>
                                    <th style="min-width: 60px;">Scrap Value</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>


<div class="modal fade" id="myModalAddInfo" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" style="overflow:auto;">

    <div class="modal-dialog" style="width:1000px; margin: 10px auto;">
        <div class="modal-content Radius12" style="width:1000px;">
            <div class="modal-header RadiusTop12 HeaderModel">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="lblWFD01180AddTitle">Add Depreciation Group Config</h4>
            </div>
            <div class="modal-body">
                <div id="AlertMessageWFD01180_add" class="message-area">
                </div>
                <div class="form-horizontal">
                    @Html.Partial("../WFD01180/Add_Form")

                </div>
            </div>
            <div class="modal-footer">
                @Html.Button("btnAddInfoSave", "Save ", new { @class = "btn btn-info", tabindex = "4" }, TagHelper.BUTTON_TYPES.SAVE)
                @Html.Button("btnAddInfoCancel", "Cancel ", new { @class = "btn btn-warning", tabindex = "5" }, TagHelper.BUTTON_TYPES.CANCEL)
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->

</div>

<div class="modal fade" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="mySmallModalLabel" aria-hidden="true" id="confirm-modal">
    <div class="modal-dialog modal-md">
        <div class="modal-content Radius12">
            <div class="modal-header RadiusTop12 HeaderModel">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="lblWFD01180AddTitle">Confirm</h4>
            </div>
            <div class="modal-body">
                <h4 class="modal-title" id="myModalLabel">Do you want to save the changes on this window ?</h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" id="modal-btn-si">OK</button>
                <button type="button" class="btn btn-default" id="modal-btn-no">Cancel</button>
            </div>
        </div>
    </div>
</div>

@*<div id="myModalAddInfo" class="modal fade" role="dialog" style="margin-top:25px;margin-left:10px;">
        <div class="modal-dialog modal-lg" style="margin-left: 225px;width: 930px;">
            <div class=" modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="lblWFD02190SearchTitle">Add Depreciation Group Confign</h4>
                <div class="modal-body col-lg">
                    <div id="AlertMessageWFD01180_add" class="message-area">
                    </div>
                    <div class="form-horizontal">
                        @Html.Partial("../WFD01180/Add_Form")

                    </div>
                    <div class="modal-footer">
                        @Html.Button("btnAddInfoSave", "Save ", new { @class = "btn btn-info", tabindex = "4" }, TagHelper.BUTTON_TYPES.SAVE)
                        @Html.Button("btnAddInfoCancel", "Cancel ", new { @class = "btn btn-warning", tabindex = "5" }, TagHelper.BUTTON_TYPES.CANCEL)
                    </div>
                </div>
            </div>
        </div>
    </div>*@


<div class="modal fade" id="myModalEditInfo" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" style="overflow:auto;">

    <div class="modal-dialog" style="width:1000px; margin: 10px auto;">
        <div class="modal-content Radius12" style="width:1000px;">
            <div class="modal-header RadiusTop12 HeaderModel">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="lblWFD01180EditTitle">Edit Depreciation Group Config</h4>
            </div>
            <div class="modal-body">
                <div id="AlertMessageWFD01180_edit" class="message-area">
                </div>
                <div class="form-horizontal">
                    @Html.Partial("../WFD01180/Edit_Form")

                </div>
            </div>
            <div class="modal-footer">
                @Html.Button("btnEditInfoSave", "Save ", new { @class = "btn btn-info", tabindex = "4" }, TagHelper.BUTTON_TYPES.SAVE)
                @Html.Button("btnEditInfoCancel", "Cancel ", new { @class = "btn btn-warning", tabindex = "5" }, TagHelper.BUTTON_TYPES.CANCEL)
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->

</div>

@*<div id="myModalEditInfo" class="modal fade" role="dialog" style="margin-top:25px;margin-left:10px;">
        <div class="modal-dialog modal-lg" style="margin-left: 225px;width: 930px;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body col-lg">
                    <div id="AlertMessageWFD01180_edit" class="message-area">
                    </div>
                    <div class="form-horizontal">
                        @Html.Partial("../WFD01180/Edit_Form")

                    </div>
                    <div class="modal-footer">
                        @Html.Button("btnEditInfoSave", "Save ", new { @class = "btn btn-info", tabindex = "4" }, TagHelper.BUTTON_TYPES.SAVE)
                        @Html.Button("btnEditInfoCancel", "Cancel ", new { @class = "btn btn-warning", tabindex = "5" }, TagHelper.BUTTON_TYPES.CANCEL)
                    </div>
                </div>
            </div>
        </div>
    </div>*@

@section scripts {
    <script type="text/javascript">
        var MainUrl = {
            GetCompany: '@Url.Action("WFD01180_GetCompany", "WFD01180")',
            GetPlateType: '@Url.Action("WFD01180_GetPlateType", "WFD01180")',
            GetPlateSize: '@Url.Action("WFD01180_GetPlateSize", "WFD01180")',
            GetAssetClass: '@Url.Action("WFD01180_GetAssetClass", "WFD01180")',
            GetMinorCategory: '@Url.Action("WFD01180_GetMinorCategory", "WFD01180")',
            GetDepreciation: '@Url.Action("WFD01180_GetDepreciation", "WFD01180")',
            InsDeprecistion: '@Url.Action("WFD01180_InsDeprecistion", "WFD01180")',
            UpdDeprecistion: '@Url.Action("WFD01180_UpdDeprecistion", "WFD01180")',
            DelDeprecistion: '@Url.Action("WFD01180_DelDeprecistion", "WFD01180")',
            ChkDepreciation: '@Url.Action("WFD01180_ChkDepreciation", "WFD01180")',
            CHKAssetClass: '@Url.Action("WFD01180_CHKAssetClass", "WFD01180")'
        }

        var GLOBAL = {
            GUID: '@ViewBag.GUID',
            COMPANY: '@ViewBag.COMPANY',
            DOC_NO: '@ViewBag.DOC_NO',
            STATUS: '@ViewBag.STATUS',
            EMP_CODE: '@ViewBag.EMP_CODE',
            USER_BY: '@ViewBag.USER_BY',
            ROW_PER_PAGE: '@ViewBag.ITEM_PER_PAGE',
            FUNCTION_ID: '@ViewBag.FUNCTION_ID',
            REQUEST_TYPE: '@ViewBag.RequestType',
            FLOW_TYPE: '@ViewBag.FlowType'

        }
        var Message = {
            MSTD0010AERR: '@ViewBag.MSTD0010AERR',
            MSTD0031AERR: '@ViewBag.MSTD0031AERR',
            MSTD0010AERR: '@ViewBag.MSTD0010AERR',
            MSTD1008AERR: '@ViewBag.MSTD1008AERR',
            MSTD0006ACFM: '@ViewBag.MSTD0006ACFM',
            MSTD0101AINF: '@ViewBag.MSTD0101AINF',
            MCOM0007ACFM: '@ViewBag.MCOM0007ACFM',
            MCOM0004AERR: '@ViewBag.MCOM0004AERR',
            MSTD0001ACFM: '@ViewBag.MSTD0001ACFM',
            MCOM0008AERR: '@ViewBag.MCOM0008AERR',
            MSTD0090AINF: '@ViewBag.MSTD0090AINF',
            MSTD0059AERR: '@ViewBag.MSTD0059AERR',
            MSTD0085AINF: '@ViewBag.MSTD0085AINF'
        }

        //$(document).ready(function () {
        //    $('#WFD01180MultipleBoxCompany').multiselect({
        //        maxHeight: 200,
        //        includeSelectAllOption: true,
        //    });
        //});

    </script>

    <script type="text/javascript" src="~/JS/WFD01180.js"></script>
}
