﻿<div class="box box-primary">
    <div class="box-header with-border">
        <h3 class="box-title">Approver</h3>
        <div class="box-tools pull-right">
            @Html.Button("WFD01170btnSaveApprover", "Change Approver", new { @class = "btn btn-info", tabindex = "10" }, TagHelper.BUTTON_TYPES.EXPORT)
            @Html.Button("WFD01170btnGenerateApprover", "Generate Approver List", new { @class = "btn btn-info", tabindex = "10" }, TagHelper.BUTTON_TYPES.EXPORT)
            @Html.Button("WFD01170btnResetApprover", "Reset Approver List ", new { @class = "btn btn-warning", tabindex = "11" }, TagHelper.BUTTON_TYPES.CLEAR)
            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                <i class="fa fa-minus"></i>
            </button>
        </div>
    </div>
    <div class="box-body">
        <div class="row">
            <div class="col-sm-12" id="WFD01170Approver">
            </div>
        </div>
        <div class="row">
            
        </div>
        <div class="row" id="WFD01170Multipledocument">

        </div>
    </div>
</div>

