﻿@model th.co.toyota.stm.fas.Models.WFD01170UserPermissionModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/InitializeComponents/Content/style-content/animate.css" />

<style>
    .auto-drop {
        /*width: auto !important;
        min-width: 290px;*/
    }

    .auto-drop > .select2-results > .select2-results__options > .select2-results__option {
        white-space: nowrap;
    }

    .fasWarning {
        border-radius: 3px;
        margin: 0px;
        padding: 5px 30px 5px 15px;
        border-left: 5px solid #db8b0b !important;
    }

    .fasdanger {
        border-radius: 3px;
        margin: 0px;
        padding: 15px 30px 15px 15px;
        border-left: 5px solid #d33724 !important;
    }

    .alertNotify {
        padding: 15px;
        margin-bottom: 20px;
        border: 1px solid transparent;
        border-radius: 4px;
    }

    .modal-content { /*for confirm dialog*/
        border-radius: 5px;
        /*width: 700px;*/
    }

    .modal-dialog { /*for confirm dialog*/
        margin-top: 150px;
        width: 510px;
    }

    .stick {
        position: fixed;
        top: -12px;
        z-index: 999 !important; /*2017-06-09 Suphachai L. Old 9999 Support z-index < dialog Submit Success */
        /*margin-top: -12px;*/
    }

    .inlineBlock {
        display: inline-block;
    }

    .btn-view-file {
        background-color: white;
        color: black;
        padding-right: 5px;
        display: inline-block;
        border-color: black;
    }

    .hide {
        visibility: hidden;
    }

    .padding-label {
        padding-right: 0px;
        padding-left: 3px;
    }

    .padding-group-textbox {
        padding-left: 5px;
    }

    .padding-label-popup {
        padding-right: 0px;
        padding-left: 0px;
    }

    .padding-group-textbox-popup {
        padding-left: 3px;
        padding-right: 0px;
    }

    i.hand {
        cursor: pointer;
    }
</style>

@if (Model.IsHigher == "Y")
{
    <div class="fasWarning alert alert-warning alert-dismissible" id="WFD01170_WARNING">
        <p>@ViewBag.HigherMessage</p>
    </div>
}
else if (Model.IsOrganizeChange == "Y")
{
    <div class="fasWarning alert alert-warning alert-dismissible" id="WFD01170_WARNING">
        <p>@ViewBag.OrgChanged</p>
    </div>
}

<div class="fasdanger alert alert-danger alert-dismissible" id="WFD01170_NoAuthorize" style="display:none;">
    <h4><i class="icon fa fa-ban"></i> Alert!</h4>
    <p>@ViewBag.NoAuthorize</p>
</div>

<div class="form-horizontal" id="WFD01170_Main">
    <nav id="sticker">
        <div class="box box-primary">
            <div class="box-header with-border">
                <div class="form-group">
                    <div class="col-sm-9">

                        <div class="col-sm-12 col-lg-3" style="padding-top:8px;">
                            <div class="row">
                                <label for="WFD01170_COMPANY" class="col-sm-4 control-label padding-label">Company </label>
                                <div class="col-sm-8 padding-group-textbox">
                                    @Html.CompanyComboboxWFD011170("WFD01170ddpCompany", Model.Company, new { @class = "form-control select2", tabindex = "1" }, true)
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-12 col-lg-4" style="padding-top:8px;">
                            <div class="row">
                                <label for="WFD01170_DOC_NO" class="col-sm-4 control-label padding-label">Document No. </label>
                                <div class="col-sm-8 padding-group-textbox">
                                    @Html.CommonTextBox("WFD01170txtDocNo", null, new { @class = "form-control", style = "width: 100%;", disabled = "disabled", maxlength = "10" })
                                    <input id="WFD01170_UPDATE_DATE" style="display:none;" />
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-12 col-lg-4" style="padding-top:8px;">
                            <div class="row">
                                <label for="WFD01170_STATUS" class="col-sm-4 control-label padding-label" style="white-space: nowrap;">Current Status </label>
                                <div class="col-sm-8 padding-group-textbox">
                                    <input type="hidden" id="hdUpdateDate" value="@Model.UPDATE_DATE" />
                                    @Html.CommonTextBox("WFD01170txtStatus", null, new { @class = "form-control", style = "width: 100%;", disabled = "disabled", maxlength = "50" })
                                </div>
                            </div>
                        </div>


                    </div>
                    <div class="col-sm-3">
                        <div class="box-tools pull-right" style="padding-top:8px;">

                            @Html.WFD01170Button("WFD01170btnResend", "Re-send", new { @class = "WFD01170btn btn btn-warning" }, TagHelper.BUTTON_TYPES.RESEND, Model.AllowResend)

                            @Html.WFD01170Button("WFD01170btnSubmit", "Submit", new { @class = "WFD01170btn btn btn-success" }, TagHelper.BUTTON_TYPES.SUBMIT)
                            @Html.WFD01170Button("WFD01170btnApprove", "Approve", new { @class = "WFD01170btn btn btn-info" }, TagHelper.BUTTON_TYPES.OK, Model.AllowApprove)

                            @Html.WFD01170Button("WFD01170btnReSubmit", "Re-Submit", new { @class = "WFD01170btn btn btn-success" }, TagHelper.BUTTON_TYPES.SUBMIT, Model.AllowResubmit)
                            @Html.WFD01170Button("WFD01170btnAcknowledge", "Acknowledge", new { @class = "WFD01170btn btn btn-info" }, TagHelper.BUTTON_TYPES.OK, Model.AllowAcknowledge)
                            @Html.WFD01170Button("WFD01170btnCopy", "Copy to New", new { @class = "WFD01170btn btn btn-warning" }, TagHelper.BUTTON_TYPES.SUBMIT, Model.AllowCopy)
                            @Html.WFD01170Button("WFD01170btnClose", "Close", new { @class = "WFD01170btn btn btn-info" }, TagHelper.BUTTON_TYPES.CLOSE, Model.AllowClose)
                            @Html.WFD01170Button("WFD01170btnReject", "Reject", new { @class = "WFD01170btn btn btn-danger" }, TagHelper.BUTTON_TYPES.CANCEL, Model.AllowReject)


                        </div>
                    </div>
                </div>
                @*<h3 class="box-title">Request</h3>*@

            </div>
            @*<div class="box-body">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label for="WFD01170_COMPANY" class="col-sm-2 control-label padding-label">Company </label>
                            <div class="col-sm-2 padding-group-textbox">
                                @Html.CompanyComboboxWFD011170("WFD01170ddpCompany", Model.Company, new { @class = "form-control select2", tabindex = "1" }, true)
                            </div>
                            <label for="WFD01170_DOC_NO" class="col-sm-1 control-label padding-label">Document No. </label>
                            <div class="col-sm-3 padding-group-textbox">
                                @Html.CommonTextBox("WFD01170txtDocNo", null, new { @class = "form-control", style = "width: 100%;", disabled = "disabled", maxlength = "10" })
                                <input id="WFD01170_UPDATE_DATE" style="display:none;" />
                            </div>
                            <label for="WFD01170_STATUS" class="col-sm-1 control-label padding-label">Current Status </label>
                            <div class="col-sm-3 padding-group-textbox">
                                <input type="hidden" id="hdUpdateDate" value="@Model.UPDATE_DATE" />
                                @Html.CommonTextBox("WFD01170txtStatus", null, new { @class = "form-control", style = "width: 100%;", disabled = "disabled", maxlength = "50" })
                            </div>
                        </div>

                    </div>
                </div>*@
            <div style="height:3px; background-color:lightblue;"></div>
        </div>

    </nav>

    @Html.Partial("Requestor")
    <input id="WFD01170fileUploadRequestExcel" type="file" style="display:none;" class="form-control" />
    <!-- Detail How to dynamic -->
    @if (ViewBag.FUNCTION_ID == "WFD021A0")
    {
        @Html.Action("Index", "WFD021A0", new { GUID = ViewBag.GUID, DOC_NO = ViewBag.DOC_NO })
    }
    @if (ViewBag.FUNCTION_ID == "WFD02310")
    {
        @Html.Action("Index", "WFD02310", new { GUID = ViewBag.GUID, DOC_NO = ViewBag.DOC_NO })
    }
    @if (ViewBag.FUNCTION_ID == "WFD02410")
    {
        @Html.Action("Index", "WFD02410", new { GUID = ViewBag.GUID, DOC_NO = ViewBag.DOC_NO })
    }
    @if (ViewBag.FUNCTION_ID == "WFD02510")
    {
        @Html.Action("Index", "WFD02510", new { GUID = ViewBag.GUID, DOC_NO = ViewBag.DOC_NO })
    }
    @if (ViewBag.FUNCTION_ID == "WFD02710")
    {
        @Html.Action("Index", "WFD02710", new { GUID = ViewBag.GUID, DOC_NO = ViewBag.DOC_NO })
    }
    @if (ViewBag.FUNCTION_ID == "WFD02810")
    {
        @Html.Action("Index", "WFD02810", new { GUID = ViewBag.GUID, DOC_NO = ViewBag.DOC_NO })
    }
    @if (ViewBag.FUNCTION_ID == "WFD02910")
    {
        @Html.Action("Index", "WFD02910", new { GUID = ViewBag.GUID, DOC_NO = ViewBag.DOC_NO })
    }
    @if (ViewBag.FUNCTION_ID == "WFD02A00")
    {
        @Html.Action("Index", "WFD02A00", new { GUID = ViewBag.GUID, DOC_NO = ViewBag.DOC_NO })
    }
    @if (ViewBag.FUNCTION_ID == "WFD02640")
    {
        @Html.Action("Index", "WFD02640", new { GUID = ViewBag.GUID, DOC_NO = ViewBag.DOC_NO })
    }


    @Html.Partial("Approver")
    @Html.Partial("CommentInfo")
    @Html.Partial("../ComUpload/Index")
    @Html.Action("Index", "WFD02190")
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Comment History</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                    <i class="fa fa-minus"></i>
                </button>
            </div>
        </div>
        <div class="box-body" id="CommentHistory">
        </div>
    </div>
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title"> Workflow Tracking Process</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                    <i class="fa fa-minus">
                    </i>
                </button>
            </div>
        </div>
        <div class="box-body" id="WorkflowTrackingProcess">

        </div>
    </div>
</div>

<div class="modal fade" id="WFD01170_AlertSumbit" tabindex="1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content" style="width:700px;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="window.location='@Url.Action("Index","WFD01110")'">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title"><label id="WFD01170ALERT_TITLE" for="WFD01170ALERT_TITLE"></label></h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label id="WFD01170ALERT_SUBJECT" for="WFD01170ALERT_SUBJECT"></label>
                    <div class="col-sm-12" id="WFD01170_DisplayMessage">

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="form-group text-right">
                    @*<span id="WFD01170_RedirectInformation"></span><button type="button" id="WFD01170_CloseRequester" class="btn btn-warning" onclick="window.location='@Url.Action("Index","WFD01110")'"><i class="fa fa-close"></i> Close </button>*@
                    @* Auto Redirect and Select tab by Pawares M. 20180712*@
                    <span id="WFD01170_RedirectInformation"></span><button type="button" id="WFD01170_CloseRequester" class="btn btn-warning"><i class="fa fa-close"></i> Close </button>
                </div>
            </div>
        </div>
    </div>
</div>



@section scripts {

    <script type="text/javascript">

        var CommonMessage = {
            ConfirmSubmit: '@ViewBag.ConfirmSubmit',
            ConfirmApprove: '@ViewBag.ConfirmApprove',
            ConfirmReSubmit: '@ViewBag.ConfirmReSubmit',
            ConfirmAckhowledge: '@ViewBag.ConfirmAckhowledge',
            ConfirmClose: '@ViewBag.ConfirmClose',
            ConfirmCopy: '@ViewBag.ConfirmCopy',

            ConfirmGenerateApprover: '@ViewBag.ConfirmGenerateApprover',
            ConfirmResetApprover: '@ViewBag.ConfirmResetApprover',
            ConfirmReject: '@ViewBag.ConfirmReject',
            ConfirmClear: '@ViewBag.ConfirmClear',
            ConfirmDelete: '@ViewBag.ConfirmDelete',
            ConfirmExportToExcel: '@ViewBag.ConfirmExportToExcel',
            ConfirmPrint: '@ViewBag.ConfirmPrint',
            ShouldNotBeEmpty: '@ViewBag.ShouldNotBeEmpty',
            MustBeNumber: '@ViewBag.MustBeNumber',
            OrgChanged: '@ViewBag.OrgChanged',
            FormatDateInvalid: '@ViewBag.FormatDateInvalid',
            LessOrEqual: '@ViewBag.LessOrEqual',
            Noassetselected: '@ViewBag.Noassetselected',
            ConfirmGenerateAssetNo: '@ViewBag.ConfirmGenerateAssetNo',
            ConfirmResend: '@ViewBag.ConfirmResend',
            NoAssetApprove: '@ViewBag.NoAssetApprove',
            ChangeApprover: '@ViewBag.ChangeApprover'
        }
        //It's calll for all request type
        var GLOBAL = {
            GUID: '@ViewBag.GUID',
            COPY_MODE: '@ViewBag.COPY_MODE',
            COMPANY: '@ViewBag.COMPANY',
            COMPANY_SELECTED: '@ViewBag.COMPANY',
            SOURCE_DOC_NO: '@ViewBag.SOURCE_DOC_NO',
            SOURCE_ROLE: '@ViewBag.SOURCE_ROLE',
            DOC_NO: '@ViewBag.DOC_NO',
            STATUS: '@ViewBag.STATUS',
            EMP_CODE: '@ViewBag.EMP_CODE',
            USER_BY: '@ViewBag.USER_BY',
            ROW_PER_PAGE: '@ViewBag.ITEM_PER_PAGE',
            FUNCTION_ID: '@ViewBag.FUNCTION_ID',
            REQUEST_TYPE: '@ViewBag.RequestType',
            FLOW_TYPE: '@ViewBag.FlowType',
            ITEM_PER_PAGE: 10,
            ACRCode: '@ViewBag.ACRCode'
        }
        var PERMISSION = {
            Mode: '@Model.Mode',
            IsDelegate: '@Model.IsDelegate',
            IsMainApprover: '@Model.IsMainApprover',
            IsHigher: '@Model.IsHigher',
            IsAECUser: '@Model.IsAECUser',
            IsBOIUser: '@Model.IsBOIUser',
            IsFSUser: '@Model.IsFSUser',
            IsInstead: '@Model.IsInstead',
            AllowApprove: '@Model.AllowApprove',
            AllowReject: '@Model.AllowReject',
            AllowDelete: '@Model.AllowDelete',
            AllowSelectApprover: '@Model.AllowSelectApprover',
            AllowChangeApprover: '@Model.AllowChangeApprover',
            AllowResubmit: '@Model.AllowResubmit',
            IsBOIState: '@Model.IsBOIState',
            IsStoreState: '@Model.IsStoreState',
            IsAECState: '@Model.IsAECState',
            IsFSState: '@Model.IsFSState',
            DOC_STATUS: '@Model.DOC_STATUS',
            IsOrganizeChange: '@Model.IsOrganizeChange',

            AllowEdit: '@Model.AllowEdit',
            AllowEditBeforeGenFlow: true,
            AllowResend: '@Model.AllowResend',
            ActionMark: '@Model.ActionMark',
            AllowGenAssetNo: '@Model.AllowGenAssetNo',
            AllowShowTMCDoc: '@Model.AllowShowTMCDoc',
            ActionRoleIndex: '@Model.ActionRoleIndex'
        }

        var localConfig = {
            ClientIsLoaded: 'N',
            CountDown: 5
        }


        // Dialog Asset

        // Master Request
        var MainUrl = {
            LoadRequestor: '@Url.Action("GetRequestor", "WFD01170")',
            GenerateFlow: '@Url.Action("GenerateFlow", "WFD01170")',
            ResetApproverFlow: '@Url.Action("ResetApproverFlow", "WFD01170")',
            RenderFlow: '@Url.Action("RenderFlow", "WFD01170")',
            GetTotalDocument: '@Url.Action("GetTotalDocument", "WFD01170")',
            Submit: '@Url.Action("Submit", "WFD01170")',
            Approve: '@Url.Action("Approve", "WFD01170")',
            Reject: '@Url.Action("Reject", "WFD01170")',

            ReSubmit: '@Url.Action("ReSubmit", "WFD01170")',
            Acknowledge: '@Url.Action("Acknowledge", "WFD01170")',
            CopyNew: '@Url.Action("CopyNew", "WFD01170")',
            CloseRequest: '@Url.Action("CloseRequest", "WFD01170")',
            SaveApprover: '@Url.Action("SaveApprover", "WFD01170")',

            UploadCommentFile: '@Url.Action("UploadCommentInfoData", "WFD01170")',
            CheckUploadFile: '@Url.Action("CheckFileUpload", "WFD01170")',
            DeleteCommentFile: '@Url.Action("DeleteAttchDoc", "WFD01170")',

            GetDownloadTemplate: '@Url.Action("GetDownloadTemplate", "WFD01170")',
            DownloadTemplate: '@Url.Action("DownloadTemplate", "WFD01170",new { FUNCTION_ID = ViewBag.FUNCTION_ID })',
            HomePage: '@Url.Action("Index","WFD01110")',
            NewAssetsPopup: '@Url.Action("Popup","WFD02115")',
            LoadRoleOfRequestor: '@Url.Action("GetRoleListOfRequestor", "WFD01170")',
            GenerateAssetNo: '@Url.Action("GenerateAssetNo", "WFD01170")',
            UploadRequest: '@Url.Action("UploadRequest", "WFD01170")',
        }
        var Url = {
            //Url of Client function WFD02A00Controller, ALL function should design same function.
            AddAsset: '@ViewBag.UrlAddAsset',
            ClearAssetsList: '@ViewBag.UrlClearAssetsList',
            GetAsset: '@ViewBag.UrlGetAssetList',
            DeleteAsset: '@ViewBag.UrlDeleteAsset',
            PrepareFlow: '@ViewBag.UrlPrepare',
            UpdateAssetList: '@ViewBag.UrlUpdateAssetList',
            Resend: '@ViewBag.UrlResend',
            UpdateAmount: '@ViewBag.UpdateAmount',
            GetDocCount: '@ViewBag.GetDocCount',
            UpdateCapDate: '@ViewBag.UpdateCapDate'
        };


    </script>
    <script type="text/javascript" src="~/InitializeComponents/Scripts/Common/BatchProcess.js"></script>

    @MvcHtmlString.Create(string.Format("<script type=\"text/javascript\" src=\"/JS/{0}.js\"></script>", ViewBag.FUNCTION_ID));
    <script type="text/javascript" src="~/JS/search-helper.js"></script>
    <script type="text/javascript" src="~/JS/WFD01170.js"></script>
    <script type="text/javascript" src="~/JS/WFD02190.js"></script>

    <script type="text/javascript" src="~/JS/ComUpload.js"></script>
    <script type="text/javascript" src="~/InitializeComponents/Scripts/bootstrap-growl-master/jquery.bootstrap-growl.min.js"></script>
    <script type="text/javascript" src="~/InitializeComponents/Scripts/bootstrap-growl-master/bootstrap-notify.js"></script>
    <script type="text/javascript" src="~/InitializeComponents/Scripts/bootstrap-growl-master/bootstrap-notify.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var s = $("#sticker");
            var t = $("#WFD01270DivRequest")
            var _width = t.width();
            var pos = s.position();
            var fixmeTop = $('#sticker').offset().top;
            $(window).scroll(function () {
                var windowpos = $(window).scrollTop();
                if (windowpos >= fixmeTop) {//pos.top
                    s.addClass("stick");
                    _width = t.width();
                    $("#sticker").width(_width);
                } else {
                    s.removeClass("stick");
                    _width = t.width();
                    $("#sticker").width('100%');
                }
                //alert(1111);
            });

            $(window).resize(function () {
                _width = t.width();
                $("#sticker").width(_width);
            });

        })
    </script>
}
