﻿<div id="WFD01270DivRequest">
    <div class="box box-primary" >
        <div class="box-header with-border">
            <h3 class="box-title">Requestor</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                    <i class="fa fa-minus"></i>
                </button>
            </div>
        </div>
        <div class="box-body">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="EMP_CODE" class="col-md-2 control-label padding-label">Role </label>
                    <div class="col-md-2 padding-group-textbox">
                        <select id="WFD01170ddpRequestorRole" class="form-control select2 required" required style="width: 100%;"></select>
                    </div>
                    <label for="REQUEST_DATE" class="col-md-1 control-label padding-label">Request Date </label>
                    <div class="col-md-3 padding-group-textbox">
                        @Html.CommonTextBox("WFD01170txtRequestDate", null, new { @class = "form-control", style = "width: 100%;", disabled = "disabled", maxlength = "11" })
                    </div>
                    <label for="COST_NAME" class="col-md-1 control-label padding-label">Cost Center </label>
                    <div class="col-md-3 padding-group-textbox">
                        @Html.CommonTextBox("WFD01170txtCostName", null, new { @class = "form-control", style = "width: 100%;", disabled = "disabled", maxlength = "70" })
                    </div>
                </div>
                <div class="form-group">
                    <label for="EMP_CODE" class="col-md-2 control-label padding-label">Employee Code </label>
                    <div class="col-md-2 padding-group-textbox">
                        @Html.CommonTextBox("WFD01170txtEmpCode", null, new { @class = "form-control", style = "width: 100%;", disabled = "disabled", maxlength = "8"})
                    </div>
                    <label for="EMP_NAME" class="col-md-1 control-label padding-label">Name </label>
                    <div class="col-md-3 padding-group-textbox">
                        @Html.CommonTextBox("WFD01170txtEmpName", null, new { @class = "form-control", style = "width: 100%;", disabled = "disabled", maxlength = "70" })
                    </div>
                    <label for="POS_NAME" class="col-md-1 control-label padding-label">Position </label>
                    <div class="col-md-3 padding-group-textbox">
                        @Html.CommonTextBox("WFD01170txtPostName", null, new { @class = "form-control", style = "width: 100%;", required = "required", disabled = "disabled", maxlength = "70"})
                    </div>
                </div>

                <div class="form-group">
                    <label for="PHONE_NO" class="col-md-2 control-label padding-label">Tel No. </label>
                    <div class="col-md-2 padding-group-textbox">
                        @Html.CommonTextBox("WFD01170txtPhoneNo", null, new { @class = "form-control require", style = "width: 100%;", maxlength = "60", tabindex = "1" })
                    </div>
                    <label for="DEPT_NAME" class="col-md-1 control-label padding-label">Department </label>
                    <div class="col-md-3 padding-group-textbox">
                        @Html.CommonTextBox("WFD01170txtDeptName", null, new { @class = "form-control", style = "width: 100%;", disabled = "disabled", maxlength = "45" })
                    </div> 
                    <label for="SECT_NAME" class="col-md-1 control-label padding-label">Section </label>
                    <div class="col-md-3 padding-group-textbox">
                        @Html.CommonTextBox("WFD01170txtSectName", null, new { @class = "form-control", style = "width: 100%;", disabled = "disabled", maxlength = "45" })
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>