﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.ScreenTitle = "Fixed Asset Management Screen";
}

<style>
    .text-upper {
        text-transform: uppercase;
    }
    /*table.dataTable tbody > tr > td:first-child {
        text-align: center;
    }*/
    table.dataTable tbody > tr {
        cursor: pointer;
    }

    label.control-label {
        padding-right: 0px;
    }

    table.dataTable tbody tr.selected {
        color: white;
        background-color: #eeeeee; /* Not working */
    }
    /*div.row > div > div > label:first-child {
        width: 150px;
        text-align: left;
    }

              div>div.row >div>div.row > div > label {
        width: 120px;
        text-align: right;
        background-color:fuchsia;
    }
    */
    /*div.form-group > div > label {
        width: 100px;
        text-align: right;
    }*/

    .input-inline {
        display: inline-block;
    }


    .form-inline .form-group {
        margin-left: 0;
        margin-right: 0;
    }

    .set-zero-margin {
        margin-left: 0;
        margin-right: 0;
    }

    .set-zero-padding {
        padding-left: 0;
        padding-right: 0;
    }

    .search-row {
        margin-top: 2px;
    }

    .select2-selection {
        border-color: #d2d6de !important;
    }

    p {
        margin: 0px;
    }
    /*CustomPage.pagin-cbb {
    display:block;
    position:relative;
    float:left;
    padding:7px 12px;
    border-color:#ddd;
    border-width:1px;
    }*/
    #SearchResultTable-item-per-page.pagin-cbb {
        border-left-width: 1px;
    }

    .modal.modal-wide .modal-dialog {
        width: 1200px;
    }

    .modal-wide .modal-body {
        overflow-y: auto;
    }

    /* irrelevant styling */
    /*body { text-align: center; }
    body p {
      max-width: 400px;
      margin: 20px auto;
    }*/
    #tallModal .modal-body p {
        margin-bottom: 100px;
    }
</style>


<style>
    * {
        box-sizing: border-box;
    }

    /*body {
        font: 16px Arial;
    }*/

    /*the container must be positioned relative:*/
    .autocomplete {
        position: relative;
        display: inline-block;
    }

    input {
        border: 1px solid transparent;
        /* background-color: #f1f1f1; */
        padding: 10px;
        font-size: 16px;
    }

        input[type=text] {
            /* background-color: #f1f1f1;*/
            width: 100%;
        }

        input[type=submit] {
            background-color: DodgerBlue;
            color: #fff;
            cursor: pointer;
        }

    .autocomplete-items {
        position: absolute;
        border: 1px solid #d4d4d4;
        border-bottom: none;
        border-top: none;
        z-index: 99;
        /*position the autocomplete items to be the same width as the container:*/
        top: 100%;
        left: 0;
        right: 0;
    }

        .autocomplete-items div {
            padding: 10px;
            cursor: pointer;
            background-color: #fff;
            border-bottom: 1px solid #d4d4d4;
        }

            /*when hovering an item:*/
            .autocomplete-items div:hover {
                background-color: #e9e9e9;
            }

    /*when navigating through the items using the arrow keys:*/
    .autocomplete-active {
        background-color: DodgerBlue !important;
        color: #ffffff;
    }
</style>

<script type="text/javascript">

    var WFD02120_Message = {
        ConfirmExportToExcel: '@ViewBag.ConfirmExportToExcel',
        ConfirmPrintToReport: '@ViewBag.ConfirmPrintToReport',
        ConfirmSelectedPrintToReport: '@ViewBag.ConfirmSelectedPrintToReport',
        ConfirmPrintTag: '@ViewBag.ConfirmPrintTag',
        PrintTag_Error_NoSelect: '@ViewBag.PrintTag_Error_NoSelect',
        PrintTag_Err_NoInput: '@ViewBag.PrintTag_Err_NoInput',
        PrintTag_Validate: '@ViewBag.PrintTag_Validate'
    }
    var WFD02120_UserLogIn = {
        UserLoginID: '@ViewBag.UserLoginID',
        IsFAAdmin: '@ViewBag.IsFAAdmin',
        IsSystemAdmin: '@ViewBag.IsSystemAdmin',
        IsCompany: '@ViewBag.IsCompany',
        DefaultCostCode: '@ViewBag.DefaultCostCode'
    }
</script>
<div class="box box-info">
    <div class="box-header with-border">
        <h3 class="box-title">Search Condition</h3>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="" data-original-title="Collapse">
                <i class="fa fa-minus"></i>
            </button>
        </div>
    </div>
    <div class="box-body" style="display: block;" id="Condition">
        <form class="form-horizontal">
            <div>
                <div class="row">
                    <div class="col-sm-12 col-lg-4">
                        <div class="form-group row">
                            <label class="col-sm-3 col-md-2 col-lg-4 control-label" for="WFD02120MultipleBoxCompany">Company</label>
                            <div class="col-sm-9 col-md-10 col-lg-8">
                                @Html.CompanyMultipleComboboxNew("WFD02120MultipleBoxCompany", new { multiple = "multiple", @class = "form-control", tabindex = "1" }, true)
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-lg-4">
                        <div class="form-group row">
                            <label class="col-sm-3 col-md-2 col-lg-4 control-label" for="WFD02120txtAssetNo">Asset No.</label>
                            <div class="col-sm-9 col-md-10 col-lg-8">
                                @Html.CommonTextBox("WFD02120txtAssetNo", null, new { @class = "text-upper form-control text-left", style = "", maxlength = "12", tabindex = "2" })
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-lg-4">
                        <div class="form-group" row>
                            <label class="col-sm-3 col-md-2 col-lg-4 control-label" for="WFD02120txtAssetSub">Asset Sub No.</label>
                            <div class="col-sm-4">
                                @Html.CommonTextBox("WFD02120txtAssetSub", null, new { @class = "form-control text-left", style = "", maxlength = "4", tabindex = "3" })
                            </div>
                            <!-- Default unchecked -->
                            <div class="col-sm-4">
                                <div class="custom-control custom-checkbox">
                                    @Html.CheckBox("WFD02120chkOnlyParent", false, new { @class = "custom-control-input" })
                                    <label class="control-label" for="WFD02120chkOnlyParent">Only Parent</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-lg-4">
                        <div class="form-group row">
                            <label class="col-sm-3 col-md-2 col-lg-4 control-label" for="WFD02120txtAssetName">Asset Name</label>
                            <div class="col-sm-9 col-md-10 col-lg-8">
                                @Html.CommonTextBox("WFD02120txtAssetName", null, new { @class = "form-control text-left", style = "", maxlength = "50", tabindex = "4" })
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-lg-4">
                        <div class="form-group row">
                            <label class="col-sm-3 col-md-2 col-lg-4 control-label" for="WFD02120txtAssetClass">Asset Class</label>
                            <div class="col-sm-9 col-md-10 col-lg-8">
                                @Html.CommonTextBox("WFD02120txtAssetClass", null, new { @class = "form-control typeahead text-left", style = "", maxlength = "8", tabindex = "5", autocomplete = "off" })
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-lg-4">
                        <div class="form-group row">
                            <label class="col-sm-3 col-md-2 col-lg-4 control-label" for="WFD02120cmbAssetGroup">Asset Group</label>
                            <div class="col-sm-9 col-md-10 col-lg-8">
                                @Html.SystemCombobox("WFD02120cmbAssetGroup", "FAS_TYPE", "ASSET_GROUP", false, new { @class = "form-control select2", tabindex = "6" }, true)
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-lg-4">
                        <div class="form-group row">
                            <label class="col-sm-3 col-md-2 col-lg-4 control-label" for="WFD02120txtCostCode">Cost Center</label>
                            <div class="col-sm-9 col-md-10 col-lg-8">
                                <div class="input-inline" style="width: 100%;" id="divWFD02120CostCenter">
                                    @Html.CommonTextBoxTitle("WFD02120txtCostCode", null, new { @class = "form-control typeahead text-left", style = "", maxlength = "10", tabindex = "7", autocomplete = "off" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-lg-4">
                        <div class="form-group row">
                            <label class="col-sm-3 col-md-2 col-lg-4 control-label" for="WFD02120txtResponsibleCostCenter">Responsible<br />Cost Center</label>
                            <div class="col-sm-9 col-md-10 col-lg-8">
                                @Html.CommonTextBoxTitle("WFD02120txtResponsibleCostCenter", null, new { @class = "text-upper form-control typeahead text-left", style = "", maxlength = "10", tabindex = "8", autocomplete = "off" })
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-lg-4">
                        <div class="form-group row">
                            <label class="col-sm-3 col-md-2 col-lg-4 control-label" for="WFD02120cmbLocation">Location/<br />Supplier Code</label>
                            <div class="col-sm-9 col-md-10 col-lg-8">
                                @Html.SystemCombobox("WFD02120cmbLocation", "LOCATION", null, false, new { @class = "form-control select2", tabindex = "9" }, true)
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-lg-4">
                        <div class="form-group row">
                            <label class="col-sm-3 col-md-2 col-lg-4 control-label" for="WFD02120WBSCostProject">WBS Cost Project</label>
                            <div class="col-sm-9 col-md-10 col-lg-8">
                                <div class="input-inline" style="width: 100%;">
                                    @Html.CommonTextBoxTitle("WFD02120WBSCostProject", null, new { @class = "form-control typeahead text-left", style = "", maxlength = "24", tabindex = "10", autocomplete = "off" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-lg-4">
                        <div class="form-group row">
                            <label class="col-sm-3 col-md-2 col-lg-4 control-label" for="WFD02120WBSBudget">WBS Budget</label>
                            <div class="col-sm-9 col-md-10 col-lg-8">
                                @Html.CommonTextBoxTitle("WFD02120WBSBudget", null, new { @class = "text-upper form-control typeahead text-left", style = "", maxlength = "24", tabindex = "11" })
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-lg-4">
                        <div class="form-group row">
                            <label class="col-sm-3 col-md-2 col-lg-4 control-label" for="WFD02120cmbBOI">BOI</label>
                            <div class="col-sm-9 col-md-10 col-lg-8">
                                @Html.SystemCombobox("WFD02120cmbBOI", "FAS_TYPE", "BOI", false, new { @class = "form-control select2", tabindex = "12" }, true)
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-lg-4">
                        <div class="form-group row">
                            <label class="col-sm-3 col-md-2 col-lg-4 control-label" for="WFD02120CapitalizeDateFrom">Capitalized<br />Date From</label>
                            <div class="col-sm-9 col-md-10 col-lg-8">
                                <div class="input-inline" style="width: 100%;">
                                    <span class="input-group date" style="max-width:100%;">
                                        @Html.TextBox("WFD02120CapitalizeDateFrom", null, new { @class = "form-control datepicker", maxlength = "10", placeholder = "From", tabindex = "13" })
                                        <span class="input-group-addon date-picker-icon" onclick="ClickIconDate('WFD02120CapitalizeDateFrom')">
                                            <i class="fa fa-calendar"></i>
                                        </span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-lg-4">
                        <div class="form-group row">
                            <label class="col-sm-3 col-md-2 col-lg-4 control-label" for="WFD02120CapitalizeDateTo">Capitalized<br />Date To</label>
                            <div class="col-sm-9 col-md-10 col-lg-8">
                                <span class="input-group date" style="max-width:100%;">
                                    @Html.TextBox("WFD02120CapitalizeDateTo", null, new { @class = "form-control datepicker", maxlength = "10", placeholder = "To", tabindex = "14" })
                                    <span class="input-group-addon date-picker-icon" onclick="ClickIconDate('WFD02120CapitalizeDateTo')">
                                        <i class="fa fa-calendar"></i>
                                    </span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-lg-4">
                        <div class="form-group row">
                            <label class="col-sm-3 col-md-2 col-lg-4 control-label" for="WFD02120AssetPlateNo">Asset<br />Plate No.</label>
                            <div class="col-sm-9 col-md-10 col-lg-8">
                                @Html.CommonTextBox("WFD02120AssetPlateNo", null, new { @class = "form-control typeahead text-left", style = "", maxlength = "25", tabindex = "15", autocomplete = "off" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-lg-4">
                        <div class="form-group row">
                            <label class="col-sm-3 col-md-2 col-lg-4 control-label" for="WFD02120cmbAssetStatus">Asset Status</label>
                            <div class="col-sm-9 col-md-10 col-lg-8">
                                @Html.StatusAssetCombobox("WFD02120cmbAssetStatus", new { @class = "form-control select2", tabindex = "16" }, true)
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-lg-4">
                        <div class="form-group row">
                            <label class="col-sm-3 col-md-2 col-lg-4 control-label" for="WFD02120cmbPrintTagStatus">Print Tag Status</label>
                            <div class="col-sm-9 col-md-10 col-lg-8">
                                <div class="row">
                                    <div class="col-sm-4">
                                        @Html.PrintTagCombobox("WFD02120cmbPrintTagStatus", new { @class = "form-control select2", tabindex = "17" }, true)
                                    </div>
                                    <label class="col-sm-3 col-md-2 col-lg-4 control-label" style="white-space:nowrap" for="WFD02120cmbPhotoStatus">Photo Status</label>
                                    <div class="col-sm-4">
                                        @Html.PhotoStatusCombobox("WFD02120cmbPhotoStatus", new { @class = "form-control select2", tabindex = "18" }, true)
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-lg-4">
                        <div class="form-group row">
                            <label class="col-sm-3 col-md-2 col-lg-4 control-label" for="WFD02120cmbMapStatus">Map Status</label>
                            <div class="col-sm-4">
                                @Html.MapStatusCombobox("WFD02120cmbMapStatus", new { @class = "form-control select2", tabindex = "19" }, true)
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-lg-4">
                        <div class="form-group row">
                            <label class="col-sm-3 col-md-2 col-lg-4 control-label" for="WFD02120txtCostPending">Cost Pending</label>
                            <div class="col-sm-9 col-md-10 col-lg-8">
                                @Html.CommonTextBox("WFD02120txtCostPending", null, new { @class = "int-input form-control text-left", maxlength = "3", })
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-lg-8">
                        <div class="form-group row">
                            <div class="col-sm-12 text-right">
                                @Html.Button("WFD02120Search", "Search", new { @class = "btn btn-primary", tabindex = "21" }, TagHelper.BUTTON_TYPES.SEARCH)
                                @Html.Button("WFD02120Clear", "Clear", new { @class = "btn btn-warning", tabindex = "22" }, TagHelper.BUTTON_TYPES.CLEAR)
                            </div>
                        </div>
                    </div>
                </div>
                
                @* Button Search*@
               
            </div>
        </form>
    </div>
    <!-- /.box-footer-->
</div>
<div class="box box-success">
    <div class="box-header with-border">
        <h3 class="box-title">Search Result</h3>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="" data-original-title="Collapse">
                <i class="fa fa-minus"></i>
            </button>
        </div>
    </div>
    <div class="box-body" style="display: block;" id="divFWD02120SearchResult">
        <div class="row">
            <div id="itemPerPage" class="col-lg-4 ">
                @*<div id="CustomPage"></div>*@
            </div>
            <div class="col-lg-8">
                <div class="navbar-right ">
                    @Html.Button("WFD02120ExportToExcel", "Export to Excel", new { name = "WFD02120btnExportToExcel", @class = "btn btn-info ", tabindex = "23" })
                    @Html.Button("WFD02120PrintToReport", "Print to Report", new { name = "WFD02120btnPrintToReport", @class = "btn btn-info", tabindex = "24" }, TagHelper.BUTTON_TYPES.PRINT)
                    @Html.Button("WFD02120PrintTag", "Print Tag", new { name = "WFD02120btnPrintTag", @class = "btn btn-info", tabindex = "25" }, TagHelper.BUTTON_TYPES.PRINT)
                    <span>&nbsp;&nbsp;&nbsp;</span>
                </div>
            </div>
        </div> <!-- End row button -->
        <div class="row" id="SearchDataRow">
            <div id="SearchResult" class="col-lg-12">
                <div class="form-group">
                    <div class="table-responsive" style="">
                        @Html.Partial("WFD02120SearchResult")
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.box-footer-->
</div>
@Html.Partial("WFD02120DialogPrintLocation")

@*<div id="myModalInfo" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body col-lg">
                    <div class="form-horizontal">
                        @Html.Partial("../COMSCC/Index")
                    </div>
                </div>
            </div>
        </div>
    </div>*@

@section scripts {

    <script type="text/javascript" src="~/InitializeComponents/Scripts/Common/BatchProcess.js"></script>

    <script type="text/javascript">


            var URL_CONST = {
                WFD02120SEARCH: '@Url.Action("SearchFixedAsset", "WFD02120")',
                WFD02120SEARCHAUTO: '@Url.Action("SearchFixedAssetAuto", "WFD02120")',
                WFD02120ExportToExcel: '@Url.Action("WFD02120ExportToExcel", "WFD02120")',
                WFD02120PrintToReport: '@Url.Action("WFD02120PrintToReport", "WFD02120")',
                WFD02120PrintTag: '@Url.Action("PrintTag", "WFD02120")',
                WFD02120ValidationPrintTag: '@Url.Action("ValidationPrintTag", "WFD02120")',
                WFD02120RegisterTemp: '@Url.Action("RegiesterSelectedRow", "WFD02120")',
                ITEM_PER_PAGE: '@ViewBag.ITEM_PER_PAGE',
                GetPrintLocation: '@Url.Action("GetPrintLocation", "WFD02120")',
                GetAutoCompleteAssetClass: '@Url.Action("AssetClass_AutoComplete", "Common")',
                GetAutoCompleteCostCenter: '@Url.Action("CostCenter_AutoComplete", "Common")',
                GetAutoCompleteRespCostCenter: '@Url.Action("ResponsibleCostCenter_AutoComplete", "Common")',
                GetAutoCompleteWBSBudget: '@Url.Action("WBSBudget_AutoComplete", "Common")',
                GetAutoCompleteWBSProject: '@Url.Action("WBSProject_AutoComplete", "Common")',
                GetAutoCompleteAssetPlate: '@Url.Action("AssetPlate_AutoComplete", "Common")'
            }

            // Dialog Cost center

            @*var URL_COMSCC = {
            ITEM_PER_PAGE: '@ViewBag.COMSCC_ITEM_PER_PAGE',
            SEARCH_COST_CODE: '@Url.Action("COMSCC_Search", "COMSCC")',
            SET_INITIAL_PARAMETER: '@Url.Action("Index", "COMSCC")?AllCostCode=N&PageRequest=WFD02120',
            DefaultCostCode: '@ViewBag.DefaultCostCode'
        }*@

            var PARAMETERS = {
                PRINT_STATUS: '@Request.QueryString.Get("PRINT_STATUS")',
                PHOTO_STATUS: '@Request.QueryString.Get("PHOTO_STATUS")',
                SUB_TYPE: '@Request.QueryString.Get("SUB_TYPE")',
                PARENT: '@Request.QueryString.Get("PARENT")',
                SEARCH_MODE: '@Request.QueryString.Get("searchMode")'
            }

            //
            $(document).ready(function () {
                $('#WFD02120MultipleBoxCompany').multiselect(multiSelectOptionWidth100);


            });

    </script>

    <script type="text/javascript" src="~/JS/search-helper.js"></script>
    <script type="text/javascript" src="~/JS/WFD02120.js"></script>
    @*<script type="text/javascript" src="~/JS/COMSCC.js"></script>*@

}
