﻿<style>
    .input-inline {
        display: inline-block;
    }
</style>
<div class="modal fade" id="change-print-location-dialog" tabindex="-1" role="dialog">
    <div class="modal-dialog" style="width:500px;">
        <div class="modal-content Radius12" style="width:600px;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">Please select location of printer</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12 form-in ">
                        @Html.PrintLocationCombobox("WFD02120txtPrintLocation", new { @class = "form-control select2" })
                    </div>                    
                </div>
            </div>
            <div class="modal-footer">
                <div class="form-group">
                    <div class="col-sm-12 form-in text-right ">
                        <button class="btn btn-sm btn-info" id="WFD02120ChangeLocation" type="button" style="width:100px" onclick="OnWFD02120txtPrintLocationBtnClick()">OK</button>
                    </div>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

</div>