﻿<table id="SearchResultTable" 
       class="table table-bordered table-striped table-hover" 
       style="margin-top: 10px;overflow:auto;border-radius:3px; font-size:12px">
    <thead class="bg-gray">
        <tr>
            <th style="width: 30px;">
                <input id="selectAll" type="checkbox" />
            </th>
            <th style="text-align: center;">No.</th>
            <th style="text-align: center;">Company</th>
            <th style="text-align: center;">Asset<br />Class</th>
            <th style="text-align: center;">Minor<br />Category</th>
            <th style="text-align: center;">Asset No.</th>
            <th style="text-align: center;">Asset<br />Sub No.</th>
            <th style="text-align: center;">Asset Description</th>
            <th style="text-align: center;">Cost Center</th>
            <th style="text-align: center;">Responsible<br/>Cost Center</th>
            <th style="text-align: center;">BOI</th>
            <th style="text-align: center;">Tax</th>
            <th style="text-align: center;">WBS Code</th>
            <th style="text-align: center;">Capitalize<br />Date</th>
            <th style="text-align: center;">Map<br />Status</th>
            <th style="text-align: center;">Print<br />Status</th>
            <th style="text-align: center;">Photo<br />Status</th>
           

        </tr>
    </thead>
</table>









