﻿@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.ScreenTitle = "Log Monitoring Screen";
}
<style>
    .control-label {
        text-align: left !important;
    }

    .form-inline {
        display: block !important;
    }
    /*table.dataTable thead > tr > th {
        padding-left:15px;
        padding-right:15px;
        text-align:center;
    }*/
    p {
        margin:0px;
    }
    /*.table-responsive {
        min-height: 0.01%;
        overflow-x:hidden;
    }*/

    /*.table-responsive > div:first-child > div:nth-child(2){
        overflow-x:auto;
        margin-right: 0px;
    }*/

    /*.table-responsive > div:first-child{
        margin-right: 0px;
    }*/
</style>
<!-- Row condition panel -->
<div class="form-horizontal">
    <div class="row">
        <div class="col-sm-12">
            <div class="box box-default">
                <div class="box-header with-border">
                    <h3 class="box-title">Search condition</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body">
                    <div class="col-sm-12">
                        <div class="form-group">  
                                                   
                            <input type="hidden" id="hidSystem" />
                            <input type="hidden" id="hidAppId" />

                            <label for="ddlFunction" class="col-sm-1 control-label">Function</label>
                            <div class="col-sm-7">
                                <select class="form-control select2" id="ddlFunction" name="ddlFunction" tabindex="1" disabled>
                                    <option value="">&nbsp;</option>
                                </select>
                            </div>
                            <label for="ddlStatus" class="col-sm-1 control-label">Status</label>
                            <div class="col-sm-3">
                                <select class="form-control select2" id="ddlStatus" name="ddlStatus" tabindex="2" disabled>
                                    <option value="">&nbsp;</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="txtAppID" class="col-sm-1 control-label">App ID</label>
                            <div class="col-sm-3">
                                <input type="text" id="txtAppID" name="txtAppID" class="form-control" maxlength="5" tabindex="3"  readonly/>
                            </div>
                            <label for="txtUserID" class="col-sm-1 control-label">User ID</label>
                            <div class="col-sm-3">
                                <input type="text" id="txtUserID" name="txtUserID" class="form-control" maxlength="25" tabindex="4" readonly/>
                            </div>
                            <label for="ddlLevel" class="col-sm-1 control-label" name="ddlLevel">Level</label>
                            <div class="col-sm-3" name="ddlLevel">
                                <select class="form-control select2" id="ddlLevel" name="ddlLevel" tabindex="5" >
                                    <option value="">&nbsp;</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="txtStartTime" class="col-sm-1 control-label">From</label>
                            <div class="col-sm-3">
                                <div class="input-group date">
                                    <input type="text" class="form-control " id="txtStartTime" name="txtStartTime" placeholder="To" tabindex="6" readonly>
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                </div>
                            </div>
                            <label for="txtEndTime" class="col-sm-1 control-label">To</label>
                            <div class="col-sm-3">
                                <div class="input-group date">
                                    <input type="text" class="form-control " id="txtEndTime" name="txtEndTime" placeholder="To" tabindex="7" readonly>
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <input type="checkbox" id="chkFavorite" tabindex="8" disabled><label for="chkFavorite" class="control-label">&nbsp;&nbsp;Favorite</label></input>
                            </div>
                            <div class="button-box navbar-right">
                                @Html.Button("WFD01010Search", "Search", new { @class = "btn btn-primary", type = "button" }, TagHelper.BUTTON_TYPES.SEARCH)
                                @Html.Button("WFD01010Clear", "Clear", new { @class = "btn btn-warning", type = "button" }, TagHelper.BUTTON_TYPES.CLEAR)
                                <button class="btn btn-primary" id="WFD01010Back" style="width: 70px;" type="button">Back</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box box-primary" id="SearchDataRow">
                <div class="box-header with-border">
                    <h3 class="box-title">Search result</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body">
                    <div class="col-sm-12">
                        <div>
                            <div class="form-group">
                                <div class="table-responsive">
                                    <table id="SearchResultTable" class="table table-bordered table-hover" style="font-size:12px;border-radius:3px;">
                                        <thead class="bg-gray">
                                            <tr>
                                                <th style="width:110px">DateTime</th>
                                                <th style="width:100px">Status</th>
                                                <th style="width:90px">Level</th>
                                                <th>Message</th>                                            
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- End row condition panel -->
</div>


@section scripts {

    <script type="text/javascript">
        var URL_CONST = {
            GetFunction: '@Url.Action("GetFunction", "WFD01010")',
            GetModuleLoggin: '@Url.Action("GetModuleLoggin", "WFD01010")',
            GetStatusLoggin: '@Url.Action("GetStatusLoggin", "WFD01010")',
            GetLevelLoggin: '@Url.Action("GetLevelLoggin", "WFD01010")',
            GetSearchLoggin: '@Url.Action("GetDetailLoggin", "WFD01010")'           
        }
        var SCREEN = {
            IsDetailScreen : true
        }
    </script>

    <script type="text/javascript" src="~/JS/WFD01010.js"></script>

}