﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.ScreenTitle = "Log Monitoring Screen";
}
<style>
    /*.control-label {
        text-align: left !important;
    }*/

    .form-inline {
        display: block !important;
    }
    a {
        cursor:pointer;
    }
    /*table.dataTable thead > tr > th {
        padding-left:15px;
        padding-right:15px;
        text-align:center;
    }*/
    p {
        margin:0px;
    }
</style>
<!-- Row condition panel -->
<div class="form-horizontal">
    <div class="row">
        <div class="col-sm-12">
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Search Condition</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body">
                    <div class="col-sm-12">
                        <div class="form-group">                          
                            <input type="hidden" id="hidSystem" />
                            <label for="ddlFunction" class="col-sm-1 control-label">Function</label>
                            <div class="col-sm-7">
                                <select class="form-control select2" id="ddlFunction" name="ddlFunction" tabindex="1">
                                    <option value="">&nbsp;</option>
                                </select>
                            </div>
                            <label for="ddlStatus" class="col-sm-1 control-label">Status</label>
                            <div class="col-sm-3">
                                <select class="form-control select2" id="ddlStatus" name="ddlStatus" tabindex="2">
                                    <option value="">&nbsp;</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="txtAppID" class="col-sm-1 control-label">App ID</label>
                            <div class="col-sm-3">
                                <input type="text" id="txtAppID" name="txtAppID" class="form-control" maxlength="5" tabindex="3" />
                            </div>
                            <label for="txtUserID" class="col-sm-1 control-label">User ID</label>
                            <div class="col-sm-3">
                                <input type="text" id="txtUserID" name="txtUserID" class="form-control" maxlength="25" tabindex="4" />
                            </div>                           
                        </div>
                        <div class="form-group">
                            <label for="txtStartTime" class="col-sm-1 control-label">From</label>
                            <div class="col-sm-3">
                                <div class="input-group date">
                                    <input type="text" class="form-control datepicker dateto" id="txtStartTime" name="txtStartTime" placeholder="From" tabindex="6" maxlength="11">
                                    <div class="input-group-addon date-picker-icon" onclick="ClickIconDate('txtStartTime')">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                </div>
                            </div>
                            <label for="txtEndTime" class="col-sm-1 control-label">To</label>
                            <div class="col-sm-3">
                                <div class="input-group date">
                                    <input type="text" class="form-control datepicker dateto" id="txtEndTime" name="txtEndTime" placeholder="To" tabindex="7" maxlength="11">
                                    <div class="input-group-addon date-picker-icon" onclick="ClickIconDate('txtEndTime')">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <!--<input type="checkbox" id="chkFavorite" tabindex="8"><label for="chkFavorite" class="control-label">&nbsp;&nbsp;Favorite</label></input>-->
                            </div>
                            <div class="button-box navbar-right">
                                @Html.Button("WFD01010Search", "Search", new { @class = "btn btn-primary", type = "button" }, TagHelper.BUTTON_TYPES.SEARCH)
                                @Html.Button("WFD01010Clear", "Clear", new { @class = "btn btn-warning", type = "button" }, TagHelper.BUTTON_TYPES.CLEAR)
                                @*@Html.Button("WFD01010Back", "Back", new { @class = "btn btn-primary", type = "button", style = "width: 70px;" }, TagHelper.BUTTON_TYPES.BACK)*@
                            </div>
                        </div>
                    </div>
                </div> 
            </div>
            <div class="box box-success">
                <div class="box-header with-border">
                    <h3 class="box-title">Search Result</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body" id="SearchDataRow">
                    <div class="col-sm-12">
                        <div>
                            <div class="form-group">
                                <div class="table-responsive"  style="overflow:hidden;">
                                    <table id="SearchResultTable" class="table table-bordered table-hover" style="font-size:12px; border-radius:3px;">
                                        <thead class="bg-gray">
                                            <tr>
                                                <th style="width:40px">App ID</th>
                                                <th style="width:15px">System</th>
                                                <th style="width:105px">Function</th>
                                                <th style="width:120px">Start Time</th>
                                                <th style="width:120px">End Time</th>
                                                <th style="width:50px">User ID</th>
                                                <th style="width:90px">Status</th>
                                                <th style="width:50px">Doc No.</th>
                                                <th style="min-width:150px">Message</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- End row condition panel -->
</div>


@section scripts {

    <script type="text/javascript">
        var URL_CONST = {          
            GetFunction: '@Url.Action("GetFunction", "WFD01010")',
            GetModuleLoggin: '@Url.Action("GetModuleLoggin", "WFD01010")',
            GetStatusLoggin: '@Url.Action("GetStatusLoggin", "WFD01010")',        
            GetSearchLoggin: '@Url.Action("GetSearchLoggin", "WFD01010")',
            GetDetailPage: '@Url.Action("Detail", "WFD01010")',
            GetDownload: '@Url.Action("Download", "WFD01010")'
        }
        var SCREEN = {
            IsDetailScreen : false
        }
    </script>

    <script type="text/javascript" src="~/JS/WFD01010.js"></script>

}