﻿<div class="box-body">
    <div class="col-sm-12">
        <div class="form-group">
            <!--<label for="ddlSystem" class="col-sm-1 control-label">System</!--label>
            <div class="col-sm-3">
                <select class="form-control select2" id="ddlSystem" name="ddlSystem" tabindex="1">
                    <option value="">- Select -</option>
                </select>
            </div>-->
            <input type="hidden" id="hidSystem" />
            <label for="ddlFunction" class="col-sm-1 control-label">Function</label>
            <div class="col-sm-7">
                <select class="form-control select2" id="ddlFunction" name="ddlFunction" tabindex="1">
                    <option value="">&nbsp;</option>
                </select>
            </div>
            <label for="ddlStatus" class="col-sm-1 control-label">Status</label>
            <div class="col-sm-3">
                <select class="form-control select2" id="ddlStatus" name="ddlStatus" tabindex="2">
                    <option value="">&nbsp;</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="txtAppID" class="col-sm-1 control-label">App ID</label>
            <div class="col-sm-3">
                <input type="text" id="txtAppID" name="txtAppID" class="form-control" maxlength="18" tabindex="3" />
            </div>
            <label for="txtUserID" class="col-sm-1 control-label">User ID</label>
            <div class="col-sm-3">
                <input type="text" id="txtUserID" name="txtUserID" class="form-control" maxlength="25" tabindex="4" />
            </div>
            <label for="ddlLevel" class="col-sm-1 control-label" name="ddlLevel" >Level</label>
            <div class="col-sm-3" name="ddlLevel">
                <select class="form-control select2" id="ddlLevel" name="ddlLevel" tabindex="5">
                    <option value="">&nbsp;</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="txtStartTime" class="col-sm-1 control-label">From</label>
            <div class="col-sm-3">
                <div class="input-group date">
                    <input type="text" class="form-control datepicker dateto" id="txtStartTime" name="txtStartTime" placeholder="From" tabindex="6">
                    <div class="input-group-addon" onclick="ClickIconDate('txtStartTime')">
                        <i class="fa fa-calendar"></i>
                    </div>
                </div>
            </div>
            <label for="txtEndTime" class="col-sm-1 control-label">To</label>
            <div class="col-sm-3">
                <div class="input-group date">
                    <input type="text" class="form-control datepicker dateto" id="txtEndTime" name="txtEndTime" placeholder="To" tabindex="7">
                    <div class="input-group-addon" onclick="ClickIconDate('txtEndTime')">
                        <i class="fa fa-calendar"></i>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <input type="checkbox" id="chkFavorite" tabindex="8"><label for="chkFavorite" class="control-label">&nbsp;&nbsp;Favorite</label></input>
            </div>
            <div class="button-box navbar-right">
                @Html.Button("WFD01010Search", "Search", new { @class = "btn btn-primary", type = "button" }, TagHelper.BUTTON_TYPES.SEARCH)
                @Html.Button("WFD01010Clear", "Clear", new { @class = "btn btn-warning", type = "button" }, TagHelper.BUTTON_TYPES.CLEAR)
            </div>
        </div>
    </div>
</div>
