﻿<style>
    /*table.dataTable thead > tr > th {
        padding-right: 5px;
        padding-left: 5px;
    }*/

    .input-group-addon {
        border-left-width: 0px;
    }

    .RadiusTop12 {
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
    }

    .RadiusBottom12 {
        border-bottom-left-radius: 12px;
        border-bottom-right-radius: 12px;
    }

    .Radius12 {
        border-radius: 12px;
    }

    .HeaderModel {
        background-color: rgba(221, 75, 57, 1); /*#337ab7;*/
        color: white;
    }

    .FooterModel {
        background-color: #f5f5f5;
    }

    .Radius24 {
        border-radius: 24px;
    }
    /*.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
        padding: 5px;
    }*/

    table.table-bordered, table.table-bordered {
        border-color: #ccc !important;
    }

        table.table-bordered, table.table-bordered > thead > tr > th {
            border-color: #ccc !important;
        }

            table.table-bordered, table.table-bordered > tbody > tr > td {
                border-color: #ccc !important;
            }
</style>

<div class="modal fade" id="xxxxxxxxxxxxxxAAAAAAAA" tabindex="1" role="dialog" style="overflow:auto;">
    <div class="modal-dialog" style="width:850px; margin: 10px auto;">
        <div class="modal-content Radius12" style="width:1010px;">
            <div class="modal-header RadiusTop12 HeaderModel">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">Fixed Asset Dialog  for 2111</h4>
            </div>
            <div class="modal-body">
                <div id="AlertMessageWFD02190" class="message-area">
                </div>
                <div class="form-horizontal">
                    <div class="box box-info">
                        <div class="box-header with-border">
                            <h3 class="box-title">
                                Quotation of Item no. [param  item number]
                            </h3>
                            <div class="box-tools pull-right">
                                <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="" data-original-title="Collapse">
                                    <i class="fa fa-minus"></i>
                                </button>
                            </div>
                        </div>
                        <div class="box-body">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <div class="col-sm-12 text-left">
                                        <label for="WFD02190_COST_CODE" class="col-sm-2">Document</label>
                                    </div>
                                    
                                </div>
                                <div class="form-group">
                                    <img class="col-sm-2" src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/87/PDF_file_icon.svg/267px-PDF_file_icon.svg.png">
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-12 text-right" style="padding-top:10px;">
                                        <button id="WFD02190Clear" class="btn btn-info" tabindex="3"><i class="fa fa-upload"></i>  Upload </button>
                                        <button id="WFD02190Close" class="btn btn-info" tabindex="3"><i class="fa fa-download"></i>  Download </button>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>

                    <div class="form-group">
                        <div class="col-sm-12 text-right" style="padding-top:10px;">
                            <button id="WFD02190Clear" class="btn btn-info" tabindex="3"><i class="fa fa-repeat"></i>  Update </button>
                            <button id="WFD02190Close" class="btn btn-warning" tabindex="3"><i class="fa fa-power-off"></i>  Close </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer RadiusBottom12 FooterModel">
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>



@section scripts {

    @*<script type="text/javascript">

            var UserId = '@UserData.UserId';

            var URL_CONST = {
                SEARCH_ASSET: '@Url.Action("WFD02190_Search", "WFD02190")',
                SAVE_ASSETS_DATA: '@Url.Action("WFD02190_SaveAssetsData", "WFD02190")',
                SEARCH_COST_CODE: '@Url.Action("COMSCC_Search", "COMSCC")'
            }

        </script>
        <script type="text/javascript" src="~/JS/WFD02190.js"></script>
        <script type="text/javascript" src="~/JS/COMSCC.js"></script>*@

}
