﻿<div class="modal fade" id="incharge-dialog" tabindex="-1" role="dialog">
    <div class="modal-dialog" style="width:900px; margin: 10px auto;">
        <div class="modal-content Radius12" style="width:1010px;">
            <div class="modal-header RadiusTop12 HeaderModel">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="lblCCTitle">Select In Charge Cost Center</h4>
            </div>
            <div class="modal-body" id="section-cost-map">
                <div class="form-horizontal">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Find:</label>
                                <div class="col-sm-8">
                                    <div class="input-group">
                                        <input type="text" id="WFD01210FIND_INCHARGE" name="WFD01210FIND_INCHARGE" class="form-control" />
                                        <span class="input-group-addon" style="border:none;">
                                            <input type="checkbox" id="chkIncludeInActive" name="WFD01210CHK_INACtIVE" />
                                            &nbsp;No Fixed Asset
                                        </span>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <button id="WFD01210SearchInCharge" class="btn btn-primary" tabindex="3"><i class="fa fa-search"></i>  Search </button>

                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <table id="Incharge_CostCode" class="table table-bordered table-striped table-hover" style="font-size:12px; border-radius:3px;">
                                        <thead>
                                            <tr>
                                                @*<td>Plant</td>*@
                                                <td>Cost Code</td>
                                                <td>Cost Center Name</td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="header expand">
                                                <td>Header <span class="sign"></span></td>
                                                <td colspan="2">Header</td>

                                            </tr>
                                            <tr class="detail">
                                                <td></td>
                                                <td>COST1</td>
                                                <td>NAME1</td>
                                            </tr>
                                            <tr class="detail">
                                                <td></td>
                                                <td>COST2</td>
                                                <td>NAME2</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group">
                                <label class="col-sm-12 control-label"> &nbsp; &nbsp;</label>
                            </div>
                            <div class="form-group">
                                <div style="vertical-align:middle;text-align:center" id="in-charge-btn">
                                    <button id="In_ChargeRightBtn" class="btn btn-sm btn-info" style="width: 80px;"><i class="fa fa-arrow-right"></i></button>
                                    <br />
                                    <br />
                                    <button id="In_ChargeLeftBtn" class="btn btn-sm btn-info" style="width: 80px;"><i class="fa fa-arrow-left"></i></button>


                                </div>
                            </div>

                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                @*<label class="col-sm-5 control-label"> &nbsp; &nbsp;</label>*@
                                <div class="button-box navbar-right">
                                    <button id="WFD01210SaveIn_Charge" class="btn btn-success" tabindex="3"><i class="fa fa-save"></i>  Save </button>
                                    <button id="WFD01210CancelIn_Charge" class="btn btn-warning" tabindex="3"><i class="fa fa-remove"></i>  Cancel </button>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <table id="Selected_Incharge" class="table table-bordered table-striped table-hover table-th-center" style="font-size:12px; border-radius:3px">
                                        <thead>
                                            <tr>
                                                <td colspan="2">Selected Item</td>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>

                            </div>
                        </div>
                    </div>
                    @*<div class="row">
                        <div class="button-box navbar-right">*@
                    @*<button id="WFD01210CancelIn_Charge" class="btn btn-warning" tabindex="3"><i class="fa fa-remove"></i>  Cancel </button>*@
                    @*@Html.Button("WFD01210SaveIn_Charge", "Save", new { @class = "btn btn-success", type = "button" }, TagHelper.BUTTON_TYPES.SAVE)*@
                    @*</div>
                        </div>*@
                </div>
            </div>
            <div class="modal-footer RadiusBottom12 FooterModel">
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
</div>