﻿
@{
    ViewBag.Title = "User Profile Screen";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.ScreenTitle = "User Profile Screen";
}
@*<style>
        .control-label {
            text-align: left !important;
        }

        .form-inline {
            display: block !important;
        }

        hr {
            margin-top: 10px;
            margin-bottom: 10px;
        }
    </style>*@
<style>
    p {
        margin: 0px;
    }
    /*.table-responsive {
        min-height: 0.01%;
        overflow-x:hidden;
    }

    .table-responsive > div:first-child > div:nth-child(2){
        overflow-x:auto;
        margin-right: 0px;
    }

    .table-responsive > div:first-child{
        margin-right: 0px;
    }

    .text-no-warp {
        white-space:nowrap;
    }*/

</style>

<style>

    /*the container must be positioned relative:*/
    .autocomplete {
        position: relative;
        display: inline-block;
    }

    .autocomplete-items {
        position: absolute;
        border: 1px solid #d4d4d4;
        border-bottom: none;
        border-top: none;
        z-index: 99;
        /*position the autocomplete items to be the same width as the container:*/
        top: 100%;
        left: 0;
        right: 0;
    }

        .autocomplete-items div {
            padding: 10px;
            cursor: pointer;
            background-color: #fff;
            border-bottom: 1px solid #d4d4d4;
        }

            /*when hovering an item:*/
            .autocomplete-items div:hover {
                background-color: #e9e9e9;
            }

    /*when navigating through the items using the arrow keys:*/
    .autocomplete-active {
        background-color: DodgerBlue !important;
        color: #ffffff;
    }
</style>

<form class="form-horizontal" id="form">
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">Search Condition</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="" data-original-title="Collapse">
                    <i class="fa fa-minus"></i>
                </button>
            </div>
        </div>
        <div class="box-body" style="display: block;">
            <div class="row" id="Condition">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="COMPANY" class="col-sm-2 control-label">Company</label>
                        <div class="col-sm-2">
                            @Html.CompanyMultipleComboboxNew("COMPANY", new { multiple = "multiple", @class = "form-control", tabindex = "1" }, true)
                        </div>

                        <label for="DIVISTION" class="col-sm-2 control-label">Division</label>
                        <div class="col-sm-2">
                           
                            @Html.CommonTextBoxTitle("DIVISTION", null, new { @class = "form-control typeahead text-left", style = "", maxlength = "40", tabindex = "2" })
                        </div>

                        <label for="SUB_DIVISTION" class="col-sm-2 control-label">Sub Division</label>
                        <div class="col-sm-2">
                            @Html.CommonTextBoxTitle("SUB_DIVISTION", null, new { @class = "form-control typeahead text-left", style = "", maxlength = "40", tabindex = "3" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="DEPARTMENT" class="col-sm-2 control-label">Department</label>
                        <div class="col-sm-2">
                            @Html.CommonTextBoxTitle("DEPARTMENT", null, new { @class = "form-control typeahead text-left", style = "", maxlength = "40", tabindex = "4" })
                        </div>

                        <label for="SECTION" class="col-sm-2 control-label">Section</label>
                        <div class="col-sm-2">
                            @*Must to be Autocomplete*@
                            @Html.CommonTextBoxTitle("SECTION", null, new { @class = "form-control typeahead text-left", style = "", maxlength = "40", tabindex = "5" })
                            @*<select class="form-control select2" id="SECTION" name="SECTION" style="width:250px;"></select>*@
                            @*<input type="text" class="form-control" id="SECTION" name="SECTION" />*@

                        </div>

                        <label for="LINE" class="col-sm-2 control-label">Line</label>
                        <div class="col-sm-2">
                            @*Must to be Autocomplete*@
                            @Html.CommonTextBoxTitle("LINE", null, new { @class = "form-control typeahead text-left", style = "", maxlength = "40", tabindex = "6" })
                            @*<select class="form-control select2" id="LINE" name="LINE" style="width:250px;"></select>*@
                            @*<input type="text" class="form-control" id="LINE" name="LINE" />*@
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="EMPLOYEE_CODE" class="col-sm-2 control-label">Employee Code</label>
                        <div class="col-sm-2">
                            <input type="text" class="form-control" id="EMPLOYEE_CODE" name="EMPLOYEE_CODE" tabindex="7" />
                        </div>
                        <label for="FIRST_NAME" class="col-sm-2 control-label">First Name</label>
                        <div class="col-sm-2">
                            <input type="text" class="form-control" id="FIRST_NAME" name="FIRST_NAME" tabindex="8" />
                        </div>
                        <label for="LAST_NAME" class="col-sm-2 control-label">Last Name</label>
                        <div class="col-sm-2">
                            <input type="text" class="form-control" id="LAST_NAME" name="LAST_NAME"  tabindex="9" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="POSITION" class="col-sm-2 control-label">Position</label>
                        <div class="col-sm-2">
                            @Html.CommonTextBoxTitle("POSITION", null, new { @class = "form-control typeahead text-left", style = "", maxlength = "50", tabindex = "10" })
                        </div>
                        <label for="JOB" class="col-sm-2 control-label">Job</label>
                        <div class="col-sm-2">
                            @Html.CommonTextBoxTitle("JOB", null, new { @class = "form-control typeahead text-left", style = "", maxlength = "50", tabindex = "11" })
                        </div>
                        <label for="RESPONSIBILITY" class="col-sm-2 control-label">Responsibility</label>
                        <div class="col-sm-2">
                            @Html.ResponsibilityMultipleCombobox("RESPONSIBILITY", new { multiple = "multiple", tabindex = "12", @class = "form-control" }, true)
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="COST_CENTER" class="col-sm-2 control-label">Cost Center</label>
                        <div class="col-sm-2">
                            @Html.CommonTextBoxTitle("COST_CENTER", null, new { @class = "form-control typeahead text-left", style = "", maxlength = "10", tabindex = "13" })
                        </div>
                        <label for="IN_CHARGE_COST_CENTER" class="col-sm-2 control-label">Responsible Cost Center</label>
                        <div class="col-sm-2">
                            <input type="text" class="form-control" id="IN_CHARGE_COST_CENTER" name="IN_CHARGE_COST_CENTER" tabindex="14" />
                        </div>
                        <label for="SPECIAL_ROLE" class="col-sm-2 control-label">Special Role</label>
                        <div class="col-sm-2">
                            @Html.SpecialRoleMultipleCombobox("SPECIAL_ROLE", new { multiple = "multiple", @class = "form-control", tabindex = "15" }, true)
                        </div>
                    </div>
                    <div class="form-group navbar-right">
                        <div class="col-sm-12">
                            <div class="button-box">
                                @Html.Button("WFD01210Search", "Search", new { @class = "btn btn-primary", type = "button" }, TagHelper.BUTTON_TYPES.SEARCH)
                                @Html.Button("WFD01210Clear", "Clear", new { @class = "btn btn-warning", type = "button" }, TagHelper.BUTTON_TYPES.CLEAR)
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.box-footer-->
    </div>

    <div class="box box-success">
        <div class="box-header with-border">
            <h3 class="box-title">Search Result</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="" data-original-title="Collapse">
                    <i class="fa fa-minus"></i>
                </button>
            </div>
        </div>
        <div class="box-body" style="display: block;">
            <div class="col-sm-12">
                <div class="row">
                    <div class="form-group">
                        <div class="col-sm-12">
                            <div class="button-box navbar-right">
                                @Html.Button("WFD01210Add", "Add", new { @class = "btn btn-info", type = "button" }, TagHelper.BUTTON_TYPES.ADD)
                                @Html.Button("WFD01210Edit", "Edit", new { @class = "btn btn-primary DataNotFound", type = "button" }, TagHelper.BUTTON_TYPES.EDIT)
                                @Html.Button("WFD01210Delete", "Delete", new { @class = "btn btn-danger DataNotFound", type = "button" }, TagHelper.BUTTON_TYPES.DELETE)
                                @Html.Button("WFD01210View", "View", new { @class = "btn btn-info DataNotFound", type = "button" }, TagHelper.BUTTON_TYPES.VIEW)


                            </div>
                        </div>
                    </div>
                    <div class="form-group" id="SearchDataRow">
                        <div class="col-sm-12">
                            <div class="table-responsive">
                                <table id="WFD1210Table" class="table table-bordered table-striped table-hover fixedHeaderTB" style="border-radius:3px; font-size:12px">
                                    <thead class="bg-gray">
                                        <tr>
                                            <th style="width:25px;"></th>
                                            <th style="width:20px;">No.</th>
                                            <th style="width:53px;">Company</th>
                                            <th style="width:55px;">Employee<br />Code</th>
                                            <th style="width:230px;">Employee Name</th>
                                            <th style="width:160px;">Position Name</th>
                                            <th style="width:100px;">Job</th>
                                            <th style="width:95px;">Responsibility</th>
                                            <th style="width:65px;">Cost Center</th>
                                            <th style="width:240px;">Division</th>
                                            <th style="width:250px;">Sub Division</th>
                                            <th style="width:250px;">Department</th>
                                            <th style="width:240px;">Section</th>
                                            <th style="width:100px;">Line</th>
                                            <th style="width:220px;">Email Address</th>
                                            <th style="width:70px;">Electronic Signature</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.box-footer-->
    </div>
</form>
@section scripts {


    <script type="text/javascript">
        var URL_CONST = {
            GET_DIVISTION_DDL: '@Url.Action("GetDivision", "WFD01210")',
            GET_DEPARTMENT_DDL: '@Url.Action("GetDepartment", "WFD01210")',
            GET_SECTION_DDL: '@Url.Action("GetSection", "WFD01210")',
            GET_POSITION_DDL: '@Url.Action("GetPosition", "WFD01210")',
            GET_RESPONSIBILITY_DDL: '@Url.Action("GetResponsibility", "WFD01210")',
            GET_DIVISTION_DDL: '@Url.Action("GetDivision", "WFD01210")',
            GET_COST_CENTER: '@Url.Action("GetCostCenter", "WFD01210")',
            SEARCH: '@Url.Action("Search", "WFD01210")',
            ManageUser: '@Url.Action("ManageUser", "WFD01210")',
            Delete: '@Url.Action("Delete", "WFD01210")',
            CONVERT_PATH_IMG: '@Url.Action("ConvertPathImg", "WFD01210")',
            GET_AUTOCOMPLETE_COST_CENTER: '@Url.Action("CostCenter_AutoComplete", "WFD01210")',
            GET_AUTOCOMPLETE_DIVISION: '@Url.Action("Division_AutoComplete", "Common")',
            GET_AUTOCOMPLETE_SUB_DIVISTION: '@Url.Action("SubDivistion_AutoComplete", "Common")',
            GET_AUTOCOMPLETE_DEPARTMENT: '@Url.Action("Department_AutoComplete", "Common")',
            GET_AUTOCOMPLETE_SECTION: '@Url.Action("Section_AutoComplete", "Common")',
            GET_AUTOCOMPLETE_LINE: '@Url.Action("Line_AutoComplete", "Common")',
            GET_AUTOCOMPLETE_POSITION: '@Url.Action("Position_AutoComplete", "Common")',
            GET_AUTOCOMPLETE_JOB: '@Url.Action("Job_AutoComplete", "Common")',
        }
        var PARAMETER = {
            ITEM_PER_PAGE: '@ViewBag.ITEM_PER_PAGE',
            SIGNATUREPATH: '@ViewBag.SIGNATUREPATH',
            DeleteConfirm: '@ViewBag.DeleteConfirm',
            DeleteSuccess: '@ViewBag.DeleteSuccess',
            NotSelectEdit: '@ViewBag.NotSelectEdit',
            NotSelectView: '@ViewBag.NotSelectView',
            DafaultImage: '@ViewBag.DafaultImage',
            NoSeleteDelete: '@ViewBag.NoSeleteDelete',
            MODE: 'SEARCH',
            IsManager: '@ViewBag.IsManager',
            TFASTEmployeeNo: '@ViewBag.TFASTEmployeeNo'
        }

        $(document).ready(function () {

            $('#COMPANY').multiselect(multiSelectOptionWidth100);

            $('#RESPONSIBILITY').multiselect(multiSelectOptionWidth100)
                .multiselect('deselectAll', false)
                .multiselect('updateButtonText');
            $('#SPECIAL_ROLE').multiselect(multiSelectOptionWidth100)
                .multiselect('deselectAll', false)
                .multiselect('updateButtonText');
        });
        //$(document).ready(function () {
        //    $('#DIVISTION').select2({ dropdownAutoWidth: 'true' });
        //    $('#DEPARTMENT').select2({ dropdownAutoWidth: 'true' });
        //    $('#SECTION').select2({ dropdownAutoWidth: 'true' });
        //});
    </script>

    <script type="text/javascript" src="~/JS/WFD01210.js"></script>

}
@Html.Partial("SignatureModal")