﻿
@{
    ViewBag.Title = "User Profile Screen";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.ScreenTitle = "User Profile Screen";
}
<style>
    tr.not-allow > td {
        background-color: lightgray;
    }
    tr.header {
        cursor: pointer;
    }

    .header .sign:after {
        content: "-";
        display: inline-block;
    }

    .header.expand .sign:after {
        content: "+";
    }

    .table-row-select {
        background-color: aqua !important;
    }

    .nav-tabs-custom {
        background: transparent;
        border-color: #A3A3A3;
        font-size: 12px;
    }

        .nav-tabs-custom > .nav-tabs {
            border-top-right-radius: 3px;
            border-top-left-radius: 3px;
            font-weight: bold;
        }

            .nav-tabs-custom > .nav-tabs > li > a {
                color: #fff;
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
            }

            .nav-tabs-custom > .nav-tabs > li.active {
                border-top-color: transparent;
            }

            .nav-tabs-custom > .nav-tabs > li:first-of-type.active > a {
                border-left-color: #A3A3A3;
            }

            .nav-tabs-custom > .nav-tabs > li.active > a {
                border-top-color: #A3A3A3;
                border-right-color: #A3A3A3;
                border-left-color: #A3A3A3;
                border-bottom-color:white;
            }

            .nav-tabs-custom > .nav-tabs > li > a, .nav-tabs-custom > .nav-tabs > li > a:hover {
                background: #E6B9B8;
                margin: 0;
            }

        .nav-tabs-custom > .tab-content {
            border: 1px solid #A3A3A3;
        }

    .nav > li > a {
        position: relative;
        display: block;
        padding: 5px 15px;
    }

    .nav-tabs > li > span {
        background: #C0504D;
        color: #fff;
        font-size: 10px;
        padding: 3px 10px;
        border-radius: 7px;
        position: absolute;
        top: -15px;
        right: -5px;
    }

    IMG.displayed {
        display: block;
        /*margin-left: auto;
        margin-right: auto;*/
        border: 1px solid #A3A3A3;
    }
    .cursorPointer {
        cursor:pointer;
    }
</style>
<form class="form-horizontal" id="form" enctype="multipart/form-data" method="post">
    <div class="box">
        <div class="box-body" style="display: block;">
            <div class="row" id="Condition" style="margin-top: 20px;">
                <div class="col-md-12">
                    <!-- Custom Tabs -->
                    <div id="tabs" class="nav-tabs-custom">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#tab_userprofile" data-toggle="tab" aria-expanded="true">User Profile</a></li>
                            @if (!string.IsNullOrEmpty(ViewBag.EMP_CODE))
                            {
                                <li class=""><a href="#tab_ccbaseorganize" data-toggle="tab" aria-expanded="false">CC Base on Organize</a></li>
                            }
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="tab_userprofile">
                                @Html.Partial("TabUserProfile")
                            </div>
                            <!-- /.tab-pane -->
                            @if (!string.IsNullOrEmpty(ViewBag.EMP_CODE))
                            {
                                <div class="tab-pane" id="tab_ccbaseorganize">
                                    @Html.Partial("TabCCBaseOrganize")
                                </div>
                            }

                        </div>
                        <!-- /.tab-content -->
                    </div>
                    <!-- nav-tabs-custom -->
                </div>
            </div>

        </div>
        <!-- /.box-footer-->
    </div>
    @Html.Partial("InChargeCostCode")
</form>
@section scripts {


    <script type="text/javascript">
        var URL_CONST = {
            GET_RESPONSIBILITY_DDL: '@Url.Action("GetResponsibility", "WFD01210")',
            CC_BASE_ON_ORGANIZE: '@Url.Action("CCBaseonOrganize", "WFD01210")',
            GET_COSTCENTER_DDL: '@Url.Action("GetCostCenter", "WFD01210")',
            GET_EMPLOYEE_BY_CODE: '@Url.Action("GetEmployeeByCode", "WFD01210")',
            GET_SIGNATURE: '@Url.Action("GetSignature", "WFD01210")',
            GET_GETDELEGATEUSER_DDL: '@Url.Action("GetDelegateUser", "WFD01210")',
            GET_GETAECUSER_DDL: '@Url.Action("GetAECUser", "WFD01210")',
            List_PAGE: '@Url.Action("Index", "WFD01210")',
            CONVERT_PATH_IMG: '@Url.Action("ConvertPathImg", "WFD01210")',
            INSERT: '@Url.Action("InsertEmployee", "WFD01210")',
            UPDATE: '@Url.Action("UpdateEmployee", "WFD01210")',
            INSINCHARGECOST: '@Url.Action("InsertInChargeCostCode", "WFD01210")',
            INSINCHARGERESCOST: '@Url.Action("InsertInChargeResCostCode", "WFD01210")',
            @*UPDATECHARGECOST: '@Url.Action("UpdateInChargeCostCode", "WFD01210")',*@
            ManageUser: '@Url.Action("ManageUser", "WFD01210")',
            GET_ORG_TABLE: '@Url.Action("SearchtOrganization", "WFD01210")',
            GET_IN_CHARGE: '@Url.Action("GetInCharge", "WFD01210")',
            GET_IN_CHARGE_TABLE: '@Url.Action("GetInChargeTable", "WFD01210")',
            CHECK_IN_CHARGE: '@Url.Action("GetCheckSetUpInCharge", "WFD01210")',
            GET_COST_CENTER: '@Url.Action("GetCostCenter", "WFD01210")',
        }
        var PARAMETER = {
            SIGNATUREPATH: '@ViewBag.SIGNATUREPATH',
            DafaultImage: '@ViewBag.DafaultImage',
            SYS_EMP_CODE: '@ViewBag.SYS_EMP_CODE',
            EMP_CODE: '@ViewBag.EMP_CODE',
            MODE: '@ViewBag.MODE',
            CancelEdit: ' @ViewBag.CancelEdit',
            CancelView: '@ViewBag.CancelView',
            CancelAdd: '@ViewBag.CancelAdd',
            ConfirmSave: '@ViewBag.ConfirmSave',
            SaveSuccess: '@ViewBag.SaveSuccess',
            ORG_CODE: '@ViewBag.ORG_CODE',
            IS_FAADMIN: '@ViewBag.FAADMIN',
            ALLOW_EDIT: '@ViewBag.ALLOW_EDIT',
            ITEM_PER_PAGE: '@ViewBag.ITEM_PER_PAGE',
            FILEEXTENSION: '@ViewBag.FileExtension',
            IsManager: '@ViewBag.IsManager',
            TFASTEmployeeNo: '@ViewBag.TFASTEmployeeNo'
        }

        var MESSAGE = {
            COMPANY_NOT_EMPTY: '@ViewBag.COMPANY_NOT_EMPTY'
        }
    </script>

    <script type="text/javascript" src="~/JS/WFD01210.js"></script>

}
