﻿<div class="modal fade" id="signature-dialog" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">Electronic Signature</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <img id="IMG_SIGNATURE_DIALOG" name="IMG_SIGNATURE_DIALOG" style="width:214.5px;height:80px;margin-left: auto;margin-right: auto;display: block;" />
                    </div>

                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
</div>