﻿<div class="row" id="RowDataCCBaseOnOrganize">
    <div class="col-sm-12">
        @*<div class="table-responsive">*@
            <table id="tableCCBaseOnOrganize" class="table table-bordered table-striped table-hover table-th-center" style="font-size:12px; border-radius:3px;">
                <thead class="bg-gray">
                    <tr>
                        <th>Cost Center</th>
                        <th>Cost Center Name</th>
                    </tr>
                </thead>
            </table>
        @*</div>*@
    </div>
</div>
