﻿<div class="form-horizontal">
    <div class="form-group">
        <label for="WFD01210EMP_ID_USERPROFILE" class="col-sm-2 control-label">Employee ID:</label>
        <div class="col-sm-3">
            <input type="hidden" class="form-control require" id="WFD01210SYS_EMP_ID_USERPROFILE" name="WFD01210SYS_EMP_ID_USERPROFILE" maxlength="8" />
            <input type="text" class="form-control require" id="WFD01210EMP_ID_USERPROFILE" name="WFD01210EMP_ID_USERPROFILE" maxlength="8" />
            <input type="text" class="form-control" id="WFD01210UPDATEDATE_USERPROFILE" name="WFD01210UPDATEDATE_USERPROFILE" style="display:none" />
        </div>
        <label for="COMPANY" class="col-sm-1 control-label">Company:</label>
        <div class="col-sm-3">
            @*@Html.CompanyMultipleCombobox("COMPANY", new { multiple = "multiple", @class = "form-control" }, true)*@
            @*<input type="text" class="form-control require" id="COMPANY" name="COMPANY" maxlength="8" />*@
            @Html.CompanyCombobox("COMPANY", new { @class = "form-control select2" })


        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Employee Name:</label>
        <div class="col-sm-1">
            <input type="text" class="form-control require" id="WFD01210EMP_TITLE_USERPROFILE" name="WFD01210EMP_TITLE_USERPROFILE" placeholder="Title" maxlength="8" />
        </div>

        <div class="col-sm-2">
            <input type="text" class="form-control require" id="WFD01210EMP_FIRST_NAME_USERPROFILE" name="WFD01210EMP_FIRST_NAME_USERPROFILE" placeholder="First Name" maxlength="30" />
        </div>
        <div class="col-sm-4">
            <input type="text" class="form-control require" id="WFD01210EMP_LAST_NAME_USERPROFILE" name="WFD01210EMP_LAST_NAME_USERPROFILE" placeholder="Last Name" maxlength="30" />
        </div>
    </div>
    <div class="form-group">
        <label for="WFD01210POSITION_NAME_USERPROFILE" class="col-sm-2 control-label">Position:</label>
        @*<div class="col-sm-3" id="WFD01210POSITION_CODE_USERPROFILE_DIV">
            @Html.WFD01210PositionCombobox("WFD01210POSITION_CODE_USERPROFILE", new { @class = "form-control select2 require" })
        </div>*@
        <div class="col-sm-3" id="WFD01210POSITION_CODE_USERPROFILE_TXT_DIV">
            <input type="text" class="form-control" id="WFD01210POSITION_CODE_USERPROFILE_TXT" name="WFD01210POSITION_CODE_USERPROFILE_TXT" />
        </div>
        <label for="JOBSave" class="col-sm-1 control-label">Job:</label>
        @*<div class="col-sm-3" id="JOBSave_DIV">
            @Html.WFD01210JobCombobox("JOBSave", new { @class = "form-control select2 require" })
        </div>*@
        <div class="col-sm-3" id="JOBSave_TXT_DIV">
            <input type="text" class="form-control" id="JOBSave_TXT" name="JOBSave_TXT" />
        </div>
    </div>
    <div class="form-group">
        <label for="WFD01210COST_CENTER_USERPROFILE" class="col-sm-2 control-label">Cost Center:</label>
        <div class="col-sm-7">
            <select class="form-control select2" id="WFD01210COST_CENTER_USERPROFILE" name="WFD01210COST_CENTER_USERPROFILE"><option value="">Select</option></select>
            @*@Html.WFD02620CostCenterCombobox("WFD01210RESPONSIBILITY_USERPROFILE", new { @class = "form-control select2" })*@
            @*@Html.WFD01210CostcenterCombobox("WFD01210COST_CENTER_USERPROFILE", new { @class = "form-control select2" })*@
            @*@Html.WFD01210CostcenterBYCompanyCombobox("WFD01210COST_CENTER_USERPROFILE", @ViewBag.COMPANY as string, new { @class = "form-control select2" })*@
        </div>
    </div>
    <div class="form-group">
        <label for="WFD01210ORGANIZE_CODE_USERPROFILE" class="col-sm-2 control-label">Organize Code:</label>
        <div class="col-sm-3">
            @*<select class="form-control select2 require" id="WFD01210ORGANIZE_CODE_USERPROFILE" name="WFD01210ORGANIZE_CODE_USERPROFILE">
                    <option value="">&nbsp; </option>
                </select>*@
            @*Must to be Sub Screen*@
            <input type="text" class="form-control require" id="WFD01210ORGANIZE_CODE_USERPROFILE" name="WFD01210ORGANIZE_CODE_USERPROFILE" />
        </div>
        @*<label style="margin-left:16px; margin-top:6px;">Group:</label><span id="WFD01210GROUP_USERPROFILE"></span>*@
    </div>
    <div class="col-sm-12 well" style="display:none;" id="DIV_TABLE_ORGANIZE">
        <div class="row text-right">
            <div class="col-sm-12">
                <input type="button" value="Close" class="btn btn-warning" id="btnCloseOrgCode" />
            </div>
        </div>
        <div class="table-responsive" id="HaveData">
            <table id="tableOrganize" class="table table-bordered table-striped table-hover table-th-center">
                <thead class="bg-gray">
                    <tr>
                        <th>Company</th>
                        <th>Organize Code</th>
                        <th>Comp</th>
                        <th>Group</th>
                        <th>Division</th>
                        <th>Sub Division</th>
                        <th>Deparment</th>
                        <th>Section</th>
                        <th>Line</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-2">
        </div>
        <div class="col-sm-4" style="padding-left: 0px;">
            <label style="margin-left:18px;">Company: </label><span id="WFD01210COMPANY_USERPROFILE"></span>
        </div>
        <div class="col-sm-5">
            <label style="margin-left:18px;">Division: </label><span id="WFD01210DEVISION_USERPROFILE"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-2">
        </div>
        <div class="col-sm-4" style="padding-left: 0px;">
            <label style="margin-left:18px;">Sub Division: </label><span id="WFD01210SUB_DEPARTMENT_USERPROFILE"></span>
        </div>
        <div class="col-sm-5">
            <label style="margin-left:18px;">Department: </label><span id="WFD01210DEPARTMENT_USERPROFILE"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-2">
        </div>
        <div class="col-sm-4" style="padding-left: 0px;">
            <label style="margin-left:18px;">Section: </label><span id="WFD01210Section_USERPROFILE"></span>
        </div>
        <div class="col-sm-5">
            <label style="margin-left:18px;">Line: </label><span id="WFD01210LINE_USERPROFILE"></span>
        </div>
    </div>
    <div class="form-group">
        <label for="WFD01210RESPONSIBILITY_USERPROFILE" class="col-sm-2 control-label">Responsibility:</label>
        <div class="col-sm-3">
            @*<select class="form-control select2" id="WFD01210RESPONSIBILITY_USERPROFILE" name="WFD01210RESPONSIBILITY_USERPROFILE">

                </select>*@

            @Html.RoleCombobox("WFD01210RESPONSIBILITY_USERPROFILE", new { @class = "form-control select2" })
        </div>
        <div class="col-sm-3" style="line-height:2;margin-top:3px; display: none;">
            <input type="checkbox" id="WFD01210FAADMIN_USERPROFILE" name="WFD01210FAADMIN_USERPROFILE" style="height:24px; width:24px; margin-right:5px;">
            FA-Admin
        </div>
    </div>


    <div class="form-group">
        <div class="col-sm-2"></div>
        <div class="col-sm-3" style="line-height:2;margin-top:3px;">
            <input type="checkbox" id="WFD01210AEC_General_Manager_USERPROFILE" name="WFD01210AEC_General_Manager_USERPROFILE" style="height:24px; width:24px; margin-right:5px;">
            AEC General Manager
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-2"></div>
        <div class="col-sm-3" style="line-height:2;margin-top:3px;">
            <input type="checkbox" id="WFD01210AEC_Manager_USERPROFILE" name="WFD01210AEC_Manager_USERPROFILE" style="height:24px; width:24px; margin-right:5px;">
            AEC Manager
        </div>
        <div id="aecManager" style="display:none">
            <label for="WFD01210AECUser_USERPROFILE" class="col-sm-1 control-label aec-user">AEC User:</label>
            <div class="col-sm-3 aec-user">
                @Html.AECUserCombobox("WFD01210AECUser_USERPROFILE", @ViewBag.SYS_EMP_CODE as string, new { multiple = "multiple", @class = "form-control" })
            </div>
        </div>

    </div>
    <div class="form-group">
        <div class="col-sm-2"></div>
        <div class="col-sm-3" style="line-height:2;margin-top:3px;">
            <input type="checkbox" id="WFD01210AEC_User_USERPROFILE" name="WFD01210AEC_User_USERPROFILE" style="height:24px; width:24px; margin-right:5px;">
            AEC User
        </div>
    </div>
    <div class="form-group" style="display: none">
        <div class="col-sm-2"></div>
        <div class="col-sm-3" style="line-height:2;margin-top:3px;">
            <input type="checkbox" id="WFD01210AEC_User_For_Response_CC_USERPROFILE" name="WFD01210AEC_User_For_Response_CC_USERPROFILE" style="height:24px; width:24px; margin-right:5px;">
            AEC User for response cost center
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-2"></div>
        <div class="col-sm-3" style="line-height:2;margin-top:3px;">
            <input type="checkbox" id="WFD01210FA_Supervisor_USERPROFILE" name="WFD01210FA_Supervisor_USERPROFILE" style="height:24px; width:24px; margin-right:5px;">
            FA Supervisor
        </div>
        <div id="faSupervisor" class="col-sm-2">
            <input type="button" id="WFD01210BtnResponse_Cost_Center" name="WFD01210BtnResponse_Cost_Center" class="btn btn-info" style = "width:150px"  value="Response Cost Center" disabled/>
        </div>
        <input type="text" id="WFD01210txtResponse_Cost_Center" name="WFD01210txtResponse_Cost_Center" readonly="readonly" class="hide" />

    </div>
    <div class="form-group">
        <div class="col-sm-2"></div>
        <div class="col-sm-3" style="line-height:2;margin-top:3px;">
            <input type="checkbox" id="WFD01210FA_Window_USERPROFILE" name="WFD01210FA_Window_USERPROFILE" style="height:24px; width:24px; margin-right:5px;">
            FA Window
        </div>
        <div id="faWindow" class="col-sm-2">
            <input type="button" id="WFD01210BtnCost_Center" name="WFD01210BtnCost_Center" class="btn btn-info" style="width:150px" value="Cost Center" disabled/>
        </div>
        <input type="text" id="WFD01210txtCost_Center" name="WFD01210txtCost_Center" readonly="readonly" class="hide" />
    </div>


    <div class="form-group" style="padding-top:10px;">
        <label class="col-sm-2 control-label">Special Team:</label>
        <div class="col-sm-10" style="line-height:2;">
            @if (ViewBag.SPEC_DIV != "")
            {
                string[] arr = ViewBag.SPEC_DIV.ToString().Split(',');

                foreach (var item in arr)
                {
                    if (item == string.Empty)
                    {
                        continue;
                    }

                    var _code = item.Split('|')[0];
                    var _value = item.Split('|')[1];

                    <input type="checkbox" id="SPECIAL_TEAM_USERPROFILE_@item" name="SPECIAL_TEAM_USERPROFILE[]" value="@_code" style="height:24px; width:24px;"> @_value


                }
            }
        </div>
    </div>
    <div class="form-group"  style="display:none" >
        <label class="col-sm-2 control-label">In Charge Cost Center:</label>
        <div class="col-sm-1">
            @Html.Button("WFD01210Setup", "Setup", new { @class = "btn btn-info", type = "button" })
        </div>
        <div class="col-sm-6">
            <input type="text" id="WFD01210SetupText_USERPROFILE" name="WFD01210SetupText_USERPROFILE" class="form-control" readonly="readonly" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Email Address:</label>
        <div class="col-sm-7">
            <input type="text" id="WFD01210Email_USERPROFILE" name="WFD01210Email_USERPROFILE" class="form-control" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Tel No.:</label>
        <div class="col-sm-3">
            <input type="text" id="WFD01210Mobile_USERPROFILE" name="WFD01210Mobile_USERPROFILE" class="form-control" maxlength = "60"/>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Electronic Signature:</label>
        <div class="col-sm-3">
            <img id="Image_Priview" style="width:214.5px;height:80px;" class="displayed" src="@ViewBag.DafaultImage" />
            <input type="file" style="display:none" id="SIGNATURE" name="SIGNATURE" />
        </div>
        <div class="col-sm-3">
            <div class="form-group" style="margin-left:2px;">
                <button id="WFD01210Upload" class="btn btn-info"><i class="fa fa-upload"></i> Upload</button>
                @*@Html.Button("WFD01210Upload", "Upload", new { @class = "btn btn-info", type = "button" }, TagHelper.BUTTON_TYPES.UPLOAD)*@
            </div>
            <div class="form-group" style="margin-left:2px;">
                <button id="WFD01210ClearPreview" class="btn btn-warning" style="width:75.81px"><i class="fa fa-repeat"></i> Clear</button>
                @*@Html.Button("WFD01210ClearPreview", "Clear", new { @class = "btn btn-warning", type = "button", style = "width:75.81px" }, TagHelper.BUTTON_TYPES.CLEAR)*@
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="WFD01210RESPONSIBILITY" class="col-sm-2 control-label">Delegation:</label>
        <div class="col-sm-3">
            @*<select class="form-control select2" id="WFD01210DELEGATION_USERPROFILE" name="WFD01210DELEGATION_USERPROFILE">
                    '
                </select>*@

            @Html.WFD01210DelegationUserProfileCombobox("WFD01210DELEGATION_USERPROFILE", @ViewBag.EMP_CODE as string, new { @class = "form-control select2" })
        </div>
        <div class="col-sm-2">
            <div class="input-group date">
                <input type="text" class="form-control datepicker datefrom" id="DELEGATE_FROM_USERPROFILE" name="DELEGATE_FROM_USERPROFILE" placeholder="From">
                <div class="input-group-addon date-picker-icon" onclick="ClickIconDate('DELEGATE_FROM_USERPROFILE')">
                    <i class="fa fa-calendar"></i>
                </div>
            </div>
        </div>
        <label class="col-sm-1 text-center">-</label>
        <div class="col-sm-2">
            <div class="input-group date">
                <input type="text" class="form-control datepicker dateto" id="DELEGATE_TO_USERPROFILE" name="DELEGATE_TO_USERPROFILE" placeholder="To">
                <div class="input-group-addon date-picker-icon" onclick="ClickIconDate('DELEGATE_TO_USERPROFILE')">
                    <i class="fa fa-calendar"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-12">
            <div class="button-box navbar-right">
                @Html.Button("WFD01210Save", "Save", new { @class = "btn btn-success", type = "button" }, TagHelper.BUTTON_TYPES.SAVE)
                @Html.Button("WFD01210Cancel", "Cancel", new { @class = "btn btn-warning", type = "button" }, TagHelper.BUTTON_TYPES.CANCEL)
                @Html.Button("WFD01210Close", "Close", new { @class = "btn btn-warning", type = "button" }, TagHelper.BUTTON_TYPES.CLOSE)
            </div>
        </div>
    </div>
</div>