﻿<style>
    .RetiredRead {
        background-color: rgba(221, 75, 57, 0.8);
        color: #333;
    }

    .btn-white {
        background-color: white;
        color: black;
    }

    .btn-view-file {
        background-color: white;
        color: black;
        padding-right: 5px;
        display: inline-block;
        border-color: black;
    }

    .inlineBlock {
        display: inline-block;
    }

    .OracleSentGray {
        background-color: #f5f5f5;
    }

    .fasWarningPopup {
        border-radius: 3px;
        margin: 0px;
        padding: 15px 30px 15px 15px;
        border-left: 5px solid #db8b0b !important;
    }

    .fasdangerPopup {
        /*border-radius: 3px;*/
        /*margin: 00px 10px 0px 10px;*/
        padding: 5px 8px 5px 8px;
        /*border-left: 5px solid #d33724 !important;
        border-color:#d33724 !important;*/
        margin-top: -1px;
    }

    .btn-del-file {
        display: inline-block;
        margin-left: 5px;
    }

    .Radius24 {
        border-radius: 24px;
    }

    p {
        margin: 0px;
    }

    .btn > i {
        margin-right: 0px;
    }

    .table-thead-center th {
        text-align: center;
    }

    .disabled2510 {
        background-color: #f5f5f5;
        cursor: not-allowed;
    }

    .RetiredRead a {
        /*color:#333;*/
    }

    .form-control-edit {
        height: 28px;
        padding: 4px 6px;
        background-color: #f5f5f5;
        border: 1px solid #ccc;
        text-align: right;
    }
@*</style>

<style>*@
    /*#Photo {
        width: 100%;
        margin: 0 auto;
        padding: 0px;
        font-family: helvetica;
        background-color: #0B3861;
    }

    #wrapper {
        text-align: center;
        margin: 0 auto;
        padding: 0px;
        width: 400px;
    }

    #output_image {
        max-width: 150px;
    }*/
</style>
@Html.Partial("../WFD02510/DisposalBy")
@Html.Partial("../WFD02510/DisposalType")
<div class="box box-primary" id="WFD02510_SearchDataRow">
    <div class="box-header with-border">
        <h3 class="box-title">Assets List</h3>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                <i class="fa fa-minus"></i>
            </button>
        </div>
    </div>
    <div class="box-body">
        <div class="row">
            <div class="row">
                <div class="col-sm-6">
                    @Html.Button("btnRequestUpload", "Excel Upload", new { @class = "btn btn-info", tabindex = "2" }, TagHelper.BUTTON_TYPES.UPLOAD)
                    @Html.Button("btnRequestDownload", "Excel Download", new { @class = "btn btn-info", tabindex = "3" }, TagHelper.BUTTON_TYPES.DOWNLOAD)
                </div>
                <div class="col-sm-6">

                </div>
                <div class="col-sm-6 text-right">
                    @Html.Button("btnRequestAdd", "Add ", new { @class = "btn btn-info", tabindex = "4" }, TagHelper.BUTTON_TYPES.ADD)
                    @Html.Button("btnRequestClear", "Clear ", new { @class = "btn btn-warning", tabindex = "5" }, TagHelper.BUTTON_TYPES.CLEAR)
                </div>
            </div>

            <div class="col-sm-6">
                <div class="col-sm-5">
                    <div class="form-group">
                        <div class="col-sm-6 text-right">
                            @*<button id="WFD02510PrintAddAssets" class="btn btn-info" tabindex="4"><i class="fa fa-print"></i> Print</button>*@
                            @*@Html.Button("btnRequestExport", "Export to Excel ", new { @class = "btn btn-info", tabindex = "7" }, TagHelper.BUTTON_TYPES.EXPORT)*@
                            @*@Html.Button("WFD02510AddAssets", "Add ", new { @class = "btn btn-info", tabindex = "4" }, TagHelper.BUTTON_TYPES.ADD)
                                @Html.Button("WFD02510Clear", "Clear ", new { @class = "btn btn-warning", tabindex = "4" }, TagHelper.BUTTON_TYPES.CLEAR)
                                @Html.Button("WFD02510ExportToExcel", "Export to Excel ", new { @class = "btn btn-info", tabindex = "4" }, TagHelper.BUTTON_TYPES.EXPORT)*@
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                @*<input id="WFD02510_MASS_DISPOSAL" type="checkbox" onclick="WFD02510SetCheckBox('#WFD02510_MASS_DISPOSAL', '#WFD02510_NORMAL_DISPOSAL')" style="width:25px;height:24px;" />  Mass Disposal*@
            </div>
            <div class="row" id="WFD02510_SearchResult">
                <div class="col-lg-12">
                    <div class="table-responsive">
                        <table id="tbSearchResult" class="table table-bordered table-striped table-hover table-thead-center"
                               style="margin-top: 10px; font-size:10px; border-radius: 3px;">
                            <thead style="height:25px; background-color:rgba(236, 240, 245, 1);">
                                <tr>
                                    @*<th style="width: 25px;"></th>
                                        <th style="width: 25px;">No</th>
                                        <th style="width: 80px;">Asset No</th>
                                        <th style="width: 120px;">Asset Name</th>
                                        <th style="width: 50px;">Type</th>
                                        <th style="width: 80px;">Capitalize Date</th>
                                        <th style="width: 80px;">Cost Value</th>
                                        <th style="width: 80px;">Amount Posted</th>
                                        <th style="width: 80px;">Reason</th>
                                        <th style="width: 60px;">Status</th>
                                        <th style="width: 25px;"></th>*@
                                    <th style="min-width: 10px;"></th>
                                    <th style="min-width: 10px;">No</th>
                                    @*<th style="width: 25px;">DOC_NO</th>
                                        <th style="width: 25px;">DISP_TYPE </th>
                                        <th style="width: 25px;">COMPANY</th>*@
                                    <th style="min-width: 120px;">Asset No</th>
                                    @*<th style="width: 25px;">ASSET_SUB</th>*@
                                    <th style="min-width: 150px;">Asset Name</th>
                                    <th style="min-width: 120px;">Date In Service</th>
                                    @*<th style="width: 25px;">RETIRE</th>
                                        <th style="width: 25px;">QTY,*@
                                    <th style="width: 25px;">Cost</th>
                                    <th style="width: 80px;">Book Value</th>
                                    <th style="width: 25px;">Retire</th>
                                    @*<th style="width: 25px;">RETIRE_BOOK_VALUE</th>
                                        <th style="width: 25px;">ACCUM_DEPREC</th>
                                        <th style="width: 25px;">USEFUL_LIFE</th>*@
                                    <th style="min-width: 180px;">Reason</th>
                                    <th style="min-width: 10px;">Photo</th>
                                    <th style="width: 25px;">Countermeasurement</th>
                                    <th style="width: 25px;">BOI</th>
                                    <th style="width: 25px;">BOI No</th>
                                    <th style="width: 25px;">BOI Document</th>
                                    <th style="width: 25px;">Store</th>
                                    <th style="width: 25px;">Info</th>
                                    @*<th style="width: 25px;">SOLD_TO</th>
                                        <th style="width: 25px;">PRICE</th>
                                        <th style="width: 25px;">INVOICE_NO</th>
                                        <th style="width: 25px;">DETAIL_DATE</th>
                                        <th style="width: 25px;">REMOVAL_COST</th>
                                        <th style="width: 25px;">DETAIL_ATTACH</th>
                                        <th style="width: 25px;">DETAIL_REMARK</th>
                                        <th style="min-width: 180px;">DISP_REASON</th>
                                        <th style="width: 25px;">LOSS_COUNTER_MEASURE</th>
                                        <th style="width: 25px;">COMPENSATION</th>
                                        <th style="width: 25px;">DELETE_FLAG</th>*@
                                    <th style="width: 25px;">Status</th>
                                    @*<th style="width: 25px;">ASSET_GROUP</th>*@
                                    <th style="min-width: 10px;"></th>
                                </tr>
                            </thead>
                        </table>

                        @*<table id="WFD02510_SearchResultTable" class="table table-bordered table-striped table-hover table-thead-center"
                                   style="margin-top: 10px; font-size:12px; border-radius: 3px;">
                                <thead style="height:40px; background-color:rgba(236, 240, 245, 1);">
                                    <tr>
                                        <th style="min-width: 5px;">No</th>
                                        <th style="min-width: 90px;">Asset No</th>
                                        <th style="min-width: 150px;">Asset Name</th>
                                        <th style="min-width: 55px;">Date In<br />Service</th>
                                        <th style="min-width: 65px;">Qty</th>
                                        <th style="min-width: 65px;">Cost</th>
                                        <th style="min-width: 65px;">Book Value</th>
                                        <th style="min-width: 120px">Disposal Reason</th>
                                        <th>% Retire</th>
                                        <th style="min-width: 50px;">Photo</th>
                                        <th style="min-width: 50px">BOI</th>
                                        <th style="min-width: 70px;">BOI No</th>
                                        <th style="min-width: 50px;">BOI Doc</th>
                                        <th style="min-width: 60px">Store</th>
                                        <th style="min-width: 50px;">Store Doc</th>
                                        <th style="min-width: 60px;">Keep By</th>
                                        <th style="min-width: 40px;">Receive</th>
                                        <th style="min-width: 60px;">Sale Process</th>
                                        <th style="min-width: 50px">Sale<br />Info</th>
                                        <th></th>
                                        <th style="min-width: 90px;">Status</th>
                                    </tr>
                                </thead>
                            </table>*@
                    </div>
                </div>
            </div>
            <div class="row">
                <input id="WFD02510FileUploadFile" type="file" class="form-control" style="display:none" />
            </div>
            <div class="row">
                <div id="WFD02510RemarkGenerate" class="col-lg-12" style="display:none;">
                    <div class="form-group" style="padding-right:16px; color:#e08e0b; text-align:right">
                        <p>Remark: If you want to edit data in asset list, please click Reset Approver List.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="WFD02510_SaleInfoSub" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" style="width:520px; margin: 80px auto;">
            <div class="modal-content Radius12" style="width:700px;">
                <div class="modal-header RadiusTop12 HeaderModel">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Sale Info Sub Screen</h4>
                </div>
                <div class="fasdangerPopup alert alert-dismissible" id="WFD02510MessageAlert" style="display:none">
                </div>
                <div class="modal-body">
                    <div class="form-horizontal">
                        @Html.CommonTextBox("WFD02510_ROW_INDEX_EDIT", null, new { @class = "form-control require", style = "width: 100%; display: none;", maxlength = "40" })
                        @Html.CommonTextBox("WFD02510_ROW_INDEX_FOCUS", null, new { @class = "form-control require", style = "width: 100%; display: none;", maxlength = "90" })
                        @Html.CommonTextBox("WFD02510_COST_CODE_TEMP", null, new { @class = "form-control require", style = "width: 100%; display: none;", maxlength = "40" })
                        @Html.CommonTextBox("WFD02510_ASSET_NO_TEMP", null, new { @class = "form-control require", style = "width: 100%; display: none;", maxlength = "40" })
                        <div class="form-group">
                            <label for="WFD02510_PURPOSE" class="col-sm-2 control-label">Purpose :</label>
                            <div class="col-sm-10">
                                @Html.DisposalPurposeReasonCombobox("WFD02510_PURPOSE", new { @class = "form-control require", style = "width: 100%;", tabindex = "7" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="WFD02510_SOLD_TO" class="col-sm-2 control-label">Sold to :</label>
                            <div class="col-sm-10">
                                @Html.CommonTextBox("WFD02510_SOLD_TO", null, new { @class = "form-control require", style = "width: 100%;", maxlength = "40", tabindex = "7" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="WFD02510_PRICE" class="col-sm-2 control-label">Price :</label>
                            <div class="col-sm-3">
                                @Html.CommonTextBox("WFD02510_PRICE", null, new { @class = "form-control require", style = "width: 100%; text-align:right;", maxlength = "13", tabindex = "7" })
                            </div>
                            <label for="WFD02510_REMOVAL_COST" class="col-sm-4 control-label">Cost of Removal :</label>
                            <div class="col-sm-3">
                                @Html.CommonTextBox("WFD02510_REMOVAL_COST", null, new { @class = "form-control", style = "width: 100%; text-align:right;", maxlength = "20", tabindex = "7" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="WFD02510_INVOICE_NO" class="col-sm-2 control-label">Invoice NO :</label>
                            <div class="col-sm-3">
                                @Html.CommonTextBox("WFD02510_INVOICE_NO", null, new { @class = "form-control require", style = "width: 100%;", maxlength = "40", tabindex = "7" })
                            </div>
                            <label for="WFD02510_SALE_DATE" class="col-sm-4 control-label">Sale date :</label>
                            <div class="col-sm-3">
                                <div class="input-group date">
                                    @Html.TextBox("WFD02510_SALE_DATE", null, new { @class = "form-control datepicker require", maxlength = "11", tabindex = "7" })
                                    <span class="input-group-btn" style="cursor:pointer;">
                                        <button class="btn" id="WFD02510_SALE_DATE_BTN" onclick="ClickIconDate('WFD02510_SALE_DATE')" style="background-color:white;">
                                            <i class="fa fa-calendar"></i>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer RadiusBottom12 FooterModel">
                    <div class="form-group">
                        <button id="WFD02510_SALE_SUB_SAVE_BTN" class="btn btn-success" tabindex="7"><i class="fa fa-save"></i>  Save </button>
                        <button id="WFD02510_SALE_SUB_CANCEL_BTN" class="btn btn-warning" tabindex="7"><i class="fa fa-close"></i>  Cancel </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="WFD02510_SetRetire" tabindex="1" role="dialog">
        <div class="modal-dialog" style="width:520px; margin: 80px auto;">
            <div class="modal-content Radius12" style="width:700px;">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title">% Retire</h4>
                </div>
                <div class="fasdangerPopup alert alert-dismissible" id="WFD02510MessageAlertRetire" style="display:none">
                </div>
                <div class="modal-body">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label for="WFD02510_PERCEN_RETIRE" class="col-sm-3 control-label">% Retire</label>
                            <div class="col-sm-9">
                                <input id="WFD02510_PERCEN_RETIRE" class="form-control" style="text-align:right" maxlength="10" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="form-group">
                        <button id="WFD02510_PERCEN_RETIRE_SAVE" class="btn btn-success"><i class="fa fa-save"></i>  Save </button>
                        <button id="WFD02510_PERCEN_RETIRE_CANCEL" class="btn btn-warning"><i class="fa fa-close"></i>  Cancel </button>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="modal fade" id="WFD02510_SetOtherReason" tabindex="1" role="dialog">
        <div class="modal-dialog" style="width:520px; margin: 80px auto;">
            <div class="modal-content Radius12" style="width:700px;">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title">Disposal Reason (Other)</h4>
                </div>
                <div class="fasdangerPopup alert alert-dismissible" id="WFD02510MessageAlertReasonOther" style="display:none">
                </div>
                <div class="modal-body">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <input id="WFD02510_DISP_REASON_OTHER" class="form-control require" style="width:100%" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="form-group">
                        <button id="WFD02510_DISP_REASON_OTHER_SAVE" class="btn btn-success"><i class="fa fa-save"></i>  Save </button>
                        <button id="WFD02510_DISP_REASON_OTHER_CANCEL" class="btn btn-warning"><i class="fa fa-close"></i>  Cancel </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="WFD02510_SetSaleReason" tabindex="1" role="dialog">
        <div class="modal-dialog" style="width:520px; margin: 80px auto;">
            <div class="modal-content Radius12" style="width:700px;">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title">Disposal Reason (Customer Order)</h4>
                </div>
                <div class="fasdangerPopup alert alert-dismissible" id="WFD02510MessageAlertReasonSale" style="display:none">
                </div>
                <div class="modal-body">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <input id="WFD02510_DISP_REASON_SALE" class="form-control require" style="width:100%" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="form-group">
                        <button id="WFD02510_DISP_REASON_SALE_SAVE" class="btn btn-success"><i class="fa fa-save"></i>  Save </button>
                        <button id="WFD02510_DISP_REASON_SALE_CANCEL" class="btn btn-warning"><i class="fa fa-close"></i>  Cancel </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div id="myModalCost" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Retirement Cost Information</h4>
                </div>
                <div class="modal-body">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label for="WFD02510_COST_VALUE" class="col-sm-2 control-label">Cost Value :</label>
                            <div class="col-sm-10 text-left">
                                @Html.CommonTextBox("WFD02510_COST_VALUE", null, new { @class = "form-control require text-right", style = "width: 50%;", maxlength = "40", tabindex = "1" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="WFD02510_BOOK_VALUE" class="col-sm-2 control-label">Book Value :</label>
                            <div class="col-sm-10 text-left">
                                @Html.CommonTextBox("WFD02510_BOOK_VALUE", null, new { @class = "form-control require text-right", style = "width: 50%;", maxlength = "40", tabindex = "2" })
                            </div>
                        </div>
                        <div class="form-group">
                            @*<div class="radio">*@
                            <div class="col-sm-2 text-right">

                            </div>
                            <div class="col-sm-2 text-right">
                                <input id="WFD02510_Retire_Quantity" type="radio" name="Retire" style="width:25px;height:24px;" value="quantity" checked />
                            </div>
                            <div class="col-sm-2 text-leftn">
                                <label class="control-label"> Quantity</label>
                            </div>
                            <div class="col-sm-3 text-left">
                                @Html.CommonTextBox("WFD02510_Retire_Quantity_TXT", null, new { @class = "form-control require text-right", style = "width: 100%;", maxlength = "2", tabindex = "3" })
                            </div>
                            <div class="col-sm-2 text-left">
                                <label class="control-label">of 10</label>
                            </div>
                            @*</div>*@
                        </div>
                        <div class="form-group">
                            @*<div class="radio">*@
                            <div class="col-sm-2 text-right">

                            </div>
                            <div class="col-sm-2 text-right">
                                <input id="WFD02510_Retire_Percentage" type="radio" name="Retire" style="width:25px;height:24px;" value="percentage" />
                            </div>
                            <div class="col-sm-2 text-left">
                                <label class="control-label"> Percentage</label>
                            </div>
                            <div class="col-sm-3 text-left">
                                @Html.CommonTextBox("WFD02510_Retire_Percentage_TXT", null, new { @class = "form-control require text-right", style = "width: 100%;", maxlength = "3", tabindex = "4" })
                            </div>
                            <div class="col-sm-2 text-left">
                                <label class="control-label"> of 100%</label>
                            </div>
                        </div>
                        @*</div>*@
                    </div>
                </div>
                <div class="modal-footer">
                    @Html.CommonTextBox("WFD02510_RETIRE_ASSETNO", null, new { @class = "form-control require", style = "width: 100%; display: none;", maxlength = "40" })
                    @Html.CommonTextBox("WFD02510_RETIRE_ASSTSUB", null, new { @class = "form-control require", style = "width: 100%; display: none;", maxlength = "40" })
                    @Html.CommonTextBox("WFD02510_RETIRE_DOCNO", null, new { @class = "form-control require", style = "width: 100%; display: none;", maxlength = "40" })
                    @Html.Button("btnRetireSave", "Save ", new { @class = "btn btn-info", tabindex = "5" }, TagHelper.BUTTON_TYPES.SAVE)
                    @Html.Button("btnRetireCancel", "Cancel ", new { @class = "btn btn-warning", tabindex = "6" }, TagHelper.BUTTON_TYPES.CANCEL)
                </div>
            </div>
        </div>
    </div>

    <div id="myModalPhoto" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Photo of 100076083 : BENDING 8 DIA</h4>
                </div>
                <div class="modal-body" id="Photo">
                    <div class="form-horizontal">
                        <div class="col-sm-12 text-right" style="display:inline-block">
                            @Html.Button("btnRequestPHOTOUpload", "Upload", new { @class = "btn btn-info", tabindex = "2"  }, TagHelper.BUTTON_TYPES.UPLOAD)
                            <input id="btnPhotoupload" type="file" accept="image/*" onchange="preview_image(event)" class = "btn btn-info fa fa-download" style="display: none;">
                        </div>
                        <div id="wrapper">
                            @*<button type="button" class="close" data-dismiss="modal">&times;</button>
                            <img id="output_image" />*@
                        </div>

                            @Html.CommonTextBox("WFD02510_PHOTO_ASSETNO", null, new { @class = "form-control require", style = "width: 100%; display: none;", maxlength = "40" })
                            @Html.CommonTextBox("WFD02510_PHOTO_ASSTSUB", null, new { @class = "form-control require", style = "width: 100%; display: none;", maxlength = "40" })
                            @Html.CommonTextBox("WFD02510_PHOTO_DOCNO", null, new { @class = "form-control require", style = "width: 100%; display: none;", maxlength = "40" })
                    </div>
                </div>
                <div class="modal-footer">
                    @Html.Button("btnPhotoClose", "Close ", new { @class = "btn btn-warning", tabindex = "5" }, TagHelper.BUTTON_TYPES.CLOSE)
                </div>
            </div>
        </div>
    </div>

    <div id="myModalMeasure" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Countermeasure</h4>
                </div>
                <div class="modal-body">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <div class="col-sm-6">
                                <label class="col-sm-6 control-label">User Countermeasure</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12" style="display:inline-block">
                                <div class="col-sm-6">
                                    <p class="inlineBlock" title="" data-original-title="View File" data-toggle="tooltip" data-placement="top">
                                        <a class="btn btn-sm btn-view-file" id="WFD02510_ATTACH_COUNTERMEASURE_VIEW" href="#" target="_blank">
                                            <span class="glyphicon glyphicon-paperclip">data-file01.doc</span>
                                        </a>
                                    </p>
                                </div>
                                @*<a id="WFD02510_ATTACH_COUNTERMEASURE_DOWNLOAD" href="#" target="_blank" class="btn btn-info" style = "display: none;"><i class="fa fa-download"></i> Download </a>*@
                                @*@Html.CommonTextBox("WFD02510_LOSS_COUNTER_MEASURE", null, new { @class = "form-control require", style = "width: 100%; display: none;" })*@
                                <div class="col-sm-6">
                                    <button id="WFD02510_ATTACH_COUNTERMEASURE_BTN" type="button" class="btn btn-info text-right" onclick="WFD02510_ClickUploadFile('LC')">
                                        <i class="fa fa-upload"></i> Upload
                                    </button>
                                </div>
                                @*<input id="WFD02510_ATTACH_COUNTERMEASURE_FILE" type="file" class="form-control" style="display:none" onchange="WFD02510_SetButtonAndUploadFile('WFD02510_ATTACH_COUNTERMEASURE_FILE', 'WFD02510_ATTACH_COUNTERMEASURE_BTN', 'WFD02510_ATTACH_COUNTERMEASURE_DEL', 'LC', 'WFD02510_ATTACH_COUNTERMEASURE_VIEW', 'WFD02510_ATTACH_COUNTERMEASURE_DOWNLOAD');" />
                                    <button id="WFD02510_ATTACH_COUNTERMEASURE_DEL" type="button" style="display:none;" class="btn btn-warning" onclick="WFD02510_SetButtonAndDeleteFileUpload('WFD02510_ATTACH_COUNTERMEASURE_FILE', 'WFD02510_ATTACH_COUNTERMEASURE_BTN', 'WFD02510_ATTACH_COUNTERMEASURE_DEL', 'LC', 'WFD02510_ATTACH_COUNTERMEASURE_VIEW', 'WFD02510_ATTACH_COUNTERMEASURE_DOWNLOAD')"><i class="fa fa-remove"></i> Remove File </button>*@
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        พิจารณาความผิด User
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-2 text-right">
                                        <input id="WFD02510_USER_MISTAKE_FLAG_Y" type="radio" name="measure" style="width:25px;height:24px;" onclick="WFD02510SetCheckBox('#WFD02510_USER_MISTAKE_FLAG_Y', '#WFD02510_USER_MISTAKE_FLAG_N')" />
                                    </div>
                                    <div class="col-sm-5 text-left">
                                        <label class="control-label">เป็นความผิดของ user และให้จ่ายเงินชดใช้</label>
                                    </div>
                                    <div class="col-sm-5 text-left">
                                        @Html.CommonTextBox("WFD02510_COUNTERMEASURE", null, new { @class = "form-control", style = "width: 60%; text-align:left;", tabindex = "1", maxlength = "18" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-2 text-right">
                                        <input id="WFD02510_USER_MISTAKE_FLAG_N" type="radio" name="measure" style="width:25px;height:24px;" onclick="WFD02510SetCheckBox('#WFD02510_USER_MISTAKE_FLAG_N', '#WFD02510_USER_MISTAKE_FLAG_Y')" />
                                    </div>
                                    <div class="col-sm-5 text-left">
                                        <label class="control-label">ไม่ใช่ความผิดของ user</label>
                                    </div>
                                    <div class="col-sm-5 text-left">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    @Html.Button("btnMeasureSave", "Save ", new { @class = "btn btn-info", tabindex = "4" }, TagHelper.BUTTON_TYPES.SAVE)
                    @Html.Button("btnMeasureCancel", "Cancel ", new { @class = "btn btn-warning", tabindex = "5" }, TagHelper.BUTTON_TYPES.CANCEL)
                </div>
            </div>
        </div>
    </div>

    <div id="myModalBoiDocument" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">BOI of 100076083 : BENDING 8 DIA</h4>
                </div>
                <div class="modal-body">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Documents</label>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">

                            </div>
                            <div class="col-sm-6">

                            </div>
                            <div class="col-sm-6 text-right">
                                @Html.Button("btnBoiDocumentUpload", "Upload", new { @class = "btn btn-info", tabindex = "2" }, TagHelper.BUTTON_TYPES.UPLOAD)
                                @Html.Button("btnBoiDocumentDownload", "Download", new { @class = "btn btn-info", tabindex = "3" }, TagHelper.BUTTON_TYPES.DOWNLOAD)
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    @Html.Button("btnBoiDocumentSave", "Save ", new { @class = "btn btn-info", tabindex = "4" }, TagHelper.BUTTON_TYPES.SAVE)
                    @Html.Button("btnBoiDocumentCancel", "Cancel ", new { @class = "btn btn-warning", tabindex = "5" }, TagHelper.BUTTON_TYPES.CANCEL)
                </div>
            </div>
        </div>
    </div>

    <div id="myModalDonationInfo" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Donation Info of 100076083 : BENDING 8 DIA</h4>
                </div>
                <div class="modal-body">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label for="WFD02510_DONATION_DATE" class="col-sm-2 control-label">Donation Date :</label>
                            <div class="col-sm-8">
                                <div class="input-group date">
                                    @Html.TextBox("WFD02510_DONATION_DATE", null, new { @class = "form-control datepicker require", maxlength = "11", tabindex = "7" })
                                    <span class="input-group-btn" style="cursor:pointer;">
                                        <button class="btn" id="WFD02510_DONATION_DATE_BTN" onclick="ClickIconDate('WFD02510_DONATION_DATE')" style="background-color:white;">
                                            <i class="fa fa-calendar"></i>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">Document :</label>
                            <div class="col-sm-10">
                                @Html.Button("btnDonationInfoUpload", "Upload", new { @class = "btn btn-info", tabindex = "2" }, TagHelper.BUTTON_TYPES.UPLOAD)
                                @Html.Button("btnDonationInfoDownload", "Download", new { @class = "btn btn-info", tabindex = "3" }, TagHelper.BUTTON_TYPES.DOWNLOAD)
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">Remark :</label>
                            <div class="col-sm-10">
                                @Html.CommonTextBox("WFD02510_DONATION_REMARK", null, new { @class = "form-control require text-left", style = "width: 80%;", maxlength = "40", tabindex = "2" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    @Html.Button("btnDonationInfoSave", "Save ", new { @class = "btn btn-info", tabindex = "4" }, TagHelper.BUTTON_TYPES.SAVE)
                    @Html.Button("btnDonationInfoCancel", "Cancel ", new { @class = "btn btn-warning", tabindex = "5" }, TagHelper.BUTTON_TYPES.CANCEL)
                </div>
            </div>
        </div>
    </div>

    <div id="myModalScrappingInfo" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Scrapping  Info of 100076083 : BENDING 8 DIA</h4>
                </div>
                <div class="modal-body">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label for="WFD02510_SCRAPPING_DATE" class="col-sm-3 control-label">Scrapping Date :</label>
                            <div class="col-sm-8">
                                <div class="input-group date">
                                    @Html.TextBox("WFD02510_SCRAPPING_DATE", null, new { @class = "form-control datepicker require", maxlength = "11", tabindex = "7" })
                                    <span class="input-group-btn" style="cursor:pointer;">
                                        <button class="btn" id="WFD02510_SCRAPPING_DATE_BTN" onclick="ClickIconDate('WFD02510_SCRAPPING_DATE')" style="background-color:white;">
                                            <i class="fa fa-calendar"></i>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">Photo :</label>
                            <div class="col-sm-10">
                                @Html.Button("btnScrappingInfoUpload", "Upload", new { @class = "btn btn-info", tabindex = "2" }, TagHelper.BUTTON_TYPES.UPLOAD)
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">Remark :</label>
                            <div class="col-sm-10">
                                @Html.CommonTextBox("WFD02510_SCRAPPING_REMARK", null, new { @class = "form-control require text-left", style = "width: 80%;", maxlength = "40", tabindex = "2" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    @Html.Button("btnScrappingInfoSave", "Save ", new { @class = "btn btn-info", tabindex = "4" }, TagHelper.BUTTON_TYPES.SAVE)
                    @Html.Button("btnScrappingInfoCancel", "Cancel ", new { @class = "btn btn-warning", tabindex = "5" }, TagHelper.BUTTON_TYPES.CANCEL)
                </div>
            </div>
        </div>
    </div>

    <div id="myModalSalesInfo" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Sales Info of 100076083 : BENDING 8 DIA</h4>
                </div>
                <div class="modal-body">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Sold To :</label>
                            <div class="col-sm-8">
                                @Html.CommonTextBox("WFD02510_SALE_SOLD_TO", null, new { @class = "form-control require text-left", style = "width: 80%;", maxlength = "40", tabindex = "2" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="WFD02510_SALE_DATE" class="col-sm-2 control-label">Sale Date :</label>
                            <div class="col-sm-8">
                                <div class="input-group date">
                                    @Html.TextBox("WFD02510_SALE_DATE", null, new { @class = "form-control datepicker require", maxlength = "11", tabindex = "7" })
                                    <span class="input-group-btn" style="cursor:pointer;">
                                        <button class="btn" id="WFD02510_SALE_DATE_BTN" onclick="ClickIconDate('WFD02510_SALE_DATE')" style="background-color:white;">
                                            <i class="fa fa-calendar"></i>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">Invoice No :</label>
                            <div class="col-sm-10">
                                @Html.CommonTextBox("WFD02510_INVOICE_NO", null, new { @class = "form-control require text-left", style = "width: 80%;", maxlength = "40", tabindex = "2" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">Price :</label>
                            <div class="col-sm-10">
                                @Html.CommonTextBox("WFD02510_PRICE", null, new { @class = "form-control require text-right", style = "width: 80%;", maxlength = "40", tabindex = "2" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-5 control-label">Cost of Removal :</label>
                            <div class="col-sm-10">
                                @Html.CommonTextBox("WFD02510_COST_OF_REMOVAL", null, new { @class = "form-control require text-right", style = "width: 80%;", maxlength = "40", tabindex = "2" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">Remark :</label>
                            <div class="col-sm-10">
                                @Html.CommonTextBox("WFD02510_SALE_REMARK", null, new { @class = "form-control require text-left", style = "width: 80%;", maxlength = "40", tabindex = "2" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    @Html.Button("btnSalesInfoSave", "Save ", new { @class = "btn btn-info", tabindex = "4" }, TagHelper.BUTTON_TYPES.SAVE)
                    @Html.Button("btnSalesInfoCancel", "Cancel ", new { @class = "btn btn-warning", tabindex = "5" }, TagHelper.BUTTON_TYPES.CANCEL)
                </div>
            </div>
        </div>
    </div>


    <div id="myModalDisposalReason" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Disposal Reason (Other)</h4>
                </div>
                <div class="modal-body">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <div class="col-sm-10">
                                @Html.CommonTextBox("WFD02510_DisposalReason_Other", "Fill-in disposal reason", new { @class = "form-control", style = "width: 80%; text-align:center;", tabindex = "1", maxlength = "18" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    @Html.CommonTextBox("WFD02510_REASON_ASSETNO", null, new { @class = "form-control require", style = "width: 100%; display: none;", maxlength = "40" })
                    @Html.CommonTextBox("WFD02510_REASON_ASSTSUB", null, new { @class = "form-control require", style = "width: 100%; display: none;", maxlength = "40" })
                    @Html.CommonTextBox("WFD02510_REASON_DOCNO", null, new { @class = "form-control require", style = "width: 100%; display: none;", maxlength = "40" })
                    @Html.Button("btnDisposalReasonSave", "Save ", new { @class = "btn btn-info", tabindex = "4" }, TagHelper.BUTTON_TYPES.SAVE)
                    @Html.Button("btnDisposalReasonCancel", "Cancel ", new { @class = "btn btn-warning", tabindex = "5" }, TagHelper.BUTTON_TYPES.CANCEL)
                </div>
            </div>
        </div>
    </div>
</div>

@*@Html.Partial("../WFD02510/LossCase")*@
@Html.Partial("../WFD02510/MassDisposal")
@Html.Partial("../WFD02510/MinuteOfMeeting")
@Html.Partial("../WFD02190/Index")

