﻿<div class="box box-primary" id="WFD02510DisposalBy">
    <div class="box-header with-border">
        <div class="row">
            <div class="col-md-4"><h3 class="box-title">Request Asset Retirement By</h3></div>
            <div class="col-md-2" custom-control custom-checkbox">
                <input id="WFD02510_DISPOSAL_BY_SALE" type="checkbox" class="custom-control-input" tabindex="3" style="width:24px;height:24px;" value="SALES" />
                <label class="custom-control-label" for="WFD02510_DISPOSAL_BY_SALE">Sale</label>
            </div>
            <div class="col-md-2" custom-control custom-checkbox">
                <input id="WFD02510_DISPOSAL_BY_SCRAP" type="checkbox" class="custom-control-input" tabindex="3" style="width:24px;height:24px;" value="SCRAP" />
                <label class="custom-control-label" for="WFD02510_DISPOSAL_BY_SCRAP">Scrap</label>
            </div>
            <div class="col-md-2" custom-control custom-checkbox">
                <input id="WFD02510_DISPOSAL_BY_DONATE" type="checkbox" class="custom-control-input" tabindex="3" style="width:24px;height:24px;" value="DONATE" />
                <label class="custom-control-label" for="WFD02510_DISPOSAL_BY_DONATE">Donate</label>
            </div>
        </div>
    </div>
</div>
