﻿<div class="box box-primary" id="WFD02510DisposalType">
    <div class="box-header with-border">
        <div class="row">
            <div class="col-md-4"><h3 class="box-title">Approve Route Type</h3></div>
            <div class="col-md-2" custom-control custom-checkbox">
                <input id="WFD02510_NORMAL_DISPOSAL" type="checkbox" class="custom-control-input" tabindex="3" style="width:24px;height:24px;" value="N" />
                <label class="custom-control-label" for="WFD02510_NORMAL_DISPOSAL">Normal</label>
            </div>
            <div class="col-md-2" custom-control custom-checkbox">
                <input id="WFD02510_MASS_DISPOSAL" type="checkbox" class="custom-control-input" tabindex="3" style="width:24px;height:24px;" value="M" />
                <label class="custom-control-label" for="WFD02510_MASS_DISPOSAL">Mass</label>
            </div>
        </div>
    </div>
</div>
