﻿<style>
    p {
        margin: 0 0 0px !important;
    }
    .RetiredRead {
        background-color: rgba(221, 75, 57, 0.8);
        color: #333;
    }

    .btn-white {
        background-color: white;
        color: black;
    }
    .container {
        overflow-x: auto;
        white-space: nowrap;
    }
    .btn-view-file {
        background-color: white;
        color: black;
        padding-right: 5px;
        display: inline-block;
        border-color: black;
    }

    .inlineBlock {
        display: inline-block;
    }

    .OracleSentGray {
        background-color: #f5f5f5;
    }

    .fasWarningPopup {
        border-radius: 3px;
        margin: 0px;
        padding: 15px 30px 15px 15px;
        border-left: 5px solid #db8b0b !important;
    }

    .fasdangerPopup {
        /*border-radius: 3px;*/
        /*margin: 00px 10px 0px 10px;*/
        padding: 5px 8px 5px 8px;
        /*border-left: 5px solid #d33724 !important;
        border-color:#d33724 !important;*/
        margin-top: -1px;
    }

    .btn-del-file {
        display: inline-block;
        margin-left: 5px;
    }

    .Radius24 {
        border-radius: 24px;
    }

    p {
        margin: 0px;
    }

    .btn > i {
        margin-right: 0px;
    }

    .table-thead-center th {
        text-align: center;
    }

    .disabled2510 {
        background-color: #f5f5f5;
        cursor: not-allowed;
    }

    .RetiredRead a {
        /*color:#333;*/
    }

    .form-control-edit {
        height: 28px;
        padding: 4px 6px;
        background-color: #f5f5f5;
        border: 1px solid #ccc;
        text-align: right;
    }

    @*</style> <style>*@
    /*#Photo {
        width: 100%;
        margin: 0 auto;
        padding: 0px;
        font-family: helvetica;
        background-color: #0B3861;
    }

    #wrapper {
        text-align: center;
        margin: 0 auto;
        padding: 0px;
        width: 400px;
    }

    #output_image {
        max-width: 150px;
    }*/
</style>
@Html.Partial("../WFD02510/DisposalBy")
@Html.Partial("../WFD02510/DisposalType")
<script>
    var UrlWFD02510 = {
        //WFD02410
        //UpdateRetire: '@Url.Action("UpdateRetire", "WFD02510")',
        GetDisposalReason: '@Url.Action("WFD02510_GetDisposalReason", "WFD02510")',
        GetDisposalStore: '@Url.Action("WFD02510_GetStoreStatus", "WFD02510")',
        //UpdateReasonOther: '@Url.Action("UpdateReasonOther", "WFD02510")',
        GetRetirementHeader: '@Url.Action("GetRetirementHeader", "WFD02510")',
    }
    var URL_COMSCC = {
        //ITEM_PER_PAGE: '@ViewBag.COMSCC_ITEM_PER_PAGE',
        SEARCH_COST_CODE: '@Url.Action("COMSCC_Search", "COMSCC")',
        SET_INITIAL_PARAMETER: '@Url.Action("Index", "COMSCC")?AllCostCode=Y&AssetOwnerFlag=Y',
        DefaultCostCode: '@ViewBag.DefaultCostCode'
    }

    var Permission2510 = {
        RoleAllowMass: '@ViewBag.RoleAllowMass'
    }
</script>
<div class="box box-primary" id="WFD02510_SearchDataRow">
    <div class="box-header with-border">
        <h3 class="box-title">Assets List</h3>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                <i class="fa fa-minus"></i>
            </button>
        </div>
    </div>
    <div class="box-body">
        <div class="row">
            <div class="col-sm-6">
                @Html.WFD01170Button("btnRequestDownload", "Download Template ", new { @class = "btn btn-info", tabindex = "2" }, TagHelper.BUTTON_TYPES.DOWNLOAD)
                @Html.WFD01170Button("btnRequestUpload", "Upload Excel ", new { @class = "btn btn-warning", tabindex = "2" }, TagHelper.BUTTON_TYPES.UPLOAD)
            </div>
            <div class="col-sm-6 text-right">
                @Html.WFD01170Button("btnRequestAdd", "Add ", new { @class = "btn btn-info", tabindex = "4" }, TagHelper.BUTTON_TYPES.ADD)
                @Html.WFD01170Button("btnRequestClear", "Clear ", new { @class = "btn btn-warning", tabindex = "5" }, TagHelper.BUTTON_TYPES.CLEAR)
                @Html.WFD01170Button("btnRequestExport", "Export to Excel ", new { @class = "btn btn-info", tabindex = "2" }, TagHelper.BUTTON_TYPES.EXPORT)


            </div>
        </div>
        <div class="row">
            <div id="divSearchRequestResult" class="col-lg-12">
                <div class="table-responsive">
                    <table id="tbSearchResult" class="table table-bordered table-striped table-hover table-thead-center"
                           style="font-size:12px; border-radius: 3px;">
                        <thead style="height:40px; background-color:rgba(236, 240, 245, 1);">
                            <tr>
                                <th style="min-width: 10px; text-align:center;"><input id="WFD02510_SelectAll" type="checkbox" style="margin-top: 3px; height:20px; width:20px;" /></th>
                                <th style="min-width: 10px; text-align:center;">No.</th>
                                <th style="width: 80px; text-align:center;">Asset No.</th>
                                <th style="width: 50px; text-align:center;">Asset<br />Sub</th>
                                <th style="width: 150px; text-align:center;" ;">Asset Name</th>
                                <th style="width: 65px; text-align:center;">Date In<br />Service</th>
                                <th style="width: 50px; text-align:center;">Cost</th>
                                <th style="width: 50px; text-align:center;">Book Value</th>
                                <th style="width: 25px; text-align:center;">Retire</th>
                                <th style="min-width: 60px; text-align:center;">Reason</th>
                                <th style="width: 20px; text-align:center;">Photo</th>
                                <th style="width: 25px; text-align:center;">User<br />C/M</th>
                                <th style="width: 25px; text-align:center;">BOI</th>
                                <th style="min-width: 25px; text-align:center;">BOI No.</th>
                                <th style="width: 25px; text-align:center;">BOI<br />Doc</th>
                                <th style="min-width: 55px; text-align:center;">Store</th>
                                <th style="width: 25px; text-align:center;">Info</th>
                                <th style="min-width: 25px; text-align:center;">Status</th>
                                <th style="min-width: 25px; text-align:center;">Del</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>

        <div class="row">
            <div id="WFD02510RemarkGenerate" class="col-lg-12" style="display:none;">
                <div class="form-group" style="padding-right:16px; color:#e08e0b; text-align:right">
                    <p>Remark: If you want to edit data in asset list, please click Reset Approver List.</p>
                </div>
            </div>
        </div>

    </div>


    <div class="modal fade" id="WFD02510_SetRetire" tabindex="1" role="dialog">
        <div class="modal-dialog" style="width:520px; margin: 80px auto;">
            <div class="modal-content Radius12" style="width:700px;">
                <div class="modal-header HeaderModel">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title">% Retire</h4>
                </div>
                <div class="fasdangerPopup alert alert-dismissible" id="WFD02510MessageAlertRetire" style="display:none">
                </div>
                <div class="modal-body">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label for="WFD02510_PERCEN_RETIRE" class="col-sm-3 control-label">% Retire</label>
                            <div class="col-sm-9">
                                <input id="WFD02510_PERCEN_RETIRE" class="form-control" style="text-align:right" maxlength="10" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="form-group">
                        <button id="WFD02510_PERCEN_RETIRE_SAVE" class="btn btn-success"><i class="fa fa-save"></i>  Save </button>
                        <button id="WFD02510_PERCEN_RETIRE_CANCEL" class="btn btn-warning"><i class="fa fa-close"></i>  Cancel </button>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="modal fade" id="WFD02510_SetOtherReason" tabindex="1" role="dialog">
        <div class="modal-dialog" style="width:520px; margin: 80px auto;">
            <div class="modal-content Radius12" style="width:700px;">
                <div class="modal-header HeaderModel">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title">Retirement Reason (Other)</h4>
                </div>
                <div class="fasdangerPopup alert alert-dismissible" id="WFD02510MessageAlertReasonOther" style="display:none">
                </div>
                <div class="modal-body">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <input id="WFD02510_DISP_REASON_OTHER" class="form-control require" style="width:100%" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="form-group">
                        <button id="WFD02510_DISP_REASON_OTHER_SAVE" class="btn btn-success"><i class="fa fa-save"></i>  Save </button>
                        <button id="WFD02510_DISP_REASON_OTHER_CANCEL" class="btn btn-warning"><i class="fa fa-close"></i>  Cancel </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="WFD02510_SetSaleReason" tabindex="1" role="dialog">
        <div class="modal-dialog" style="width:520px; margin: 80px auto;">
            <div class="modal-content Radius12" style="width:700px;">
                <div class="modal-header HeaderModel">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title">Retirement Reason (Customer Order)</h4>
                </div>
                <div class="fasdangerPopup alert alert-dismissible" id="WFD02510MessageAlertReasonSale" style="display:none">
                </div>
                <div class="modal-body">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <input id="WFD02510_DISP_REASON_SALE" class="form-control require" style="width:100%" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="form-group">
                        <button id="WFD02510_DISP_REASON_SALE_SAVE" class="btn btn-success"><i class="fa fa-save"></i>  Save </button>
                        <button id="WFD02510_DISP_REASON_SALE_CANCEL" class="btn btn-warning"><i class="fa fa-close"></i>  Cancel </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div id="myModalCost" class="modal fade" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header HeaderModel">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Retirement Cost Information</h4>
                </div>
                <div class="modal-body">
                    <div id="AlertMessageWFD02510" class="message-area">
                    </div>
                    <div class="form-horizontal">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <label for="WFD02510_COST_VALUE" class="col-sm-4 control-label">Cost Value :</label>
                                <div class="col-sm-6 text-right">
                                    @*@Html.CommonTextBox("WFD02510_COST_VALUE", null, new { @class = "form-control require text-right", style = "width: 50%;", maxlength = "40", tabindex = "1" })*@
                                    <input type="text" name="WFD02510_COST_VALUE" id="WFD02510_COST_VALUE" class="form-control  text-right" style="width: 100%;" disabled>
                                </div>
                                <div class="col-sm-offset-2"></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <label for="WFD02510_BOOK_VALUE" class="col-sm-4 control-label">Book Value :</label>
                                <div class="col-sm-6 text-right">
                                    @*@Html.CommonTextBox("WFD02510_BOOK_VALUE", null, new { @class = "form-control require text-right", style = "width: 50%;", maxlength = "40", tabindex = "2" })*@
                                    <input type="text" name="WFD02510_BOOK_VALUE" id="WFD02510_BOOK_VALUE" class="form-control  text-right" style="width: 100%;" disabled>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <div class="col-sm-4">
                                    <div class="col-sm-4">
                                        @*<input id="WFD02510_Retire_Quantity" type="radio" name="Retire" style="width:25px;height:24px;" value="Q" checked />*@
                                        <input id="WFD02510_Retire_Quantity" type="checkbox" class="custom-control-input" tabindex="3" style="width:24px;height:24px;" />
                                    </div>
                                    <div class="col-sm-8">
                                        <label class="control-label" style="display: contents;"> Quantity :</label>
                                    </div>
                                </div>
                                <div class="col-sm-4" style="display: -webkit-inline-box;">
                                    <div class="text-left">
                                        @*@Html.CommonTextBox("WFD02510_Retire_Quantity_TXT", null, new { @class = "form-control require text-right", style = "width: 100%;", maxlength = "2", tabindex = "3" })*@
                                        <input type="text" maxlength="8" name="WFD02510_Retire_Quantity_TXT" id="WFD02510_Retire_Quantity_TXT" onblur="checkEnabledOKButton();" class="form-control  text-right" disabled>
                                    </div>
                                    <div class="text-left" style="margin-left: 10px;">
                                        of &nbsp;<label class="control-label" style="white-space: nowrap;" id="lblQty"></label>
                                    </div>
                                </div>
                            </div>

                            @*</div>*@
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <div class="col-sm-4">
                                    <div class="col-sm-4">
                                        <input id="WFD02510_Retire_Percentage" type="checkbox" class="custom-control-input" tabindex="3" style="width:24px;height:24px;" />
                                    </div>
                                    <div class="col-sm-8" style="padding-left: 13px; padding-right: 0px;">
                                        <label class="control-label" style="display: contents;">Percentage :</label>
                                    </div>
                                </div>
                                <div class="col-sm-4" style="display: -webkit-inline-box;">
                                    <div class="text-left">
                                        @*@Html.CommonTextBox("WFD02510_Retire_Percentage_TXT", null, new { @class = "form-control require text-right", style = "width: 100%;", maxlength = "3", tabindex = "4" })*@
                                        <input type="text" maxlength="8" name="WFD02510_Retire_Percentage_TXT" id="WFD02510_Retire_Percentage_TXT" onblur="checkEnabledOKButton();" class="form-control  text-right" disabled>
                                    </div>
                                    <div class="text-left" style="margin-left: 10px;">
                                        <label class="control-label" style="white-space: nowrap;"> of 100.00%</label>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="modal-footer">
                            @Html.CommonTextBox("WFD02510_RETIRE_ASSETNO", null, new { @class = "form-control require", style = "width: 100%; display: none;", maxlength = "40" })
                            @Html.CommonTextBox("WFD02510_RETIRE_ASSTSUB", null, new { @class = "form-control require", style = "width: 100%; display: none;", maxlength = "40" })
                            @Html.CommonTextBox("WFD02510_RETIRE_DOCNO", null, new { @class = "form-control require", style = "width: 100%; display: none;", maxlength = "40" })
                            <button class="btn btn-info" id="btnRetireSave" tabindex="5" type="button"><i class="fa fa-save"></i> Save </button>
                            <button class="btn btn-warning" id="btnRetireCancel" tabindex="6" type="button"><i class="fa fa-remove"></i> Cancel </button>
                            @*@Html.Button("btnRetireSave", "Save ", new { @class = "btn btn-info", tabindex = "5" }, TagHelper.BUTTON_TYPES.SAVE)
                                @Html.Button("btnRetireCancel", "Cancel ", new { @class = "btn btn-warning", tabindex = "6" }, TagHelper.BUTTON_TYPES.CANCEL)*@
                        </div>
                        @*</div>*@
                    </div>
                </div>

            </div>
        </div>
    </div>


    <div id="divDonationInfo" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header HeaderModel">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Donation Info of 100076083 : BENDING 8 DIA</h4>
                </div>
                <div class="modal-body">
                    <div id="AlertMessageWFD02510Donate" class="message-area">
                    </div>
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label for="WFD02510_DONATION_DATE" class="col-sm-3 control-label">Donation Date :</label>
                            <div class="col-sm-9">
                                <div class="input-group date" style="width:95%;">
                                    @Html.TextBox("WFD02510_DONATION_DATE", null, new { @class = "form-control datepicker require", maxlength = "11", tabindex = "7" })
                                    <span class="input-group-btn" style="cursor:pointer;">
                                        <button class="btn" id="WFD02510_DONATION_DATE_BTN" onclick="ClickIconDate('WFD02510_DONATION_DATE')" style="background-color:white;">
                                            <i class="fa fa-calendar"></i>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Document :</label>
                            <div class="col-sm-9">
                                @Html.Button("btnDonationInfoUpload", "Upload", new { @class = "btn btn-info", tabindex = "2" }, TagHelper.BUTTON_TYPES.UPLOAD)
                                <input id="WFD02510_DONATE_INFO_FILE" type="file" class="form-control" style="display:none" onchange="fAction.SetButtonAndUploadFile('WFD02510_DONATE_INFO_FILE', 'DONATE', 'DivWFD02510DonationInfoFileList');" />
                                @*@Html.Button("btnDonationInfoDownload", "Download", new { @class = "btn btn-info", tabindex = "3" }, TagHelper.BUTTON_TYPES.DOWNLOAD)*@
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label"></label>
                            <div class="col-sm-9" id="DivWFD02510DonationInfoFileList">

                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Remark :</label>
                            <div class="col-sm-9">
                                @Html.CommonTextBox("WFD02510_DONATION_REMARK", null, new { @class = "form-control text-left", style = "width: 95%;", maxlength = "40", tabindex = "2" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">

                    <button class="btn btn-sm btn-info" id="btnDonationInfoSave" type="button"><i class="fa fa-save"></i> Save </button>
                    <button class="btn btn-sm btn-warning" data-dismiss="modal" id="btnDonationInfoCancel" type="button"><i class="fa fa-ban"></i> Cancel </button>

                </div>
            </div>
        </div>
    </div>

    <div id="divScrappingInfo" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header HeaderModel">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Scrapping  Info of 100076083 : BENDING 8 DIA</h4>
                </div>
                <div class="modal-body">
                    <div id="AlertMessageWFD02510Scrap" class="message-area">
                    </div>
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label for="WFD02510_SCRAPPING_DATE" class="col-sm-3 control-label">Scrapping Date :</label>
                            <div class="col-sm-9">
                                <div class="input-group date" style="width:95%;">
                                    @Html.TextBox("WFD02510_SCRAPPING_DATE", null, new { @class = "form-control datepicker require", maxlength = "11", tabindex = "7" })
                                    <span class="input-group-btn" style="cursor:pointer;">
                                        <button class="btn" id="WFD02510_SCRAPPING_DATE_BTN" onclick="ClickIconDate('WFD02510_SCRAPPING_DATE')" style="background-color:white;">
                                            <i class="fa fa-calendar"></i>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Photo :</label>
                            <div class="col-sm-9">
                                @Html.Button("btnScrappingInfoUpload", "Upload", new { @class = "btn btn-info", tabindex = "2" }, TagHelper.BUTTON_TYPES.UPLOAD)
                                <input id="WFD02510_SCRAP_INFO_FILE" type="file" class="form-control" style="display:none" onchange="fAction.SetButtonAndUploadFile('WFD02510_SCRAP_INFO_FILE', 'SCRAP', 'DivWFD02510ScrappingInfoFileList');" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label"></label>
                            <div class="col-sm-9" id="DivWFD02510ScrappingInfoFileList">

                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Remark :</label>
                            <div class="col-sm-9">
                                @Html.CommonTextBox("WFD02510_SCRAPPING_REMARK", null, new { @class = "form-control text-left", style = "width: 95%;", maxlength = "40", tabindex = "2" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">

                    <button class="btn btn-sm btn-info" id="btnScrappingInfoSave" type="button"><i class="fa fa-save"></i> Save </button>
                    <button class="btn btn-sm btn-warning" data-dismiss="modal" id="btnScrappingInfoCancel" type="button"><i class="fa fa-ban"></i> Cancel </button>

                </div>
            </div>
        </div>
    </div>

    <div id="divSalesInfo" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header HeaderModel">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Sales Info of 100076083 : BENDING 8 DIA</h4>
                </div>
                <div class="modal-body">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-3 control-label" style="padding-right:0px;">Sold To :</label>
                            <div class="col-sm-9">
                                @Html.CommonTextBox("WFD02510_SALE_SOLD_TO", null, new { @class = "form-control require text-left", style = "width: 95%;", maxlength = "40", tabindex = "2" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="WFD02510_SALE_DATE" class="col-sm-3 control-label" style="padding-right:0px;">Sale Date :</label>
                            <div class="col-sm-9">
                                <div class="input-group date" style="width:95%;">
                                    @Html.TextBox("WFD02510_SALE_DATE", null, new { @class = "form-control datepicker require", maxlength = "11", tabindex = "7" })
                                    <span class="input-group-btn" style="cursor:pointer;">
                                        <button class="btn" id="WFD02510_SALE_DATE_BTN" onclick="ClickIconDate('WFD02510_SALE_DATE')" style="background-color:white;">
                                            <i class="fa fa-calendar"></i>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label" style="padding-right:0px;">Invoice No :</label>
                            <div class="col-sm-9">
                                @Html.CommonTextBox("WFD02510_INVOICE_NO", null, new { @class = "form-control require text-left", style = "width: 95%;", maxlength = "40", tabindex = "2" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label" style="padding-right:0px;">Price :</label>
                            <div class="col-sm-9">
                                @Html.CommonTextBox("WFD02510_PRICE", null, new { @class = "form-control require text-right", style = "width: 95%;", maxlength = "40", tabindex = "2" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label" style="padding-right:0px;">Cost of Removal :</label>
                            <div class="col-sm-9">
                                @Html.CommonTextBox("WFD02510_COST_OF_REMOVAL", null, new { @class = "form-control require text-right", style = "width: 95%;", maxlength = "40", tabindex = "2" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label" style="padding-right:0px;">Remark :</label>
                            <div class="col-sm-9">
                                @Html.CommonTextBox("WFD02510_SALE_REMARK", null, new { @class = "form-control text-left", style = "width: 95%;", maxlength = "40", tabindex = "2" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">

                    <button class="btn btn-sm btn-info" id="btnSalesInfoSave" type="button"><i class="fa fa-save"></i> Save </button>
                    <button class="btn btn-sm btn-warning" data-dismiss="modal" id="btnSalesInfoCancel" type="button"><i class="fa fa-ban"></i> Cancel </button>

                </div>
            </div>
        </div>
    </div>


    <div id="myModalDisposalReason" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Retirement Reason (Other)</h4>
                </div>
                <div class="modal-body">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <div class="col-sm-10">
                                @Html.CommonTextBox("WFD02510_DisposalReason_Other", "Fill-in retirement reason", new { @class = "form-control", style = "width: 80%; text-align:center;", tabindex = "1", maxlength = "18" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    @Html.CommonTextBox("WFD02510_REASON_ASSETNO", null, new { @class = "form-control require", style = "width: 100%; display: none;", maxlength = "40" })
                    @Html.CommonTextBox("WFD02510_REASON_ASSTSUB", null, new { @class = "form-control require", style = "width: 100%; display: none;", maxlength = "40" })
                    @Html.CommonTextBox("WFD02510_REASON_DOCNO", null, new { @class = "form-control require", style = "width: 100%; display: none;", maxlength = "40" })
                    <button class="btn btn-info" id="btnDisposalReasonSave" tabindex="4" type="button"><i class="fa fa-save"></i> Save </button>
                    <button class="btn btn-warning" id="btnDisposalReasonCancel" tabindex="5" type="button"><i class="fa fa-remove"></i> Cancel </button>
                    @*@Html.Button("btnDisposalReasonSave", "Save ", new { @class = "btn btn-info", tabindex = "4" }, TagHelper.BUTTON_TYPES.SAVE)
                        @Html.Button("btnDisposalReasonCancel", "Cancel ", new { @class = "btn btn-warning", tabindex = "5" }, TagHelper.BUTTON_TYPES.CANCEL)*@
                </div>
            </div>
        </div>
    </div>
</div>
<div class="box box-primary" id="DivTMCDocument">
    <div class="box-header with-border">
        <div class="row">
            <div class="col-sm-10" style="text-align:left;">
                <h3 class="box-title">TMC Document</h3>
            </div>

            <div class="col-sm-2" style="text-align:right;">
                <button id="WFD02510btnUploadTMCDocument" type="button" class="btn btn-info" tabindex="21"><i class="fa fa-upload"></i> Upload </button>
            </div>

        </div>
    </div>
</div>

@Html.Partial("../WFD02510/MassDisposal")

<div class="box box-primary" id="DivTopManagement">
    <div class="box-header with-border">
        <div class="row">
            <div class="col-sm-10" style="text-align:left;">
                <h3 class="box-title">Top Management Approval Proposal</h3>
            </div>

            <div class="col-sm-2" style="text-align:right;">
                <button id="WFD02510btnUploadTopManagement" type="button" class="btn btn-info" tabindex="21"><i class="fa fa-upload"></i> Upload </button>
            </div>
        </div>
    </div>

</div>


@Html.Partial("../WFD02510/LossCase")
