﻿<div class="modal fade" tabindex="-1" role="dialog" id="WFD02510DivLossCase">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header HeaderModel">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="lblDivLossCase">User Countermeasure</h4>
            </div>
            <div class="modal-body">
                <div id="AlertMessageWFD02510LossCase" class="message-area">
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-sm-12 control-label">Countermeasure :</label>
                            <div class="col-sm-12 form-group" style="display:inline-block">
                                <button id="WFD02510_ATTACH_COUNTERMEASURE_BTN" type="button" class="btn btn-info" onclick="fAction.ClickUploadFile('LC', 'DivWFD02510LossCaseFileList', 'AlertMessageWFD02510LossCase')"><i class="fa fa-upload"></i> Upload </button>
                                <input id="WFD02510_ATTACH_COUNTERMEASURE_FILE" type="file" class="form-control" style="display:none" onchange="fAction.SetButtonAndUploadFile('WFD02510_ATTACH_COUNTERMEASURE_FILE', 'LC', 'DivWFD02510LossCaseFileList');" />
                            </div>
                        </div>                       
                    </div>
                    <div class="col-sm-8">
                        <div class="form-group">
                            <div class="col-sm-12">
                                Consider as user's mistake:
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-8">
                                <input id="WFD02510_USER_MISTAKE_FLAG_Y" type="checkbox" style="width:25px;height:24px;" name="USER_MISTAKE_FLAG" />  Yes (with compensation)
                            </div>
                            <div class="col-sm-4">
                                @Html.CommonTextBox("WFD02510_COUNTERMEASURE", null, new { @class = "form-control custom-control-input", style = "width: 100%; text-align:right;", tabindex = "1", maxlength = "18" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <input id="WFD02510_USER_MISTAKE_FLAG_N" type="checkbox" style="width:25px;height:24px;" name="USER_MISTAKE_FLAG"/>  No
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <div class="form-group" id="DivWFD02510LossCaseFileList">

                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer RadiusBottom12 FooterModel">
                <div class="form-inline form-in">
                    <div class="navbar-right">
                        <button class="btn btn-sm btn-info" id="btnMeasureSave" type="button"><i class="fa fa-save"></i> Save </button>
                        <button class="btn btn-sm btn-warning" data-dismiss="modal" id="btnMeasureCancel" type="button"><i class="fa fa-ban"></i> Cancel </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
