﻿<div class="box box-primary" id="WFD02510MassDisposal">
    <div class="box-header with-border">
        <div class="row">
                <h3 class="col-sm-2 box-title">Mass Retirement</h3>
                @*<div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse" id="btnMinusMassDisposal">
                            <i class="fa fa-minus"></i>
                        </button>
                    </div>*@
                <div class="col-sm-8">
                    <div class="col-sm-12">
                        <label for="WFD02510_DISP_MASS_REASON" class="col-sm-4 control-label">Retirement Reason :</label>
                        <div class="col-sm-8">
                            <select class="form-control select2" id="WFD02510_DISP_MASS_REASON" name="WFD02510_DISP_MASS_REASON" style="width: 100%;"></select>
                            @*@Html.DisposalReasonCombobox("WFD02510_DISP_MASS_REASON", new { @class = "form-control select2", style = "width: 100%;" })*@
                            <input type="hidden" id="WFD02510_DISP_MASS_REASON_OTHER" value="" />
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        @*<label class="col-sm-8 control-label">Attached File :</label>*@
                        <div class="col-sm-12" style="text-align: right;">
                            <button id="WFD02510_DISP_MASS_ATTACH_DOC_BTN" type="button" class="btn btn-info"><i class="fa fa-upload"></i> Upload </button>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>

