﻿
<div class="box box-primary" id="WFD02510MinuteOfMeeting">
    <div class="box-header with-border">
        <h3 class="box-title">Minute of Meeting</h3>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                <i class="fa fa-minus"></i>
            </button>
        </div>
    </div>
    <div class="box-body">
        <div class="col-sm-6">
            <div class="col-sm-12">
                <label for="WFD02510_DISP_MASS_REASON" class="col-sm-6 control-label">Minute of Meeting :</label>
                <div class="col-sm-6">
                    @Html.CommonTextBox("WFD02510_MINUTE_OF_BIDDING", null, new { @class = "form-control require", style = "width: 100%;", tabindex = "1" })
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label class="col-sm-6 control-label">Attached File :</label>
                <div class="col-sm-6">
                    @Html.CommonTextBox("WFD02510_BIDDING_ATTACH_DOC", null, new { @class = "form-control require", style = "width: 100%; display: none;" })
                    <button id="WFD02510_MINUTE_OF_BIDDING_BTN" type="button" class="btn btn-info" onclick="fAction.ShowMainUploadDialog('MM')"><i class="fa fa-upload"></i> Upload </button>
                    <p class="inlineBlock" title="" data-original-title="View File" data-toggle="tooltip" data-placement="top"><a class="btn btn-sm btn-view-file" id="WFD02510_MINUTE_OF_BIDDING_VIEW" href="#" target="_blank" style="display:none;"><span class="glyphicon glyphicon-paperclip"></span></a></p>
                    <a id="WFD02510_MINUTE_OF_BIDDING_DOWNLOAD" href="#" target="_blank" class="btn btn-info" style="display:none;"><i class="fa fa-download"></i> Download </a>
                    <input id="WFD02510_MINUTE_OF_BIDDING_FILE" type="file" class="form-control" style="display:none" onchange="WFD02510_SetButtonAndUploadFile('WFD02510_MINUTE_OF_BIDDING_FILE', 'WFD02510_MINUTE_OF_BIDDING_BTN', 'WFD02510_MINUTE_OF_BIDDING_DEL', 'MM','WFD02510_MINUTE_OF_BIDDING_VIEW','WFD02510_MINUTE_OF_BIDDING_DOWNLOAD')" />
                    <button id="WFD02510_MINUTE_OF_BIDDING_DEL" type="button" style="display:none;" class="btn btn-warning" onclick="WFD02510_SetButtonAndDeleteFileUpload('WFD02510_MINUTE_OF_BIDDING_FILE', 'WFD02510_MINUTE_OF_BIDDING_BTN', 'WFD02510_MINUTE_OF_BIDDING_DEL', 'MM', 'WFD02510_MINUTE_OF_BIDDING_VIEW', 'WFD02510_MINUTE_OF_BIDDING_DOWNLOAD')"><i class="fa fa-remove"></i> Remove File </button>
                </div>
            </div>
        </div>
    </div>
</div>


