﻿.ui-widget-header {
    background: #FFF;
    border: 0px;
    color: #333;
}

    .ui-widget-header a {
        color: #333;
    }

.ui-datepicker-prev span {
    cursor: pointer;
    background-image: url(images/left-arrow.png) !important;
        background-position: 0px 0px !important;
}

.ui-datepicker-next span {
    cursor: pointer;
    background-image: url(images/right-arrow.png) !important;
        background-position: 0px 0px !important;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
    text-align: center;
}

.ui-datepicker th {
    padding: 5px;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default
    , .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
    border:0px;
    padding: 5px;
    background: none;
    color: #bb2228;
    border-radius: 4px;
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
    background:#bb2228;
    color: #fff;
}

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover
    , .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus
    , .ui-button:hover, .ui-button:focus {
    background-color: #f0a1a4;
}






/* Time picker */


div#ui-timepicker-div > table.ui-timepicker-table {
    border: 1px solid #f0a1a4;
    
}
table.ui-timepicker > tbody > tr > th.periods {
    padding-right: 10px;
}
    
.ui-timepicker-table > tbody > tr > td.ui-timepicker-hours {
    border-right: 1px solid #f0a1a4;
    padding: 3px 10px;
}
.ui-timepicker-table > tbody > tr > td.ui-timepicker-minutes, .ui-timepicker-table > tbody > tr > td.ui-timepicker-minutes > div.ui-timepicker-title {
    background: #ffe7e8;
     padding: 3px 10px;
}

a.ui-state-active {
      background:#ec696e !important;
    color: #fff !important;
}