﻿
/* /////////////////////////////////////////////////////////////////////////// */
/* IE9 ++ */
@font-face {
    font-family: bangna-new;
    src: url(bangna-new.ttf);
}

.batch-progress {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(100,100,100,0.5);
    z-index: 2000;
    /*font-family:bangna-new;*/
}

    .batch-progress * {
        -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Safari */
        -khtml-user-select: none; /* Konqueror HTML */
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
        user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
    }


.batch-progress-dialog {
    display: block;
    position: absolute;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    top: 50%;
    left: 50%;
    margin-left: -200px;
    margin-top: -70px;
    background-color: #eee;
    padding: 0px;
    border: 2px solid #cf1b1b;
    border-radius: 7px;
    box-shadow: 0 0 20px #555;
}

.batch-progress-dialog-logo {
    display: block;
    float: left;
    font-size: 35px;
    padding: 10px 20px;
}

    .batch-progress-dialog-logo > img {
        /*margin: 0px;
        color: #888;*/
        width: 30px;
    }

.batch-progress-dialog-content {
    display: block;
    float: right;
    width: 320px;
    padding: 20px;
    padding-left: 0px;
}

.batch-progress-dialog > button {
    padding: 2px 5px;
    background: #cf1b1b;
    border: 1px solid #cf1b1b;
    color: white;
    font-size: 11px;
    position: absolute;
    right: 0;
    top: 0;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    transition: 0.2s background;
}

    .batch-progress-dialog > button:hover {
        background: red;
    }

    .batch-progress-dialog > button:active {
        background: #fd2a32;
        outline: 0px !important;
        -webkit-appearance: none;
    }

    .batch-progress-dialog > button > i {
        margin-right: 5px;
    }

.batch-progress-dialog-content > i {
    display: block;
    font-size: 10px;
    color: #999;
}

.batch-progress-dialog-content > label {
    display: block;
    margin-top: -3px;
    margin-bottom: 2px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-weight: bold;
}

.batch-progress-dialog-content > div.progress {
    height: 6px;
    margin-bottom: 0px;
    background-color: #ddd;
}


    .batch-progress-dialog-content > div.progress > div.progress-bar {
        background-color: #f13a41;
    }



/* /////////////////////////////////////////////////////////////////////////// */
/* For fucking stupid user (IE8) */
#BatchDialogArea {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9990;
    background: rgba(150, 150, 150, 0.8);
}


.BatchDialog {
    display: block;
    position: absolute;
    width: 400px;
    border: 1px solid #ccc;
    background-color: #fafafa;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -200px;
}

.BatchDialog-header {
    display: block;
    width: 100%;
    padding: 5px;
    background-color: #dd4b39;
    font-weight: bold;
    color: #fff;
}

.BatchDialog-body {
    display: block;
    width: 100%;
    padding: 15px;
    /*padding-left: 20px;*/
}

.BatchDialog-status {
    display: block;
    width: 100%;
    font-size: 14px;
    margin-top: 0px;
    margin-bottom: 10px;
    font-weight: normal;
    word-break: break-all;
}

    .BatchDialog-status img {
        height: 40px;
        margin-right: 20px;
    }

.BatchDialog-Button {
    display: block;
    width: 100%;
    text-align: right;
}

    .BatchDialog-Button > button {
        padding-left: 20px;
        padding-right: 20px;
    }

.RadiusTop12 {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.RadiusBottom12 {
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.Radius12 {
    border-radius: 12px;
}

.HeaderModel {
    background-color: rgba(221, 75, 57, 1); /*#337ab7;*/
    color: white;
}

.FooterModel {
    background-color: #f5f5f5;
}

.Radius24 {
    border-radius: 24px;
}
