﻿/* 
    Create by : Jirawat jannet 
    Create date: 2017-10-31
*/

/* Form block style */
.form-in {
    display: inline-block;
    margin: 2px 10px;
}
    .form-in > label, .form-in > input, .form-in > textarea, .form-in > select {
        display: inline-block;
    }
    .form-in > label {
        margin: 0 10px;
    }


.button-box {
    display: inline-block;
    margin: 5px 0px;
}
    .button-box > button {
        display: inline-block;
    }
    .button-box > button:last-child {
        margin-right: 15px;
    }

/* Override library button style */
.btn > i {
     margin-right: 5px;
}


/* Input custom style */
input[type=checkbox] {
    width: 17px;
    height: 17px;
    padding: 0;
    margin: 0;
    vertical-align: bottom;
    position: relative;
    top: -1px;
    *overflow: hidden;
}
.pagin-cbb {
    display: block;
    position: relative;
    float: left;
    padding: 7px 12px;
    border-color: #ddd;
    border-width:1px 1px 1px 0px;
}


label.text-light {
    font-weight: normal;
}
.hilight {
    background-color: #ffff4b;
}

.form-control, input.datepicker, .btn{
    font-size: 13px;
    height: 28px;
    padding: 4px 6px;
}


.require {
    background-color: #fffece !important;
}