﻿/* override bootstrap style */
body {
    font-size: 13px;
    font-weight: 100;
}

* {
    font-family: 'Microsoft Sans Serif';
}

.content-header {
    margin-bottom: 0px;
}

.pagination {
    margin: 0px 0;
}

.message-area {
    display: block;
    /*position: absolute;*/
    margin: 0px;
    margin-bottom: 10px;
    margin-top: -10px;
    left: 0;
    right: 0;
    z-index: 9999;
    margin-left:13px;
    margin-right:13px;
}

.select2-container--default .select2-selection--single, .select2-selection .select2-selection--single {
    height: 28px;
    padding: 3px 6px;
}

.select2-container .select2-selection--single .select2-selection__rendered {
    margin-top: auto;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: inherit;
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered {
    padding: 2px 2px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    color: #333;
    margin-right: 2px;
    background-color: #EFEFEF;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    margin-right: 5px;
}

    .select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover {
        color: red;
    }

.select2-container .select2-selection--multiple {
    min-height: 0;
    height: 26px;
}

input.datepicker {
    border-radius: 0;
}

.alert {
    padding: 5px 10px;
    background-color: #f8f0af;
}

    .alert > i {
        display: inline-block;
        font-size: 18px;
    }

    .alert > ul {
        margin-left: 10px;
        display: inline-block;
        padding: 0;
    }

        .alert > ul > li {
            list-style: none;
            margin-left: 0;
        }

.alert {
    padding-left: 0px;
    margin-bottom: 5px;
    box-shadow: 2px 2px 10px #555;
}

    .alert > ul > li {
        padding-bottom: 5px;
    }

        .alert > ul > li:last-child {
            padding-bottom: 0px;
        }

        .alert > ul > li > i {
            margin-right: 5px;
            font-size: 16px;
            padding-left: 0px;
            margin-left: 0px;
        }

            .alert > ul > li > i.fa-times-circle {
                color: red;
            }

            .alert > ul > li > i.fa-warning {
                color: orange;
            }

            .alert > ul > li > i.fa-info-circle {
                color: #46a0f5;
            }

.box {
    min-height: 45px;
}

.box-primary {
    margin: 1%;
    margin-bottom: 0;
    width: 98%;
}

.content-header {
    display: block;
    margin: 0px 10px;
    padding: 15px 5px;
    padding-bottom: 10px;
    border-bottom: 3px solid #3c8dbc;
}

.render-body {
    padding: 30px; /*padding: 12px;*/
    padding-top: 10px;
}

.alert {
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}


#ScreenLoading {
    display: none;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: rgba(255,255,255,1);
}

    #ScreenLoading > img {
        /*width: 100px;*/
        position: fixed;
        top: 51%;
        left: 45%;
        margin-left: -25px;
        margin-top: -25px;
        margin: 0;
        /*width: 50px;
        height: 50px;*/
    }

.ScreenLoading {
    display: block;
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 9999;
    background: rgba(255,255,255,1);
}

    .ScreenLoading > img {
        position: absolute;
        top: 51%;
        left: 45%;
        margin-left: -25px;
        margin-top: -25px;
        /*width: 50px;
        height: 50px;*/
    }

.input-group-addon {
    cursor: pointer;
}

.huge {
    font-size: 40px;
}

.btn > i {
    margin-left: 0;
}



/* Number box */
.num-box {
    display: inline-block;
    min-width: 80px;
    margin: 0;
}

.num-box-header, .num-box-body {
    display: block;
    padding: 2px 7px;
    width: 100%;
    text-align: center;
    border: 1px solid #ccc;
    margin: 0;
    font-size: 12px;
}

.num-box-header {
    font-weight: bold;
    background-color: #efefef;
}

.num-box-body {
    text-align: right;
}

.num-box-total {
    margin: 0px 20px;
}


/* Box minimise */
.btn-box-minimise-tool {
    font-size: 20px;
    background: rgba(255, 255, 255, 0);
    padding: 0px;
}

.box-minimise-hide {
    display: none !important;
}

.box-minimise {
    transition: width 0.3s;
}


span.input-group-btn > button {

    border: 1px solid #ccc;
}



.multiselect-container>li>a>label>input[type=checkbox] {
    margin-bottom: 5px;
    top: 8px;
}

.multiselect-container {
    max-height: 255px;
    overflow-y: auto;
    
}











/* boot box and model */

/*.bootbox {
    text-align: center;
}

@media screen and (min-width: 768px) {
    .bootbox:before {
        display: inline-block;
        vertical-align: middle;
        content: " ";
        height: 100%;
    }
}

.bootbox > .modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}

.bootbox div.modal-body {
    /*padding: 10px;*/
    /*padding-top: 10px;
    position: relative;
    border-top: 1px solid #aaa;
}


div.bootbox-confirm > div.modal-dialog {
    width: 420px;
}

    div.bootbox-confirm > div.modal-dialog > div.modal-content {
        border-top: 4px solid #dd4b39;
    }



div.bootbox-confirm div.modal-body > div.bootbox-body {
    font-size: 17px;
    color: #888;
    text-align: left;
    padding: 30px 0px;
    padding-top: 10px;
    font-weight: 100;
    vertical-align: central;
}

div.bootbox-confirm div.modal-body > button.bootbox-close-button {
    padding: 1px 5px;
    border: 1px solid #aaa;
    border-radius: 50%;
    margin-right: -10px;
    margin-top: 10px;
    transition: 0.1s color, 0.1s background-color, 0.1s border-color;
}

    div.bootbox-confirm div.modal-body > button.bootbox-close-button:hover {
        color: white;
        background-color: red;
        border-color: red;
    }

div.bootbox-confirm div.modal-footer {
    border-top: none;
    padding: 0;
}

    div.bootbox-confirm div.modal-footer > button.btn {
        display: block;
        float: left;
        width: 50%;
        margin: 0px;
        border: none;
        border-radius: 0px;
        transition: color 0.1s, background-color 0.1s;
        height: 50px;
        text-transform: uppercase;
        font-size: 16px;
    }

    div.bootbox-confirm div.modal-footer > button.btn-default {
        background-color: #f5f5f5;
        color: #fe534b;
    }

        div.bootbox-confirm div.modal-footer > button.btn-default:hover, div.bootbox-confirm div.modal-footer > button.btn-default:focus {
            background-color: #fe534b;
            color: #FFF;
        }

    div.bootbox-confirm div.modal-footer > button.btn-primary {
        background-color: #00a65a;
        color: #FFF;
    }

        div.bootbox-confirm div.modal-footer > button.btn-primary:hover, div.bootbox-confirm div.modal-footer > button.btn-primary:focus {
            background-color: #008d4c;
        }*/
