﻿/* 
    Create by : Jirawat jannet 
    Create date: 2017-10-31
*/


/* Table style for this site */
.table-th-center th {
    text-align: center;
    vertical-align: top;
    text-indent: -15px;
}


/* Custom pagin styl sheet */
.p-disabled {
    color: #aaa;
    cursor: default;
}
.pagination > li > a.p-disabled {
    color: #aaa;
    background-color: #efefef;
}


#header-fixed {
    position: fixed;
    top: 0px; display:none;
    background-color:white;
    z-index: 999;
    
}

td.tdpadzero {
    padding: 0!important;
}

/*.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
    padding: 7px 4px; 
}*/
talbe.table th, talbe.table td, .table > thead > tr > th {
    font-size: 12px;
    font-weight: normal;
    vertical-align: middle;
}
.table > thead > tr > th, talbe.table th {
    font-weight: 400;
}
table.table-bordered, table.table-bordered {
    border-color: #ccc !important;
}
table.table-bordered, table.table-bordered > thead > tr > th {
    border-color: #ccc !important;
}
table.table-bordered, table.table-bordered > tbody > tr > td {
    border-color: #ccc !important;
}
    table.table-bordered > thead > tr > th {
        border-bottom: 0px;
    }
table.fixedHeaderTB {
    table-layout: fixed;
}
table.table-hover > tbody > tr {
    transition: 0.05s background-color;
}
    table.table-hover > tbody > tr:hover {
        background-color: #fee8e9;
    }
[disabled].form-control, [readonly].form-control, fieldset[disabled] .form-control {
    background-color: #f5f5f5;
}
.ui-widget-header {
    background-color: #d73925;
}
.ui-timepicker-table td a {
    width: 100%;
}
.modal-backdrop{
    z-index: 50;
}
.modal.in .modal-dialog {
    z-index: 2000;
}

/*DATATBLE*/
table.dataTable thead .sorting:after,
table.dataTable thead .sorting_asc:after {
    font-size: 9px;
}

table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:after {
    top: 3px;
    right: 3px;
}

table.dataTable thead > tr > th {
    text-align: center;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 10px;
    padding-bottom: 10px;
}

table.dataTable tbody > tr > td {
    padding-left: 3px;
    padding-right: 3px;
}