﻿@{
    ViewBag.ScreenTitle = "System Master";
}

<style>
    .notextindent > th {
        text-indent: 0px;
    }
    table.dataTable thead > tr > th {
        padding-left:15px;
        padding-right:15px;
        text-align:center;
    }
    p {
        margin:0px;
    }
    .table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
        padding:7px 10px 7px 4px;    
    }
    .table-responsive {
        min-height: 0.01%;
        overflow-x:hidden;
    }

    .table-responsive > div:first-child > div:nth-child(2){
        overflow-x:auto;
        margin-right: 0px;
    }

    .table-responsive > div:first-child{
        margin-right: 0px;
    }
</style>

<form class="form-horizontal" id="form">
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">Search Condition</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="" data-original-title="Collapse">
                    <i class="fa fa-minus"></i>
                </button>
            </div>
        </div>
        <div class="box-body" style="display: block;">
            <div class="col-sm-12">
                <div class="box-default">
                    <div class="box-body">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="cbbCategory" class="col-sm-1 text-right control-label">Category</label>
                                <div class="col-sm-3">
                                    <select id="cbbCategory" class="form-control select2 requied">
                                        <option>&nbsp;</option>
                                    </select>
                                </div>
                                <label for="cbbSubCategory" class="col-sm-2 text-right control-label">Sub-Category</label>
                                <div class="col-sm-3">
                                    <select id="cbbSubCategory" class="form-control select2 requied">
                                        <option>&nbsp;</option>
                                    </select>
                                </div>
                                <div class="col-sm-3" style="text-align:right">
                                    @Html.Button("WFD01020Search", "Search", new { @class = "btn btn-primary", type = "button" }, TagHelper.BUTTON_TYPES.SEARCH)
                                    @Html.Button("WFD01020Clear", "Clear", new { @class = "btn btn-warning", type = "button" }, TagHelper.BUTTON_TYPES.CLEAR)
                                </div>
                            </div>
                            @*<div class="form-group">
                                        <div class="form-inline from-in text-right">
                                            @*<button class="btn btn-primary" id="WFD01020Search" type="button"><i class="fa fa-search"></i>@TagHelper.BUTTON_TYPES.SEARCH</button>
                                                <button class="btn btn-warning" id="WFD01020Clear" type="button"><i class="fa fa-refresh"></i>@TagHelper.BUTTON_TYPES.CLEAR</button>

                                        </div>
                                </div>*@
                        </div>
                    </div>
                </div>
            </div> <!-- End row condition panel -->
        </div>
    </div>
    <div class="box box-success">
        <div class="box-header with-border">
            <h3 class="box-title">
                Search Result
            </h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="" data-original-title="Collapse">
                    <i class="fa fa-minus"></i>
                </button>
            </div>
        </div>
        <div class="box-body" style="display: block;">
            <div class="col-sm-12">
                <div class="form-group">
                    <div class="form-inline from-in text-right">
                        @*<button class="btn btn-info" id="WFD01020Add" type="button"><i class="fa fa-plus"></i>@TagHelper.BUTTON_TYPES.ADD</button>*@

                        @Html.Button("WFD01020Add", "Add", new { @class = "btn btn-info", type = "button" }, TagHelper.BUTTON_TYPES.ADD)
                    </div>
                </div>
                <div class="form-group" id="SearchResult">
                    <div class="table-responsive">
                        <table id="tableSystemMaster" class="table table-bordered table-striped table-hover table-th-center" style="border-radius:3px;font-size:12px;">
                            <thead class="bg-gray">
                                <tr class="notextindent">
                                    <th style="width:90px">Category</th>
                                    <th style="width:100px">Sub-Category</th>
                                    <th style="width:100px">Code</th>
                                    <th style="width:250px">Value</th>
                                    <th style="width:30px">Active</th>
                                    <th style="width:150px">Remark</th>
                                    <th style="width:30px">Edit</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

@section scripts {
    <script>
        var URL_CONST = {
            Mode: 'SEARCH',
            InitURL: '@Url.Action("", "WFD01020")',
            CategoryURL: '@Url.Action("LoadCategorySys", "WFD01020")',
            SubCategoryURL: '@Url.Action("LoadSubCategorySys", "WFD01020")',
            SearchURL: '@Url.Action("SearchSystemMaster", "WFD01020")',
            ManageSystem: '@Url.Action("ManageSystem", "WFD01020")',
            ValidateSysURL: '@Url.Action("ValidateSystemMaster", "WFD01020")',
            EmployeeCode: '@ViewBag.EMP_CODE',
            EditText: '@TagHelper.BUTTON_TYPES.EDIT',
            Category: '@ViewBag.CATEGORY',
            SubCategory: '@ViewBag.SUB_CATEGORY',
            Mode: '@ViewBag.MODE',
        }
        var WFD01020_Param =
            {
                IsEnableButtonWFD01020Edit: '@ViewBag.IsEnableButtonWFD01020Edit'
            }

    </script>
    <script type="text/javascript" src="~/JS/WFD01020.js"></script>
}