﻿
@{
    ViewBag.Title = "System Master";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.ScreenTitle = "System Master";
}

<form class="form-horizontal" id="form">
    <div class="box">
        <div class="box-body" style="display: block;">
            <div class="row" id="Condition" style="margin-top: 20px;">
                <div class="col-md-12">               
                    
                    <div class="form-group">
                        <label for="cbbTypeOfReport" class="col-sm-2 text-right">Category</label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" id="txtCategory" 
                                   name="txtCategory" readonly />
                        </div>
                        <label for="cbbCategory" class="col-sm-2 text-right">Sub-Category</label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" id="txtSubCategory"
                                   name="txtSubCategory" readonly />
                        </div>                       
                    </div>
                  
                    <div class="form-group">
                        <label for="txtCode" class="col-sm-2 text-right">Code</label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control require" id="txtCode"
                                   name="txtCode" />
                        </div>                       
                    </div>

                    <div class="form-group">
                        <label for="txtValue" class="col-sm-2 text-right">Value</label>
                        <div class="col-sm-8">                       
                            <textarea  rows="6"  class="form-control require" id="txtValue"></textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="txtRemark" class="col-sm-2 text-right">Remarks</label>
                        <div class="col-sm-8">                          
                            <textarea rows="6"  class="form-control" id="txtRemark"></textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="txtRemark" class="col-sm-2 text-right">Active</label>
                        <div class="col-sm-3">
                         <input type="checkbox" id="chkActive"/>
                        </div>
                    </div>

                    <div class="form-group">                       
                        <div class="button-box navbar-right">                          
                            @*<button class="btn btn-success" id="WFD01020Save" type="button"><i class="fa fa-save"></i>@TagHelper.BUTTON_TYPES.SAVE</button>
                            <button class="btn btn-warning" id="WFD01020Cancel" type="button"><i class="fa fa-close"></i>@TagHelper.BUTTON_TYPES.CANCEL</button>*@   
                            @Html.Button("WFD01020Save", "Save", new { @class = "btn btn-success" }, TagHelper.BUTTON_TYPES.SAVE)
                            @Html.Button("WFD01020Cancel", "Cancel", new { @class = "btn btn-warning" }, TagHelper.BUTTON_TYPES.CANCEL)
                              
                                 
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.box-footer-->
    </div>
</form>



@section scripts {
    <script>
        var URL_CONST = {
            Mode: 'ITEM',
            Category: '@ViewBag.CATEGORY',
            SubCategory: '@ViewBag.SUB_CATEGORY',
            Code: '@ViewBag.CODE',
            EmployeeCode: '@ViewBag.EMP_CODE',
            State: '@ViewBag.MODE',
            InitURL: '@Url.Action("", "WFD01020")',
            GetSystemMasterURL: '@Url.Action("GetSystemMaster", "WFD01020")',
            InsertSystemMasterURL: '@Url.Action("InsertSystemMaster", "WFD01020")',
            UpdateSystemMasterURL: '@Url.Action("UpdateSystemMaster", "WFD01020")'
        }

    </script>
    <script type="text/javascript" src="~/JS/WFD01020.js"></script>
}

       
