<div>
    <div style="background-color: rgb(60, 60, 60);">
        <span style="background-color: rgb(60, 60, 60);">
            <font face="Verdana,Arial,Helvetica,sans-serif">
                <table width="600" align="center" style="width: 600px;" border="0" cellspacing="0" cellpadding="0">
                    <tbody>
                        <tr>
                            <td width="600" valign="bottom" style="width: 600px; background-color: rgb(238, 238, 238);" colspan="3">
                                <span style="background-color: rgb(238, 238, 238);"><img width="600" height="41" alt="mail" src="http://gac.tmap-em.toyota-asia.com/survey/media/com_acymailing/templates/newsletter-6/images/header.png"></span>
                            </td>
                        </tr>
                        <tr>
                            <td width="30" style="width: 30px; background-color: white;"><span style="background-color: white;"></span></td>
                            <td width="540" align="center" style="width: 540px; text-align: left; background-color: white;">
                                <span style="background-color: white;"><img width="150" height="80" src="http://172.17.26.115/images/sc2logoimg.gif"></span>
                            </td>
                            <td width="30" style="width: 30px; height: 92px; background-color: white;"><span style="background-color: white;"></span></td>
                        </tr>
                        <tr>
                            <td width="30" style="width: 30px; background-color: red;"><font color="white"><span style="background-color: red;"></span></font></td>
                            <td width="540" align="right" style="width: 540px; height: 25px; background-color: red;">
                                <font color="white"><span style="background-color: red;">Newsletter {0}</span></font>
                            </td>
                            <td width="30" style="width: 30px; background-color: red;"><font color="white"><span style="background-color: red;"></span></font></td>
                        </tr>
                        <tr>
                            <td width="600" style="width: 600px; height: 25px; background-color: white;" colspan="3">
                                <span style="background-color: white;"></span>
                            </td>
                        </tr>
                        <tr>
                            <td width="30" style="width: 30px; background-color: white;"><span style="background-color: white;"></span></td>
                            <td width="540" align="justify" style="width: 540px; background-color: white;">
                                Detail
                            </td>
                            <td width="30" style="width: 30px; background-color: white;"><span style="background-color: white;"></span></td>
                        </tr>
                        <tr>
                            <td width="600" valign="top" style="width: 600px; background-color: rgb(239, 239, 239);" colspan="3">
                                <span style="background-color: rgb(239, 239, 239);"><img width="600" height="18" alt="--" src="http://gac.tmap-em.toyota-asia.com/survey/media/com_acymailing/templates/newsletter-6/images/footer1.png"></span>
                            </td>
                        </tr>
                        <tr>
                            <td width="30" style="width: 30px; height: 20px; background-color: rgb(239, 239, 239);"><span style="background-color: rgb(239, 239, 239);"></span></td>
                            <td width="540" align="right" style="width: 540px; background-color: rgb(239, 239, 239);">
                                <span style="background-color: rgb(239, 239, 239);">
                                    <a href="https://tmap-net.ap.toyota-asia.com/dept/IS/SitePages/Home.aspx" target="_blank">IS TMAP-NET</a> | <a href="mailto:niwat_sut@tmap-em.toyota-asia.com" target="_blank">Contact</a><a href="mailto:niwat_sut@tmap-em.toyota-asia.com" target="_blank"><img width="35" height="20" alt="message" src="http://gac.tmap-em.toyota-asia.com/survey/media/com_acymailing/templates/newsletter-6/images/mail.png"></a>
                                </span>
                            </td>
                            <td width="30" style="width: 30px; height: 20px; background-color: rgb(239, 239, 239);"><span style="background-color: rgb(239, 239, 239);"></span></td>
                        </tr>
                        <tr>
                            <td width="600" valign="top" style="width: 600px; background-color: rgb(239, 239, 239);" colspan="3">
                                <span style="background-color: rgb(239, 239, 239);"><img width="600" height="24" alt="--" src="http://gac.tmap-em.toyota-asia.com/survey/media/com_acymailing/templates/newsletter-6/images/footer2.png"></span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </font>
            <div align="center" style="text-align: center; padding-top: 10px;"><font color="#dddddd" face="Verdana,Arial,Helvetica,sans-serif" size="1"><span style="font-size: 11px;">Global &amp; Regional System Rollout @ Information System Division</span></font></div>
        </span>
    </div>
</div>