<table width="600" align="center" class="w600" style="margin: auto; color: rgb(87, 87, 87); font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 11px; background-color: rgb(60, 60, 60);" border="0" cellspacing="0" cellpadding="0">
    <tbody> &gt;   &lt;  &gr
        <tr>
            <td width="600" class="w600" valign="bottom" style="line-height: 0px; background-color: rgb(238, 238, 238);" colspan="3">
                <img width="600" height="41" alt="mail" blockedimagesrc="http://gac.tmap-em.toyota-asia.com/survey/media/com_acymailing/templates/newsletter-6/images/header.png">
            </td>
        </tr>
        <tr>
            <td width="30" class="w30" style="background-color: rgb(255, 255, 255);"></td>
            <td width="540" class="w540" style="text-align: center; line-height: 0px; background-color: rgb(255, 255, 255);">
                <img width="540" height="122" style="width: 540px; height: 122px;" alt="" blockedimagesrc="http://gac.tmap-em.toyota-asia.com/survey/media/com_acymailing/upload/banner.png">
            </td>
            <td width="30" height="122" class="w30" style="background-color: rgb(255, 255, 255);"></td>
        </tr>
        <tr>
            <td width="30" class="w30" style="color: rgb(255, 255, 255); background-color: rgb(255, 0, 0);"></td>
            <td width="540" height="25" class="w540" style="text-align: right; color: rgb(255, 255, 255); background-color: rgb(255, 0, 0);">
                <span class="hide">Newsletter</span> 06 July 2017
            </td>
            <td width="30" class="w30" style="color: rgb(255, 255, 255); background-color: rgb(255, 0, 0);"></td>
        </tr>
        <tr>
            <td width="600" height="25" class="w600" style="background-color: rgb(255, 255, 255);" colspan="3"></td>
        </tr>
        <tr>
            <td width="30" class="w30" style="background-color: rgb(255, 255, 255);"></td>
            <td width="540" class="w540" style="text-align: justify; color: rgb(87, 87, 87); background-color: rgb(255, 255, 255);">
                Detail
            </td>
            <td width="30" class="w30" style="background-color: rgb(255, 255, 255);"></td>
        </tr>
        <tr style="line-height: 0px;">
            <td width="600" class="w600" valign="top" style="line-height: 0px; background-color: rgb(239, 239, 239);" colspan="3">
                <img width="600" height="18" alt="--" blockedimagesrc="http://gac.tmap-em.toyota-asia.com/survey/media/com_acymailing/templates/newsletter-6/images/footer1.png">
            </td>
        </tr>
        <tr>
            <td width="30" height="20" class="w30" style="line-height: 0px; background-color: rgb(239, 239, 239);"></td>
            <td width="540" class="acyfooterw540" style="text-align: right; color: rgb(87, 87, 87); background-color: rgb(239, 239, 239);">
                <a style="border: currentColor; color: rgb(87, 87, 87); text-decoration: none;" href="https://203.154.112.190/f5-w-68747470733a2f2f746d61702d6e65742e61702e746f796f74612d617369612e636f6d$$/dept/IS/SitePages/Home.aspx" target="_blank">IS TMAP-NET</a> | <a style="border: currentColor; color: rgb(87, 87, 87); text-decoration: none;" href="mailto:niwat_sut@tmap-em.toyota-asia.com" target="_blank">Contact</a><a style="border: currentColor; color: rgb(87, 87, 87); text-decoration: none;" href="mailto:niwat_sut@tmap-em.toyota-asia.com" target="_blank"><img width="35" height="20" class="hide" style="border: currentColor; width: 35px; height: 20px; text-decoration: none;" alt="message" blockedimagesrc="http://gac.tmap-em.toyota-asia.com/survey/media/com_acymailing/templates/newsletter-6/images/mail.png"></a>
            </td>
            <td width="30" height="20" class="w30" style="line-height: 0px; background-color: rgb(239, 239, 239);"></td>
        </tr>
        <tr style="line-height: 0px;">
            <td width="600" class="w600" valign="top" style="line-height: 0px; background-color: rgb(239, 239, 239);" colspan="3">
                <img width="600" height="24" alt="--" blockedimagesrc="http://gac.tmap-em.toyota-asia.com/survey/media/com_acymailing/templates/newsletter-6/images/footer2.png">
            </td>
        </tr>
    </tbody>
</table>