<div>
<div style="background-color: rgb(60, 60, 60);"><span style="background-color: rgb(60, 60, 60);"><font face="Verdana,Arial,Helvetica,sans-serif">
<table width="600" align="center" style="width: 600px;" border="0" cellspacing="0" cellpadding="0">
<tbody><tr>
<td width="600" valign="bottom" style="width: 600px; background-color: rgb(238, 238, 238);" colspan="3">
<span style="background-color: rgb(238, 238, 238);"><img width="600" height="41" alt="mail" src="http://gac.tmap-em.toyota-asia.com/survey/media/com_acymailing/templates/newsletter-6/images/header.png"></span></td>
</tr>
<tr>
<td width="30" style="width: 30px; background-color: white;"><span style="background-color: white;"></span></td>
<td width="540" align="center" style="width: 540px; text-align: center; background-color: white;">
<span style="background-color: white;"><img width="540" height="122" src="http://gac.tmap-em.toyota-asia.com/survey/media/com_acymailing/upload/banner.png"></span></td>
<td width="30" style="width: 30px; height: 122px; background-color: white;"><span style="background-color: white;"></span></td>
</tr>
<tr>
<td width="30" style="width: 30px; background-color: red;"><font color="white"><span style="background-color: red;"></span></font></td>
<td width="540" align="right" style="width: 540px; height: 25px; background-color: red;">
<font color="white"><span style="background-color: red;">Newsletter 06 July 2017</span></font></td>
<td width="30" style="width: 30px; background-color: red;"><font color="white"><span style="background-color: red;"></span></font></td>
</tr>
<tr>
<td width="600" style="width: 600px; height: 25px; background-color: white;" colspan="3">
<span style="background-color: white;"></span></td>
</tr>
<tr>
<td width="30" style="width: 30px; background-color: white;"><span style="background-color: white;"></span></td>
<td width="540" align="justify" style="width: 540px; background-color: white;"><span style="background-color: white;"><font size="1"><span style="font-size: 12px;"><b>Hello Niwat Suthathammarat,</b></span></font><br>

<br>

There have error occured when try to send email as below :<br>

Please check detail on log. App ID = 1360 
<div style="padding-bottom: 4px; margin-top: 20px; margin-bottom: 14pt; border-bottom-color: rgb(214, 214, 214); border-bottom-width: 1px; border-bottom-style: solid;">
<font color="red" size="2"><span style="font-size: 14px;"><b>IT Innovation News</b></span></font></div>
<font face="Verdana,Arial,Helvetica,sans-serif">
<table width="100%" style="width: 100%;" border="0" cellspacing="5" cellpadding="5">
<tbody><tr>
<td align="center" style="text-align: center;"><img width="150" height="150" src="http://gac.tmap-em.toyota-asia.com/survey/media/com_acymailing/upload/logo_new_03.jpg"></td>
<td align="center" style="text-align: center;"><img width="150" height="150" src="http://gac.tmap-em.toyota-asia.com/survey/media/com_acymailing/upload/logo_new_02.png"></td>
<td align="center" style="text-align: center;"><img width="150" height="150" src="http://gac.tmap-em.toyota-asia.com/survey/media/com_acymailing/upload/logo_new_03.png"></td>
</tr>
<tr>
<td align="left" valign="top" style="text-align: justify;"><b>CES 2016: Smart gadgets for all the family</b></td>
<td align="left" valign="top" style="text-align: justify;"><b>Microsoft reveals details of Windows 10 usage tracking</b></td>
<td align="left" valign="top" style="text-align: justify;"><b>CES 2016: PayPal of smart devices puts users in control</b></td>
</tr>
<tr>
<td><a href="https://tmap-net.ap.toyota-asia.com/dept/IS/Lists/IS%20News/DispForm.aspx?ID=62&amp;ContentTypeId=0x0100D616B493D9F6F049B728077E450C24E4" target="_blank"><font color="red"><font color="white"><span style="background-color: red;">Read More</span></font></font></a></td>
<td><a href="https://tmap-net.ap.toyota-asia.com/dept/IS/Lists/IS%20News/DispForm.aspx?ID=61&amp;ContentTypeId=0x0100D616B493D9F6F049B728077E450C24E4" target="_blank"><font color="red"><font color="white"><span style="background-color: red;">Read More</span></font></font></a></td>
<td><a href="https://tmap-net.ap.toyota-asia.com/dept/IS/Lists/IS%20News/DispForm.aspx?ID=60&amp;ContentTypeId=0x0100D616B493D9F6F049B728077E450C24E4" target="_blank"><font color="red"><font color="white"><span style="background-color: red;">Read More</span></font></font></a></td>
</tr>
</tbody></table>
</font>&nbsp;&nbsp;</span></td>
<td width="30" style="width: 30px; background-color: white;"><span style="background-color: white;"></span></td>
</tr>
<tr>
<td width="600" valign="top" style="width: 600px; background-color: rgb(239, 239, 239);" colspan="3">
<span style="background-color: rgb(239, 239, 239);"><img width="600" height="18" alt="--" src="http://gac.tmap-em.toyota-asia.com/survey/media/com_acymailing/templates/newsletter-6/images/footer1.png"></span></td>
</tr>
<tr>
<td width="30" style="width: 30px; height: 20px; background-color: rgb(239, 239, 239);"><span style="background-color: rgb(239, 239, 239);"></span></td>
<td width="540" align="right" style="width: 540px; background-color: rgb(239, 239, 239);"><span style="background-color: rgb(239, 239, 239);"><a href="https://tmap-net.ap.toyota-asia.com/dept/IS/SitePages/Home.aspx" target="_blank">IS TMAP-NET</a> | <a href="mailto:niwat_sut@tmap-em.toyota-asia.com" target="_blank">Contact</a><a href="mailto:niwat_sut@tmap-em.toyota-asia.com" target="_blank"><img width="35" height="20" alt="message" src="http://gac.tmap-em.toyota-asia.com/survey/media/com_acymailing/templates/newsletter-6/images/mail.png"></a>
</span></td>
<td width="30" style="width: 30px; height: 20px; background-color: rgb(239, 239, 239);"><span style="background-color: rgb(239, 239, 239);"></span></td>
</tr>
<tr>
<td width="600" valign="top" style="width: 600px; background-color: rgb(239, 239, 239);" colspan="3">
<span style="background-color: rgb(239, 239, 239);"><img width="600" height="24" alt="--" src="http://gac.tmap-em.toyota-asia.com/survey/media/com_acymailing/templates/newsletter-6/images/footer2.png"></span></td>
</tr>
</tbody></table>
</font>
<div align="center" style="text-align: center; padding-top: 10px;"><font color="#dddddd" face="Verdana,Arial,Helvetica,sans-serif" size="1"><span style="font-size: 11px;">Global &amp; Regional System Rollout @ Information System Division</span></font></div>
</span></div>
</div>