<style>
    .TitleName {
    line-height: 2;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 12px;
    font-weight: 600;
    background-color: red;
    color:white;
    }
    </style>
    <div>
    <div>
    <table width="600" align="center" style="font-family: "Verdana","Arial","Helvetica","sans-serif"; font-size: 12px;  width: 600px;" border="0" cellspacing="0" cellpadding="0">
    <tbody style="font-size: 12px;">
    <tr>
    <td width="600" valign="bottom" style="width: 600px;" colspan="3">
    <img width="600" height="41" alt="mail" src="http://sfas.siamtoyota.co.th/Images/header-new.png">
    </td>
    </tr>
    <tr>
    <td width="30" style="width: 30px; background-color: white;">
    <span style="background-color: white;"></span>
    </td>
    <td width="540" align="center" style="width: 540px; text-align: center; background-color: white;">
    <span style="background-color: white;">
    <img width="150" height="80" src="http://172.17.26.115/images/sc2logoimg.gif">
    </span>
    </td>
    <td width="30" style="width: 30px; background-color: white;">
    <span style="background-color: white;"></span>
    </td>
    </tr>
    <tr>
    <td width="30" style="width: 30px; background-color: red;">
    <span style="background-color: red;"></span>
    </td>
    <td width="540" align="right" style="width: 540px; height: 25px; background-color: red;">
    <span class="TitleName">
    STM Fixed Asset Online System
    </span>
    </td>
    <td width="30" style="width: 30px; background-color: red;">
    <span style="background-color: red;"></span>
    </td>
    </tr>
    <tr>
    <td width="600" style="width: 600px; background-color: white;" colspan="3">
    <span style="background-color: white;"></span>
    </td>
    </tr>
    <tr>
    <td width="30" style="width: 30px; background-color: white;">
    <span style="background-color: white;"></span>
    </td>
    <td width="540" align="justify" style="width: 540px; background-color: white;">
aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
</td>
    <td width="30" style="width: 30px; background-color: white;">
    <span style="background-color: white;"></span>
    </td>
    </tr>
    <tr>
    <td width="600" style="width: 600px; line-height: 0.5;" colspan="3">
    <img width="600" alt="--" src="http://sfas.siamtoyota.co.th/Images/footer1.png">
    </td>
    </tr>
    <tr>
    <td width="30" style="width: 30px; height: 20px; background-color: rgb(239, 239, 239);">
    <span style="background-color: rgb(239, 239, 239);"></span>
    </td>
    <td width="540" align="right" style="width: 540px; background-color: rgb(239, 239, 239);">
    <span style="background-color: rgb(239, 239, 239);">
    <a style="text-decoration: none;" href="https://sfas.siamtoyota.co.th" target="_blank">SFAS Application</a> | <a href="mailto:niwat_sut@tmap-em.toyota-asia.com" target="_blank">Contact</a><a href="mailto:atiruj_b@siamtoyota.co.th" target="_blank">
    <img width="35" height="20" alt="message" src="http://gac.tmap-em.toyota-asia.com/survey/media/com_acymailing/templates/newsletter-6/images/mail.png"> </a>
    </span>
    </td>
    <td width="30" style="width: 30px; height: 20px; background-color: rgb(239, 239, 239);">
    <span style="background-color: rgb(239, 239, 239);"></span>
    </td>
    </tr>
    <tr>
    <td width="600" style="width: 600px;" colspan="3">
    <img width="600" alt="--" src="http://sfas.siamtoyota.co.th/Images/footer-new.png">
    </td>
    </tr>
    </tbody>
    </table>
    </font>
    <div align="center" style="text-align: center; vertical-align: top;">
    <font face="Verdana,Arial,Helvetica,sans-serif" size="1">
    <span style="font-size: 11px;">Siam Toyota Manufacturing Co.,Ltd.</span>
    <font face="Verdana,Arial,Helvetica,sans-serif" size="1"> </font>
    </div>
    </div>
    </div>