﻿
@{
    ViewBag.Title = "CostCenterPopup";
}
<style>
    /*table.dataTable thead > tr > th {
        padding-right: 20px;
        padding-left: 20px;
    }

    .input-group-addon {
        border-left-width: 0px;
    }

    .table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
        padding: 8px 5px;
    }*/

    .cursorPointer {
        cursor: pointer;
    }

    #CostSearchResultTable-item-per-page {
        min-width:50px;
    }
</style>
<div class="modal fade" id="divSearchCostCenter" tabindex="99" role="dialog">
    <div class="modal-dialog" style="width:1000px; margin-top:20px;">
        <div class="modal-content Radius12">
            <div class="modal-header">
                <button id="comCC2410CloseModal" type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="lblCostCenterTitle">Search Cost Center Dialog</h4>
            </div>
            <div class="modal-body">
                <div id="AlertMessagecomCC2410" class="message-area">
                </div>
                <div class="form-horizontal">
                    <div class="box box-info">
                        <div class="box-header with-border">
                            <h3 class="box-title">
                                Search Condition
                            </h3>
                            <div class="box-tools pull-right">
                                <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="" data-original-title="Collapse">
                                    <i class="fa fa-minus"></i>
                                </button>
                            </div>
                        </div>
                        <div class="box-body">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="FIND" class="col-sm-1 control-label">Find :</label>
                                    <div class="col-sm-8">
                                        @Html.CommonTextBox("FIND", null, new { @class = "form-control", style = "width: 100%;" })
                                    </div>
                                    <div class="col-sm-3 text-right">
                                        <button id="btnCC2410Search" class="btn btn-primary"><i class="fa fa-search"></i>  Search </button>
                                        <button id="btnCC2410Close" class="btn btn-warning"><i class="fa fa-power-off"></i>  Close </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box box-success" id="CostSearchDataRow">
                    <div class="box-header with-border">
                        <h3 class="box-title">
                            Search Result
                        </h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="" data-original-title="Collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="box-body">
                        <div id="CostSearchResult" class="col-lg-12">
                            <table id="CostSearchResultTable" class="table table-bordered table-striped table-hover table-th-center" style="margin-top: 10px; font-size:12px; border-radius: 3px;">
                                <thead style="height:40px;">
                                    <tr>
                                        <th style="width:100px;">Cost Code</th>
                                        <th style="min-width: 150px; text-align:center;">Cost Name</th>
                                        <th style="width:150px;" id="lblHeader">FA Window Name</th>
                                        <th style="width:100px;">Status</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>





