﻿<div class="modal fade" id="divDetailTransDialog" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header HeaderModel">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="lblAssetNoOnDetailTransDialog"></h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="form-group col-sm-12">
                        <label for="WFD02410ComBoLocation" class="col-sm-4 control-label">Location :</label>
                        <div class="col-sm-8">
                            <select id="WFD02410ComBoLocation" class="form-control select2" style="width:100%"></select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-sm-12">
                        <label for="WFD02410FutureUse" class="col-sm-4 control-label">Future Use :</label>
                        <div class="col-sm-8">
                            <input id="WFD02410FutureUse" disabled="disabled" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-sm-12">
                        <label for="WFD02410ComBoWBSCosProject" class="col-sm-4 control-label">WBS Cost (Project) :</label>
                        <div class="col-md-8">
                            <select id="WFD02410ComBoWBSCosProject" class="form-control select2" style="width:100%"></select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-sm-12">
                        <label for="WFD02410ComBoToEmployee" class="col-sm-4 control-label">Assign Employee :</label>
                        <div class="col-md-8">
                            <select id="WFD02410ComBoToEmployee" class="form-control select2" style="width:100%"></select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-sm-12">
                        <label for="WFD02410LocationDetail" class="col-sm-4 control-label">Location Detail :</label>
                        <div class="col-sm-8">
                            <input id="WFD02410LocationDetail" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="RadiusBottom12" style="text-align:right;">
                    <div class="form-inline form-in" style="margin: 10px 46px;">
                        <div class="navbar-right">
                            <button class="btn btn-sm btn-info" style="width: 80px;" id="btnDetailTransDialogOK" type="button"><i class="fa fa-save"></i> OK </button>
                            <button class="btn btn-sm btn-warning" data-dismiss="modal" id="btnCancelDialog" type="button"><i class="fa fa-ban"></i> Cancel </button>
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

</div>