﻿<script>
    var UrlWFD02410 = {
        //WFD02410
        GetTransferReason: '@Url.Action("GetTransferReason", "WFD02410")',
        GetDropdownWBSCosProject: '@Url.Action("GetDropdownWBSCosProject", "WFD02410")',
        GetDropdownToEmployee: '@Url.Action("GetDropdownToEmployee", "WFD02410")',
        GetDropdownLocation: '@Url.Action("GetDropdownLocation", "WFD02410")',
        GetNewAssetOwner: '@Url.Action("GetNewAssetOwner", "WFD02410")',

        SearchCostCenter: '@Url.Action("SearchCostCenter", "WFD02410")',
    }
    var URL_COMSCC = {
        ITEM_PER_PAGE : 10
    }
    
    var Message = {
        MSTD0059AERR : '@ViewBag.MSTD0059AERR'
    }
</script>
<style>
    p {
        margin: 0 0 0px !important;
    }
</style>
<div class="box box-primary" id="WFD02410_NewAssetOwner">
    <div class="box-header with-    ">
        <h3 class="box-title">New Asset Owner</h3>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                <i class="fa fa-minus"></i>
            </button>
        </div>
    </div>
    <div class="box-body">
        <div class="col-sm-12">
            <div class="form-group">
                <label for="WFD02410_NEW_OWNER_EMP_CODE" class="col-sm-2 control-label padding-label">Employee Code</label>
                <div class="col-sm-2 padding-group-textbox">
                    @Html.CommonTextBox("WFD02410_NEW_OWNER_EMP_CODE", null, new { @class = "form-control", style = "width: 100%;", disabled = "disabled", maxlength = "11" })
                </div>
                <label for="WFD02410_NEW_OWNER_EMP_NAME" class="col-sm-1 control-label padding-label">Name</label>
                <div class="col-sm-3 padding-group-textbox">
                    @Html.CommonTextBox("WFD02410_NEW_OWNER_EMP_NAME", null, new { @class = "form-control", style = "width: 100%;", disabled = "disabled", maxlength = "8" })
                </div>
                <label for="WFD02410_NEW_OWNER_COST_NAME" class="col-sm-1 control-label  padding-label">Cost Center</label>
                <div class="col-sm-3 padding-group-textbox">
                    <div class="input-group">
                        <input type="text" class="form-control" id="WFD02410_CHECK_DIALOG_COST_CODE" name="CHECK_DIALOG_COST_CODE" style="display:none;" maxlength="50" pattern="^[A-Za-z0-9\-]{0,15}$">
                        <input type="text" class="form-control" id="WFD02410_NEW_OWNER_COST_CODE" name="COST_CODE" style="display:none;" maxlength="50" pattern="^[A-Za-z0-9\-]{0,15}$">
                        <input type="text" class="form-control" id="WFD02410_NEW_OWNER_COST_NAME" name="COST_NAME" maxlength="70" pattern="^[A-Za-z0-9\-]{0,15}$" tabindex="2" readonly="readonly">
                        <span class="input-group-btn" style="cursor:pointer;"><button id="WFD02410BtnNEW_OWNER_COST_NAME" class="btn btn-flat" type="button" style="background-color:white; padding-left:8px; padding-right:8px;">...</button></span>
                    </div>
                </div>                
            </div>
            <div class="form-group">
                <label for="WFD02410_NEW_OWNER_RESP_COST_NAME" class="col-sm-2 control-label padding-label">Responsible Cost Center</label>
                <div class="col-sm-2 padding-group-textbox">
                    <div class="input-group">
                        <input type="text" class="form-control" id="WFD02410_CHECK_DIALOG_RESP_COST_CODE" name="CHECK_DIALOG_RESP_COST_CODE" style="display:none;" maxlength="50" pattern="^[A-Za-z0-9\-]{0,15}$">
                        <input type="text" class="form-control" id="WFD02410_NEW_OWNER_RESP_COST_CODE" name="COST_CODE" style="display:none;" maxlength="50" pattern="^[A-Za-z0-9\-]{0,15}$">
                        <input type="text" class="form-control" id="WFD02410_NEW_OWNER_RESP_COST_NAME" name="COST_NAME" maxlength="70" pattern="^[A-Za-z0-9\-]{0,15}$" tabindex="2" readonly="readonly">
                        <span class="input-group-btn" style="cursor:pointer;"><button id="WFD02410BtnNEW_OWNER_RESP_COST_NAME" class="btn btn-flat" type="button" style="background-color:white; padding-left:8px; padding-right:8px;">...</button></span>
                    </div>
                </div>
                <label for="WFD02410_NEW_OWNER_POS_NAME" class="col-sm-1 control-label  padding-label">Position</label>
                <div class="col-sm-3 padding-group-textbox">
                    @Html.CommonTextBox("WFD02410_NEW_OWNER_POS_NAME", null, new { @class = "form-control", style = "width: 100%;", disabled = "disabled", maxlength = "70" })
                </div>                
                <label for="DEPT_NAME" class="col-sm-1 control-label  padding-label">Department</label>
                <div class="col-sm-3 padding-group-textbox">
                    @Html.CommonTextBox("WFD02410_NEW_OWNER_DEPT_NAME", null, new { @class = "form-control", style = "width: 100%;", disabled = "disabled", maxlength = "45" })
                </div>                                  
            </div>
            <div class="form-group">
                <label for="PHONE_NO" class="col-sm-2 control-label  padding-label">Tel No.</label>
                <div class="col-sm-2 padding-group-textbox">
                    @Html.CommonTextBox("WFD02410_NEW_OWNER_PHONE_NO", null, new { @class = "form-control", style = "width: 100%;", disabled = "disabled", maxlength = "20" })
                </div>
                <label for="SECT_NAME" class="col-sm-1 control-label  padding-label">Section</label>
                <div class="col-sm-3 padding-group-textbox">
                    @Html.CommonTextBox("WFD02410_NEW_OWNER_SECT_NAME", null, new { @class = "form-control", style = "width: 100%;", disabled = "disabled", maxlength = "45" })
                </div>               
            </div>  
        </div>
    </div>
</div>
<div class="box box-primary" id="WFD02410_ApproveRouteType">
    <div class="box-header with-border">
        <div class="row">
            <div class="col-md-4"><h3 class="box-title">Approve Route Type</h3></div>
            <div class="col-md-2" custom-control custom-checkbox">
                <input id="chkNormal" type="checkbox" class="custom-control-input" tabindex="3" style="width:24px;height:24px;" />
                <label class="custom-control-label" for="chkNormal">Normal</label>
            </div>
            <div class="col-md-4" custom-control custom-checkbox">
                <input id="chkMass" type="checkbox" class="custom-control-input" tabindex="3" style="width:24px;height:24px;" />
                <label class="custom-control-label" for="chkMass">Mass</label>
            </div>
        </div>
    </div>
</div>
<div class="box box-primary" id="WFD02410_SearchDataRow">
    <div class="box-header with-border">
        <h3 class="box-title">Assets List</h3>
        <div class="form-group">
            <div class="col-sm-6">
                @Html.WFD01170Button("btnRequestDownload", "Download Template ", new { @class = "btn btn-info", tabindex = "2" }, TagHelper.BUTTON_TYPES.DOWNLOAD)
                @Html.WFD01170Button("btnRequestUpload", "Upload Excel ", new { @class = "btn btn-warning", tabindex = "2" }, TagHelper.BUTTON_TYPES.UPLOAD)
            </div>
            <div class="col-sm-6 text-right">
                @Html.WFD01170Button("btnRequestAdd", "Add ", new { @class = "btn btn-info", tabindex = "2" }, TagHelper.BUTTON_TYPES.ADD)
                @Html.WFD01170Button("btnRequestClear", "Clear ", new { @class = "btn btn-warning", tabindex = "2" }, TagHelper.BUTTON_TYPES.CLEAR)
                @Html.WFD01170Button("btnRequestExport", "Export to Excel ", new { @class = "btn btn-info", tabindex = "2" }, TagHelper.BUTTON_TYPES.EXPORT)
            </div>
        </div>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                <i class="fa fa-minus"></i>
            </button>
        </div>

    </div>
    <div class="box-body">
        <div class="row">
            
            <div id="divSearchRequestResult" class="col-lg-12">
                <table id="tbSearchResult" class="table table-bordered table-striped table-hover table-thead-center"
                       style="font-size:12px; border-radius: 3px;">
                    <thead style="height:40px; background-color:rgba(236, 240, 245, 1);">
                        <tr>
                            <th style="width: 25px; text-align: center;"><input id="WFD02410_SelectAll" type="checkbox" style="margin-top: 3px; height:20px; width:20px;" /></th>
                            <th style="width: 20px; text-align: center;">No.</th>
                            <th style="width: 80px; text-align: center;">Asset No.</th>
                            <th style="width: 40px; text-align: center;">Asset Sub</th>
                            <th style="width: 120px; text-align: center;">Asset Name</th>
                            <th style="width: 40px; text-align: center;">Date In Service</th>
                            <th style="width: 80px; text-align: center;">Cost</th>
                            <th style="width: 80px; text-align: center;">Book Value</th>
                            <th style="width: 80px; text-align: center;">Transfer Reason</th>
                            <th style="width: 110px; text-align: center;">Effective Date</th>
                            <th style="width: 25px; text-align: center;">BOI</th>
                            <th style="width: 35px; text-align: center;">Tax<br />Priviledge</th>
                            <th style="width: 25px; text-align: center;">BOI<br />Doc</th>
                            <th style="width: 40px; text-align: center;">Status</th>
                            <th style="width: 25px; text-align: center;"></th>
                            <th style="width: 25px; text-align: center;">Del</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
        <div class="row">
            <div id="WFD02210RemarkGenerate" class="col-lg-12" style="display:none;">
                <div class="form-group" style="padding-right:16px; color:#e08e0b; text-align:right">
                    <p>Remark: If you want to edit data in asset list, please click Reset Approver List.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="box box-primary" id="DivTMCDocument">
    <div class="box-header with-border">
        <div class="row">
            <div class="col-sm-10" style="text-align:left;">
                <h3 class="box-title">TMC Document</h3>
            </div>

            <div class="col-sm-2" style="text-align:right;">
                <button id="WFD02410btnUploadTMCDocument" type="button" class="btn btn-info" tabindex="21"><i class="fa fa-upload"></i> Upload </button>
            </div>

        </div>
    </div>
  
</div>

@Html.Partial("CostCenterPopup")
@Html.Partial("DetailTransDialog")

<div class="modal fade" id="WFD02410_SetOtherReason" tabindex="1" role="dialog">
    <div class="modal-dialog" style="width:520px; margin: 80px auto;">
        <div class="modal-content Radius12" style="width:700px;">
            <div class="modal-header HeaderModel">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="btnWFD02410_SetOtherReasonCloseModal">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">Transfer Reason (Other)</h4>
            </div>
            <div class="fasdangerPopup alert alert-dismissible" id="WFD02410MessageAlertReasonOther" style="display:none">
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <div class="col-sm-12">
                            <input id="WFD02410_TRNF_REASON_OTHER" class="form-control require" style="width:100%" maxlength="200" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="form-group">
                    <button id="WFD02410_TRNF_REASON_OTHER_SAVE" class="btn btn-success"><i class="fa fa-save"></i>  Save </button>
                    <button id="WFD02410_TRNF_REASON_OTHER_CANCEL" class="btn btn-warning"><i class="fa fa-close"></i>  Cancel </button>
                </div>
            </div>
        </div>
    </div>
</div>