﻿<div class="box box-primary">
    <div class="box-header with-border">
        <h3 class="box-title">New asset owner</h3>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                <i class="fa fa-minus"></i>
            </button>
        </div>
    </div>
    <div class="box-body">
        <div class="col-sm-12">
            <div class="form-group">
                <label for="WFD02410_NEW_OWNER_EMP_CODE" class="col-sm-3 control-label">Employee Code :</label>
                <div class="col-sm-3">
                    <input type="hidden" id="hdReceiver" value="" />
                     @Html.CommonTextBox("WFD02410_NEW_OWNER_EMP_CODE", null, new { @class = "form-control", style = "width: 100%;", disabled = "disabled", maxlength = "11" })
                </div>
                <label for="WFD02410_NEW_OWNER_COST_NAME" class="col-sm-3 control-label">Cost center :</label>
                <div class="col-sm-3">
                    <div class="input-group">
                        <input type="text" class="form-control" id="WFD02410_CHECK_DIALOG_COST_CODE" name="CHECK_DIALOG_COST_CODE" style="display:none;" maxlength="50" pattern="^[A-Za-z0-9\-]{0,15}$">
                        <input type="text" class="form-control" id="WFD02410_NEW_OWNER_COST_CODE" name="COST_CODE" style="display:none;" maxlength="50" pattern="^[A-Za-z0-9\-]{0,15}$">
                        <input type="text" class="form-control" id="WFD02410_NEW_OWNER_COST_NAME" name="COST_NAME" maxlength="70" pattern="^[A-Za-z0-9\-]{0,15}$" tabindex="2" readonly="readonly">
                        <span class="input-group-btn" style="cursor:pointer;"><button id="WFD02410BtnNEW_OWNER_COST_NAME"  class="btn btn-flat" type="button" style="background-color:white; padding-left:8px; padding-right:8px;">...</button></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="WFD02410_NEW_OWNER_EMP_NAME" class="col-sm-3 control-label">Employee Name :</label>
                <div class="col-sm-3">
                    @Html.CommonTextBox("WFD02410_NEW_OWNER_EMP_NAME", null, new { @class = "form-control", style = "width: 100%;", disabled = "disabled", maxlength = "8" })
                </div>
                <label for="EMP_NAME" class="col-sm-3 control-label">Responsible Cost Center :</label>
                @*<div class="col-sm-3">
                    @Html.CommonTextBox("WFD02410_NEW_OWNER_RESPONSIBILITY", null, new { @class = "form-control", style = "width: 100%;", disabled = "disabled", maxlength = "70" })
                </div>*@
                <div class="col-sm-3">
                    <div class="input-group">
                        <input type="text" class="form-control" id="WFD02410_CHECK_DIALOG_RESP_COST_CODE" name="CHECK_DIALOG_RESP_COST_CODE" style="display:none;" maxlength="50" pattern="^[A-Za-z0-9\-]{0,15}$">
                        <input type="text" class="form-control" id="WFD02410_NEW_OWNER_RESP_COST_CODE" name="COST_CODE" style="display:none;" maxlength="50" pattern="^[A-Za-z0-9\-]{0,15}$">
                        <input type="text" class="form-control" id="WFD02410_NEW_OWNER_RESP_COST_NAME" name="COST_NAME" maxlength="70" pattern="^[A-Za-z0-9\-]{0,15}$" tabindex="2" readonly="readonly">
                        <span class="input-group-btn" style="cursor:pointer;"><button id="WFD02410BtnNEW_OWNER_RESP_COST_NAME" class="btn btn-flat" type="button" style="background-color:white; padding-left:8px; padding-right:8px;">...</button></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="WFD02410_NEW_OWNER_POS_NAME" class="col-sm-3 control-label">Position :</label>
                <div class="col-sm-3">
                    @Html.CommonTextBox("WFD02410_NEW_OWNER_POS_NAME", null, new { @class = "form-control", style = "width: 100%;", disabled = "disabled", maxlength = "70" })
                </div>               
                <label for="DEPT_NAME" class="col-sm-3 control-label">Department :</label>
                <div class="col-sm-3">
                    @Html.CommonTextBox("WFD02410_NEW_OWNER_DEPT_NAME", null, new { @class = "form-control", style = "width: 100%;", disabled = "disabled", maxlength = "45"})
                </div>
            </div>
            <div class="form-group">
                <label for="PHONE_NO" class="col-sm-3 control-label">Tel No. :</label>
                <div class="col-sm-3">
                    @Html.CommonTextBox("WFD02410_NEW_OWNER_PHONE_NO", null, new { @class = "form-control", style = "width: 100%;", disabled = "disabled", maxlength = "50" })
                </div>
                <label for="SECT_NAME" class="col-sm-3 control-label">Section :</label>
                <div class="col-sm-3">
                    @Html.CommonTextBox("WFD02410_NEW_OWNER_SECT_NAME", null, new { @class = "form-control", style = "width: 100%;", disabled = "disabled", maxlength = "45" })
                </div>
            </div>
            <div class="form-group" id="WFD02410_NORMAL_OR_MASS">
                <label for="WFD02410_NORMAL_TRANSFER" class="col-sm-4 control-label"></label>
                 <div class="col-sm-2">
                     <input id="WFD02410_NORMAL_TRANSFER" type="checkbox" onclick="fAction.SetCheckBoxNormalOrMass('WFD02410_NORMAL_TRANSFER');" tabindex="3" style="width:24px;height:24px;" />  Normal Transfer
                </div>
                <div class="col-sm-3">
                    <input id="WFD02410_MASS_TRANSFER" type="checkbox" onclick="fAction.SetCheckBoxNormalOrMass('WFD02410_MASS_TRANSFER');" tabindex="3" style="width:24px;height:24px;"/>  Mass Transfer
                </div>
                <label for="WFD02410_NORMAL_TRANSFERS" class="col-sm-3 control-label"></label>
            </div>
        </div>
    </div>
</div>
