﻿<style>
    .RetiredRead {
        background-color: rgba(221, 75, 57, 0.8);
        color:#333;
    }
    p {
        margin:0px;
    }
    .btn > i {
     margin-right: 0px;
}
    .table-thead-center th {
    text-align:center;
    }
    .btn-del-file {
        display:inline-block;
        margin-left:5px;
    }
    .btn-white {
        background-color:white;
        color:black;
    }
    .btn-view-file {
        background-color:white;
        color:black;
        padding-right:5px;
        display:inline-block;
        border-color:black;
    }
    .inlineBlock {
        display:inline-block;       
    }
     .RetiredRead a {
    /*color:#333;*/
    }
</style>
<div class="box box-primary" id="WFD02410_SearchDataRow">
    <div class="box-header with-border">
        <h3 class="box-title">Assets List</h3>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                <i class="fa fa-minus"></i>
            </button>
        </div>
    </div>
    <div class="box-body">
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <div class="col-sm-4">
                    </div>
                    <div class="col-sm-8 text-right">
                        <button id="WFD02410PrintAddAssets" class="btn btn-info" tabindex="4"><i class="fa fa-print"></i> Print</button>
                        @Html.Button("WFD02410AddAssets", "Add ", new { @class = "btn btn-info", tabindex = "4" }, TagHelper.BUTTON_TYPES.ADD)
                        @Html.Button("WFD02410Clear", "Clear ", new { @class = "btn btn-warning", tabindex = "4" }, TagHelper.BUTTON_TYPES.CLEAR)
                        @Html.Button("WFD02410ExportToExcel", "Export to Excel ", new { @class = "btn btn-info", tabindex = "4" }, TagHelper.BUTTON_TYPES.EXPORT)
                    
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div id="WFD02410_SearchResult" class="col-lg-12">
                <table id="WFD02410_SearchResultTable" class="table table-bordered table-striped table-hover table-thead-center"
                       style="margin-top: 10px; font-size:12px; border-radius: 3px;">
                    <thead style="height:40px; background-color:rgba(236, 240, 245, 1);">
                        <tr>
                            <th style="width: 110px;">Asset No</th>
                            <th style="min-width: 150px;">Asset Name</th>
                            <th style="width: 75px;">Date In Service</th>
                            <th style="width: 90px;">Cost</th>
                            <th style="width: 90px;">Book Value</th>
                            <th style="min-width: 100px;">Transfer Reason</th>
                            <th style="min-width: 70px;">BOI No</th>
                            <th style="width: 60px;">BOI</th>
                            <th style="width: 70px;">BOI Doc</th>
                            <th style="min-width: 25px;"></th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
        <div class="row">
            <input id="WFD02410FileUploadFile" type="file" class="form-control" style="display:none" />
        </div>
        <div class="row">
            <div id="WFD02410RemarkGenerate" class="col-lg-12" style="display:none;">
                <div class="form-group" style="padding-right:16px; color:#e08e0b; text-align:right">
                    <p>Remark: If you want to edit data in asset list, please click Reset Approver List.</p>
                </div>
            </div>
        </div>
    </div>
</div>
@Html.Partial("../WFD02190/Index")


