﻿<style>
    /*table.dataTable thead > tr > th {
        padding-right: 20px;
        padding-left: 20px;
    }*/

    .input-group-addon {
        border-left-width: 0px;
    }

    /*.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
        padding: 8px 5px;
    }*/   

    .textleft {
        text-align: left;
    }
</style>

<script type="text/javascript">
    var URL_NAV_CONST = {
        SEARCH_USER_MANUAL: '@Url.Action("UserManual_Search", "UserManual")',
        CHECK_FILE_EXISTED: '@Url.Action("Check_File_Existed", "UserManual")',
        DOWNLOAD: '@Url.Action("Download", "UserManual")'
    }
</script>

<div class="modal fade" id="SearchUserManual" tabindex="99" role="dialog">
    <div class="modal-dialog" style="width:500px; margin-top:20px;">
        <div class="modal-content Radius12" style="width:500px;">
            <div class="modal-header">
                <button id="UMCloseModal" type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">User Manual Download Dialog</h4>
            </div>
            <div class="modal-body">
                <div id="AlertMessageUM" class="message-area">
                </div>
                <div class="box box-success" id="UMSearchDataRow">
                    <div class="box-header with-border">

                        <div class="box-body" style="border: 0px;">
                            <div id="UMSearchResult" class="col-lg-12">
                                <table id="UMSearchResultTable" class="table table-bordered table-striped table-hover table-th-center" style="margin-top: 10px; font-size:12px; border-radius: 3px;">
                                    <thead style="height:40px;">
                                        <tr>
                                            <th style="width:60px;text-align:center;">DOCUMENT</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>
</div>

@*<script src="~/JS/USERMANUAL.js"></script>*@