﻿<div class="modal fade" id="WFD02640Comment-dialog" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">Comment Dialog</h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label for="WFD02640Comment" class="col-sm-2 control-label">Comment:</label>
                        <div class="col-sm-10">
                            @*Fix comment by Pawares M. 20180822*@
                            <input class="form-control" type="text" id="WFD02640Comment" name="WFD02640Comment" maxlength="200" placeholder="Maximum input 200 character" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="WFD02640Attachment" class="col-sm-2 control-label">Attachment:</label>
                        <div class="col-sm-10">
                            <div class="input-group">
                                <input type="text" class="form-control" readonly="readonly" id="WFD02640TextFile" placeholder="Upload file type (.pdf, .xls, .xlsx, .zip, .doc, .docx) only">
                                <div class="input-group-addon" id="WFD02640Browse" style="background-color:#D9D9D9;cursor:pointer">
                                    <span>&nbsp;&nbsp; Browse...&nbsp;&nbsp; </span>
                                </div>

                            </div>
                            <input class="form-control" type="file" id="WFD02640Attachment" name="WFD02640Attachment" style="display:none"  accept=".doc, .docx, .pdf, .xls, .xlsx, .zip"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <div class="button-box navbar-right">
                                <button class="btn btn-sm btn-success" id="WFD02640Okbtn" type="button" style="width:100px"><i class="fa fa-check"></i>Ok</button>
                                <button class="btn btn-sm btn-warning" data-dismiss="modal" id="WFD02640Clear" type="button" style="width:100px"><i class="fa fa-ban"></i>Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

</div>