﻿<style>
    .info-box-icon {
        float: right;
    }
    .btn-white {
        background-color:white;
        color:black;
    }
    .info-box-icon-detail {
        float: right;
        height: 120px;
        border-top-left-radius: 2px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 2px;
        display: block;
        width: 90px;
        text-align: center;
        font-size: 45px;
        line-height: 120px;
        background: rgba(0,0,0,0.2);
    }

    .info-box-content {
        margin-left: 0px !important;
        padding: 5px 10px !important;
    }

    .info-box-text {
        font-size: 10px;
    }

    .title {
        display: block;
        height: 22px;
        line-height: 22px;
        margin-bottom: 13px;
    }

        .title .total {
            float: right;
            padding-right: 10px;
            font-weight: bold;
        }

        .title .text {
            float: left;
            font-weight: bold;
            font-size: 18px;
        }

    .asset_click {
        cursor: pointer;
    }

    .description {
        display: block;
        height: 22px;
        line-height: 22px;
        margin-bottom: 13px;
    }

        .description .des-right {
            float: right;
            padding-right: 10px;
        }

        .description .des-left {
            float: left;
        }

  .border-icon {
        border: 2px solid;
        padding: 10px;
    }


    .tooltip-inner {
        min-width: initial;
        max-width: 400px;
    }

    .NonChecked {
        display: none;
    }

</style>
<div class="form-horizontal">
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">FA Physical Check Monitoring Detail</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="" data-original-title="Collapse">
                    <i class="fa fa-minus"></i>
                </button>
            </div>
        </div>
        <div class="box-body" style="display: block;">
            <div class="form-group">
                <div class="col-sm-12">
                    <label id="lblWFD02640SvName" class="col-sm-2 control-label">S/V Name : </label>
                    <div class="col-sm-3">
                        <input class="form-control" type="text" id="WFD02640SvName" name="WFD02640SvName" readonly="readonly" />
                    </div>
                    <div class="col-sm-7 text-right">
                        @Html.Button("WFD02640NoticeEmail", "Notice Email", new { @class = "btn btn-info" }, TagHelper.BUTTON_TYPES.EMAIL)
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12">

                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="form-group">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <span>Summary :</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-10 col-sm-12 col-xs-10">
                                    <div class="progress-group">
                                        <span class="progress-text">Time</span>
                                        <span class="progress-number" id="WFD02640TimePersen"></span>
                                        <div class="progress sm">
                                            <div class="progress-bar" id="WFD02640TimeProgressBar"></div>
                                        </div>
                                    </div>
                                    <!-- /.progress-group -->
                                </div>
                                <div class="col-md-2 col-sm-2 col-xs-2">
                                    <span style="margin-top: 13px;" id="WFD02640TimeStatus"></span>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="info-box" id="WFD02640AssetClass">
                                        @*Start Fix 07062017 Ues image instead*@
                                        <span class="info-box-icon">
                                            <img id="WFD02640IconImg" style="width: 80px; height: 88px; padding-bottom: 9px;" src="">
                                            @*<span id="WFD02640BorderIcon">*@
                                                @*<i class="fa" id="WFD02640AssetIcon"></i>*@
                                            @*</span>*@
                                        </span>
                                        @*End Fix 07062017 Ues image instead*@
                                        <div class="info-box-content">
                                            <span class="info-box-text"><strong>&nbsp; &nbsp;</strong></span>
                                            <div class="title">
                                                <span class="text">Total Asset Number</span>
                                                <span class="total" id="WFD02640AssetDescription"></span>
                                            </div>

                                            <div class="progress">
                                                <div class="progress-bar" id="WFD0260AssetProgressBar"></div>
                                            </div>
                                            <span class="progress-description" id="WFD0260AssetDescription">

                                            </span>
                                        </div>
                                        <!-- /.info-box-content -->
                                    </div>
                                    <!-- /.info-box -->
                                </div>
                            </div>


                            <div class="form-group">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <span>Details :</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <table style="width:100%" id="WFD02640TableDetail"></table>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- /.box-footer-->
    </div>
</div>
@Html.Partial("../WFD02640/CommentDialog")

<script type="text/javascript">
    var WFD02640_Message = {
        ConfirmNotice: '@ViewBag.ConfirmNotice',
        ConfirmReport: '@ViewBag.ConfirmReport',
        NoticeSuccess: '@ViewBag.NoticeSuccess',
        ReportSuccess: '@ViewBag.ReportSuccess',
        ErrorGenApprover: '@ViewBag.ErrorGenApprover'

    }

    var WFD02640_URL = {
        NoticeEmail: '@Url.Action("NoticeEmail", "WFD02640")',
        onLoadScreen: '@Url.Action("onLoadScreen", "WFD02640")',
        Report: '@Url.Action("Report", "WFD02640")',

        SaveTempRequestStock: '@Url.Action("SaveTempRequestStock", "WFD02640")',

        CHECK_UPLOAD_FILE: '@Url.Action("CheckFileUpload", "WFD02640")',
        DELETE_FILE: '@Url.Action("DeleteAttchDoc", "WFD02640")',
        UPDATE_DELETE_FILE: '@Url.Action("UpdateFileToTempStock", "WFD02640")',
        
        SetInitialDataIncaseReSubmit: '@Url.Action("SetInitialDataIncaseReSubmit", "WFD02640")',
        UpdateAssetList: '@Url.Action("UpdateAssetList", "WFD02640")',
        InsertAssetList: '@Url.Action("InsertAssetList", "WFD02640")',
        ClearAssetList: '@Url.Action("ClearAssetList", "WFD02640")'
    }


    var WFD02640_Parameter = {
        YEAR: '@ViewBag.Year',
        ROUND: '@ViewBag.Round',
        ASSET_LOCATION: '@ViewBag.Asset_Location',
        SV_CODE: '@ViewBag.WFD02640SVEMPNAME',
        EMP_CODE: '@GlobalUser.UserSc2.TFASTEmployeeNo',
        IS_FA_ADMIN: '@(GlobalUser.UserSc2.IsAECUser ? "Y" : "N")',
        SV_EMP_CODE: '@ViewBag.Sv_Code'
    }
</script>
