﻿@{
    var screen = HttpContext.Current.Request.Url.AbsolutePath.Replace("/", "").Replace("\\", "");
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>:: Toyota Fixed Asset System (TFAST)</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">


    <link rel="stylesheet" href="~/InitializeComponents/Content/Components/plugins/jQueryUI/jquery-ui.css">

    <!-- Bootstrap 3.3.5 -->
    <link rel="stylesheet" href="@Url.Content("~/InitializeComponents/Content/Components/bootstrap/css/bootstrap.min.css")">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="@Url.Content("~/InitializeComponents/Content/Components/dist/font-awesome/css/font-awesome.min.css")">
    <!-- Ionicons -->
    <!-- Theme style -->
    <link rel="stylesheet" href="@Url.Content("~/InitializeComponents/Content/Components/dist/css/AdminLTE.min.css")">

    <link rel="stylesheet" href="@Url.Content("~/InitializeComponents/Content/Components/plugins/select2/select2.min.css")">



    <link rel="stylesheet" href="~/InitializeComponents/Content/Components/plugins/jquery.timepicker/jquery.ui.timepicker.css" />

    <!-- fullCalendar 2.2.5-->
    <link href="@Url.Content("~/InitializeComponents/Content/Components/plugins/datatables/dataTables.bootstrap.css")" rel="stylesheet" />
    <link rel="stylesheet" href="~/InitializeComponents/Content/Components/plugins/datatables/extensions/FixedColumns/css/dataTables.fixedColumns.min.css" />
    <!-- Custom style sheet for this site -->
    <link rel="stylesheet" href="~/InitializeComponents/Content/style-content/form.css" />
    <link rel="stylesheet" href="~/InitializeComponents/Content/style-content/table.css" />
    <link rel="stylesheet" href="~/InitializeComponents/Content/style-content/site-bootstrap.css" />
    <link rel="stylesheet" href="~/InitializeComponents/Content/style-content/dialog.css" />
    <link rel="stylesheet" href="~/InitializeComponents/Content/style-content/datetime-picker.css" />
    <link rel="stylesheet" href="~/InitializeComponents/Content/bootstrap-multiselect.css" />

    <!-- Date Picker -->
    @*<link rel="stylesheet" href="@Url.Content("~/InitializeComponents/Content/Components/plugins/datepicker/datepicker3.css")">*@
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="@Url.Content("~/InitializeComponents/Content/Components/dist/css/skins/_all-skins.min.css")">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="../InitializeComponents/Scripts/html5shiv.min.js"></script>
        <script src="../InitializeComponents/Scripts/respond.min.js"></script>
    <![endif]-->
    <!-- jQuery 2.1.4 -->
    @*<script src="@Url.Content("~/InitializeComponents/Content/Components/plugins/jQuery/jQuery-2.1.4.min.js")"></script>*@
    <script src="~/InitializeComponents/Content/Components/plugins/jQuery/jquery.min.js"></script>

    @if (((Request.Browser.Browser == "InternetExplorer" && Convert.ToDouble(Request.Browser.Version) >= 9)
                                            || Request.Browser.Browser != "InternetExplorer") && screen == "WFD02130")
    {
        <script src="~/InitializeComponents/Content/Components/plugins/jQuery/jquery-3.1.1.js"></script>
    }
    else
    {
        <script src="~/InitializeComponents/Content/Components/plugins/jQuery/jquery.min.js"></script>
    }
    <!-- Bootstrap 3.3.5 -->
    <script src="@Url.Content("~/InitializeComponents/Content/Components/bootstrap/js/bootstrap.min.js")"></script>
    <!-- SlimScroll -->
    <script src="@Url.Content("~/InitializeComponents/Content/Components/plugins/slimScroll/jquery.slimscroll.min.js")"></script>
    <!-- FastClick -->
    <!-- AdminLTE App -->
    <script src="@Url.Content("~/InitializeComponents/Content/Components/dist/js/app.min.js")"></script>

    <!-- Dropdown List with auto Filter/Input-->
    <script src="@Url.Content("~/InitializeComponents/Content/Components/plugins/select2/select2.full.min.js")"></script>



    <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
    <!-- Date Picker-->
    @*<script src="@Url.Content("~/InitializeComponents/Content/Components/plugins/datepicker/bootstrap-datepicker.js")"></script>*@
    <script src="~/InitializeComponents/Content/Components/plugins/jQueryUI/jquery-ui.js"></script>
    <!-- Confirm Dialog-->
    <script src="@Url.Content("~/InitializeComponents/Content/Components/plugins/confirmation/bootbox.min.js")"></script>

    <script type="text/javascript" src="~/InitializeComponents/Content/Components/plugins/jquery.timepicker/jquery.ui.timepicker.js"></script>


    <script src="@Url.Content("~/InitializeComponents/Scripts/bootstrap3-typeahead.js")"></script>
    @*<script src="@Url.Content("~/InitializeComponents/Scripts/gridmvc.min.js")"></script>*@
    <script src="@Url.Content("~/InitializeComponents/Scripts/jquery.printPage.js")"></script>
    <!-- Date Table-->
    <script src="~/InitializeComponents/Content/Components/plugins/daterangepicker/moment.js"></script>
    <script src="@Url.Content("~/InitializeComponents/Content/Components/plugins/datatables/jquery.dataTables.min.js")"></script>
    <script src="@Url.Content("~/InitializeComponents/Content/Components/plugins/datatables/dataTables.bootstrap.min.js")"></script>
    <script src="~/InitializeComponents/Content/Components/plugins/datatables/dataTables.fixedColumns.min.js"></script>
    <script src="~/InitializeComponents/Content/Components/plugins/datatables/datetime.js"></script>
    <script type="text/javascript" src="~/InitializeComponents/Content/Components/plugins/numberFormat/jquery.numberformatter.min.js"></script>
    <script type="text/javascript" src="~/InitializeComponents/Content/Components/plugins/jquery-dateFormat/jquery-dateFormat.min.js"></script>

    @*PERIOD*@
    <link href="~/InitializeComponents/Content/jquery.periodpicker.css" rel="stylesheet" />
    <link href="~/InitializeComponents/Content/jquery.timepicker.css" rel="stylesheet" />
    <script src="~/InitializeComponents/Scripts/jquery.mousewheel.min.js"></script>
    <script src="~/InitializeComponents/Scripts/jquery.periodpicker.full.min.js"></script>
    <script src="~/InitializeComponents/Scripts/jquery.timepicker.min.js"></script>

    <!-- Custom script for this site -->
    <script type="text/javascript" src="~/InitializeComponents/Scripts/Common/Master.js"></script>
    <script type="text/javascript" src="~/InitializeComponents/Scripts/Common/json.js"></script>
    <script type="text/javascript" src="~/InitializeComponents/Scripts/Common/AjaxCommon.js"></script>
    <script type="text/javascript" src="~/InitializeComponents/Scripts/Common/input.js"></script>
    <script type="text/javascript" src="~/InitializeComponents/Scripts/Common/datatable-pagin.js"></script>
    <script type="text/javascript" src="~/InitializeComponents/Scripts/Common/MessageAlert.js"></script>
    <script type="text/javascript" src="~/InitializeComponents/Scripts/Common/box-minimise.js"></script>
    <script type="text/javascript" src="~/InitializeComponents/Scripts/Common/DataFormat.js"></script>

    <script type="text/javascript" src="~/InitializeComponents/Scripts/bootstrap-multiselect.js"></script>
    <script type="text/javascript" src="~/InitializeComponents/Scripts/Common/autoNumeric.min.js"></script>

    <script type="text/javascript" src="~/JS/Shared/Common.js"></script>

    <style>

        body.loading {
            overflow: hidden;
        }

        .dataTables_scroll {
            overflow: auto;
        }

        body.loading .boxLoading {
            display: block;
        }

        .main-footer {
            background: #dd4b39;
            padding: 5px;
            color: #fff;
            border-top: 1px solid #d2d6de;
            text-align: center;
        }

        .require {
            background-color: yellow;
        }

        .file-upload {
            position: relative;
            overflow: hidden;
            margin: 10px;
        }

        .file-upload input.file-input {
            position: absolute;
            top: 0;
            right: 0;
            margin: 0;
            padding: 0;
            font-size: 20px;
            cursor: pointer;
            opacity: 0;
            filter: alpha(opacity=0);
        }

        /*.main-header .logo {
            font-size: 15px !important;
        }*/

        .sidebar-mini.sidebar-collapse .main-header .logo > .logo-mini {
            font-size: 13px !important;
        }

        /*
        .layout-boxed .wrapper {
            max-width: 1250px;  //ปรับความกว้างของหน้าจอ ในกรณีจอเล็ก
        } */

        .btn-multi {
            text-align: left;
            padding-left: 8px;
            background-color:white !important;
        }

        .btn-multi:hover {
            background-color: white;
        }

        .btn-multi > .caret {
            position: absolute;
            right: 10px;
            margin-top: 7px;
        }
    </style>
</head>
<body class="hold-transition  skin-red sidebar-mini">
    @*  layout-boxed  >> class ที่ทำให้หน้าจอเล็ก *@
    @RenderSection("styles", false)

    <section id="BatchDialogArea"></section>
    <section id="ScreenLoading"><img src="~/InitializeComponents/Images/Icon/Preloader_8.gif" /></section>
    <!-- Site wrapper -->
    <div class="wrapper">
        <header class="main-header">
            <!-- Logo -->
            <a href="" class="logo">

                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini"><b>TFAST</b></span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg text-left">

                    <b>T</b>FAST
                </span>
            </a>
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top" role="navigation">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <a class="navbar-brand" href="@Url.Action("index", "WFD01110")">Toyota Fixed Assets System (TFAST)</a>
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <!-- User Account: style can be found in dropdown.less -->
                        <li>

                        </li>

                        <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="padding-top:15px;height:50px;">
                                <span class="hidden-xs">@GlobalUser.UserSc2.DisplayName</span>
                            </a>
                            @*<ul id="userProfileDialog" class="dropdown-menu">
                                <!-- User image -->
                                <li class="user-header">
                                    <img src="@Url.Content("~/InitializeComponents/Images/Icon/user-icon-2.png")" class="img-circle" alt="User Image" />
                                    <p>
                                        user Id: <label id="lbTestUserId"> @GlobalUser.UserSc2.TFASTEmployeeNo </label>: <lable>@GlobalUser.isSc2Connected()</lable>
                                        <small>IsFAAdmin : <b id="bTestIsFaAdmin">@GlobalUser.UserSc2.IsFAAdmin</b></small>
                                        <small>Is System Admin : <b id="bTestIsFaAdmin">@GlobalUser.UserSc2.IsSystemAdmin</b></small>
                                     </p>
                                </li>*@
                            <!-- Menu Footer-->
                            @*<li class="user-footer">
                                        <div class="pull-left">

                                        </div>
                                        <div class="pull-right">
                                            <a href="@Url.Action("Logout", "Login")" class="btn btn-default btn-flat">Sign out</a>
                                        </div>
                                    </li>
                                </ul>*@
                        </li>
                        <!-- Control Sidebar Toggle Button -->
                    </ul>
                </div>
            </nav>
        </header>
        <!-- =============================================== -->
        <!-- Left side column. contains the sidebar -->
        <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            @Html.Partial("_Navbar");
            <!-- /.sidebar -->
        </aside>
        <!-- =============================================== -->
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper" style="position: relative;">
            <section class="content-header">
                <h1>
                    @if (!string.IsNullOrEmpty(ViewBag.ScreenTitle))
                    {
                        @ViewBag.ScreenTitle
                    }
                    else
                    {
                        @ViewBag.Screen
                    }

                </h1>
                <ol class="breadcrumb">
                    <li><a href="@Url.Action("index", "WFD01110")"><i class="fa fa-home"></i> Home</a></li>
                    @if (!string.IsNullOrEmpty(ViewBag.ScreenTitle))
                    {
                        <li class="active">@ViewBag.ScreenTitle</li>
                    }
                </ol>
            </section>

            <div class="row">
                <div class="col-lg-12 render-body" style="position: relative;">
                    <div id="AlertMessageArea" class="message-area">
                    </div>

                    @RenderBody()
                    <table id="header-fixed" class="table table-bordered table-striped table-hover table-th-center"></table>
                    @*<div class="box box-primary" id="body-content" >
                            <div class="box-body">
                                <div id="AlertMessageArea" class="message-area">
                                </div>
                                <!-- Main content -->
                                @RenderBody()
                            </div>
                        </div>*@
                </div>
            </div>
        </div><!-- /.content-wrapper -->
        <footer class="main-footer">
            &copy; 2019-TOYOTA DAIHATSU ENGINEERING AND MANUFACTURING CO.,LTD.  All Right Reserved
        </footer>

        <!-- Add the sidebar's background. This div must be placed
             immediately after the control sidebar -->
        <div class="control-sidebar-bg"></div>
    </div><!-- ./wrapper -->


    <script>
        //FIX SELECT2 NOT WORK IN MODAL
        $.fn.modal.Constructor.prototype.enforceFocus = function () { };

        function fnErrorDialog(title, msg) {

            if (title == null) {
                title = "Error";
            }
            bootbox.dialog({
                message: "<span class=\"text-danger\">" + msg + "</span>",
                title: "<span class=\"text-danger\">" + title + "</span>",
                buttons: {
                    danger: {
                        label: "Close",
                        className: "btn-danger",
                        callback: function () {

                        }
                    }
                }
            });//End of confrim
        }
        function fnCompleteDialog2(msg, callback) {

            bootbox.dialog({
                message: "<span class=\"text-success\">" + msg + "</span>",
                title: "<span class=\"text-success\">Success</span>",
                buttons: {
                    danger: {
                        label: "Close",
                        className: "btn-success",
                        callback: callback
                    }
                }
            });//End of confrim
        }
        function fnCompleteDialog(msg) {
            bootbox.dialog({
                message: "<span class=\"text-success\">" + msg + "</span>",
                title: "<span class=\"text-success\">Success</span>",
                buttons: {
                    danger: {
                        label: "Close",
                        className: "btn-success"
                    }
                }
            });//End of confrim
        }

        //var loadConfirmAlert = function (message, callback) {
        //    bootbox.confirm(message, function (result) {
        //        callback && callback(result);
        //    });
        //}

        var loadConfirmAlert = function (message, callback) {
            bootbox.confirm({
                title: "Confirm Dialog",
                message: message,
                callback: function (result) {
                    callback && callback(result);
                }
            });
        }


        jQuery(function ($) {
            $('input[data-visible="false"').each(function () {
                $(this).css('display', 'none');
            });
            $('button[data-visible="false"').each(function () {
                $(this).css('display', 'none');
            });

            $(document).ajaxStop(function () {
                $("#ajax_loader").hide();
            });
            $(document).ajaxStart(function () {
                $("#ajax_loader").show();
            });
            //Initialize Select2 Elements
            $(".select2").select2({ width: '100%' });
            //$('.datepicker').datepicker({
            //    autoclose: true,
            //    format: 'dd-M-yyyy',
            //});
            //$(".datepicker").datepicker({ dateFormat: "dd-M-yyyy" });
            $('.datepicker').datepicker({
                // dateFormat: 'dd-M-yy',
                dateFormat: 'dd.mm.yy',
                //comment the beforeShow handler if you want to see the ugly overlay
                beforeShow: function () {
                    setTimeout(function () {
                        $('.ui-datepicker').css('z-index', 99999999999999);
                    }, 0);
                }
            });

            //$('#myTooltip').tooltip();

            $('.timepicker').timepicker();

            //$(".datepicker").keypress(function (evt) {

            //    return false;
            //});

            //setBodyContentHeight()
            $(window).resize(function () {
                //setBodyContentHeight()
            });

            // Modal show in centre screen
            //$('.modal').on('show.bs.modal', reposition);
            //// Reposition when the window is resized
            //$(window).on('resize', function () {
            //    $('.modal:visible').each(reposition);
            //});

            //$(".timepicker").keypress(function (evt) {
            //    return false;
            //});




        });
        function reposition() {
            var modal = $(this),
                dialog = modal.find('.modal-dialog');
            modal.css('display', 'block');

            // Dividing by two centers the modal exactly, but dividing by three
            // or four works better for larger screens.
            dialog.css("margin-top", Math.max(0, ($(window).height() - dialog.height()) / 2));
        }
        function setBodyContentHeight() {
            var height = $(window).height() - $('.navbar-static-top').height() - 100;
            $('#body-content').css('min-height', height + 'px')
        }

        function CheckDate() {
            var startDate = $('.datefrom').val();
            var endDate = $('.dateto').val();
            if ((Date.parse(startDate) >= Date.parse(endDate))) {
                return false;
            }
            return true;
        }

        function dtConvFromJSON(data) { //genformat date dd-M-yyyy
            if (data == null) return '1/1/1950';
            var r = /\/Date\(([0-9]+)\)\//gi
            var matches = data.match(r);
            if (matches == null) return '1/1/1950';
            var result = matches.toString().substring(6, 19);
            var epochMilliseconds = result.replace(
                /^\/Date\(([0-9]+)([+-][0-9]{4})?\)\/$/,
                '$1');
            var b = new Date(parseInt(epochMilliseconds));
            var c = new Date(b.toString());
            var curr_date = c.getDate();
            var curr_month = c.getMonth() + 1;
            var curr_year = c.getFullYear();
            //var curr_h = c.getHours();
            //var curr_m = c.getMinutes();
            //var curr_s = c.getSeconds();
            //var curr_offset = c.getTimezoneOffset() / 60;
            var month = ["01", "02", "03", "04", "05", "06",
                "07", "08", "09", "10", "11", "12"][curr_month];
            var d = n(curr_date) + '.' + month + '.' + curr_year;
            return d;
        }
        function n(n) {//number 2 digit
            if (n >= 0) {
                return n > 9 ? "" + n : "0" + n;
            } else {
                return n < -9 ? "" + n : "-0" + Math.abs(n);
            }
        }
        function ClickIconDate(date) { //send Id txt date
            if ($('#' + date).is(':disabled')) {
                return;
            }

            $('#' + date).datepicker("show");
        }
        function CheckExtension(ext, arr, filename, extension_text) {
            return CheckExtensionPopup(ext, arr, filename, extension_text, false);
        }
        //Display Message On poup
        function CheckExtensionPopup(ext, arr, filename, extension_text, _popup) {
            if (!_popup) {
                ClearMessageC(); //Add by Surasith ;
            } else {
                ClearMessage("#AlertMessageAreaPopup");
            }
            if (arr.indexOf(ext.toUpperCase()) != -1) {
                return true;
            }
            if (!_popup) {
                //fnErrorDialog('Error', 'File ' + filename + ' is not expected file type ' + extension_text);
                AlertTextErrorMessage('MSTD7013BERR : File ' + filename + ' is not expected file type ' + extension_text);
            } else {
                //   $('#AlertMessageAreaPopup').html('MSTD7013BERR : File ' + filename + ' is not expected file type ' + extension_text);
                AlertTextErrorMessagePopup('MSTD7013BERR : File ' + filename + ' is not expected file type ' + extension_text, "#AlertMessageAreaPopup");
                //AlertMessageArea
            }
            return false;
        }

        function GetSearchCriteria(_txt) {
            return _txt.val();
            //if (_txt == null || _txt.val() == null || _txt.val() == "")
            //    return _txt.val();
            ////console.log("1");
            //var _rs = _txt.val();
            //if (!_rs.match("^%")) {
            //    // do this if begins with Hello
            //    _rs = '%' + _rs;
            //}
            ////console.log("2");
            //if (!_rs.match("%$")) {
            //    // do this if ends in world
            //    _rs = _rs + '%';
            //}
            ////console.log("3");
            //return _rs;
        }

        var getUrlParameter = function getUrlParameter(sParam) {
            var sPageURL = decodeURIComponent(window.location.search.substring(1)),
                sURLVariables = sPageURL.split('&'),
                sParameterName,
                i;

            for (i = 0; i < sURLVariables.length; i++) {
                sParameterName = sURLVariables[i].split('=');

                if (sParameterName[0] === sParam) {
                    return sParameterName[1] === undefined ? true : sParameterName[1];
                }
            }
        };
        //function GetMultipleCompany(_companySelected) {
        //    if (_companySelected != null) {
        //        _com = (_companySelected + '');
        //        _com = _com.replace(/,/g, '#');
        //        return _com;
        //    }
        //    else {
        //        return null;
        //    }
        //}
        function GetMultipleCompany($company) {
            var companySels = $company.val();
            if (!companySels) {
                companySels = [];
                var options = $('option:enabled', $company);

                $.each(options, function (i,option) {
                    companySels.push(option.value);
                });
            }
            var _com = (companySels + '');
            _com = _com.replace(/,/g, '#');
            return _com;
        }

        function isNumberKey(evt) {
            //var charCode = (evt.which) ? evt.which : event.keyCode;
            //if (charCode > 31 && (charCode < 48 || charCode > 57))
            //    return false;
            //return true;
            var charCode = (evt.which) ? evt.which : event.keyCode;
            if (charCode != 46 && charCode != 45 && charCode > 31
                && (charCode < 48 || charCode > 57))
                return false;

            return true;
        }

        String.prototype.format = function () {
            a = this;
            for (k in arguments) {
                a = a.replace("{" + k + "}", arguments[k])
            }
            return a
        }

        var multiSelectOptionWidth100 = {
            includeSelectAllOption: true,
            allSelectedText: 'All',
            nonSelectedText: 'All',
            selectAllText: 'All',
            buttonWidth: '100%',
            buttonClass: 'btn btn-default btn-multi',
            selectAllNumber: false,
        };

        function uuidv4() {
            return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function (c) {
                var r = Math.random() * 16 | 0, v = c == 'x' ? r : (r & 0x3 | 0x8);
                return v.toString(16);
            });
        }
    </script>

    @RenderSection("scripts", false)

    <div id='ajax_loader' style="position: fixed; left: 40%; top: 40%; display: none;">
        <div class="modal-header">
            <h1>Processing...</h1>
        </div>
        <div class="modal-body">
            <div class="progress progress-striped active">
                <div class="bar" style="width: 100%;"></div>
            </div>
        </div>
    </div>
</body>
</html>
