﻿@{

    var datas = GlobalUser.UserSc2.User;

}

<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <!-- search form -->
        <!-- /.search form -->
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">
            <li class="header">MAIN NAVIGATION</li>
            <!--Single Menu for Personal Home-->
            @Html.Raw(GlobalUser.generateMenuGroupSingleItem("WFD01110", Url.Action("index", "WFD01110"), "Personal home", "fa fa-home"))
            <!--Single Menu for User Profile-->
            @Html.Raw(GlobalUser.generateMenuGroupSingleItem("WFD01210", Url.Action("index", "WFD01210"), "User Profile", "fa fa-users"))

            @{
                List<string> menuItem = new List<string>();
                List<string> subMenuAssetItem = new List<string>();
                List<string> subMenuTransferItem = new List<string>();
            }

            <!--Group item for Administrative-->
            @{
                menuItem = new List<string>();
                menuItem.Add(Html.Raw(GlobalUser.generateMenuItem("WFD01180", Url.Action("index", "WFD01180"), " Depreciation Group", "fa fa-circle")).ToString());
                menuItem.Add(GlobalUser.generateMenuItem("WFD01150", Url.Action("index", "WFD01150"), " Approval Flow Master", "fa fa-circle"));
                menuItem.Add(GlobalUser.generateMenuItem("WFD01020", Url.Action("index", "WFD01020"), " System Master", "fa fa-circle"));
                menuItem.Add(Html.Raw(GlobalUser.generateMenuItem("WFD01010", Url.Action("index", "WFD01010"), " Log Monitoring", "fa fa-circle")).ToString());
            }
            @Html.Raw(GlobalUser.generateMenuGroup("Administrative", "fa fa-cogs", menuItem))

            <!--Group item for Registration-->
            @{
                menuItem = new List<string>();
                menuItem.Add(GlobalUser.generateMenuItem("WFD02120", Url.Action("index", "WFD02120"), " Fixed Asset List", "fa fa-circle"));
                menuItem.Add(GlobalUser.generateMenuItem("WFD02160", Url.Action("index", "WFD02160"), " Fixed Asset Location", "fa fa-circle"));
                menuItem.Add(Html.Raw(GlobalUser.generateMenuItem("WFD01130", Url.Action("index", "WFD01130"), " Fixed Asset History", "fa fa-circle")).ToString());
                menuItem.Add(GlobalUser.generateMenuItem("WFD02320", Url.Action("index", "WFD02320"), " Print Queue", "fa fa-circle"));
            }
            @Html.Raw(GlobalUser.generateMenuGroup("Fixed Asset Detail", "fa fa-edit", menuItem))

            <li>
                <!--Group item for Request-->
                @{
                    menuItem = new List<string>();
                    <!--Group items for New Asset-->
                    {
                        subMenuAssetItem = new List<string>();
                        <!--Group New Asset-->
                        subMenuAssetItem.Add(GlobalUser.generateMenuItem("WFD021A0", Url.Action("index", "WFD01170", new { RequestType = "A", FlowType = "AU" }), " New Asset (AUC)", "fa fa-circle"));
                        subMenuAssetItem.Add(GlobalUser.generateMenuItem("WFD021A0", Url.Action("index", "WFD01170", new { RequestType = "A", FlowType = "RM" }), " New Asset (RMA)", "fa fa-circle"));
                        subMenuAssetItem.Add(GlobalUser.generateMenuItem("WFD021A0", Url.Action("index", "WFD01170", new { RequestType = "A", FlowType = "ST" }), " New Asset (Settlement)", "fa fa-circle"));

                    }
                    menuItem.Add(Html.Raw(GlobalUser.generateMenuGroup(" New Asset Number", "fa fa-chevron-circle-down", subMenuAssetItem)).ToString());

                    menuItem.Add(GlobalUser.generateMenuItem("WFD02310", Url.Action("index", "WFD01170", new { RequestType = "R", FlowType = "" }), " Reprint", "fa fa-circle"));
                    <!--Group items for Transfer-->
                    {
                        subMenuTransferItem = new List<string>();
                        subMenuTransferItem.Add(GlobalUser.generateMenuItem("WFD02410", Url.Action("index", "WFD01170", new { RequestType = "T", FlowType = "CC" }), " Cost Center", "fa fa-circle"));
                        subMenuTransferItem.Add(GlobalUser.generateMenuItem("WFD02410", Url.Action("index", "WFD01170", new { RequestType = "T", FlowType = "RC" }), " Responsible Cost Center", "fa fa-circle"));
                        subMenuTransferItem.Add(GlobalUser.generateMenuItem("WFD02410", Url.Action("index", "WFD01170", new { RequestType = "T", FlowType = "EC" }), " Assign Employee", "fa fa-circle"));

                    }
                    menuItem.Add(Html.Raw(GlobalUser.generateMenuGroup(" Transfer", "fa fa-chevron-circle-down", subMenuTransferItem)).ToString());

                    menuItem.Add(GlobalUser.generateMenuItem("WFD02710", Url.Action("index", "WFD01170", new { RequestType = "K", FlowType = "" }), " Settlement", "fa fa-circle"));
                    menuItem.Add(GlobalUser.generateMenuItem("WFD02810", Url.Action("index", "WFD01170", new { RequestType = "G", FlowType = "" }), " Asset Info Change", "fa fa-circle"));
                    menuItem.Add(GlobalUser.generateMenuItem("WFD02910", Url.Action("index", "WFD01170", new { RequestType = "C", FlowType = "" }), " Reclassification", "fa fa-circle"));
                    menuItem.Add(GlobalUser.generateMenuItem("WFD02A00", Url.Action("index", "WFD01170", new { RequestType = "M", FlowType = "MN" }), " Impairment", "fa fa-circle"));
                    menuItem.Add(GlobalUser.generateMenuItem("WFD02510", Url.Action("index", "WFD01170", new { RequestType = "D", FlowType = "" }), " Retirement", "fa fa-circle"));

                }
                @Html.Raw(GlobalUser.generateMenuGroup("Request", "fa fa-file-text", menuItem, GlobalUser.IsMatchedRequestUrlParent("WFD01170")))

            </li>



            <!--Group item for General-->
            @{
                menuItem = new List<string>();
                menuItem.Add(Html.Raw(GlobalUser.generateMenuItem("WFD01120", Url.Action("index", "WFD01120"), " General report", "fa fa-circle")).ToString());
            }
            @Html.Raw(GlobalUser.generateMenuGroup("Report", "fa fa-files-o", menuItem))

            <!--Group item for General-->
            @*@Html.Raw(GlobalUser.generateMenuGroupSingleItem("WFD01180", Url.Action("index", "WFD01180"), "Depreciation Group", "fa fa-group"))*@

            <!--Group item for Stock Tacking-->
            @{
                menuItem = new List<string>();
                menuItem.Add(GlobalUser.generateMenuItem("WFD02610", Url.Action("index", "WFD02610"), " FA Physical check", "fa fa-circle"));
                //menuItem.Add(GlobalUser.generateMenuItem("WFD02620", Url.Action("index", "WFD02620"), " Stock Take Request Detail", "fa fa-circle-o"));
                menuItem.Add(GlobalUser.generateMenuItem("WFD02630", Url.Action("index", "WFD02630"), " FA Physical check calendar", "fa fa-circle"));
            }
            @Html.Raw(GlobalUser.generateMenuGroup("Physical Count", "fa fa-calendar", menuItem))

            <!--Single Menu for User Manual-->

            <li>
                <a class="navbar-link treeview" target="_self" href="#" onclick="UserManualClick();">
                    @*target="_blank" href="../Document/User_Manual.pdf">*@
                    <i class="fa fa-book"></i>
                    <span>
                        User Manual
                    </span>
                </a>
            </li>

        </ul>
        <br /><br />
    </section>

    <!-- /.sidebar -->
</aside>

<script type="text/javascript">
    $(function () {

        var _param = '@Request.Url.PathAndQuery';

        //console.log(_param);


        $('ul.sidebar-menu').find('a').each(function (e) {
            var l = $(this).attr('href');


            if (l.length >= 9 && l.substring(0, 1) == '/') {
                if (l.substring(1, 9) == "WFD01270" && _param.indexOf(l.substring(1, 9)) >= 0) {
                    //    console.log("OK")

                    //Check Reprint
                    var _len = l.length;
                    var _s = _param.substr(0, _len);
                    var _last = _s.substr(_s.length - 1);

                    if (l == _s) {
                        $(this).closest("li").addClass('active');
                        $(this).closest("ul").addClass('active');
                        return;
                    }

                    //var _last = _s.substr(_s.length - 1);


                    //if((_last == "L" || _last == "R") && l.substr(l.length - 1) == "P" )
                    //{
                    //    $(this).closest("li").addClass('active');
                    //    $(this).closest("ul").addClass('active');
                    //}

                    //  $(this).closest("li").addClass('active');
                }
                else if (l == '@Request.FilePath') {
                    //      console.log("OK")

                    $(this).closest("li").addClass('active');
                }

            }
        });
    });

    var URL_CONST = {
        SEARCH_USER_MANUAL: '@Url.Action("UserManual_Search", "UserManual")'
    }

    var UserManualClick = function () {
        $('#SearchUserManual').appendTo("body").modal('show');
        UserManualSearch();
    }
</script>

<script src="~/JS/USERMANUAL.js"></script>
@Html.Partial("../UserManual/Index")