﻿@{
    var screen = HttpContext.Current.Request.Url.AbsolutePath.Replace("/", "").Replace("\\", "");
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>:: Toyota Fixed Assets Online System</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">


    <link rel="stylesheet" href="~/InitializeComponents/Content/Components/plugins/jQueryUI/jquery-ui.css">

    <!-- Bootstrap 3.3.5 -->
    <link rel="stylesheet" href="@Url.Content("~/InitializeComponents/Content/Components/bootstrap/css/bootstrap.min.css")">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="@Url.Content("~/InitializeComponents/Content/Components/dist/font-awesome/css/font-awesome.min.css")">
    <!-- Ionicons -->
    <!-- Theme style -->
    <link rel="stylesheet" href="@Url.Content("~/InitializeComponents/Content/Components/dist/css/AdminLTE.min.css")">

    <link rel="stylesheet" href="@Url.Content("~/InitializeComponents/Content/Components/plugins/select2/select2.min.css")">



    <link rel="stylesheet" href="~/InitializeComponents/Content/Components/plugins/jquery.timepicker/jquery.ui.timepicker.css" />

    <!-- fullCalendar 2.2.5-->
    <link href="@Url.Content("~/InitializeComponents/Content/Components/plugins/datatables/dataTables.bootstrap.css")" rel="stylesheet" />
    <!-- Custom style sheet for this site -->
    <link rel="stylesheet" href="~/InitializeComponents/Content/style-content/form.css" />
    <link rel="stylesheet" href="~/InitializeComponents/Content/style-content/table.css" />
    <link rel="stylesheet" href="~/InitializeComponents/Content/style-content/site-bootstrap.css" />
    <link rel="stylesheet" href="~/InitializeComponents/Content/style-content/dialog.css" />
    <link rel="stylesheet" href="~/InitializeComponents/Content/style-content/datetime-picker.css" />
    <link rel="stylesheet" href="~/InitializeComponents/Content/bootstrap-multiselect.css" />

    <!-- Date Picker -->
    @*<link rel="stylesheet" href="@Url.Content("~/InitializeComponents/Content/Components/plugins/datepicker/datepicker3.css")">*@
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="@Url.Content("~/InitializeComponents/Content/Components/dist/css/skins/_all-skins.min.css")">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="../InitializeComponents/Scripts/html5shiv.min.js"></script>
        <script src="../InitializeComponents/Scripts/respond.min.js"></script>
    <![endif]-->
    <!-- jQuery 2.1.4 -->
    @*<script src="@Url.Content("~/InitializeComponents/Content/Components/plugins/jQuery/jQuery-2.1.4.min.js")"></script>*@
    <script src="~/InitializeComponents/Content/Components/plugins/jQuery/jquery.min.js"></script>

    @if (((Request.Browser.Browser == "InternetExplorer" && Convert.ToDouble(Request.Browser.Version) >= 9)
                                            || Request.Browser.Browser != "InternetExplorer") && screen == "WFD02130")
    {
        <script src="~/InitializeComponents/Content/Components/plugins/jQuery/jquery-3.1.1.js"></script>
    }
    else
    {
        <script src="~/InitializeComponents/Content/Components/plugins/jQuery/jquery.min.js"></script>
    }
    <!-- Bootstrap 3.3.5 -->
    <script src="@Url.Content("~/InitializeComponents/Content/Components/bootstrap/js/bootstrap.min.js")"></script>
    <!-- SlimScroll -->
    <script src="@Url.Content("~/InitializeComponents/Content/Components/plugins/slimScroll/jquery.slimscroll.min.js")"></script>
    <!-- FastClick -->
    <!-- AdminLTE App -->
    <script src="@Url.Content("~/InitializeComponents/Content/Components/dist/js/app.min.js")"></script>

    <!-- Dropdown List with auto Filter/Input-->
    <script src="@Url.Content("~/InitializeComponents/Content/Components/plugins/select2/select2.full.min.js")"></script>



    <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
    <!-- Date Picker-->
    @*<script src="@Url.Content("~/InitializeComponents/Content/Components/plugins/datepicker/bootstrap-datepicker.js")"></script>*@
    <script src="~/InitializeComponents/Content/Components/plugins/jQueryUI/jquery-ui.js"></script>
    <!-- Confirm Dialog-->
    <script src="@Url.Content("~/InitializeComponents/Content/Components/plugins/confirmation/bootbox.min.js")"></script>

    <script type="text/javascript" src="~/InitializeComponents/Content/Components/plugins/jquery.timepicker/jquery.ui.timepicker.js"></script>

    
    <script src="@Url.Content("~/InitializeComponents/Scripts/bootstrap3-typeahead.js")"></script>
    @*<script src="@Url.Content("~/InitializeComponents/Scripts/gridmvc.min.js")"></script>*@
    <script src="@Url.Content("~/InitializeComponents/Scripts/jquery.printPage.js")"></script>
    <!-- Date Table-->
    <script src="~/InitializeComponents/Content/Components/plugins/daterangepicker/moment.js"></script>
    <script src="@Url.Content("~/InitializeComponents/Content/Components/plugins/datatables/jquery.dataTables.min.js")"></script>
    <script src="@Url.Content("~/InitializeComponents/Content/Components/plugins/datatables/dataTables.bootstrap.min.js")"></script>
    <script src="~/InitializeComponents/Content/Components/plugins/datatables/datetime.js"></script>
    <script type="text/javascript" src="~/InitializeComponents/Content/Components/plugins/numberFormat/jquery.numberformatter.min.js"></script>
    <script type="text/javascript" src="~/InitializeComponents/Content/Components/plugins/jquery-dateFormat/jquery-dateFormat.min.js"></script>

    @*PERIOD*@
    <link href="~/InitializeComponents/Content/jquery.periodpicker.css" rel="stylesheet" />
    <link href="~/InitializeComponents/Content/jquery.timepicker.css" rel="stylesheet" />
    <script src="~/InitializeComponents/Scripts/jquery.mousewheel.min.js"></script>
    <script src="~/InitializeComponents/Scripts/jquery.periodpicker.full.min.js"></script>
    <script src="~/InitializeComponents/Scripts/jquery.timepicker.min.js"></script>

    <!-- Custom script for this site -->
    <script type="text/javascript" src="~/InitializeComponents/Scripts/Common/Master.js"></script>
    <script type="text/javascript" src="~/InitializeComponents/Scripts/Common/json.js"></script>
    <script type="text/javascript" src="~/InitializeComponents/Scripts/Common/AjaxCommon.js"></script>
    <script type="text/javascript" src="~/InitializeComponents/Scripts/Common/input.js"></script>
    <script type="text/javascript" src="~/InitializeComponents/Scripts/Common/datatable-pagin.js"></script>
    <script type="text/javascript" src="~/InitializeComponents/Scripts/Common/MessageAlert.js"></script>
    <script type="text/javascript" src="~/InitializeComponents/Scripts/Common/box-minimise.js"></script>
    <script type="text/javascript" src="~/InitializeComponents/Scripts/Common/DataFormat.js"></script>

    <script type="text/javascript" src="~/InitializeComponents/Scripts/bootstrap-multiselect.js"></script>
   
    <style>
        body.loading {
            overflow: hidden;
        }

            body.loading .boxLoading {
                display: block;
            }

        .main-footer {
            background: #dd4b39;
            padding: 5px;
            color: #fff;
            border-top: 1px solid #d2d6de;
            text-align: center;
        }

        .required {
            background-color: #fffece;
        }

        .file-upload {
            position: relative;
            overflow: hidden;
            margin: 10px;
        }

            .file-upload input.file-input {
                position: absolute;
                top: 0;
                right: 0;
                margin: 0;
                padding: 0;
                font-size: 20px;
                cursor: pointer;
                opacity: 0;
                filter: alpha(opacity=0);
            }
            .different {
                color: red;
            }
        /*
        .layout-boxed .wrapper {
            max-width: 1250px;  //ปรับความกว้างของหน้าจอ ในกรณีจอเล็ก
        } */
    </style>
</head>
<body class="hold-transition  skin-red sidebar-mini">
    @*  layout-boxed  >> class ที่ทำให้หน้าจอเล็ก *@
@RenderSection("styles", false)

<section id="BatchDialogArea"></section>
<section id="ScreenLoading"><img src="~/InitializeComponents/Images/Icon/Preloader_8.gif" /></section>
<!-- Site wrapper -->
    @RenderBody()
<script>
    function fnErrorDialog(title, msg) {

        if (title == null) {
            title = "Error";
        }
        bootbox.dialog({
            message: "<span class=\"text-danger\">" + msg + "</span>",
            title: "<span class=\"text-danger\">" + title + "</span>",
            buttons: {
                danger: {
                    label: "Close",
                    className: "btn-danger",
                    callback: function () {

                    }
                }
            }
        });//End of confrim
    }
    function fnCompleteDialog2(msg, callback) {

        bootbox.dialog({
            message: "<span class=\"text-success\">" + msg + "</span>",
            title: "<span class=\"text-success\">Success</span>",
            buttons: {
                danger: {
                    label: "Close",
                    className: "btn-success",
                    callback: callback
                }
            }
        });//End of confrim
    }
    function fnCompleteDialog(msg) {
        bootbox.dialog({
            message: "<span class=\"text-success\">" + msg + "</span>",
            title: "<span class=\"text-success\">Success</span>",
            buttons: {
                danger: {
                    label: "Close",
                    className: "btn-success"
                }
            }
        });//End of confrim
    }

    //var loadConfirmAlert = function (message, callback) {
    //    bootbox.confirm(message, function (result) {
    //        callback && callback(result);
    //    });
    //}

    var loadConfirmAlert = function (message, callback) {
        bootbox.confirm({
            title: "Confirm Dialog",
            message: message,
            callback: function (result) {
                callback && callback(result);
            }
        });
    }


    jQuery(function ($) {
        $('input[data-visible="false"').each(function () {
            $(this).css('display', 'none');
        });
        $('button[data-visible="false"').each(function () {
            $(this).css('display', 'none');
        });

        $(document).ajaxStop(function () {
            $("#ajax_loader").hide();
        });
        $(document).ajaxStart(function () {
            $("#ajax_loader").show();
        });
        //Initialize Select2 Elements
        $(".select2").select2({ width: '100%' });
        //$('.datepicker').datepicker({
        //    autoclose: true,
        //    format: 'dd-M-yyyy',
        //});
        //$(".datepicker").datepicker({ dateFormat: "dd-M-yyyy" });
        $('.datepicker').datepicker({
            // dateFormat: 'dd-M-yy',
            dateFormat: 'dd.mm.yy',
            //comment the beforeShow handler if you want to see the ugly overlay
            beforeShow: function () {
                setTimeout(function () {
                    $('.ui-datepicker').css('z-index', 99999999999999);
                }, 0);
            }
        });

        //$('#myTooltip').tooltip();

        $('.timepicker').timepicker();

        //$(".datepicker").keypress(function (evt) {

        //    return false;
        //});

        //setBodyContentHeight()
        $(window).resize(function () {
            //setBodyContentHeight()
        });

    });

    String.prototype.format = function () {
        a = this;
        for (k in arguments) {
            a = a.replace("{" + k + "}", arguments[k])
        }
        return a
    }

    function ClickIconDate(date) { //send Id txt date
        if ($('#' + date).is(':disabled')) {
            return;
        }

        $('#' + date).datepicker("show");
    }
    
</script>

@RenderSection("scripts", false)

<div id='ajax_loader' style="position: fixed; left: 40%; top: 40%; display: none;">
    <div class="modal-header">
        <h1>Processing...</h1>
    </div>
    <div class="modal-body">
        <div class="progress progress-striped active">
            <div class="bar" style="width: 100%;"></div>
        </div>
    </div>
</div>
</body>
</html>
