﻿<div class="modal fade" id="change-print-dialog" tabindex="-1" role="dialog">
    <div class="modal-dialog" style="width:580px; margin-top:30px;">
        <div class="modal-content Radius12" style="width:680px;">
            <div class="modal-header RadiusTop12">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">Print</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12 form-group">
                        <label class="col-sm-3 text-right" style="margin-top: 5px;">Company :</label>
                        <div class="col-sm-3">
                            @Html.CompanyCombobox("ddpWFD02320PrinterCompany", new { @class = "form-control select2" }, true)
                        </div>
                        <label class="col-sm-3 text-right" style="margin-top: 5px;">Location :</label>
                        <div class="col-sm-3">
                            @Html.PrintLocationCombobox("ddpWFD02320PrinterLocation", new { @class = "form-control select2" }, true)
                        </div>
                    </div>
                    @*<div class="form-inline form-in">
                            <div class="form-group col-sm-12 col-md-6 col-lg-6 set-zero-padding">
                                <div class="col-sm-12 col-md-6 col-lg-6 set-zero-padding">
                                    <label class="control-label" for="ddpWFD02320PrinterCompany">Company :</label>
                                </div>
                                <div class="col-sm-12 col-md-6 col-lg-6 set-zero-padding">
                                    <div class="input-inline" style="width: 100%;">
                                        @Html.CompanyCombobox("ddpWFD02320PrinterCompany", new { @class = "form-control select2" }, true)
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-sm-12 col-md-6 col-lg-6 set-zero-padding">
                                <div class="col-sm-12 col-md-6 col-lg-4 set-zero-padding">
                                    <label class="control-label" for="ddpWFD02320PrinterLocation">Location :</label>
                                </div>
                                <div class="col-sm-12 col-md-6 col-lg-8 set-zero-padding">
                                    <div class="input-inline" style="width: 100%;">
                                        @Html.PrintLocationCombobox("ddpWFD02320PrinterLocation", new { @class = "form-control select2" }, true)
                                    </div>
                                </div>
                            </div>
                        </div>*@
                    @*<div class="form-inline form-in">
                        </div>*@
                </div>
                <div class="row">
                    <div class="col-sm-12 form-group">
                        <label class="col-sm-3 text-right" style="margin-top: 5px;">Print Size :</label>
                        <div class="col-sm-9" style="margin-top: 5px;">
                            <span id="printsize_d"></span>
                        </div>
                    </div>
                    @*<div class="form-inline form-in">
                        <div class="form-group col-sm-12 col-md-6 col-lg-6 set-zero-padding">
                            <div class="col-sm-12 col-md-6 col-lg-6 set-zero-padding">
                                <label class="control-label" for="printsize_d">Print Size :</label>
                            </div>
                            <div class="col-sm-12 col-md-6 col-lg-6 set-zero-padding">
                                <div class="input-inline" style="width: 100%;">
                                    <span id="printsize_d"></span>
                                </div>
                            </div>
                        </div>

                    </div>*@
                    @*<div class="form-inline form-in">
                        </div>*@
                </div>
                <div class="row">
                    <div class="col-sm-12 form-group">
                        <label class="col-sm-3 text-right" style="margin-top: 5px;">Change To Printer :</label>
                        <div class="col-sm-9">
                            <hidden id="asset"></hidden>
                            <select class="form-control select2" id="printer_change" style="width:100px;"></select>
                        </div>
                    </div>
                    @*<div class="form-inline form-in">
                        <div class="form-group col-sm-12 col-md-12 col-lg-12 set-zero-padding">
                            <div class="col-sm-12 col-md-6 col-lg-3 set-zero-padding">
                                <label class="control-label" for="printer_change">Change To Printer :</label>
                            </div>
                            <div class="col-sm-12 col-md-6 col-lg-9 set-zero-padding">
                                <div class="input-inline" style="width: 100%;">
                                    <hidden id="asset"></hidden>
                                    <select class="form-control select2" id="printer_change" style="width:100px;"></select>
                                </div>
                            </div>
                        </div>
                    </div>*@
                </div>
            </div>
            <!-- /.modal-content -->
            <div class="modal-footer RadiusBottom12">
                <div class="form-inline form-in">
                    <div class="navbar-right">
                        <button class="btn btn-sm btn-success" id="btnSaveChangeDialog" type="button" style="width:100px" onclick="Save()"><i class="fa fa-save"></i>Save</button>
                        <button class="btn btn-sm btn-warning" data-dismiss="modal" id="btnCancelChangeDialog" type="button" style="width:100px"><i class="fa fa-ban"></i>Cancel</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.modal-dialog -->
    </div>
</div>