﻿@{
    ViewBag.Title = "WFD02320 : Print Tag Queue";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.ScreenTitle = "Print Tag Queue Screen";
}
@model th.co.toyota.stm.fas.Models.WFD02320.WFD02320SearchModel
<style>
    /*.control-label {
        text-align: left !important;
    }*/

    .form-inline {
        display: block !important;
    }

    hr {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .RequestBy {
        border-top-width:1px;
        border-bottom-width:1px;
        border-right-width:1px;
        border-style:solid;
        border-color:#ccc !important;
    }
    .RequestByName {        
        border-right-width:1px;
        border-style:solid;
        border-color:#ccc !important;
    }
    .table-responsive {
        min-height: 0.01%;
        overflow-x:hidden;
    }

    .table-responsive > div:first-child > div:nth-child(2){
        overflow-x:auto;
        margin-right: 0px;
    }

    .table-responsive > div:first-child{
        margin-right: 0px;
    }

    .input-field-search {
        /*margin-right: -80px;*/
    }

    .button-search {
        margin: 0px 0px;
    }
</style>
<form class="form-horizontal" id="form">
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Search Condition</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="" data-original-title="Collapse">
                    <i class="fa fa-minus"></i>
                </button>
            </div>
        </div>
        <div class="box-body" style="display: block;">
            <div class="row" id="Condition" style="margin-top: 20px;">
                <div class="col-sm-4">
                    <div class="form-group">
                        <div class="col-sm-4">
                            <label class="control-label" for="WFD02120MultipleBoxCompany">Company </label>
                        </div>
                        <div class="col-sm-8">
                            <div class="input-inline" style="width: 100%;">
                                @Html.CompanyMultipleComboboxNew("WFD02120MultipleBoxCompany", new { multiple = "multiple", @class = "form-control", tabindex = "1" }, true)
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="form-group">
                        <label for="FIND" class="col-sm-2 control-label input-field-search">Find </label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" id="FIND" name="FIND" maxlength="60">
                        </div>
                        <div class="col-sm-3">
                            <div class="button-box navbar-right button-search">
                                @*<button class="btn btn-primary" id="WFD02320Search" type="button" style="width:100px"><i class="fa fa-search"></i>Search</button>*@
                                @Html.Button("WFD02320Search", "Search", new { @class = "btn btn-primary" }, TagHelper.BUTTON_TYPES.SEARCH)
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
        <!-- /.box-footer-->
    </div>

    <div class="box box-success" id="SearchDataRow">
        <div class="box-header with-border">
            <h3 class="box-title">Search Result</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="" data-original-title="Collapse">
                    <i class="fa fa-minus"></i>
                </button>
            </div>
        </div>
        <div class="box-body" style="display: block;">
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-lg-4">

                    </div>
                    <div class="col-lg-8 text-right">
                        @*<button class="btn btn-info" id="WFD02320PrintAll" type="button" style="width:100px" data-model="all" onclick="PrintAll()"><i class="fa fa-print"></i>Print All</button>*@
                        @Html.Button("WFD02320PrintAll", "Print All", new { @class = "btn btn-info", type = "button" }, TagHelper.BUTTON_TYPES.PRINT)


                     </div>
                </div> <!-- End row button -->
                <div class="row">
                    <div class="form-group">
                        <div class="col-sm-12">
                            <div class="table-responsive">
                                <table id="table" class="table table-bordered table-striped table-hover" style="border-radius:3px; font-size:12px;">
                                    <thead class="bg-gray">
                                        <tr>
                                            <th rowspan="2" class="text-center" style="vertical-align:middle;width:20px">No.</th>
                                            <th rowspan="2" class="text-center" style="vertical-align:middle;width:60px">Company</th>
                                            <td colspan="2" class="text-center sorting_disabled" style="vertical-align:middle;border-bottom-width:1px;border-right-width:1px; border-style:solid; border-color:#ccc;">Request By</td>
                                            <th rowspan="2" class="text-center" style="vertical-align:middle;width:60px">Cost Center</th>
                                            <th rowspan="2" class="text-center" style="vertical-align:middle">Cost Center Name</th>
                                            <th rowspan="2" class="text-center" style="vertical-align:middle">Responsible<br />Cost Center</th>
                                            <th rowspan="2" class="text-center" style="vertical-align:middle;width:50px">Total Print Item</th>
                                            <th rowspan="2" class="text-center" style="vertical-align:middle;width:60px"></th>
                                        </tr>
                                        <tr>
                                            <th class="text-center" style="vertical-align:middle">Code</th>
                                            <th class="text-center" style="vertical-align:middle; border-right-width:1px; border-right-style:solid; border-right-color:#ccc;">Name</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>



                </div>
            </div>
        </div>
        <!-- /.box-footer-->
    </div>

    @Html.Partial("PrintTagQueueDialog")
    @Html.Partial("ChangePrintDialog")
</form>

@section scripts {

    <script type="text/javascript">

        var URL_CONST = {
            SEARCH: '@Url.Action("Search", "WFD02320")',
            PRINT_DIALOG: '@Url.Action("DataDialog", "WFD02320")',
            PRINT: '@Url.Action("PrintTag", "WFD02320")',
            ITEM_PER_PAGE: '@ViewBag.ITEM_PER_PAGE'
        }
        var Message = {
            RECORDISNOTSELECTED: '@ViewBag.RECORDISNOTSELECTED',
            ConfirmExportToExcel: '@ViewBag.ConfirmExportToExcel',
            ConfirmPrint: '@ViewBag.ConfirmPrint',
            ConfirmChangePrinter: '@ViewBag.ConfirmChangePrinter',

        }
        var GLOBAL = {
            USER_BY: '@ViewBag.LoginUser',
        }
        $(document).ready(function () {
            $('#WFD02120MultipleBoxCompany').multiselect(multiSelectOptionWidth100);
        });

    </script>
    <script type="text/javascript" src="~/InitializeComponents/Scripts/Common/BatchProcess.js"></script>
    <script type="text/javascript" src="~/JS/WFD02320.js"></script>
}

