﻿<div class="modal fade" id="print-tag-queue-dialog" tabindex="-1" role="dialog">
    <div class="modal-dialog" style="width:600px; margin-top:20px;">
        <div class="modal-content Radius12" style="width:700px;">
            <div class="modal-header RadiusTop12 HeaderModel">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">Print Tag Queue Dialog</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="form-group">
                        <div class="col-sm-12">
                            <label class="text-right col-sm-4">Cost Center :</label>
                            <div class="col-sm-8">
                                <span id="cost_center_d"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <label class="text-right col-sm-4">Responsible Cost Center :</label>
                            <div class="col-sm-8">
                                <span id="resp_cost_center_d"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <label class="text-right col-sm-4">Request By :</label>
                            <div class="col-sm-8">
                                <span id="request_d"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <label class="text-right col-sm-4">Total Item :</label>
                            <div class="col-sm-8">
                                <span id="total_d"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-inline form-in">
                        <table id="table_printtagque" class="table table-bordered table-hover" style="font:12px;">
                            <thead>
                                <tr>
                                    <th rowspan="2"><input id="WFD02320_SelectAll" type="checkbox" style="margin-top: 3px; height:20px; width:20px;" /></th>
                                    <th rowspan="2" class="text-center">Plate Size</th>
                                    <th rowspan="2" class="text-center">Plate Type</th>
                                    <th class="text-center" colspan="3">Printer</th>

                                    <th rowspan="2" class="text-center">Item Qty</th>
                                </tr>
                                <tr>
                                    <th class="text-center">Company</th>
                                    <th class="text-center">Location</th>
                                    <th class="text-center">Printer Name</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer RadiusBottom12 FooterModel">
                <div class="form-inline form-in">
                    <div class="navbar-right">
                        <button class="btn btn-sm btn-info" id="WFD02320Print" type="button" style="width:100px" onclick="PrintTag()"><i class="fa fa-print"></i>Print</button>
                        <button class="btn btn-sm btn-warning" data-dismiss="modal" id="btnCancelDialog" type="button" style="width:100px"><i class="fa fa-ban"></i>Cancel</button>
                    </div>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

</div>