﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.ScreenTitle = "Fixed Assets History Inquiry Screen";
}
@model th.co.toyota.stm.fas.Models.WFD01130.WFD01130SearchModel
<style>
    /*.control-label {
        text-align: left !important;
    }*/

    .form-inline {
        display: block !important;
    }

    hr {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .table-responsive {
        min-height: 0.01%;
        overflow-x:hidden;
    }

    .table-responsive > div:first-child > div:nth-child(2){
        overflow-x:auto;
        margin-right: 0px;
    }

    .table-responsive > div:first-child{
        margin-right: 0px;
    }
</style>

<!-- Row condition panel -->

    <div class="form-horizontal" id="WFD01130">
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">Search Condition</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="" data-original-title="Collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="box-body" style="display: block;">
                <div class="row" id="Condition">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label for="cbb_company" class="col-sm-2 control-label">Company</label>
                            <div class="col-sm-3">
                                @Html.CompanyMultipleComboboxNew("cbb_company", new { multiple = "multiple", @class = "form-control", tabindex = "1" }, true)
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="ASSET_NO" class="col-sm-2 control-label">Asset No.</label>
                            <div class="col-sm-3">
                                <div class="input-group">
                                    <input type="text" class="form-control require" id="ASSET_NO" name="ASSET_NO" maxlength="12">
                                    <span class="input-group-btn" data-toggle="modal" style="cursor:pointer"><button id="WFD01130BtnASSET_NO" class="btn btn-flat" type="button" style="background-color:white; padding-left:8px; padding-right:8px;">...</button></span>
                                </div>
                            </div>
                            <label for="ASSET_SUB_NO" class="col-sm-2 control-label">Asset Sub No.</label>
                            <div class="col-sm-2">
                                <input type="text" class="form-control require" id="ASSET_SUB_NO" name="ASSET_SUB_NO" maxlength="4">
                            </div>
                            <div class="col-sm-3">
                                <input type="text" class="form-control" id="ASSET_NAME" name="ASSET_NAME" readonly="readonly">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="TRANSACTION_TYPE" class="col-sm-2 control-label">Transaction Type</label>
                            <div class="col-sm-3">
                                @Html.DropDownListFor(e => e.TRANSACTION_TYPE, Model.ListTransactionType, new { @class = "form-control select2", @id = "TRANSACTION_TYPE" })
                            </div>
                            <label for="AssetNo" class="col-sm-2 control-label">Transaction Date</label>
                            <div class="col-sm-2">
                                <div class="input-group date">
                                    <input type="text" class="form-control datepicker datefrom" id="DATE_SERVICE_FROM" name="DATE_SERVICE_FROM" placeholder="From">
                                    <div class="input-group-addon date-picker-icon" onclick="ClickIconDate('DATE_SERVICE_FROM')">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                </div>
                            </div>
                            <label class="col-sm-1 text-center">-</label>
                            <div class="col-sm-2">
                                <div class="input-group date">
                                    <input type="text" class="form-control datepicker dateto" id="DATE_SERVICE_TO" name="DATE_SERVICE_TO" placeholder="To">
                                    <div class="input-group-addon date-picker-icon" onclick="ClickIconDate('DATE_SERVICE_TO')">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="DOCUMENT_NO" class="col-sm-2 control-label">Document No.</label>
                            <div class="col-sm-3">
                                <input type="text" class="form-control" id="DOCUMENT_NO" name="DOCUMENT_NO" maxlength="23">
                            </div>
                            <label for="STATUS" class="col-sm-2 control-label">Status</label>
                            <div class="col-sm-2">
                                @Html.DropDownListFor(e => e.STATUS, Model.ListStatus, new { @class = "form-control select2", @id = "STATUS" })
                            </div>

                            <div class="button-box navbar-right">
                                @*<button class="btn btn-primary" id="WFD01130Search" type="button"><i class="fa fa-search"></i>Search</button>
                                    <button class="btn btn-warning" id="WFD01130Clear" type="button"><i class="fa  fa-ban"></i>Clear</button>*@
                                @Html.Button("WFD01130Search", "Search", new { @class = "btn btn-primary", type = "button" }, TagHelper.BUTTON_TYPES.SEARCH)
                                @Html.Button("WFD01130Clear", "Clear", new { @class = "btn btn-warning", type = "button" }, TagHelper.BUTTON_TYPES.CLEAR)
                            </div>

                        </div>
                    </div>


                </div>

            </div>
            <!-- /.box-footer-->
        </div>

        <div class="box box-success" id="SearchDataRow">
            <div class="box-header with-border">
                <h3 class="box-title">Search Result</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="" data-original-title="Collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="box-body" style="display: block;">
                <div class="col-sm-12">
                    <div class="row">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <div class="table-responsive">
                                    <table id="table" class="table table-bordered table-striped table-hover table-th-center" style="border-radius:3px; font-size:12px;">
                                        <thead class="bg-gray">
                                            <tr>
                                                <th style="width:80px;">Company</th>
                                                <th style="width:110px;">Trans. Type</th>
                                                <th style="width:70px;">Trans. Date</th>
                                                <th style="min-width:200px;">Trans. Detail</th>
                                                <th style="min-width:100px;">Latest Approve</th>
                                                <th style="width:110px;">Posting Date</th>
                                                <th style="width:80px;">Refer Request</th>
                                            </tr>
                                        </thead>
                                    </table>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.box-footer-->
        </div>


    </div>

    @Html.Action("Index", "WFD02190")
    @section scripts {

        <script type="text/javascript">

        var CommonMessage = {
            ShouldNotBeEmpty: '@ViewBag.ShouldNotBeEmpty',
        }

        var URL_CONST = {
            SEARCH: '@Url.Action("Search", "WFD01130")',
            DOC_OPEN: '@Url.Action("Index", "WFD01170")', //waiting for change
            GET_ASSET_NAME: '@Url.Action("GetAsset", "WFD01130")',
            ITEM_PER_PAGE: '@ViewBag.ITEM_PER_PAGE'
        }
        @*var URL_WFD02190 = {
            ITEM_PER_PAGE: '@ViewBag.WFD02190_ITEM_PER_PAGE',
            SEARCH_ASSET: '@Url.Action("WFD02190_Search", "WFD02190")?singleFlag=Y',
            SAVE_ASSETS_DATA: '@Url.Action("WFD02190_SaveAssetsData", "WFD02190")',
            DefaultCostCode: '@ViewBag.DefaultCostCode'
        }*@
        var GLOBAL = {
            GUID: '',
            COMPANY: '',
            DOC_NO: '',

        }

        var URL_COMSCC = {
            ITEM_PER_PAGE: '@ViewBag.COMSCC_ITEM_PER_PAGE',
            SEARCH_COST_CODE: '@Url.Action("COMSCC_Search", "COMSCC")',
            DefaultCostCode: '@ViewBag.DefaultCostCode'
        }

        $(document).ready(function () {
            $('#cbb_company').multiselect(multiSelectOptionWidth100);
        });

        </script>

        <script type="text/javascript" src="~/JS/WFD01130.js"></script>
        <script type="text/javascript" src="~/JS/WFD02190.js"></script>
        <script type="text/javascript" src="~/JS/COMSCC.js"></script>
    }