﻿<style>
    .RetiredRead {
        background-color: rgba(221, 75, 57, 0.8);
        color: #333;
    }

    p {
        margin: 0px;
    }

    .btn > i {
        margin-right: 0px;
    }

    .table-thead-center th {
        text-align: center;
    }

    .RetiredRead a {
        /*color:#333;*/
    }
</style>
<div class="box box-primary" id="WFD02210_SearchDataRow">
    <div class="box-header with-border">
        <h3 class="box-title">Assets List</h3>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                <i class="fa fa-minus"></i>
            </button>
        </div>
    </div>
    <div class="box-body">
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <div class="col-sm-4">
                    </div>
                    <div class="col-sm-8 text-right">
                        @Html.Button("WFD02210Add", "Add ", new { @class = "btn btn-info", tabindex = "2" }, TagHelper.BUTTON_TYPES.ADD)
                        @Html.Button("WFD02210Clear", "Clear ", new { @class = "btn btn-warning", tabindex = "2" }, TagHelper.BUTTON_TYPES.CLEAR)
                        @Html.Button("WFD02210ExportToExcel", "Export to Excel ", new { @class = "btn btn-info", tabindex = "2" }, TagHelper.BUTTON_TYPES.EXPORT)
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div id="WFD02210_SearchResult" class="col-lg-12">
                <table id="WFD02210_SearchResultTable" class="table table-bordered table-striped table-hover table-thead-center"
                       style="margin-top: 10px; font-size:12px; border-radius: 3px;">
                    <thead style="height:40px; background-color:rgba(236, 240, 245, 1);">
                        <tr>
                            <th style="width: 110px;">CIP No</th>
                            <th style="width: 110px;">Asset No</th>
                            <th style="min-width: 190px;">Asset Name</th>
                            <th style="width: 90px;">Plan Cost</th>
                            <th style="width: 90px;">Actual Cost</th>
                            <th style="width: 100px;">Complete Date</th>
                            <th style="width: 25px;"></th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
        <div class="row">
            <div id="WFD02210RemarkGenerate" class="col-lg-12" style="display:none;">
                <div class="form-group" style="padding-right:16px; color:#e08e0b; text-align:right">
                    <p>Remark: If you want to edit data in asset list, please click Reset Approver List.</p>
                </div>
            </div>
        </div>
    </div>
</div>
@Html.Partial("../WFD02190/Index")


