﻿<style>
    p {
        margin: 0 0 0px !important;
    }
    .RetiredRead {
        background-color: rgba(221, 75, 57, 0.8);
        color: #333;
    }

    p {
        margin: 0px;
    }

    .btn > i {
        margin-right: 0px;
    }

    .table-thead-center th {
        text-align: center;
    }

    .RetiredRead a {
        /*color:#333;*/
    }
</style>

<div class="box box-primary" id="WFD02110_SearchDataRow">
    <div class="box-header with-border">
        <h3 class="box-title">Assets List</h3>
        <div class="form-group" style="margin-top:15px;">
            <div class="col-sm-6">
                @Html.WFD01170Button("btnRequestDownload", "Download Template ", new { @class = "btn btn-info", tabindex = "2" }, TagHelper.BUTTON_TYPES.DOWNLOAD)
                @Html.WFD01170Button("btnRequestUpload", "Upload Excel ", new { @class = "btn btn-warning", tabindex = "2" }, TagHelper.BUTTON_TYPES.UPLOAD)
            </div>
            <div class="col-sm-6 text-right">
                @Html.WFD01170Button("btnRequestAddAsset", "Add ", new { @class = "btn btn-info", tabindex = "2" }, TagHelper.BUTTON_TYPES.ADD)
                @Html.WFD01170Button("btnRequestClear", "Clear ", new { @class = "btn btn-warning", tabindex = "2" }, TagHelper.BUTTON_TYPES.CLEAR)
                @Html.WFD01170Button("btnRequestExport", "Export to Excel ", new { @class = "btn btn-info", tabindex = "2" }, TagHelper.BUTTON_TYPES.EXPORT)
            </div>
        </div>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                <i class="fa fa-minus"></i>
            </button>
        </div>

    </div>
    <div class="box-body">
        <div class="row">
            <div id="divSearchResult" class="col-lg-12">
                <table id="tbSearchResult" class="table table-bordered table-striped table-hover table-thead-center"
                       style="margin-top: 10px; font-size:12px; border-radius: 3px;">
                    <thead style="height:40px; background-color:rgba(236, 240, 245, 1);">
                        <tr>
                            <th style="width: 25px;"></th>
                            <th style="width: 25px;">No.</th>
                            <th style="width: 25px;">Asset No.</th>
                            <th style="width: 25px;">Asset Sub</th>
                            <th style="min-width: 100px;">Asset Description</th>
                            <th style="width: 25px;">Additional Asset<br />Description</th>
                            <th style="width: 25px;">Serial No.</th>
                            <th style="width: 25px;">Physical<br />Check</th>
                            <th style="width: 25px;">Inventory<br />Note</th>
                            <th style="width: 25px;">BOI</th>
                            <th style="width: 25px;">Minor<br/>Category</th>
                            @*<th style="width: 25px;">Asset Status</th>*@
                            <th style="width: 25px;">Machine<br />License</th>
                            <th style="width: 25px;">Tax<br/>Privilege</th>
                            <th style="width: 25px;">Status</th>
                            <th style="width: 20px;"></th>
                            <th style="width: 20px;"></th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
        <div class="row">
            <div id="WFD02210RemarkGenerate" class="col-lg-12" style="display:none;">
                <div class="form-group" style="padding-right:16px; color:#e08e0b; text-align:right">
                    <p>Remark: If you want to edit data in asset list, please click Reset Approver List.</p>
                </div>
            </div>
        </div>
    </div>
</div>


