﻿
<div class="modal fade" id="FinishPlanModal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">Stock Taking Dialog</h4>
            </div>
            <div class="modal-body" style="position: relative;">
                @*<div id="FinishAlertMessageArea" class="message-area" data-seq="1">
                    </div>*@
                <div class="row">
                    <div class="form-inline form-in text-right" style="margin-left:0; width: 120px;">
                        <label>Company : </label>
                    </div>
                    <div class="form-inline form-in" style="margin-left: 0;">
                        <label id="lbCompany" class="text-light">Company</label>
                    </div>
                    <div class="form-inline form-in text-right" style="width: 100px; margin-right: 0; ">
                        <label>Period : </label>
                    </div>
                    <div class="form-inline form-in" style="margin-left: 0; margin-right:0; width: 80px;">
                        <label id="lbPeriod" class="text-light">Year/Round</label>
                    </div>
                    <div class="form-inline form-in text-right" style="margin-left:0; width: 120px;">
                        <label>Asset Location : </label>
                    </div>
                    <div class="form-inline form-in" style="margin-left: 0;">
                        <label id="lbAssetLocation" class="text-light">Asset Location</label>
                    </div>
                </div>
                <div class="row">
                    <div class="form-inline form-in text-right" style="width: 100px; margin-right: 0;">
                        <label>Total Asset : </label>
                    </div>
                    <div class="form-inline form-in text-left" style="margin-left: 0; margin-right:0; width: 80px;">
                        <label id="lbTotalAsset" class="text-light">Total Asset</label>
                    </div>
                    <div class="form-inline form-in text-right" style=" width 120px;">
                        <label>Scan Result : </label>
                    </div>
                    <div class="form-inline form-in" style="margin-left: 0;">
                        <label id="lbScanResult" class="text-light">Scan Result</label>
                    </div>
                    <div class="form-inline form-in text-right">
                        <label>Not found : </label>
                    </div>
                    <div class="form-inline form-in" style="margin-left: 0;">
                        <label id="lbNotFound" class="text-light">Not Found</label>
                    </div>
                </div>
                <div class="row">
                    <div class="form-inline form-in text-right" style="width: 100px; margin-right: 0;">
                        <label>Remark : </label>
                    </div>
                    <div class="form-inline form-in text-left" style="margin-left: 0; width: 450px;">
                        <textarea id="taRemark" class="form-control" style="width: 100%; height: 70px; resize: none;"></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="btnOKFP" class="btn btn-success"><i class="fa fa-check"></i>  OK </button>
                <button id="btnCancelFP" class="btn btn-warning" data_dismiss="modal"><i class="fa fa-remove"></i>  Cancel </button>

                @* @Html.Button("btnOKFP", "OK", new { @class="btn btn-success" }, TagHelper.BUTTON_TYPES.OK)
                    @Html.Button("btnCancelFP", "Cancel", new { @class= "btn btn-warning", data_dismiss = "modal" }, TagHelper.BUTTON_TYPES.CANCEL)
                    <button id="btnCancelFP" type="button" class="btn btn-warning" data-dismiss="modal">Cancel</button>*@
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>


