﻿@using th.co.toyota.stm.fas
@{
    ViewBag.Title = "WFD02610: FA Physical Check Request Screen";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.ScreenTitle = "FA Physical Check Request Screen";
}

<style>
    /*table.dataTable thead > tr > th {
        padding-right: 0px;
        padding-left: 0px;
    }*/
    /*table input:hover {
        display: block !important;
        margin-left: 5px;
    }*/
</style>

<div class="box box-info">
    <div class="box-header with-border">
        <h3 class="box-title">Search condition
        </h3>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="" data-original-title="Collapse">
                <i class="fa fa-minus"></i>
            </button>
        </div>
    </div>
    <div class="box-body" style="display: block;">
        <div class="row" id="Condition" >
            <div class="col-lg-8">

                <div class="form-inline form-in">
                    <label>Company : </label>
                    <div class="form-in" style="width: 200px;">
                        @Html.CompanyCombobox("COMPANY", new { @class = "form-control select2", tabindex = "1" })
                    </div>
                    </div>

                    <div class="form-inline form-in">
                        <label>Period : </label>
                        @Html.CommonTextBox("YEAR", null, new { @class = "form-control", style = "width: 60px;", maxlength = "4", tabindex = "2" })
                        <label>/</label>
                        @Html.CommonTextBox("ROUND", null, new { @class = "form-control", style = "width: 60px;", maxlength = "2", tabindex = "3" })
                    </div>
                    <div class="form-inline form-in">
                        <label>Asset Location : </label>
                        <div class="form-in" style="width: 200px;">
                            @Html.AssetLocationCombobox("ASSET_LOCATION", new { @class = "form-control select2", maxlength = "400", tabindex = "4" })
                        </div>
                    </div>
                </div>
            <div class="col-lg-4 text-right">
                @*<button id="Search" class="btn btn-primary"><i class="fa fa-search"></i>Search</button>*@
                @*<button id="Clear" class="btn btn-warning"><i class="fa  fa-repeat"></i>Clear</button>*@
                @Html.Button("WFD02610btnSearch", "Search", new { @class = "btn btn-primary", tabindex = "5" }, TagHelper.BUTTON_TYPES.SEARCH)
                @Html.Button("WFD02610btnClear", "Clear", new { @class = "btn btn-warning", tabindex = "6" }, TagHelper.BUTTON_TYPES.CLEAR)
            </div>
        </div>

    </div>
    <!-- /.box-footer-->
</div>


<div class="box box-success" id="WFD01250_BoxSearchResult">
    <div class="box-header with-border">
        <h3 class="box-title">
            Search result
        </h3>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="" data-original-title="Collapse">
                <i class="fa fa-minus"></i>
            </button>
        </div>
    </div>
    <div class="box-body" style="display: block;">
        <div class="row">
            <div id="itemPerPage" class="col-lg-4">

            </div>
            <div class="col-lg-8">
                <div class="navbar-right ">
                    @Html.Button("WFD02610btnNewPlan", "New Plan", new { name = "btnNewPlan", @class = "btn btn-info", tabindex = "6" })
                    @Html.Button("WFD02610btnFinishPlan", "Finish Plan", new { name = "btnNewPlan", @class = "btn btn-info", tabindex = "7" })
                    @*@Html.Button("WFD02610btnExportOracle", "Export to Oracle", new { name = "btnNewPlan", @class = "btn btn-info", tabindex = "8" })*@
                    @Html.Button("WFD02610btnExportResult", "Export Result", new { name = "btnNewPlan", @class = "btn btn-info", style = "margin-right: 15px;", tabindex = "9" })
                </div>
            </div>
        </div> <!-- End row button -->

        <div class="row" id="SearchDataRow">
            <div id="SearchResult" class="col-lg-12">

                @Html.Partial("SearchResult")

            </div>
        </div>
    </div>
    <!-- /.box-footer-->
</div>

<!-- Finish plan -->
@Html.Partial("FinishPlan")


@section scripts {

    <script type="text/javascript" src="~/InitializeComponents/Scripts/Common/BatchProcess.js"></script>

    <script type="text/javascript">

        var UserId = '@GlobalUser.UserSc2.TFASTEmployeeNo';
        var IsFAAdmin = '@(GlobalUser.UserSc2.IsAECUser ? "1":"0")';

        var URL_CONST = {
            GET_DEFAULT_SCREEN_VAL: '@Url.Action("WFD02610_getDefaultScreenData", "WFD02610")',
            SEARCH: '@Url.Action("WFD02610_Search", "WFD02610")',
            GET_FINISH_PLAN_DATA: '@Url.Action("WFD02610_GetFinishPlanData", "WFD02610")',
            FINISH_PLAN: '@Url.Action("WFD02610_FinishPlan", "WFD02610")',
            VALIDATE_EXPORT_ORACLE: '@Url.Action("WFD02610_ValidateExportToOracle", "WFD02610")',
            ITEM_PER_PAGE: '@ViewBag.ITEM_PER_PAGE'
        }

       
    </script>

    <script type="text/javascript" src="~/JS/WFD02610.js"></script>

}