﻿<table id="SearchResultTable" class="table table-bordered table-striped table-hover table-th-center fixedHeaderTB" 
       style="margin-top: 10px;">
    <thead>
        <tr>
            <th class="text-center" style="width: 30px;">
                <input id="selectAll" type="checkbox" style="margin-left: 15px;" />
            </th>
            <th style="width: 110px;">Company</th>
            <th style="width: 55px;">Year</th>
            <th style="width: 65px;">Round</th>
            <th style="width: 110px;">Asset Location</th>
            <th style="width: 110px;">Status</th>
            <th style="width: 125px;">Total Cost Center</th>
            <th style="width: 95px;">Total Asset</th>
            <th style="width: 100px;">Scan Result</th>
            <th style="width: 90px;">Plan (Day)</th>
            <th style="width: 100px;">Actutal (Day)</th>
            <th>Remark</th>
            <th style="width: 50px;"></th>
        </tr>
    </thead>
</table>