﻿div.row > div > div > label:first-child {
    width: 165px;
    text-align: right;
}

.input-inline {
    display: inline-block;
}

.imargin {
    margin: 0 10px;
}

.int-input {
    text-align: right;
}

.wfd02620-box {
    position: relative;
}

    .wfd02620-box > label, .wfd02620-box > i {
        font-weight: normal;
        float: left;
    }

div.row > div > div.wfd02620-box > label:first-child {
    width: 60px;
    text-align: right;
    margin-right: 0px;
}

.wfd02620-box > i {
    height: 20px;
    width: 20px;
    border: 1px solid #aaa;
}

table * {
    font-size: 10px !important;
}

.datepicker {
    /*font-size: 12px !important;*/
}


/* SV Calendar style sheet */

table#SVAssignmentTable > tbody > tr > td {
    height: 25px;
}



td.time-td {
    padding: 0 !important;
}

td {
    vertical-align: middle !important;
    cursor: default;
}

table#SVAssignmentTable tr.holiday-row {
    background-color: #eee;
}

div.time-cell-row {
    display: block;
    padding: 0px;
    margin: 0;
    width: 100%;
    line-height: 0;
}

div.time-cell-col {
    display: inline-block;
    width: 25%;
    height: 7px;
    /*background-color: yellow;*/
}

    div.time-cell-col.process-cell {
        display: inline-block;
        width: 25%;
        height: 11px;
        /*background-color: #FFF;*/
    }

    div.time-cell-col:hover {
        /*background-color: yellow;*/
    }


div.WorkingTimePeriod {
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
    background-color: yellow !important;
}

div.WrongProcessPeriod {
    background-color: red !important;
}

.WFD02620-BreakTimeBG {
    background-color: #eee;
}