﻿
<div id="divAverageDialog" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header HeaderModel">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="lblAssetNoOnCostdialog">Average Amount to Asset</h4>
            </div>
            <div class="modal-body">
                <div id="AlertMessageWFD02710Average" class="message-area">
                </div>
                <div class="form-horizontal">
                    <div class="form-group">
                        <div class="form-group">
                            <div class="col-sm-2 text-right">
                                <input id="chkAverageSelectAll" type="checkbox" class="custom-control-input" tabindex="3" style="width:24px;height:24px;" />
                            </div>
                            <div class="col-sm-2">
                                <label class="control-label" for="chkAverageSelectAll"> All</label>
                            </div>
                            <div class="col-sm-4 text-left">

                            </div>
                        </div>
                    </div>
                        <div class="form-group" id="divTargetAssetList">
                            <div class="col-sm-2 text-right">
                                <input id="chk" type="checkbox" class="custom-control-input" tabindex="3" style="width:24px;height:24px;" />
                            </div>
                            <div class="col-sm-10">
                                <label class="control-label"> Loop</label>
                            </div>
                        </div>
                    </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-sm btn-info" id="btnAverageOK" type="button"><i class="fa fa-save"></i> OK </button>
                <button class="btn btn-sm btn-warning" data-dismiss="modal" id="btnAverageCancel" type="button"><i class="fa fa-ban"></i> Cancel </button>
            </div>
        </div>
    </div>
</div>
