﻿<div class="modal fade" id="divAverageAssetNoDialog" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content" style="width:400px;">
            <div class="modal-header HeaderModel">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="lblAverageAssetNoDialog">Average Amount to Asset</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="form-inline">
                        <label for="txtCostValue" class="col-sm-4 control-label">Cost Value :</label>
                        <div class="col-sm-8">
                            @Html.CommonTextBox("txtCostValueOriginal", null, new { @class = "form-control text-right", disabled = "disabled" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-inline">
                        <div class="col-md-4 custom-control custom-checkbox">
                            <input id="chkAll" type="checkbox" class="custom-control-input" tabindex="3" style="width:24px;height:24px;" />
                            <label class="custom-control-label" for="chkAll">All</label>
                        </div>
                        <div class="col-md-8">
                            @Html.CommonTextBox("txtCostAll", null, new { @class = "form-control text-right", disabled = "disabled" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-inline">
                        <div class="col-md-4 custom-control custom-checkbox">
                            <input id="chkAmount" type="checkbox" class="custom-control-input" tabindex="3" style="width:24px;height:24px;" />
                            <label class="custom-control-label" for="chkAmount">Amount</label>
                        </div>
                        <div class="col-sm-8">
                            @Html.CommonTextBox("txtCostAmount", null, new { @class = "form-control text-right", disabled = "disabled" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-inline">
                        <div class="col-md-4 custom-control custom-checkbox">
                            <input id="chkPercentage" type="checkbox" class="custom-control-input" tabindex="3" style="width:24px;height:24px;" />
                            <label class="custom-control-label" for="chkPercentage">Percentage</label>
                        </div>
                        <div class="col-sm-8">
                            @Html.CommonTextBox("txtCostPercentage", null, new { @class = "form-control  text-right", disabled = "disabled" })
                        </div>
                        <div class="col-md-4 custom-control custom-checkbox">
                        </div>
                        <div class="col-sm-8">
                            @Html.CommonTextBox("txtCostPercentageAmount", null, new { @class = "form-control  text-right", disabled = "disabled" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer RadiusBottom12 FooterModel">
                <div class="form-inline form-in">
                    <div class="navbar-right">
                        <button class="btn btn-sm btn-info" id="btnAverageAssetNoOK" type="button"><i class="fa fa-save"></i> OK </button>
                        <button class="btn btn-sm btn-warning" data-dismiss="modal" id="btnAverageAssetNoCancel" type="button"><i class="fa fa-ban"></i> Cancel </button>
                    </div>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

</div>