﻿
<div id="divCostDialog" class="modal fade" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header HeaderModel">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="lblAssetNoOnCostdialog">Cost Allocation</h4>
            </div>
            <div class="modal-body">
                <div id="AlertMessageWFD02710Cost" class="message-area">
                </div>
                <div class="form-horizontal">
                    <div class="form-group">
                        <div class="col-sm-2 text-right">
                        </div>
                        <div class="col-sm-2">
                            <label for="txtCostValueOriginal" class="control-label" style="white-space: nowrap;">Cost Value</label>
                        </div>
                        <div class="col-sm-4 text-right">
                            <input type="text" name="txtCostValueOriginal" id="txtCostValueOriginal" class="form-control  text-right" disabled>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2 text-right">
                            <input id="chkAll" type="checkbox" class="custom-control-input" tabindex="3" style="width:24px;height:24px;" />
                        </div>
                        <div class="col-sm-2">
                            <label class="control-label" for="txtCostAll"> All</label>
                        </div>
                        <div class="col-sm-4 text-left">
                            <input type="text" name="txtCostAll" id="txtCostAll" class="form-control  text-right" disabled>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2 text-right">
                            <input id="chkAmount" type="checkbox" class="custom-control-input" tabindex="3" style="width:24px;height:24px;" />
                        </div>
                        <div class="col-sm-2">
                            <label class="control-label"> Amount</label>
                        </div>
                        <div class="col-sm-4 text-right">
                            <input type="text" name="txtCostAmount" id="txtCostAmount" class="form-control  text-right" onblur="reCalcRemainCost();" disabled>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-2 text-right">
                            <input id="chkPercentage" type="checkbox" class="custom-control-input" tabindex="3" style="width:24px;height:24px;" />
                        </div>
                        <div class="col-sm-2">
                            <label class="control-label"> Percentage</label>
                        </div>
                        <div class="col-sm-2 text-left">
                            <input type="text" maxlength="8" name="txtCostPercentage" id="txtCostPercentage" class="form-control  text-right" onblur="calcPercentage2Amount();" disabled>
                            @*<input type="number" name="txtCostPercentage" id="txtCostPercentage" class="form-control  text-right" onblur="calcPercentage2Amount();" disabled>*@
                        </div>
                        <div class="col-sm-2 text-left">
                            <label class="control-label" style="white-space: nowrap;">/ 100.00%</label>
                        </div>
                        <div class="col-sm-4 text-left">
                            <input type="text" name="txtAmountByPercentage" id="txtAmountByPercentage" class="form-control  text-right" disabled>
                        </div>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <input type="hidden" id="hddOldAdjType" />
                <input type="hidden" id="hddOldSettleAmount" />
                <input type="hidden" id="hddOldRemainCost" />
                <input type="hidden" id="hddRemainCost" />
                <label class="control-label text-left col-sm-3">Remain Cost :</label>
                <label class="control-label text-left col-sm-2" id="lblRemainCost"></label>
                <button class="btn btn-sm btn-info" id="btnCostDialogOK" type="button"><i class="fa fa-save"></i> OK </button>
                <button class="btn btn-sm btn-warning" data-dismiss="modal" id="btnCancelDialog" type="button"><i class="fa fa-ban"></i> Cancel </button>

            </div>
        </div>
    </div>
</div>
