﻿<style>
    p{
        margin:0 0  0px !important;
    }
    .glyphicon_Detail_plus {
        color: forestgreen;
        cursor: pointer;
    }

    .glyphicon_Detail_minus {
        color: orangered;
        cursor: pointer;
    }

    .RowSumFooter {
        border-right-width: 0px;
    }

    /*.c-date {
        position: absolute;
        top: -30px;
        width: 120px;
    }*/

    /*#tbSearchResult_wrapper {
        margin-top: 29px;
    }*/

    #tbSearchResult thead th {
        text-align: center;
    }

    .t-settle {
        min-width: 100%;
    }

    .t-settle thead th {
        white-space: nowrap;
        border: 0;
        height: 25px;
        text-align: center;
    }

    .t-settle tbody td {
        white-space: nowrap;
        height: 28px;
    }

    .input-group.date > input,
    .input-group.date > span > button {
        position: static;
    }

    .td-border-l {
        border-left: 1px solid !important;
    }
   
    .td-border-r {
        border-right: 1px solid !important;
    }

    .td-border-t {
        border-top: 1px solid !important;
    }

    .td-border-b {
        border-bottom: 1px solid !important;
    }

    table tbody tr:last-child td {
        border-bottom: 1px solid !important;
    }

    .tr-last-td td {
        border-bottom: 1px solid !important;
    }

    /*.tooltip {
        position: fixed;
    }*/

    .p-0 {
        padding:0px !important;
    }

    .p-x-2 {
        padding-left: 2px !important;
        padding-right: 2px !important;
    }

    .td-s-tooltip > .tooltip {
        position: fixed;
    }

</style>
<div class="box box-primary" id="WFD02710_SearchDataRow">
    <div class="box-header with-border">
        <h3 class="box-title">Assets List</h3>
        <div class="form-group">
            <div class="col-sm-4">
                @Html.WFD01170Button("btnRequestDownload", "Download Template ", new { @class = "btn btn-info", tabindex = "2" }, TagHelper.BUTTON_TYPES.DOWNLOAD)
                @Html.WFD01170Button("btnRequestUpload", "Upload Excel ", new { @class = "btn btn-warning", tabindex = "2" }, TagHelper.BUTTON_TYPES.UPLOAD)
                @Html.WFD01170Button("btnGenerateAssetNo", "Generate Asset No ", new { @class = "btn btn-info", tabindex = "2" }, TagHelper.BUTTON_TYPES.ADD)
            </div>
            <div class="col-sm-8 text-right">
                @Html.WFD01170Button("btnRequestAddNewAsset", "Add New Asset ", new { @class = "btn btn-info", tabindex = "2" }, TagHelper.BUTTON_TYPES.ADD)
                @Html.WFD01170Button("btnRequestAddCurrentAsset", "Add Current Asset ", new { @class = "btn btn-info", tabindex = "2" }, TagHelper.BUTTON_TYPES.ADD)
                @Html.WFD01170Button("btnRequestRequestAUCInvoice", "Request AUC Invoice ", new { @class = "btn btn-info", tabindex = "2" }, TagHelper.BUTTON_TYPES.ADD)
                @Html.WFD01170Button("btnRequestAdd", "Add ", new { @class = "btn btn-info", tabindex = "2" }, TagHelper.BUTTON_TYPES.ADD)
                @Html.WFD01170Button("btnRequestClear", "Clear ", new { @class = "btn btn-warning", tabindex = "2" }, TagHelper.BUTTON_TYPES.CLEAR)
                @Html.WFD01170Button("btnRequestExport", "Export to Excel ", new { @class = "btn btn-info", tabindex = "2" }, TagHelper.BUTTON_TYPES.EXPORT)
            </div>
        </div>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                <i class="fa fa-minus"></i>
            </button>
        </div>

    </div>
    <div class="box-body">
        <div class="row" id="divSearchRequestResult">
            <div class="col-lg-12">
                <table id="tbSearchResult" class="t-settle table table-bordered table-striped table-hover"
                       style="font-size:12px; border:0">
                    <thead style="height:40px; background-color:rgba(236, 240, 245, 1);">
                    </thead>
                </table>
            </div>
        </div>
        <div class="row">
            <div id="WFD02210RemarkGenerate" class="col-lg-12" style="display:none;">
                <div class="form-group" style="padding-right:16px; color:#e08e0b; text-align:right">
                    <p>Remark: If you want to edit data in asset list, please click Reset Approver List.</p>
                </div>
            </div>
        </div>
    </div>
</div>
@Html.Partial("CostDialog")
@Html.Partial("AverageCostDialog")

<script>
    var Url2710 = {
        UpdateSettlement : '@Url.Action("UpdateSettlement", "WFD02710")',
        AverageCost : '@Url.Action("AverageCost", "WFD02710")',
        InsertExistsToTargetAsset: '@Url.Action("InsertExistsToTargetAssets", "WFD02710")',
        DeleteTargetAsset: '@Url.Action("DeleteTargetAsset", "WFD02710")'
    }

</script>


