﻿<style>
    /*.col-sm-4, .col-sm-12, .col-sm-8, .col-sm-5, .col-sm-7 {
        position: relative;
        min-height: 1px;
        padding-right: 3px;
        padding-left: 5px;
    }

    .row {
        margin-right: -7px;
        margin-left: -7px;
        padding-bottom: 7px;
    }*/

    /*.txt-right {
        text-align: right;
    }*/

    /*.txt-center {
        text-align: center;
    }*/

    /*table.dataTable thead > tr > th {
        padding-right: 5px;
        padding-left: 5px;
    }*/

    /*.input-group-addon {
        border-left-width: 0px;
    }*/

    .RadiusTop12 {
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
    }

    .RadiusBottom12 {
        border-bottom-left-radius: 12px;
        border-bottom-right-radius: 12px;
    }

    .Radius12 {
        border-radius: 12px;
    }

    .HeaderModel {
        background-color: rgba(221, 75, 57, 1); /*#337ab7;*/
        color: white;
    }

    .FooterModel {
        background-color: #f5f5f5;
    }

    .Radius24 {
        border-radius: 24px;
    }
    /*.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
        padding: 5px;
    }*/

    table.table-bordered, table.table-bordered {
        border-color: #ccc !important;
    }

    table.table-bordered, table.table-bordered > thead > tr > th {
        border-color: #ccc !important;
    }

    table.table-bordered, table.table-bordered > tbody > tr > td {
        border-color: #ccc !important;
    }
    #WFD02190Loading {
        display:none;
        height:100%;
        position:fixed;
        top:0;
        left:0;
        background:url(../../Images/Loading.gif) no-repeat center #fff;
        text-align:center;
        font:normal 16px Tahoma,Geneva,sans-serif;
        border:1px solid #FFF;
        z-index:99999;
        overflow:auto;
        opacity: .69;
        border-radius: 12px;
    }
    #WFD02190_SearchResultTable-pagin-area{ width:100% !important;}

</style>

<div id="WFD02190Loading" style="width:100%;"></div>

<div class="modal fade" id="WFD02190_SearchAssets" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" style="overflow:auto;">

    <div class="modal-dialog" style="width:1200px; margin: 10px auto;">
        <div class="modal-content Radius12">
            <div class="modal-header RadiusTop12 HeaderModel">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="lblWFD02190SearchTitle">Fixed Asset Dialog</h4>
            </div>
            <div class="modal-body">
                <div id="AlertMessageWFD02190" class="message-area">
                </div>
                <div class="form-horizontal">
                    <div class="box box-info">
                        <div class="box-header with-border">
                            <h3 class="box-title">
                                Search Condition
                            </h3>
                            <div class="box-tools pull-right">
                                <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="" data-original-title="Collapse">
                                    <i class="fa fa-minus"></i>
                                </button>
                            </div>
                        </div>
                        <div class="box-body">
                            <div class="col-sm-12">
                                <div class="search-row form-group">
                                    <div class="col-sm-4">
                                        <label class="control-label col-sm-5 txt-right padding-label-popup" for="WFD02190MultipleBoxCompany">Company</label>
                                        <div class="col-sm-7 padding-group-textbox-popup">
                                            <div class="input-inline" style="width: 100%;">
                                                @Html.CommonTextBox("WFD02190MultipleBoxCompany", null, new { @class = "entersearch text-upper form-control text-left", style = "disalbled:disabled", tabindex = "1" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <label class="control-label col-sm-5 txt-right padding-label-popup" for="WFD02190txtAssetNo">Asset No.</label>
                                        <div class="col-sm-7 padding-group-textbox-popup">
                                            @Html.CommonTextBox("WFD02190txtAssetNo", null, new { @class = "entersearch text-upper form-control text-left", style = "", maxlength = "12", tabindex = "2" })
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <label class="control-label col-sm-4 txt-right padding-label-popup" for="WFD02190txtAssetSub">Asset Sub No.</label>
                                        <div class="col-sm-4 padding-group-textbox-popup">
                                            @Html.CommonTextBox("WFD02190txtAssetSub", null, new { @class = "entersearch form-control text-left", style = "", maxlength = "4", tabindex = "3" })
                                        </div>
                                        <div class="col-sm-4 padding-group-textbox-popup">
                                            @Html.CheckBox("WFD02190chkOnlyParent", false)
                                            <label class="control-label" for="WFD02190chkOnlyParent">Only Parent </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="search-row form-group">
                                    <div class="col-sm-4">
                                        <label class="control-label col-sm-5 txt-right padding-label-popup" for="WFD02190txtAssetName">Asset Name</label>
                                        <div class="col-sm-7 padding-group-textbox-popup">
                                            @Html.CommonTextBox("WFD02190txtAssetName", null, new { @class = "entersearch form-control text-left", style = "", maxlength = "50", tabindex = "4" })
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <label class="control-label col-sm-5 txt-right padding-label-popup" for="WFD02190txtAssetClass">Asset Class</label>
                                        <div class="col-sm-7 padding-group-textbox-popup">
                                            @Html.CommonTextBox("WFD02190txtAssetClass", null, new { @class = "entersearch form-control typeahead text-left", style = "", maxlength = "8", tabindex = "5" })
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <label class="control-label col-sm-4 txt-right padding-label-popup" for="WFD02190cmbAssetGroup">Asset Group</label>
                                        <div class="col-sm-8 padding-group-textbox-popup">
                                            @Html.SystemCombobox("WFD02190cmbAssetGroup", "FAS_TYPE", "ASSET_GROUP", false, new { @class = "entersearch form-control select2", tabindex = "6" }, true)
                                        </div>
                                    </div>
                                </div>
                                <div class="search-row form-group">
                                    <div class="col-sm-4">
                                        <label class="control-label col-sm-5 txt-right padding-label-popup" for="WFD02190CostCenter">Cost Center</label>
                                        <div class="col-sm-7 padding-group-textbox-popup">
                                            <div class="input-inline" style="width: 100%;" id="divWFD02190CostCenter">
                                                @Html.CommonTextBox("WFD02190CostCenter", null, new { @class = "entersearch form-control typeahead text-left", style = "", maxlength = "10", tabindex = "7" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <label class="control-label col-sm-5 txt-right padding-label-popup" for="WFD02190ResponsibleCostCenter">Resp Cost Center</label>
                                        <div class="col-sm-7 padding-group-textbox-popup">
                                            @Html.CommonTextBox("WFD02190ResponsibleCostCenter", null, new { @class = "entersearch text-upper form-control typeahead text-left", style = "", maxlength = "10", tabindex = "8" })
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <label class="control-label col-sm-4 txt-right padding-label-popup" for="WFD02190cmbLocation">Location/Supplier</label>
                                        <div class="col-sm-8 padding-group-textbox-popup">
                                            @Html.SystemComboboxLocation("WFD02190ddpLocation", "LOCATION", "", false, new { @class = "entersearch form-control select2", tabindex = "9" }, true)
                                        </div>
                                    </div>
                                </div>
                                <div class="search-row form-group">
                                    <div class="col-sm-4">
                                        <label class="control-label col-sm-5 txt-right padding-label-popup" for="WFD02190txtWBSProject">WBS Cost (Project)</label>
                                        <div class="col-sm-7 padding-group-textbox-popup">
                                            @Html.CommonTextBox("WFD02190txtWBSProject", null, new { @class = "entersearch form-control text-left", style = "", maxlength = "24", tabindex = "10" })
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <label class="control-label col-sm-5 txt-right padding-label-popup" for="WFD02190txtWBSBudget">WBS (Budget)</label>
                                        <div class="col-sm-7 padding-group-textbox-popup">
                                            @Html.CommonTextBox("WFD02190txtWBSBudget", null, new { @class = "entersearch form-control typeahead text-left", style = "", maxlength = "24", tabindex = "11" })
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <label class="control-label col-sm-4 txt-right padding-label-popup" for="WFD02190txtAssetPlateNo">Asset Plate No.</label>
                                        <div class="col-sm-8 padding-group-textbox-popup">
                                            @Html.CommonTextBox("WFD02190txtAssetPlateNo", null, new { @class = "entersearch form-control typeahead text-left", style = "", maxlength = "25", tabindex = "12" })
                                        </div>
                                    </div>
                                </div>
                                <div class="search-row form-group">
                                    <div class="col-sm-4" style="margin-left:0px;">
                                        <label class="control-label col-sm-5 txt-right padding-label-popup" for="WFD02190CapitalizeDateFrom">Capitalized Date From</label>
                                        <div class="col-sm-7 padding-group-textbox-popup">
                                            <div class="input-inline" style="width: 100%;">
                                                <span class="input-group date" style="max-width:100%;">
                                                    @Html.TextBox("WFD02190CapitalizeDateFrom", null, new { @class = "entersearch form-control datepicker", maxlength = "10", placeholder = "From", tabindex = "13" })
                                                    <span class="input-group-addon date-picker-icon" onclick="ClickIconDate('WFD02190CapitalizeDateFrom')">
                                                        <i class="fa fa-calendar"></i>
                                                    </span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <label class="control-label col-sm-5 txt-right padding-label-popup" for="WFD02190CapitalizeDateTo">Capitalized Date To</label>
                                        <div class="col-sm-7 padding-group-textbox-popup">
                                            <span class="input-group date" style="max-width:100%;">
                                                @Html.TextBox("WFD02190CapitalizeDateTo", null, new { @class = "entersearch form-control datepicker", maxlength = "10", placeholder = "To", tabindex = "14" })
                                                <span class="input-group-addon date-picker-icon" onclick="ClickIconDate('WFD02190CapitalizeDateTo')">
                                                    <i class="fa fa-calendar"></i>
                                                </span>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-sm-4 text-right">
                                        <button id="WFD02190Search" class="btn btn-primary" tabindex="3"><i class="fa fa-search"></i>  Search </button>
                                        <button id="WFD02190Clear" class="btn btn-warning" tabindex="3"><i class="fa fa-repeat"></i>  Clear </button>
                                        <button id="WFD02190Close" class="btn btn-warning" tabindex="3"><i class="fa fa-power-off"></i>  Close </button>
                                    </div>
                                </div>
                                <div class="search-row form-group">
                                    <div class="col-sm-4">
                                        <label class="control-label control-label col-sm-5 txt-right padding-label-popup" for="BOI">BOI</label>
                                        <div class="col-sm-7 padding-group-textbox-popup">
                                            @Html.SystemCombobox("WFD02190cmbBOI", "FAS_TYPE", "BOI", false, new { @class = "entersearch form-control select2", tabindex = "6" }, true)
                                        </div>
                                    </div>
                                    <div class="col-sm-4">

                                    </div>
                                    @*<div class="col-sm-4 txt-right">
                                            <img src="~/Images/Loading.gif" id="xWFD02190Loading" />
                                        </div>*@
                                </div>
                            </div>
                        </div>
                    </div>
                    @Html.Partial("../WFD02190/SearchResult")

                </div>
            </div>
            <div class="modal-footer RadiusBottom12 FooterModel">
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->

</div>


<script type="text/javascript">
    var Search2190Config = {

        Default: {
            Company: { Value: "", Enable: false },
            CostCode: { Value: "", Enable: false },
            BOI_FLAG: { Value: "", Enable: false },
            ResponsibleCostCode: { Value: "", Enable: false },
            Parent: { Value: "", Enable: false },
            AssetClass: { Value: "", Enable: false },
            AssetGroup: { Value: "", Enable: false },
            WBSProject: { Value: "", Enable: false },
            WBSBudget: { Value: "", Enable: false }
        },

        DefaultCompany: '',
        DefaultCostCode: '',
        searchOption: '',
        SearchUrl: '@Url.Action("Search", "WFD02190")', //Fixed Value
        ItemPerPage: 20, //Fixed Value from config
        AllowMultiple: false
    }
    var Search2190Message = {
        SelectOneRecord: '@ViewBag.MCOM0004AERR',
        NoSelected: '@ViewBag.MCOM0010AWRN',
        UnderRequest: '@ViewBag.MFAS1902AERR', // Asset No P06B0006800 Sub No : 0000 is under retiremeny request processing
        MixCostCenterAndResponseCostCenter: '@ViewBag.MFAS1913AERR',
        MixResponseCostCenter: '@ViewBag.MFAS1914AERR',
        MixWBSBudget: '@ViewBag.MFAS1917AERR'
    }

    var UrlWFD02190 = {
        GetAutoCompleteAssetClass: '@Url.Action("AssetClass_AutoComplete", "Common")',
        GetAutoCompleteCostCenter: '@Url.Action("CostCenter_AutoComplete", "Common")',
        GetAutoCompleteRespCostCenter: '@Url.Action("ResponsibleCostCenter_AutoComplete", "Common")',
        GetAutoCompleteWBSBudget: '@Url.Action("WBSBudget_AutoComplete", "Common")',
        GetAutoCompleteWBSProject: '@Url.Action("WBSProject_AutoComplete", "Common")',
        GetAutoCompleteAssetPlate: '@Url.Action("AssetPlate_AutoComplete", "Common")',
        @*AddAssetListValidation2710: '@Url.Action("AddAssetListValidation", "WFD02A00")'*@
    };

</script>



