﻿<div class="box box-success" id="WFD02190_SearchDataRow">
    <div class="box-header with-border">
        <div class="col-sm-4 text-left">
            <h3 class="box-title">
                Search Result
            </h3>
        </div>
        <div class="col-sm-8 text-right">
            <button id="WFD02190OK" class="btn btn-success" tabindex="3"><i class="fa fa-check"></i>  OK </button>
            <button id="WFD02190Cancel" class="btn btn-warning" tabindex="3"><i class="fa fa-remove"></i>  Cancel </button>
        </div>
        @*<div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="" data-original-title="Collapse">
                    <i class="fa fa-minus"></i>
                </button>
            </div>*@
    </div>
    <div class="box-body">

        @*<div class="col-lg-12">
                <div class="form-group">
                    <div class="col-sm-4">
                    </div>
                    <div class="col-sm-8 text-right">
                        <button id="WFD02190OK" class="btn btn-success" tabindex="3"><i class="fa fa-check"></i>  OK </button>
                        <button id="WFD02190Cancel" class="btn btn-warning" tabindex="3"><i class="fa fa-remove"></i>  Cancel </button>
                    </div>
                </div>
            </div>*@
        <div id="WFD02190_SearchResult" style="width:100%; overflow-x:scroll; ">
            <table id="WFD02190_SearchResultTable" class="table table-bordered table-striped table-hover" style="margin-top: 10px; font-size:12px; border-radius: 3px;">
                <thead>
                    <tr>
                        <th class="text-center"><input id="WFD02190_selectAll" type="checkbox" /></th>
                        <th class="text-center"><br />Asset No.</th>
                        <th class="text-center"><br />Asset<br />Sub No.</th>
                        <th class="text-center"><br />Asset<br />Description</th>
                        <th class="text-center"><br />Asset<br />Class</th>
                        <th class="text-center"><br />Cost<br />Center Charge</th>
                        <th class="text-center"><br />Response<br />Cost Center</th>
                        <th class="text-center"><br />WBS<br />Cost(Project)</th>
                        <th class="text-center"><br />BOI</th>
                        <th class="text-center"><br />Minor<br />Category</th>
                        <th class="text-center"><br />Tax<br />Privilege</th>
                        <th class="text-center"><br />Location / Supplier</th>
                        <th class="text-center"><br />Capitaized<br />Date</th>
                        <th class="text-center"><br />Status</th>
                        @*<th style="width: 40px; text-align:center;"><br />Machine<br />License</th>*@
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>