﻿<style>
    .RetiredRead {
        background-color: rgba(221, 75, 57, 0.8);
        color:#333;
    }
    p {
        margin:0px;
    }
    .btn > i {
     margin-right: 0px;
}
    .table-thead-center th {
    text-align:center;
    }
     .RetiredRead a {
    /*color:#333;*/
    }
</style>
<div class="box box-primary" id="WFD02A00_SearchDataRow">
    <div class="box-header with-border">
        <h3 class="box-title">Assets List</h3>
        <div class="form-group">
            <div class="col-sm-6">
            </div>
            <div class="col-sm-6 text-right">
                @Html.WFD01170Button("btnRequestAdd", "Add ", new { @class = "btn btn-info", tabindex = "2" }, TagHelper.BUTTON_TYPES.ADD)
                @Html.WFD01170Button("btnRequestClear", "Clear ", new { @class = "btn btn-warning", tabindex = "2" }, TagHelper.BUTTON_TYPES.CLEAR)
                @Html.WFD01170Button("btnRequestExport", "Export to Excel ", new { @class = "btn btn-info", tabindex = "2" }, TagHelper.BUTTON_TYPES.EXPORT)
            </div>
        </div>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                <i class="fa fa-minus"></i>
            </button>
        </div>

    </div>
    <div class="box-body">
        <div class="row">
            <div id="divSearchRequestResult" class="col-lg-12">
                <table id="tbSearchResult" class="table table-bordered table-striped table-hover table-thead-center"
                       style="margin-top: 10px; font-size:12px; border-radius: 3px;">
                    <thead style="height:40px; background-color:rgba(236, 240, 245, 1);">
                        <tr>
                            <th style="width: 35px;">No.</th>
                            <th style="width: 110px;">Asset No.</th>
                            <th style="width: 110px;">Asset Sub</th>
                            <th style="min-width: 200px;">Asset Name</th>
                            <th style="width: 45px;">Asset Class</th>
                            
                            <th style="width: 50px;">
                                Damage<br />
                                <input id="WFD02310_DamageSelectAll" type="checkbox" style="margin-top: 3px; height:20px; width:20px;" />
                            </th>
                            <th style="min-width: 50px;">
                                Loss<br />
                                <input id="WFD02310_LossSelectAll" type="checkbox" style="margin-top: 3px; height:20px; width:20px;" />

                            </th>
                            <th style="min-width: 40px;">Number<br/>of Print</th>
                            <th style="min-width: 25px;"></th>
                        </tr>
                    </thead>
                </table>


            </div>
        </div>
        <div class="row">
            <div id="WFD02210RemarkGenerate" class="col-lg-12" style="display:none;">
                <div class="form-group" style="padding-right:16px; color:#e08e0b; text-align:right">
                    <p>Remark: If you want to edit data in asset list, please click Reset Approver List.</p>
                </div>
            </div>
        </div>
    </div>
</div>

