﻿@{
    ViewBag.Title = "FA Physical Check Management And Monitoring Screen";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.ScreenTitle = "FA Physical Check Management And Monitoring Screen";
}
  <!-- fullCalendar 2.2.5-->
<link rel="stylesheet" href="~/InitializeComponents/Content/Components/plugins/fullcalendar/fullcalendar.min.css">
<link rel="stylesheet" href="~/InitializeComponents/Content/Components/plugins/fullcalendar/fullcalendar.print.css" media="print">

<script src="~/InitializeComponents/Content/Components/plugins/fullcalendar/fullcalendar.min.js"></script>
<style>

    .bgblack{
        color: #FFFFFF;
        background-color: #333333;
    }

    .text-title-calendar {
        color: #7FABE4;
        background-color: #ffffff;
    }

    .text-des-calendar-onprocess {
        color: #000000;
        background-color: #00B1F4;
    }

    .text-des-calendar-complete {
        color: #000000;
        background-color: #92D050;
    }

    .text-des-calendar-deley {
        color: #000000;
        background-color: #f39c12;
    }
    
    .text-des-calendar-loss {
        color: #000000;
        background-color: #dd4b39;
    }
    .text-des-calendar-notscan {
        color: #000000;
        background-color: #ffffff;
    }

    .fc-day-header {
        background-color: #B7DEE8;
    }

    /* Set background color defaulft  day sun and sat is gray
        .fc-day.fc-sat {
        background-color: #D9D9D9;
    }

    .fc-day.fc-sun {
        background-color: #D9D9D9;
    }*/

    .info-box-icon {
        float: right;
    }

    .info-box-content {
        margin-left: 0px !important;
        padding: 5px 10px !important;
    }

    .info-box-text {
        font-size: 10px;
    }
        .border-icon {
        border: 2px solid;
        padding: 10px;
    }
        table thead > tr > th {
        padding-top:10px;
        padding-bottom:15px;
    }
</style>
<form class="form-horizontal" id="form">
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">Search condition</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="" data-original-title="Collapse">
                    <i class="fa fa-minus"></i>
                </button>
            </div>
        </div>
        <div class="box-body" style="display: block;">
            <div class="row" id="Condition">


                <div class="col-lg-9">

                    <div class="form-inline form-in">
                        <label>Company : </label>
                        @Html.CompanyCombobox("COMPANY", new { @class = "form-control select2", tabindex = "1" })
                    </div>
                    
                    <div class="form-inline form-in">
                        <label>FA Physical Check Round : </label>
                        <select class="select2 form-control" id="YEAR" name="YEAR" tabindex="2">
                            <option value="">- Select -</option>
                        </select>
                        <label>/</label>
                        <select class="select2 form-control" id="ROUND" name="ROUND" tabindex="3">
                            <option value="">- Select -</option>
                        </select>
                    </div>
                    <div class="form-inline form-in">
                        <label>Asset Location : </label>
                        <div class="form-in">
                            <select class="select2 form-control" id="ASSET_LOCATION" name="ASSET_LOCATION" tabindex="4">
                                <option value="">- Select -</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 text-right">
                    @Html.Button("WFD02630Search", "Search", new { @class = "btn btn-primary", tabindex = "5", type = "button" }, TagHelper.BUTTON_TYPES.SEARCH)
                    @Html.Button("WFD02630Clear", "Clear", new { @class = "btn btn-warning", tabindex = "6", type = "button" }, TagHelper.BUTTON_TYPES.CLEAR)
                </div>
            </div>

        </div>
        <!-- /.box-footer-->
    </div>

    <div class="box box-success" id="SearchDataRow">
        <div class="box-header with-border">
            <h3 class="box-title">Search result</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="" data-original-title="Collapse">
                    <i class="fa fa-minus"></i>
                </button>
            </div>
        </div>
        <div class="box-body" style="display: block;">
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-md-4">
                        <p>
                            <strong>Accumulated Result as of</strong>
                        </p>
                        <div class="progress-group">
                            <span class="progress-text" id="WFD02630DATE_AS_OF"></span>
                            <span class="progress-number"><b id="WFD02630ACTUAL"></b>/<span id="WFD02630TOTAL"></span></span>
                            <div class="progress sm">
                                <div id="WFD02630PROGRESS_BAR_PERCEN" class="progress-bar"></div>
                            </div>
                        </div>
                        <!-- /.progress-group -->
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="info-box" id="WFD02630BG">
                            @*Start Fix 07062017 Ues image instead*@
                            <span class="info-box-icon">
                                <img id="WFD02630IconImg" style="width: 80px; height: 88px; padding-bottom: 9px;" src="">
                                @*<span id="WFD02630BorderIcon"><i class="fa" id="WFD02630ICON"></i></span>*@
                            </span>
                            @*End Fix 07062017 Ues image instead*@
                            <div class="info-box-content">
                                <span class="info-box-text"><strong>Over all status : Actual / Plan</strong></span>
                                <span class="info-box-number" id="WFD02630Description"></span>
                                <div class="progress">
                                    <div class="progress-bar" id="WFD02630PERSEN"></div>
                                </div>
                                <span class="progress-description" id="WFD02630TEXTPERSEN">
                                    
                                </span>
                            </div>
                            <!-- /.info-box-content -->
                        </div>
                        <!-- /.info-box -->
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <div class="col-sm-12">
                            <div id="calendar"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.box-footer-->
    </div>
</form>
@section scripts {


    <script type="text/javascript">
        var URL_CONST = {
            GET_COMPANY_DDL: '@Url.Action("GetCompany", "WFD02630")',
            GET_YEAR_DDL: '@Url.Action("GetYear", "WFD02630")',
            GET_ROUND_DDL: '@Url.Action("GetRound", "WFD02630")',
            GET_ASSET_LOCATION_DDL: '@Url.Action("GetAssetLocation", "WFD02630")',
            GET_HOLIDAY: '@Url.Action("GetHoliday", "WFD02630")',
            GET_DATADETAIL: '@Url.Action("GetStockData", "WFD02630")',
            GET_DEFAULT: '@Url.Action("GetDefaultScreen", "WFD02630")',
        }
    </script>

    <script type="text/javascript" src="~/JS/WFD02630.js"></script>

}

