﻿<style>
    .RetiredRead {
        background-color: rgba(221, 75, 57, 0.8);
        color: #333;
    }

    p {
        margin: 0px;
    }

    .btn > i {
        margin-right: 0px;
    }

    .table-thead-center th {
        text-align: center;
    }

    .RetiredRead a {
        /*color:#333;*/
    }
</style>
<div class="box box-primary" id="WFD02110_SearchDataRow">
    <div class="box-header with-border">
        <h3 class="box-title">Assets List</h3>
        <div class="form-group" style="margin-top: 15px;">
            <div class="col-sm-6">
                @Html.Button("btnRequestDownload", "Download Template ", new { @class = "btn btn-info", tabindex = "10" }, TagHelper.BUTTON_TYPES.DOWNLOAD)
                @Html.Button("btnRequestUpload", "Upload Excel ", new { @class = "btn btn-warning", tabindex = "11" }, TagHelper.BUTTON_TYPES.UPLOAD)
                @Html.Button("btnGenerateAssetNo", "Generate Asset No ", new { @class = "btn btn-info", tabindex = "2" }, TagHelper.BUTTON_TYPES.ADD)
            </div>
            <div class="col-sm-6 text-right">
                @Html.Button("btnRequestAddAsset", "Add ", new { @class = "btn btn-info", tabindex = "12" }, TagHelper.BUTTON_TYPES.ADD)
                @Html.Button("btnRequestClear", "Clear ", new { @class = "btn btn-warning", tabindex = "13" }, TagHelper.BUTTON_TYPES.CLEAR)
                @Html.Button("btnRequestExport", "Export to Excel ", new { @class = "btn btn-info", tabindex = "14" }, TagHelper.BUTTON_TYPES.EXPORT)
            </div>
        </div>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                <i class="fa fa-minus"></i>
            </button>
        </div>

    </div>
    <div class="box-body">
        <div class="row">
            <div id="divSearchResult" class="col-lg-12">
                    <div class="table-responsive">
                        <table id="tbSearchResult" class="table table-bordered table-striped table-hover table-thead-center"
                               style="margin-top: 10px; font-size:12px; border-radius: 3px;">
                            <thead style="height:25px; background-color:rgba(236, 240, 245, 1);">
                                <tr>
                                    <th style="width: 25px;"><input id="WFD021A0_SelectAll" type="checkbox" style="margin-top: 3px; height:20px; width:20px;" /></th>
                                    <th style="width: 25px; text-align:center;">No.</th>
                                    <th style="width: 60px; text-align:center;">Parent<br />Asset No.</th>
                                    <th text-align:center;">Asset<br />Description</th>
                                    <th style="width: 40px; text-align:center;">Asset<br />Class</th>
                                    <th style="width: 40px; text-align:center;">Minor<br />Category</th>
                                    <th style="width: 60px; text-align:center;">Cost Center<br />Change</th>
                                    <th style="width: 60px; text-align:center;">Response<br />Cost Center</th>
                                    <th text-align:center;">WBS Budget</th>
                                    <th text-align:center;">Location</th>
                                    <th style="width: 25px; text-align:center;">BOI</th>
                                    <th style="width: 50px; text-align:center;">Tax<br />Priviledge</th>
                                    <th style="width: 80px; text-align:center;">Asset No.</th>
                                    <th style="width: 50px; text-align:center;">Asset<br />Sub</th>
                                    <th style="width: 25px; text-align:center;">Quotation</th>
                                    <th style="width: 25px; text-align:center;">Status</th>
                                    <th style="width: 25px; text-align:center;">Del</th>
                                    <th style="width: 25px; text-align:center;"></th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                
            </div>
        </div>
        <div class="row">
            <div id="WFD02210RemarkGenerate" class="col-lg-12" style="display:none;">
                <div class="form-group" style="padding-right:16px; color:#e08e0b; text-align:right">
                    <p>Remark: If you want to edit data in asset list, please click Reset Approver List.</p>
                </div>
            </div>
        </div>
    </div>
</div>
