﻿<div id="divCostDialog" class="modal fade" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header HeaderModel">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Asset No : <span id="lblAssetNoOnCostdialog"></span></h4>
            </div>
            <div class="modal-body">
                <div id="AlertMessageWFD02A00" class="message-area">
                </div>
                <div class="form-horizontal">
                    <div class="form-group">
                        <div class="col-sm-2 text-right">
                        </div>
                        <div class="col-sm-2" style="padding:0px">
                            <label id="lblCostValueOriginal" for="txtCostValueOriginal" class="control-label" style="white-space: nowrap;">Value</label>
                        </div>
                        <div class="col-sm-4 text-right">
                            <input type="text" name="txtCostValueOriginal" id="txtCostValueOriginal" class="form-control  text-right" disabled>
                        </div>
                        <div class="col-sm-4" style="padding:0px">
                            <label id="lblDescription" class="control-label" style="white-space: nowrap;">Value = NBV - Scrap Value</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2 text-right">
                            <input id="chkAll" type="checkbox" class="custom-control-input" tabindex="3" style="width:24px;height:24px;" />
                        </div>
                        <div class="col-sm-2" style="padding:0px">
                            <label class="control-label"> All</label>
                        </div>
                        <div class="col-sm-4 text-left">
                            <input type="text" name="txtCostAll" id="txtCostAll" class="form-control  text-right" disabled>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2 text-right">
                            <input id="chkAmount" type="checkbox" class="custom-control-input" tabindex="3" style="width:24px;height:24px;" />
                        </div>
                        <div class="col-sm-2" style="padding:0px">
                            <label class="control-label"> Amount</label>
                        </div>
                        <div class="col-sm-4 text-left">
                            <input type="text" name="txtCostAmount" id="txtCostAmount" onblur="checkEnabledOKButton();" class="form-control  text-right" disabled>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-2 text-right">
                            <input id="chkPercentage" type="checkbox" class="custom-control-input" tabindex="3" style="width:24px;height:24px;" />
                        </div>
                        <div class="col-sm-2" style="padding:0px">
                            <label class="control-label"> Percentage</label>
                        </div>
                        <div class="col-sm-2 text-left">
                            <input type="text" name="txtCostPercentage" maxlength="8" id="txtCostPercentage" class="form-control  text-right" disabled>
                        </div>
                        <div class="col-sm-2 text-left" style="padding:0px;">
                            <label class="control-label" style="white-space: nowrap;">/ 100.00%</label>
                        </div>
                        <div class="col-sm-4 text-left">
                            <input type="text" name="txtAmountByPercentage" id="txtAmountByPercentage" class="form-control  text-right" disabled>
                        </div>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <input type="hidden" id="totalAmount" />
                <label class="control-label text-left col-sm-3" id="lblCost"></label>
                <label class="control-label text-left col-sm-2" id="lblCostTxt"></label>
                <button class="btn btn-sm btn-info" id="btnCostDialogOK" type="button"><i class="fa fa-save"></i> OK </button>
                <button class="btn btn-sm btn-warning" data-dismiss="modal" id="btnCancelDialog" type="button"><i class="fa fa-ban"></i> Cancel </button>

            </div>
        </div>
    </div>
</div>
