﻿<style>
    p {
        margin: 0 0 0px !important;
    }
</style>

<div class="box box-primary" id="WFD02A00_SearchDataRow">
    <div class="box-header with-border">
        <div class="row">
            <div class="col-md-4"><h3 class="box-title">Transaction Type</h3></div>
            <div class="col-md-2" custom-control custom-checkbox">
                <input id="chkImpairment" type="checkbox" class="custom-control-input" tabindex="3" style="width:24px;height:24px;" />
                <label class="custom-control-label" for="chkImpairment">Impairment</label>
            </div>
            <div class="col-md-4" custom-control custom-checkbox">
                <input id="chkReverseImpairment" type="checkbox" class="custom-control-input" tabindex="3" style="width:24px;height:24px;" />
                <label class="custom-control-label" for="chkReverseImpairment">Reverse Impairment</label>
            </div>
        </div>
    </div>
</div>
<div class="box box-primary" id="WFD02A00_SearchDataRow">
    <div class="box-header with-border">
        <h3 class="box-title">Assets List</h3>
        <div class="form-group">
            <div class="col-sm-6">
                @Html.WFD01170Button("btnRequestDownload", "Download Template ", new { @class = "btn btn-info", tabindex = "2" }, TagHelper.BUTTON_TYPES.DOWNLOAD)
                @Html.WFD01170Button("btnRequestUpload", "Upload Excel ", new { @class = "btn btn-warning", tabindex = "2" }, TagHelper.BUTTON_TYPES.UPLOAD)
            </div>
            <div class="col-sm-6 text-right">
                @Html.WFD01170Button("btnRequestAdd", "Add ", new { @class = "btn btn-info", tabindex = "2" }, TagHelper.BUTTON_TYPES.ADD)
                @Html.WFD01170Button("btnRequestClear", "Clear ", new { @class = "btn btn-warning", tabindex = "2" }, TagHelper.BUTTON_TYPES.CLEAR)
                @Html.WFD01170Button("btnRequestExport", "Export to Excel ", new { @class = "btn btn-info", tabindex = "2" }, TagHelper.BUTTON_TYPES.EXPORT)
            </div>
        </div>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                <i class="fa fa-minus"></i>
            </button>
        </div>

    </div>
    <div class="box-body">
        <div class="table-responsive">
            <div class="col-lg-12" id="divSearchRequestResult">
                <table id="tbSearchResult" class="table table-bordered table-striped table-hover table-thead-center"
                       style="font-size:12px; border-radius: 3px;">
                    <thead style="height:40px; background-color:rgba(236, 240, 245, 1);">
                        <tr>
                            <th class="text-center" style="width: 25px;"><input id="WFD02A00_SelectAll" type="checkbox" style="margin-top: 3px; height:20px; width:20px;" /></th>
                            <th class="text-center" style="min-width: 20px;">No.</th>
                            <th class="text-center" style="min-width: 80px;">Asset No.</th>
                            <th class="text-center" style="min-width: 40px;">Asset Sub</th>
                            <th class="text-center" style="min-width: 120px;">Asset Name</th>
                            <th class="text-center" style="min-width: 40px;">Type</th>
                            <th class="text-center" style="min-width: 80px;">Capitalized Date</th>
                            <th class="text-center" style="min-width: 80px;">Cost Value</th>
                            <th class="text-center" style="min-width: 80px;">Net Book Value</th>
                            <th class="text-center" style="min-width: 80px;">Amount<br />Posted</th>
                            <th class="text-center" style="min-width: 150px;">Depreciation Term</th>
                            <th class="text-center" style="min-width: 120px;">Posting Date</th>
                            <th class="text-center" style="min-width: 80px;">Reason</th>
                            <th class="text-center" style="min-width: 40px;">Status</th>
                            <th class="text-center" style="min-width: 25px;"></th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
        <div class="row">
            <div id="WFD02210RemarkGenerate" class="col-lg-12" style="display:none;">
                <div class="form-group" style="padding-right:16px; color:#e08e0b; text-align:right">
                    <p>Remark: If you want to edit data in asset list, please click Reset Approver List.</p>
                </div>
            </div>
        </div>
    </div>
</div>
@Html.Partial("CostDialog")

<script type="text/javascript">
    var Message = {
        ShouldNotEmpty: '@ViewBag.MSTD0031AERR',
        Between: '@ViewBag.MSTD0016AERR',
        Lessthan: '@ViewBag.MSTD0025AERR'
    }
</script>