﻿@{
    ViewBag.Title = "WFD02610: Stock Take Request Screen";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.ScreenTitle = "Stock Take Request Screen";
}

<div class="box">
    <div class="box-header with-border">
        <h3 class="box-title">Base Combobox With JS</h3>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="" data-original-title="Collapse">
                <i class="fa fa-minus"></i>
            </button>
        </div>
    </div>
    <div class="box-body" style="display: block;">
        <div class="row">
           
            <div class="form-inline form-in">
                <label>System setting</label>
                <div class="form-in"  id="SystemSetting" style="width: 200px;"></div>
            </div>

        </div>
        <div class="row">
            <div class="col-lg-12">
                <pre>

                </pre>
            </div>
        </div>
    </div>
    <!-- /.box-footer-->
</div>
<script type="text/javascript" src="~/InitializeComponents/Scripts/Common/Input/BaseCombobox.js"></script>

<script>

    var CBBSystemSetting = null;

    $(function () {
        // Initial combobox object for using base combobox
        CBBSystemSetting = $('#SystemSetting').BaseComobox({
            Id: 'CBBSystemSetting', // id of combobox (required)
            Url: '@Url.Action("GetSystemSettingCombobox", "Test")', // link to get item list for generate combobox (required)
            Style: '', // Style sheet script (option)
        });

        // Generate Combobox with asynchronous function
        // Parameter 1 : data object for get list of item for generate combobox
        // Parameter 2 : Function finish callback after generate combobox is finish
        CBBSystemSetting.Initial(null, function (e) {
            CBBSystemSetting.SetData('03'); // Set combobox data
        });


        alert(CBBSystemSetting.GetData());
    });

</script>