﻿
@{
    ViewBag.ScreenTitle = "Common function ";
}


<div class="box">
    <div class="box-header with-border">
        <h3 class="box-title">Button</h3>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="" data-original-title="Collapse">
                <i class="fa fa-minus"></i>
            </button>
        </div>
    </div>
    <div class="box-body" style="display: block;">
        
        <div class="bs-callout bs-callout-info"> 
            <p>
                @Html.Button("ADD", "ADD", new { @class="btn btn-info" }, TagHelper.BUTTON_TYPES.ADD)
                @Html.Button("CANCEL", "CANCEL", new { @class="btn btn-info" }, TagHelper.BUTTON_TYPES.CANCEL)
                @Html.Button("CLEAR", "CLEAR", new { @class="btn btn-info" }, TagHelper.BUTTON_TYPES.CLEAR)
                @Html.Button("CLOSE", "CLOSE", new { @class="btn btn-info" }, TagHelper.BUTTON_TYPES.CLOSE)
                @Html.Button("DEFAULT", "DEFAULT", new { @class="btn btn-info" }, TagHelper.BUTTON_TYPES.DEFAULT)
                @Html.Button("DELETE", "DELETE", new { @class="btn btn-info" }, TagHelper.BUTTON_TYPES.DELETE)
                @Html.Button("DOWNLOAD", "DOWNLOAD", new { @class="btn btn-info" }, TagHelper.BUTTON_TYPES.DOWNLOAD)
            </p>
            <p>
                @Html.Button("DOWNLOAD_ALL", "DOWNLOAD_ALL", new { @class="btn btn-info" }, TagHelper.BUTTON_TYPES.DOWNLOAD_ALL)
                @Html.Button("EDIT", "EDIT", new { @class="btn btn-info" }, TagHelper.BUTTON_TYPES.EDIT)
                @Html.Button("EMAIL", "EMAIL", new { @class="btn btn-info" }, TagHelper.BUTTON_TYPES.EMAIL)
                @Html.Button("EXPORT", "EXPORT", new { @class="btn btn-info" }, TagHelper.BUTTON_TYPES.EXPORT)
                @Html.Button("OK", "OK", new { @class="btn btn-info" }, TagHelper.BUTTON_TYPES.OK)
                @Html.Button("PRINT", "PRINT", new { @class="btn btn-info" }, TagHelper.BUTTON_TYPES.PRINT)
                @Html.Button("RESEND", "RESEND", new { @class="btn btn-info" }, TagHelper.BUTTON_TYPES.RESEND)
                @Html.Button("SAVE", "SAVE", new { @class="btn btn-info" }, TagHelper.BUTTON_TYPES.SAVE)
                @Html.Button("SEARCH", "SEARCH", new { @class="btn btn-info" }, TagHelper.BUTTON_TYPES.SEARCH)
            </p> 
            <figure class="highlight">
                <pre>
@@Html.Button("ADD", "ADD", new { @@class="btn btn-info" }, TagHelper.BUTTON_TYPES.ADD)
@@Html.Button("CANCEL", "CANCEL", new { @@class="btn btn-info" }, TagHelper.BUTTON_TYPES.CANCEL)
@@Html.Button("CLEAR", "CLEAR", new { @@class="btn btn-info" }, TagHelper.BUTTON_TYPES.CLEAR)
@@Html.Button("CLOSE", "CLOSE", new { @@class="btn btn-info" }, TagHelper.BUTTON_TYPES.CLOSE)
@@Html.Button("DEFAULT", "DEFAULT", new { @@class="btn btn-info" }, TagHelper.BUTTON_TYPES.DEFAULT)
@@Html.Button("DELETE", "DELETE", new { @@class="btn btn-info" }, TagHelper.BUTTON_TYPES.DELETE)
@@Html.Button("DOWNLOAD", "DOWNLOAD", new { @@class="btn btn-info" }, TagHelper.BUTTON_TYPES.DOWNLOAD)
@@Html.Button("DOWNLOAD_ALL", "DOWNLOAD_ALL", new { @@class="btn btn-info" }, TagHelper.BUTTON_TYPES.DOWNLOAD_ALL)
@@Html.Button("EDIT", "EDIT", new { @@class="btn btn-info" }, TagHelper.BUTTON_TYPES.EDIT)
@@Html.Button("EMAIL", "EMAIL", new { @@class="btn btn-info" }, TagHelper.BUTTON_TYPES.EMAIL)
@@Html.Button("EXPORT", "EXPORT", new { @@class="btn btn-info" }, TagHelper.BUTTON_TYPES.EXPORT)
@@Html.Button("OK", "OK", new { @@class="btn btn-info" }, TagHelper.BUTTON_TYPES.OK)
@@Html.Button("PRINT", "PRINT", new { @@class="btn btn-info" }, TagHelper.BUTTON_TYPES.PRINT)
@@Html.Button("RESEND", "RESEND", new { @@class="btn btn-info" }, TagHelper.BUTTON_TYPES.RESEND)
@@Html.Button("SAVE", "SAVE", new { @@class="btn btn-info" }, TagHelper.BUTTON_TYPES.SAVE)
@@Html.Button("SEARCH", "SEARCH", new { @@class="btn btn-info" }, TagHelper.BUTTON_TYPES.SEARCH)
                </pre>
            </figure>
        </div>

    </div>
    <!-- /.box-footer-->
</div>

<div class="box">
    <div class="box-header with-border">
        <h3 class="box-title">Ajax callback common</h3>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="" data-original-title="Collapse">
                <i class="fa fa-minus"></i>
            </button>
        </div>
    </div>
    <div class="box-body" style="display: block;">

        <div class="bs-callout bs-callout-info">
            <p>
                Search callback
            </p>
            <figure class="highlight">
                <pre>
var callBackUrl = '';
var conditionData = {
    . . .
};
var isAsync = true;
var PaginData = yearPaginObj.GetPaginData();
ajax_method.SearchPost(callBackUrl, conditionData, PaginData, isAsync, function(result){
    // success call back code
    . . .
}, function(err){
    // error call back code
    . . .
});
                </pre>
            </figure>
            <p>
                POST Http method callback
            </p>
            <figure class="highlight">
                <pre>
var callBackUrl = '';
var conditionData = {
    . . .
};
var isAsync = true;
ajax_method.Post(callBackUrl, conditionData, isAsync, function(result){
    // success call back code
    . . .
}, function(err){
    // error call back code
    . . .
});
                </pre>
            </figure>
            <p>
                POST Http method callback และตั้งค่าให้เคลียหรือไม่เคลีย message ก่อนหน้า
            </p>
            <figure class="highlight">
                <pre>
var callBackUrl = '';
var conditionData = {
    . . .
};
var isAsync = true;
var isClearMessage = true;
ajax_method.PostClearMesage(callBackUrl, conditionData, isAsync, function(result){
    // success call back code
    . . .
}, function(err){
    // error call back code
    . . .
}, isClearMessage);
                </pre>
            </figure>
            <p>
                POST File callback 
            </p>
            <figure class="highlight">
                <pre>
var callBackUrl = '';
var fileData = {
    . . .
};
var isClearMessage = true;
ajax_method.PostFile(callBackUrl, fileData, function(result){
    // success call back code
    . . .
}, function(err){
    // error call back code
    . . .
});
                </pre>
            </figure>
            <p>
                Convert json object ที่มีตัวแปร json date ให้เป็น format DateTime ของ C# ให้ค่าไม่เป็น null เมื่อส่งเข้า Controller 
            </p>
            <figure class="highlight">
                <pre>var data = ajax_method.ConvertDateBeforePostBack(jsonData); </pre>
            </figure>
        </div>

    </div>
    <!-- /.box-footer-->
</div>



@section styles{

<style>
    


       
</style>

}

@section scripts{


<script type="text/javascript">


    $(function () {

        loadConfirmAlert("Test confirm ?", function (res) {
        });

    });


</script>

}
