﻿
@{
    ViewBag.ScreenTitle = "Date and Time Picker Example";
}


<div class="box">
    <div class="box-header with-border">
        <h3 class="box-title">Button</h3>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="" data-original-title="Collapse">
                <i class="fa fa-minus"></i>
            </button>
        </div>
    </div>
    <div class="box-body" style="display: block;">

        <div class="row">
            <div class="col-lg-6">
                <div class="form-inline form-in">
                    <label>Date picker :</label>
                    <div class="input-group date" style="width: 250px;">
                        @Html.TextBox("DatePicker", null, new { @class = "form-control datepicker", placeholder = "From", tabindex = "6", maxlength = "11" })
                        <button class="input-group-addon" onclick="ClickIconDate('DatePicker')" style="padding-left: 10px; padding-right: 10px;">
                            <i class="fa fa-calendar"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-inline form-in">
                    <label>Time Picker :</label>
                    <div class="input-group date">
                        @Html.TextBox("TimePicker", null, new { @class = "form-control timepicker", tabindex = "6" })

                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-right">
                @Html.Button("btnValidate", "Validate", new { @class="btn btn-info"}, TagHelper.BUTTON_TYPES.SAVE)
            </div>
        </div>

    </div>
    <!-- /.box-footer-->
</div>

@section scripts{


    <script type="text/javascript">

        var requiredControls = 

        $(function () {

            $('#btnValidate').click(validate);

        });

        var validate = function () {
            var data = {
                date: $('#DatePicker').GetCDateTime(),
                time: $('#TimePicker').val()
            };
            ajax_method.Post('@Url.Action("TestValidateDateAndTime", "Test")', data, true, function (res) {

                //if (res != null) {

                //    AletTextInfoMessage('Validate success !');

                //}

            }, null);
        }

    </script>

}