﻿@{
    ViewBag.ScreenTitle = "Default Screen Layout";
}


<div class="box">
    <div class="box-header with-border">
        <h3 class="box-title"> </h3>
            <div class="form-inline form-in">
                <label style="width: 80px;">User Id</label>
                <input type="text" id="TEST_USER_ID" class="form-control" style="width:130px;" value="@GlobalUser.UserSc2.TFASTEmployeeNo" />
            </div>

            <button class="btn btn-info" >Save</button>
       
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="" data-original-title="Collapse">
                <i class="fa fa-minus"></i>
            </button>
        </div>
    </div>
    <div class="box-body" style="display: block;">
        <div class="row">
            <div class="col-lg-6">
                <div class="form-inline form-in">
                    <label>Period : </label>
                    @Html.CommonTextBox("YEAR", null, new { @class = "form-control", style = "width: 100px;", maxlength = "4" })
                    <label>/</label>
                    @Html.CommonTextBox("ROUND", null, new { @class = "form-control", style = "width: 100px;", maxlength = "4" })
                </div>
                <div class="form-inline form-in">
                    <label>Asset Location : </label>
                    @Html.AssetLocationCombobox("ASSET_LOCATION", new { @class = "form-control", style = "width: 300px;" })
                </div>
            </div>
            <div class="col-lg-6 text-right">
                @Html.Button("btnSearch", "Search", new { @class="btn btn-primary" }, TagHelper.BUTTON_TYPES.SEARCH)
                @Html.Button("btnClear", "Clear", new { @class = "btn btn-warning" }, TagHelper.BUTTON_TYPES.CLEAR)
            </div>
        </div>
        
    </div>
    <!-- /.box-footer-->
</div>

<div class="box">
    <div class="box-header with-border">
        <h3 class="box-title">

            Search result

        </h3>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="" data-original-title="Collapse">
                <i class="fa fa-minus"></i>
            </button>
        </div>
    </div>
    <div class="box-body" style="display: block;">
        <div class="row">
            <div id="itemPerPage" class="col-lg-4">

            </div>
            <div class="col-lg-8 text-right">
                @Html.Button("btn", "Save", new { @class = "btn btn-success" }, TagHelper.BUTTON_TYPES.SAVE)
                @Html.Button("btn", "Clear", new { @class = "btn btn-warning" }, TagHelper.BUTTON_TYPES.CLEAR)
                @Html.Button("btn", "Delete", new { @class = "btn btn-danger" }, TagHelper.BUTTON_TYPES.DELETE)
                @Html.Button("btn", "Search", new { @class = "btn btn-primary" }, TagHelper.BUTTON_TYPES.SEARCH)
                @Html.Button("btn", "Export", new { @class = "btn btn-info" }, TagHelper.BUTTON_TYPES.EXPORT)
            </div>
        </div> <!-- End row button -->

        <div class="row">
            <div id="SearchResult" class="col-lg-12">

                <table id="SearchResultTable" class="table table-bordered table-striped table-hover table-th-center" style="margin-top: 10px;">
                    <thead class="bg-gray">
                        <tr>
                            <th>Col 0</th>
                            <th>Col 1</th>
                            <th>Col 2</th>
                            <th>Col 3</th>
                            <th>Col 4</th>
                            <th>Col 5</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
    <!-- /.box-footer-->
</div>
