﻿@{
    ViewData["Title"] = "SC2 Provided Information";

}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["UserInfoMessage"]</h3>


<address>
    <strong>User ID:</strong> @ViewBag.UserInfo.UserId<br />
    <strong>First Name:</strong> @ViewBag.UserInfo.FirstName<br />
    <strong>Last Name:</strong> @ViewBag.UserInfo.LastName<br />
    <strong>Company:</strong> @ViewBag.UserInfo.Company<br />
    <strong>Company Type:</strong> @ViewBag.UserInfo.CompanyType<br />
    <strong>Department:</strong> @ViewBag.UserInfo.Department<br />
    <strong>Division:</strong> @ViewBag.UserInfo.Division<br />
    <strong>Email:</strong> <a href="mailto:" + @ViewBag.UserInfo.Email>@ViewBag.UserInfo.Email</a><br />
    <strong>Employee No:</strong> @ViewBag.UserInfo.EmployeeNo<br />
    <strong>Location:</strong> @ViewBag.UserInfo.Location<br />
    <strong>Section:</strong> @ViewBag.UserInfo.Section<br />
    <strong>Telephone Number:</strong> @ViewBag.UserInfo.TelephoneNumber<br />
    <strong>Title:</strong> @ViewBag.UserInfo.Title<br />
    <strong>Region:</strong> @ViewBag.UserInfo.Region<br />
    <strong>Country:</strong> @ViewBag.UserInfo.Country<br />
    <strong>Language:</strong> @ViewBag.UserInfo.Language<br />
    <strong>User Alias:</strong> @ViewBag.UserInfo.UserAlias<br />
</address>


<h3>@ViewData["ACLMessage"]</h3>

<h3>System Dn: @ViewData["SC2.Acl.SystemDn"]</h3>
<h3>System Url: @ViewData["SC2.Acl.SystemUrl"]</h3>

<h4>MapScreenAcl</h4>
<address>
    @foreach (var a in ViewBag.MapScreenAcl)
    {
        <text>
            Function ID: @a.Key.FunctionId | Screen ID: @a.Key.ScreenId | Screen Resource: @a.Key.ScreenResource | Group: @a.Key.Group | Sub Group: @a.Key.SubGroup <br />
        </text>
    }
    <br />
</address>

<h4>MapButtonAcl</h4>
<address>
    @foreach (var a in ViewBag.MapButtonAcl)
    {
        <text>
            Function ID: @a.Key.FunctionId | Screen ID: @a.Key.ScreenId | Button Id: @a.Key.ButtonId | Access Right: @a.Key.AccessRight <br />
        </text>
    }
    <br />
</address>

<h4>MapFunctionId</h4>
<address>
    @foreach (var a in ViewBag.MapFunctionId)
    {
        <text>
            Function ID: @a.Key <br />
        </text>
    }
    <br />
</address>

<h4>MapScreenId</h4>
<address>
    @foreach (var a in ViewBag.MapScreenId)
    {
        <text>
            Screen ID: @a.Key <br />
        </text>
    }
    <br />
</address>

<h4>MapGroupId</h4>
<address>
    @foreach (var a in ViewBag.MapGroupId)
    {
        <text>
            Group ID: @a.Key <br />
        </text>
    }
    <br />
</address>

<h4>MapSubGroupId</h4>
<address>
    @foreach (var a in ViewBag.MapSubGroupId)
    {
        <text>
            Sub Group ID: @a.Key <br />
        </text>
    }
    <br />
</address>

<h4>RoleList</h4>
<address>
    @foreach (var a in ViewBag.RoleList)
    {
        <text>
            Role: @a <br />
        </text>
    }
    <br />
</address>