﻿@{
    ViewBag.ScreenTitle = "General Report Screen";
}
<style>
    .text-title-calendar {
        color: #7FABE4;
        background-color: #ffffff;
    }

    .text-des-calendar-onprocess {
        color: #000000;
        background-color: #00B1F4;
    }

    .text-des-calendar-complete {
        color: #000000;
        background-color: #92D050;
    }

    .text-des-calendar-notscan {
        color: #000000;
        background-color: #ffffff;
    }

    .fc-day-header {
        background-color: #B7DEE8;
    }

    .fc-day.fc-sat {
        background-color: #D9D9D9;
    }

    .fc-day.fc-sun {
        background-color: #D9D9D9;
    }

    .info-box-icon {
        float: right;
    }

    .info-box-content {
        margin-left: 0px !important;
        padding: 5px 10px !important;
    }

    .info-box-text {
        font-size: 10px;
    }

    select {
        width: 120px !important;
    }

        select.requied {
            background-color: yellow;
        }
</style>
@*<section class="content">*@
    <div class="box">
        <!-- Row condition panel -->
        <form class="form-horizontal" id="form">
            <div class="box-header with-border">
                <h3 class="box-title"></h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="" data-original-title="Collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="box-body" style="display: block;">
             
                    <div class="col-sm-12">
                        <div class="box-default">
                            <div class="box-body">
                                <div class="col-sm-12">
                                    @* Report Type *@
                                    <div class="form-group">
                                        <label for="cbbTypeOfReport" class="col-sm-2 text-right">Type of Report</label>
                                        <div class="col-sm-3">
<<<<<<< .mine
                                            @*<select id="cbbTypeOfReport" class="form-control select2">
                                                <option> </option>
                                            </select>*@
                                            @Html.WFD01120ComBoTypeOfReport("cbbTypeOfReport", new { @class = "form-control select2"})
                                       </div>
=======
                                            <select id="cbbTypeOfReport" class="form-control require select2">
                                                <option>--SELECT ITEM--</option>
                                            </select>
                                        </div>
>>>>>>> .r3188
                                    </div>
                                    @*  Report Name  *@
                                    <div class="form-group" id="divReportName">
                                        <label for="cbbReportName" class="col-sm-2 text-right">Report Name</label>
                                        <div class="col-sm-3">
                                           @*<select id="cbbReportName" class="form-control select2 requied">
                                                <option> </option>
                                            </select>*@                                           
                                            @Html.WFD01120ComBoReportName("cbbReportName", new { @class = "form-control select2" },false,null)
                                        </div>
                                        <label for="cbbReportNo" class="col-sm-2 text-right">Report No.</label>
                                        <div class="col-sm-3" id="divForReportNo">
                                            <input type="text" class="form-control" id="txtReportNo" name="txtReportNo" maxlength="15">
                                        </div>
                                    </div>
                                    @*  Period  *@
                                    <div class="form-group" id="divPeriod">
                                        @* Period Date  *@

                                        <label for="datePeriodFrom" class="col-sm-2 text-right" name="datePeriod">Period</label>

                                        <div class="col-sm-2" name="datePeriod">
                                            <div class="input-group date" name="datePeriod">
<<<<<<< .mine
                                                <input type="text" class="form-control datepicker datefrom requied" id="datePeriodFrom" name="datePeriod" placeholder="From" >
=======
                                                @Html.TextBox("datePeriod", null, new {@id= "datePeriodFrom", @class = "form-control datepicker", placeholder = "From" })
>>>>>>> .r3188
                                                <div class="input-group-addon" name="datePeriod" onclick="ClickIconDate('datePeriodFrom')">
                                                    <i class="fa fa-calendar" name="datePeriod"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <label for="datePeriodTo" class="col-sm-1 text-center" name="datePeriod">-</label>
                                        <div class="col-sm-2" name="datePeriod">
                                            <div class="input-group date" name="datePeriod">
<<<<<<< .mine
                                                <input type="text" class="form-control datepicker dateto requied" id="datePeriodTo" name="datePeriod" placeholder="To" >
=======
                                                @Html.TextBox("datePeriod", null, new { @id = "datePeriodTo", @class = "form-control datepicker", placeholder = "From" })
>>>>>>> .r3188
                                                <div class="input-group-addon" name="datePeriod" onclick="ClickIconDate('datePeriodTo')">
                                                    <i class="fa fa-calendar" name="datePeriod"></i>
                                                </div>
                                            </div>
                                        </div>

                                        @* Cost center  *@

                                        <label for="cbbCostCenter" class="col-sm-2 text-right" name="CostCenter">Cost Center</label>
                                        <div class="col-sm-6" name="CostCenter">
                                            <select id="cbbCostCenter" class="form-control select2 " name="CostCenter">
                                                <option>--SELECT ITEM--</option>
                                            </select>
                                        </div>

                                        @* Search  *@
                                        <div class="col-sm-2" id="divSearch">
                                            <div class="navbar-right">
                                                <button class="btn btn-primary" id="WFD01120Search" type="button"><i class="fa fa-search"></i>Search</button>
                                            </div>
                                        </div>
                                        @* Print  *@
                                        <div class="col-sm-1" id="divPrint">
                                            <div class="navbar-left">
                                                <button class="btn btn-info" id="WFD01120Print" type="button"><i class="fa fa-print"></i>Print</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="box" id="divReportType">
                                <div class="box-header with-border">
                                    <h3 class="box-title">
                                        Search result
                                    </h3>
                                    <div class="box-tools pull-right">
                                        <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="" data-original-title="Collapse">
                                            <i class="fa fa-minus"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="box-body" style="display: block;">
                                    <div class="row">

                                    </div> <!-- End row button -->

                                    <div class="row">
                                        <div class="col-lg-8">
                                            <table id="tableGeneralReport" class="table table-bordered table-striped table-hover table-th-center" style="margin-top: 10px;">
                                                <thead>
                                                    <tr>
<<<<<<< .mine
                                                        <th class="text-center" style="width:20px;">
                                                            <input type="checkbox" id="selectAll" style="margin-left:35px" />
                                                            @*onclick="selectAllItem(this)"*@ 
=======
                                                        <th style="width: 30px;">
                                                            <input type="checkbox" id="selectAll" onclick="selectAllItem(this)" style="margin-left:40px;" />
>>>>>>> .r3188
                                                        </th>
                                                        <th>Report Type</th>
                                                        <th style="width:100px">Report No.</th>
                                                        <th class="text-center" style="width:100px">Complete Date</th>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                            </table>
                                            

                                        </div>
                                    </div>
                                </div>
                                <!-- /.box-footer-->
                            </div>


                        </div>
                    </div> <!-- End row condition panel -->
              
            </div>
        </form>
    </div>
@*</section>*@

@section scripts {
    <script type="text/javascript" src="~/InitializeComponents/Scripts/Common/BatchProcess.js"></script>
    <script>
     var URL_CONST = {
         ReportTypeURL: '@Url.Action("Load", "WFD01120")',
         ReportNameURL: '@Url.Action("GetReportName", "WFD01120")',
         CostCenterURL: '@Url.Action("GetCostCenter", "WFD01120")',
         SearchURL: '@Url.Action("GetChangeRequestDetail", "WFD01120")',
         PrintURL: '@Url.Action("CheckPrintValidation", "WFD01120")',
         EmployeeCode: '@ViewBag.EMP_CODE'
     }
    </script>
    <script type="text/javascript" src="~/JS/WFD01120.js"></script>
}