﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.ScreenTitle = "Fixed asset location map maintenence screen";
}
<style>
    .box-container {
        height: 200px;
    }

    .box-item {
        width: 100%;
        z-index: 1000;
        text-align: left;
    }


    #droppable {
        width: 800px;
        height: 400px;
        border: 1px solid #999;
    }

    .CancelDrop {
        position: absolute;
        top: -15px;
        right: -5px;
    }
</style>

<script>
    $(function () {
        $('.box-item').draggable({
            cursor: 'move',
            snap: true,
            revert: "invalid",
            stop: function (e, ui) {
                $(ui.helper).find("span").show()

            }
        });

        $('#droppable').droppable({
            drop: handleDragStop,
        });

        $('.CancelDrop').on('click', function () {
            var tb = $(this).data('table');
            $(this).parent().removeAttr('style');
            $(this).parent().attr('style', 'position:relative')
            $(this).hide()
        });
    });

    function handleDragStop(event, ui) {

        var offsetXPos = parseInt(ui.position.left);
        var offsetYPos = parseInt(ui.position.top);
        console.log("Drag stopped!\n\position: (" + offsetXPos + ", " + offsetYPos + ")\n");
    }
</script>


<div class="row">
    <div class="col-xs-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h1 class="panel-title">Item | [M/C] Machince Number</h1>
            </div>
            <div id="container1" class="panel-body box-container">
                <div class="btn btn-default box-item">5. | STZY-0095<span class="CancelDrop" style="display:none">x</span></div>
                <div class="btn btn-default box-item">6. | STZY-0096<span class="CancelDrop" style="display:none">x</span></div>
                <div class="btn btn-default box-item">7. | STZY-0097<span class="CancelDrop" style="display:none">x</span></div>
                <div class="btn btn-default box-item">8. | STZY-0098<span class="CancelDrop" style="display:none">x</span></div>
                <div class="btn btn-default box-item">9. | STZY-0099<span class="CancelDrop" style="display:none">x</span></div>
            </div>
        </div>
    </div>
</div>
<div class="col-xs-12">
    <div id="droppable">
        <p>Drop me here</p>
    </div>
</div>