﻿
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Screen = "Personal Home Screen";
}
<script type="text/javascript" src="~/InitializeComponents/Content/Components/plugins/ckeditor/ckeditor.js"></script>
<style>
    #carousel-generic .carousel-caption {
        left: 25px;
        right: 25px;
        padding-top: 0px;
    }

    IMG.displayed {
        display: block;
        margin-left: auto;
        margin-right: auto;
        border: 1px solid #A3A3A3;
    }

    .bg-red {
        background-color: red;
    }

    .bg-yellow {
        background-color: yellow;
    }

    .nav-tabs-custom {
        background: transparent;
        border-color: #A3A3A3;
        font-size: 12px;
    }

        .nav-tabs-custom > .nav-tabs {
            border-top-right-radius: 3px;
            border-top-left-radius: 3px;
            font-weight: bold;
        }

            .nav-tabs-custom > .nav-tabs > li > a {
                color: #fff;
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
            }

            .nav-tabs-custom > .nav-tabs > li.active {
                border-top-color: transparent;
            }

            .nav-tabs-custom > .nav-tabs > li:first-of-type.active > a {
                border-left-color: #A3A3A3;
            }

            .nav-tabs-custom > .nav-tabs > li.active > a {
                border-top-color: #A3A3A3;
                border-right-color: #A3A3A3;
                border-left-color: #A3A3A3;
                border-bottom-color: white;
            }

            .nav-tabs-custom > .nav-tabs > li > a, .nav-tabs-custom > .nav-tabs > li > a:hover {
                background: #dd4b39; /*#E6B9B8;*/
                margin: 0;
                color: white;
            }

            .nav-tabs-custom > .nav-tabs > li:last-child > a, .nav-tabs-custom > .nav-tabs > li:last-child > a:hover {
                background: #dd4b39; /*#E6B9B8;*/
                margin: 0;
                color: white;
            }

            .nav-tabs-custom > .nav-tabs > li:last-child.active > a:hover {
                background: white; /*#E6B9B8;*/
                margin: 0;
                color: black;
            }

            .nav-tabs-custom > .nav-tabs > li:last-child.active > a {
                background: white; /*#E6B9B8;*/
                margin: 0;
                color: black;
            }

        .nav-tabs-custom > .tab-content {
            border: 1px solid #A3A3A3;
        }

    .nav > li > a {
        position: relative;
        display: block;
        padding: 5px 15px;
    }

    .nav-tabs > li > span {
        background: #C0504D;
        color: #fff;
        font-size: 10px;
        padding: 3px 10px;
        border-radius: 7px;
        position: absolute;
        top: -15px;
        right: -5px;
    }

    .box {
        width: 99%;
    }

    .box-body {
        border: 1px solid #A3A3A3;
    }

    .box-header > .fa, .box-header > .glyphicon, .box-header > .ion, .box-header .box-title {
        font-size: 14px;
        font-weight: bold;
    }

    .box-header.with-border {
        border: 1px solid #A3A3A3;
    }

    .flex {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .scol {
        column-width: 130px;
    }

    .mcol {
        column-width: 220px;
    }

    .leftnopadding {
        padding-left: 0px;
    }

    .buttnomargin {
        margin-bottom: -20px;
    }

    .notextindent > th {
        text-indent: 0px;
    }

    .table-responsive {
        min-height: 0.01%;
        overflow-x: hidden;
    }

        .table-responsive > div:first-child > div:nth-child(2) {
            overflow-x: auto;
            margin-right: 0px;
        }

        .table-responsive > div:first-child {
            margin-right: 0px;
        }

    /*Start add class CKEditer by MRX*/
    .marker {
        background-color: yellow;
    }

    .carousel-control {
        bottom: 60px;
    }


    #tb_request_summary > tbody > tr > td,
    #tb_request_summary > thead > tr > td {
        padding: 8px !important;
    }

    /*End add class CKEditer by MRX*/
</style>
<form class="form-horizontal" id="form" enctype="multipart/form-data" method="post" style="margin-left: 12px;">
    <div class="box box-info">
        <div class="box-body" style="display: block;">
            <div class="row" id="Condition" style="margin-top: 5px;">
                <div class="col-md-12">
                    <!-- Custom Tabs -->
                    <div id="tabs" class="nav-tabs-custom">
                        <ul class="nav nav-tabs">
                            <li class="active">
                                <a href="#tab_home" data-toggle="tab" aria-expanded="true">Home</a>
                            </li>
                            @if (ViewBag.TAB.ONHAND_AEC_CNT > 0)
                            {
                                <li id="onhandaec">
                                    <a href="#tab_onhandaec" data-toggle="tab" aria-expanded="false">AEC</a>
                                    <span>@ViewBag.TAB.ONHAND_AEC_CNT</span>
                                </li>
                            }
                            @if (ViewBag.TAB.NEW_ASSET_CNT > 0)
                            {
                                <li id="assetnew">
                                    <a href="#tab_asset_new" data-toggle="tab" aria-expanded="false">New Asset</a>
                                    <span>@ViewBag.TAB.NEW_ASSET_CNT</span>
                                </li>
                            }
                            @if (ViewBag.TAB.SETTLEMENT_CNT > 0)
                            {
                                <li class="">
                                    <a href="#tab_settlement" data-toggle="tab" aria-expanded="false">Settlement</a>
                                    <span>@ViewBag.TAB.SETTLEMENT_CNT</span>
                                </li>
                            }

                            @if (ViewBag.TAB.TRANSFER_CNT > 0)
                            {
                                <li class="">
                                    <a href="#tab_transfer" data-toggle="tab" aria-expanded="false">Transfer</a>
                                    <span>@ViewBag.TAB.TRANSFER_CNT</span>
                                </li>
                            }
                            @if (ViewBag.TAB.RECLASS_CNT > 0)
                            {
                                <li class="">
                                    <a href="#tab_reclassification" data-toggle="tab" aria-expanded="false">Reclassification</a>

                                    <span>@ViewBag.TAB.RECLASS_CNT</span>
                                </li>
                            }
                            @if (ViewBag.TAB.INFO_CHANGE_CNT > 0)
                            {
                                <li class="">
                                    <a href="#tab_asset_change" data-toggle="tab" aria-expanded="false">Asset Change</a>

                                    <span>@ViewBag.TAB.INFO_CHANGE_CNT</span>
                                </li>
                            }
                            @if (ViewBag.TAB.RETIREMENT_CNT > 0)
                            {
                                <li class="">
                                    <a href="#tab_retirement" data-toggle="tab" aria-expanded="false">Retirement</a>

                                    <span>@ViewBag.TAB.RETIREMENT_CNT</span>

                                </li>
                            }
                            @if (ViewBag.TAB.IMPAIRMENT_CNT > 0)
                            {
                                <li class="">
                                    <a href="#tab_imparment" data-toggle="tab" aria-expanded="false">Impairment</a>

                                    <span>@ViewBag.TAB.IMPAIRMENT_CNT</span>
                                </li>
                            }
                            @if (ViewBag.TAB.REPRINT_CNT > 0)
                            {
                                <li class="">
                                    <a href="#tab_reprint" data-toggle="tab" aria-expanded="false">Reprint</a>

                                    <span>@ViewBag.TAB.REPRINT_CNT</span>
                                </li>
                            }
                            @if (ViewBag.TAB.STOCK_TAKE_CNT > 0)
                            {
                                <li class="">
                                    <a href="#tab_physical_count" data-toggle="tab" aria-expanded="false">Physical Count</a>

                                    <span>@ViewBag.TAB.STOCK_TAKE_CNT</span>
                                </li>
                            }

                           @if (ViewBag.TAB.ONPROC_CNT > 0)
                           {
                                <li class="">
                                    <a href="#tab_onprocess" data-toggle="tab" aria-expanded="false">On Process</a>
                                    @*<span>@ViewBag.TAB.ONPROC_CNT</span>*@
                                </li>
                           }
                        </ul>

                        <div class="tab-content" style="min-height:450px;padding-right:0px">
                            <div class="tab-pane active" id="tab_home" style="margin-right:5px">
                                @Html.Partial("TabHome")
                            </div>
                            <div class="tab-pane" id="tab_onhandaec" style="margin-right:5px">
                                @Html.Partial("TabOnhandAEC")
                            </div>
                            <!-- /.tab-pane -->
                            
                            <div class="tab-pane" id="tab_asset_new">
                                @Html.Partial("TabAssetNew")
                            </div>
                            <div class="tab-pane" id="tab_settlement">
                                @Html.Partial("TabSettlement")
                            </div>
                            <div class="tab-pane" id="tab_transfer">
                                @Html.Partial("TabTransfer")
                            </div>
                            <div class="tab-pane" id="tab_reclassification">
                                @Html.Partial("TabReclassification")
                            </div>
                            <div class="tab-pane" id="tab_asset_change">
                                @Html.Partial("TabAssetChange")
                            </div>
                            <div class="tab-pane" id="tab_retirement">
                                @Html.Partial("TabRetirement")
                            </div>
                            <div class="tab-pane" id="tab_imparment">
                                @Html.Partial("TabImparment")
                            </div>
                            <div class="tab-pane" id="tab_physical_count">
                                @Html.Partial("TabPhysicalCount")
                            </div>
                            <!-- /.tab-pane -->
                            <div class="tab-pane" id="tab_reprint">
                                @Html.Partial("TabReprint")
                            </div>
                            <!-- /.tab-pane -->
                            <div class="tab-pane" id="tab_onprocess">
                                @Html.Partial("TabOnprocess")
                            </div>
                            <!-- /.tab-pane -->
                        </div>
                        <!-- /.tab-content -->
                    </div>
                    <!-- nav-tabs-custom -->
                </div>
            </div>

        </div>
        <!-- /.box-footer-->
    </div>
    @Html.Partial("UploadModal")
</form>

@section scripts {

    <script type="text/javascript">

        var URL_CONST = {
            TRANSFER: '@Url.Action("WFD01110GetTransfer", "WFD01110")',
            GETASSETNEW: '@Url.Action("WFD01110GetAssetNew", "WFD01110")',
            GETSETTLEMENT: '@Url.Action("WFD01110GetSettlement", "WFD01110")',

            GET_REPRINT: '@Url.Action("WFD01110GetReprint", "WFD01110")',

            //Reclassification
            GETRECLASSIFICATION: '@Url.Action("WFD01110GetReclassification", "WFD01110")',
            //Asset Change
            GETASSETCHANGE: '@Url.Action("WFD01110GetAssetChange", "WFD01110")',
            //Retirement
            GETRETIREMENT: '@Url.Action("WFD01110GetRetirement", "WFD01110")',
            //Imparment
            GETIMPARMENT: '@Url.Action("WFD01110GetImparment", "WFD01110")',
            //Physical Count
            GETPHYSICALCOUNT: '@Url.Action("WFD01110GetPhysicalCount", "WFD01110")',

            ITEM_PER_PAGE: '@ViewBag.ITEM_PER_PAGE',
            EMP_CODE: '@ViewBag.EMP_CODE',
            FAADMIN: '@ViewBag.FAADMIN',
            GET_REQUEST: '@Url.Action("WFD01110GetRequestByType", "WFD01110")',
            GET_SELTET_TYPE: '@Url.Action("GetSystemMaster", "WFD01110")',
            SAVE_TEXT: '@Url.Action("TextAnnouncement", "WFD01110")',
            SAVE_PHOTO: '@Url.Action("UploadAnnouncement", "WFD01110")',
            ANNOUNCEMENT: '@Url.Action("GetAnnouncement", "WFD01110")',
            GETSTOCKTAKE: '@Url.Action("GetTableStockTake", "WFD01110")',
            STOCKTAKECALENDAR: '@Url.Action("Index", "WFD02630")',
            REQUESTMASTER: '@Url.Action("Index", "WFD01170")',
            GET_ONPROCESS: '@Url.Action("WFD01110GetOnProcess", "WFD01110")',
            GET_ONHANDAEC: '@Url.Action("WFD01110GetOnhandAEC", "WFD01110")',


            DEFAULT_IMG: '@ViewBag.DafaultImage',
            GETAECSUMMARY: '@Url.Action("WFD01110GetAECSummary", "WFD01110")',
            // Select tab depend on priority from system master by Pawares M. 20180718
            TAB_PRIORITY: '@Url.Action("GetTabPriority", "WFD01110")',

            MESSAGECONFIRMSAVE: '@ViewBag.MessageConfirmSave',
            MESSAGESUCCESS: '@ViewBag.MessageSuccess',
            MESSAGECONFIRMCANCELT: '@ViewBag.MessageConfirmCancelT',
            MESSAGECONFIRMCANCELP: '@ViewBag.MessageConfirmCancelP',

            CHECKSTOCK: '@ViewBag.CheckStocktake'
        }
        var PARAMETER = {
            FILEEXTENSION: '@ViewBag.FileExtension',
            PREVPAGE: '@Request.QueryString.Get("PREVPAGE")',
            @*TABTRANSFER: '@ViewBag.TAB.TABTRANSFER',
            TABDISPOSE: '@ViewBag.TAB.TABDISPOSE',
            TABREPRINT: '@ViewBag.TAB.TABREPRINT',
            TABCIPCLOSE: '@ViewBag.TAB.TABCIPCLOSE',
            TABSTOCKTACKING: '@ViewBag.TAB.TABSTOCKTACKING'*@
        }
    </script>

    <script type="text/javascript" src="~/JS/WFD01110.js"></script>
}
