﻿<div class="row" id="div_cipclose">
    <div class="col-sm-12">
        <div class="table-responsive">
            <table id="tb_cipclose" class="table table-bordered table-striped table-hover table-th-center" style="border-radius:3px;">
                <thead class="bg-gray">
                    <tr>
                        <th style="width:15px;">No.</th>
                        <th style="width:47px;">Doc No.</th>
                        <th style="width:60px;">Cost Center Code</th>
                        <th style="min-width:140px;">Cost Center Name</th>
                        <th style="min-width:150px;">Requestor</th>
                        <th style="min-width:140px;">Current Status</th>
                        <th style="width:60px;">Request Date</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>