﻿<div class="row">
    <div class="col-sm-12">
        <div class="col-sm-7">
            <div class="row">
                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3 class="box-title"><i class="fa fa-newspaper-o"></i> Announcement <span id="span_company"></span></h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="" data-original-title="Collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="box-body" style="display: block;">
                        <div class="div_view">
                        </div>

                        <div class="div_edit">
                            <textarea id="ANNOUNCE_DESC" name="ANNOUNCE_DESC" rows="5" cols="80"></textarea>
                        </div>
                        <div class="button-box navbar-left div_edit">
                            @*<button class="btn btn-sm btn-warning" id="WFD01110Cancel" type="button"><i class="fa fa-ban"></i>Cancel</button>*@
                            @Html.Button("WFD01110Cancel", "Cancel", new { @class = "btn btn-sm btn-warning" }, TagHelper.BUTTON_TYPES.CANCEL)
                        </div>
                        <div class="button-box navbar-right">
                            @*<button class="btn btn-sm btn-success div_edit" id="WFD01110Save" type="button"><i class="fa fa-save"></i>Save</button>
                                <button class="btn btn-sm btn-primary" id="WFD01110Edit" type="button"><i class="fa fa-pencil-square-o"></i>Edit Text</button>
                                <button class="btn btn-sm btn-info" id="WFD01110Upload" type="button"><i class="fa  fa-upload"></i>Upload Photo</button>*@

                            @Html.Button("WFD01110Save", "Save", new { @class = "btn btn-sm btn-success div_edit" }, TagHelper.BUTTON_TYPES.SAVE)
                            @Html.Button("WFD01110Edit", "Edit Text", new { @class = "btn btn-sm btn-primary" }, TagHelper.BUTTON_TYPES.EDIT)
                            @Html.Button("WFD01110Upload", "Upload Photo", new { @class = "btn btn-sm btn-info" }, TagHelper.BUTTON_TYPES.UPLOAD)
                        </div>
                    </div>
                    <!-- /.box-footer-->
                </div>

            </div>
        </div>
        
        <div class="col-sm-5">
            <div class="row buttnomargin">
                <div class="box box-success">
                    <div class="box-header with-border">
                        <h3 class="box-title"><i class="fa fa-map-marker"></i> To do List</h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="" data-original-title="Collapse">
                                <i class="fa fa-minus"></i>
                            </button>

                        </div>
                    </div>
                    <div class="box-body" style="display: block;">
                        <p>
                            <b>Print Tag :</b>
                            @if (ViewBag.TODOLIST.COUNT_OF_PRINT_TAG > 0)
                            {
                                <a href='@Url.Action("Index", "WFD02120")?searchMode=PrintTag' target="_blank"><u>@ViewBag.TODOLIST.COUNT_OF_PRINT_TAG.ToString("#,##0") items</u></a>}
                            else
                            {
                                <span>@ViewBag.TODOLIST.COUNT_OF_PRINT_TAG.ToString("#,##0") items</span>
                            }
                        </p>
                        <p>
                            <b>Upload Photo :</b>
                            @if (ViewBag.TODOLIST.COUNT_OF_UPLOAD > 0)
                            {
                                <a href='@Url.Action("Index", "WFD02120")?searchMode=UploadPhoto' target="_blank"><u>@ViewBag.TODOLIST.COUNT_OF_UPLOAD.ToString("#,##0") items</u></a>
                            }
                            else
                            {
                                <span>@ViewBag.TODOLIST.COUNT_OF_UPLOAD.ToString("#,##0") items </span>
                            }

                        </p>
                        <p>
                            <b>Mark Location :</b>
                            @if (@ViewBag.TODOLIST.COUNT_OF_MARK_LOCATION > 0)
                            {
                                <a href='@Url.Action("Index", "WFD02160")?searchMode=MarkLocation' target="_blank"><u>@ViewBag.TODOLIST.COUNT_OF_MARK_LOCATION.ToString("#,##0") items</u></a>}
                            else
                            {
                                <span>@ViewBag.TODOLIST.COUNT_OF_MARK_LOCATION.ToString("#,##0") items </span>
                            }
                        </p>
                    </div>
                    <!-- /.box-footer-->
                </div>
            </div>

            <div class="row buttnomargin py-2">
                <div class="box box-success">
                    <div class="box-header with-border">
                        <h3 class="box-title"><i class="fa fa-map-marker"></i> To do List (FA Supervisor)</h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="" data-original-title="Collapse">
                                <i class="fa fa-minus"></i>
                            </button>

                        </div>
                    </div>
                    <div class="box-body" style="display: block;">
                        <p>
                            <b>Print Tag :</b>
                            @if (ViewBag.TODOLISTFASup.COUNT_OF_PRINT_TAG > 0)
                            {
                                <a href='@Url.Action("Index", "WFD02120", new { PRINT_STATUS = "N" })' target="_blank"><u>@ViewBag.TODOLISTFASup.COUNT_OF_PRINT_TAG.ToString("#,##0") items</u></a>}
                            else
                            {
                                <span>@ViewBag.TODOLISTFASup.COUNT_OF_PRINT_TAG.ToString("#,##0") items</span>
                            }
                        </p>
                        <p>
                            <b>Upload Photo :</b>
                            @if (ViewBag.TODOLISTFASup.COUNT_OF_UPLOAD > 0)
                            {
                                <a href='@Url.Action("Index", "WFD02120", new { PHOTO_STATUS = "N" })' target="_blank"><u>@ViewBag.TODOLISTFASup.COUNT_OF_UPLOAD.ToString("#,##0") items</u></a>
                            }
                            else
                            {
                                <span>@ViewBag.TODOLISTFASup.COUNT_OF_UPLOAD.ToString("#,##0") items </span>
                            }

                        </p>
                        <p>
                            <b>Mark Location :</b>
                            @if (@ViewBag.TODOLISTFASup.COUNT_OF_MARK_LOCATION > 0)
                            {
                                <a href='@Url.Action("Index", "WFD02160")' target="_blank"><u>@ViewBag.TODOLISTFASup.COUNT_OF_MARK_LOCATION.ToString("#,##0") items</u></a>}
                            else
                            {
                                <span>@ViewBag.TODOLISTFASup.COUNT_OF_MARK_LOCATION.ToString("#,##0") items </span>
                            }
                        </p>
                    </div>
                    <!-- /.box-footer-->
                </div>
            </div>

            <div class="row buttnomargin py-2" id="divSummaryAEC">
                <div class="box box-success">
                    <div class="box-header with-border">
                        <h3 class="box-title"><i class="fa fa-map-marker"></i> Request Summary</h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="" data-original-title="Collapse">
                                <i class="fa fa-minus"></i>
                            </button>

                        </div>
                    </div>
                    <div class="box-body" style="display: block;">
                        <div class="">
                            <table id="tb_request_summary" class="table table-bordered table-striped table-hover">
                                <thead class="bg-gray">
                                    <tr>
                                        <th class="text-center">Request</th>
                                        <th class="text-center" style="width: 60px;">STM</th>
                                        <th class="text-center" style="width: 60px;">TDEM</th>
                                        <th class="text-center" style="width: 60px;">TMT</th>
                                        <th class="text-center" style="width: 60px;">Total</th>
                                    </tr>
                                </thead>
                                <tr>
                                    <td colspan="5">Wait to complete by Surasith</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            @if (ViewBag.IsEnableButtonWFD01110StockTakeCalendar == "Y")
            {
                <div class="row">
                    <div class="col-sm-12 leftnopadding">
                        <div class="button-box navbar-left">
                            <a class="btn btn-sm btn-success" id="WFD01110StockTakeCalendar" href='@Url.Action("index", "WFD02630")' target="_blank"><i class="fa  fa-calendar"></i>FA Physical check calendar</a>
                        </div>
                    </div>
                </div>
            }
            else
            {
                <div class="row">
                    <div class="col-sm-12 leftnopadding">
                        <div class="button-box navbar-left">
                            <a class="btn btn-sm btn-info" style="display:none;" id="WFD01110StockTakeCalendar" href='@Url.Action("index", "WFD02630")' target="_blank"><i class="fa  fa-calendar"></i>FA Physical check calendar</a>
                        </div>
                    </div>
                </div>
            }
            @if (!string.IsNullOrEmpty(ViewBag.CheckStocktake))
            {
            <div class="row">
                <div class="box box-warning">
                    <div class="box-header with-border">
                        <h3 class="box-title"><i class="fa fa-list"></i> FA Physical Check : incorrect item area (Total <span id="coutStock"></span> items)</h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="" data-original-title="Collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="box-body" style="display: block;">
                        <div class="row" id="div_stock_take">
                            <div class="col-sm-12">

                                <div class="table-responsive">
                                    <table id="tb_stock_take" class="table table-bordered table-striped table-hover table-th-center">
                                        <thead>
                                            <tr>
                                                <th class="bg-red scol" style="text-indent: 0px;">Asset Number</th>
                                                <th class="bg-red mcol" style="text-indent: 0px;">Asset Name</th>
                                                <th class="bg-red mcol" style="text-indent: 0px;">Cost Center Owner</th>
                                                <th class="bg-yellow mcol" style="text-indent: 0px;">Cost Center Found</th>
                                                <th class="bg-yellow scol" style="text-indent: 0px;">Found by</th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>



                    </div>
                    <!-- /.box-footer-->
                </div>

            </div>
            } 

        </div>
      
    </div>


</div>
<style>
    .carousel-caption {
        top: 0;
        bottom: auto;
        color: black;
    }

    .py-2 {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .fixed {
        position: fixed;
        padding-left: 25%;
    }
    .left-text{
        text-align: left;
    }
</style>