﻿<div class="row" style="padding-bottom:10px">
    <div class="col-sm-6">
        <div class="col-sm-3">
            <label class="control-label" for="Imparment_MultipleBoxCompany">Company :</label>
        </div>
        <div class="col-sm-6 col-md-5 col-lg-4">
            @Html.CompanyMultipleComboboxNew("Imparment_MultipleBoxCompany", new { multiple = "multiple", @class = "form-control", tabindex = "1" }, true)
        </div>
    </div>
</div>

<div class="row" id="div_imparment">
    <div class="col-sm-12">

        <div class="table-responsive">

            <table id="tb_imparment" class="table table-bordered table-striped table-hover" style="border-radius:3px;">
                <thead class="bg-gray">
                    <tr class="notextindent">
                        <th style="width:20px;">No.</th>
                        <th style="width:35px;">Company</th>
                        <th style="width:120px;">Document No.</th>
                        <th style="width:60px;">No. of Asset</th>
                        <th style="width:60px;">Current Amount</th>
                        <th style="width:60px;">New Amount</th>
                        <th>Cost Center</th>
                        <th>Requestor</th>
                        <th>Status</th>
                        <th style="width:185px;">Request Date</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#Imparment_MultipleBoxCompany').multiselect(multiSelectOptionWidth100);
    });

</script>