﻿<div class="row" style="padding-bottom:10px">

    <div class="col-sm-6">
        <div class="col-sm-3">
            <label class="control-label" for="MultipleBoxOnProcessCompany">Company :</label>
        </div>
        <div class="col-sm-6 col-md-5 col-lg-4">
            @Html.CompanyMultipleComboboxNew("MultipleBoxOnProcessCompany", new { multiple = "multiple", @class = "form-control", tabindex = "1" }, true)
            @*@Html.CompanyMultipleComboboxWFD01110("MultipleBoxOnProcessCompany", new { multiple = "multiple", @class = "form-control", tabindex = "1" }, true)*@
        </div>
    </div>

    <div class="col-sm-6">
        <div class="">
            <div class="col-sm-3 text-right">
                <label class="control-label" for="MultipleBoxOnProcessCompany">Document Type :</label>
            </div>
            <div class="col-sm-4">
                <select class="form-control select2" id="REQUEST_TPYE">
                    <option value="">All</option>
                </select>
            </div>
        </div>
    </div>
</div>
<div class="row" id="div_onprocess">
    <div class="col-sm-12">
        <div class="table-responsive">
            <table id="tb_onprocess" class="table table-bordered table-striped table-hover" style="border-radius:3px;">
                <thead class="bg-gray">
                    <tr>
                        <th style="width:20px;">No.</th>
                        <th style="width:35px;">Company</th>
                        <th style="width:120px;">Document No.</th>
                        <th style="width:100px;">Document Type</th>
                        <th style="width:100px;">Last Approve Date</th>
                        <th style="width:60px;">Diff Date</th>
                        <th>Requestor</th>
                        <th>Status</th>
                        <th style="width:85px;">Request Date</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#MultipleBoxOnProcessCompany').multiselect(multiSelectOptionWidth100);
        //$('#TransferType').multiselect();
    });

</script>