﻿<div class="row" style="padding-bottom:10px">
    <div class="col-sm-6">
        <div class="col-sm-3">
            <label class="control-label" for="MultipleBoxCompany">Company :</label>
        </div>
        <div class="col-sm-6 col-md-5 col-lg-4">
            @Html.CompanyMultipleComboboxNew("MultipleBoxCompany", new { multiple = "multiple", @class = "form-control", tabindex = "1" }, true)
        </div>
    </div>
    <div class="col-sm-6">
        <div class="col-sm-3">
            <label class="control-label" for="TransferType">Transfer Type :</label>
        </div>
        <div class="col-sm-6 col-md-5 col-lg-4">
            @Html.TransferTypeMultipleCombobox("TransferType", new { multiple = "multiple", @class = "form-control", tabindex = "2" }, false)


            @*@Html.TransferTypeCombobox("TransferType", new { @class = "form-control col-sm-6", tabindex = "2" }, true)*@
        </div>
    </div>
</div>

<div class="row" id="div_transfer">
    <div class="col-sm-12">

        <div class="table-responsive">

            <table id="tb_transfer" class="table table-bordered table-striped table-hover table-th-center" style="border-radius:3px;">
                <thead class="bg-gray">
                    <tr class="notextindent">
                        <th style="width:20px;">No.</th>
                        <th style="width:35px;">Company</th>
                        <th style="width:120px;">Document No.</th>
                        <th style="width:130px;">Type</th>
                        <th style="width:60px;">From</th>
                        <th style="width:60px;">To</th>
                        <th>Requestor</th>
                        <th>Status</th>
                        <th style="width:85px;">Request Date</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#MultipleBoxCompany').multiselect(multiSelectOptionWidth100);
        $('#TransferType').multiselect(multiSelectOptionWidth100);
    });

</script>