﻿<div class="modal fade" id="upload-dialog" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">Upload Photo <span style="font-size: 16px;" id="upload-title-desc"></span></h4>
            </div>
            <div class="modal-body">
                <div id="AlertMessageAreaPopup">
                </div>
                <div class="row" style="padding-bottom:20px">
                    <div class="col-sm-12">
                        <img id="Image_Priview" style="width:265px;height:265px;" class="displayed" src="@ViewBag.DafaultImage" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <button class="btn btn-sm btn-info" id="BtnImageUpload">
                            <i class="fa fa-image"></i>Select Photo
                        </button>
                        <input type="file" class="file-input" accept="image/*" id="Image_Upload" name="Image_Upload" style="display:none">
                        <input type="text" class="file-input" accept="image/*" id="WFD01110Image_UploadTemp" name="Image_UploadTemp" style="display:none">
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="button-box navbar-left">
                            <button class="btn btn-sm btn-warning" id="WFD01110UploadCancel" type="button" style="width:120px"><i class="fa fa-ban"></i>Cancel</button>
                        </div>
                        <div class="button-box navbar-right">
                            <button class="btn btn-sm btn-success" id="WFD01110UploadSave" type="button" style="width:120px"><i class="fa fa-save"></i>Save Change</button>
                        </div>

                    </div>
                </div>
            </div>
            <!-- /.modal-dialog -->
        </div>
    </div>
</div>