﻿<style>
    /*table.dataTable thead > tr > th {
        padding-right: 5px;
        padding-left: 5px;
    }*/

    .input-group-addon {
        border-left-width: 0px;
    }

    .RadiusTop12 {
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
    }

    .RadiusBottom12 {
        border-bottom-left-radius: 12px;
        border-bottom-right-radius: 12px;
    }

    .Radius12 {
        border-radius: 12px;
    }

    .HeaderModel {
        background-color: rgba(221, 75, 57, 1); /*#337ab7;*/
        color: white;
    }

    .FooterModel {
        background-color: #f5f5f5;
    }

    .Radius24 {
        border-radius: 24px;
    }

    .py-10 {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .border-line {
        border-color: black;
        border-style: solid;
    }

    .bottom-align-text {
        position: absolute;
        bottom: 0;
        right: 0;
    }

    }

    /*.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
        padding: 5px;
    }*/

    table.table-bordered, table.table-bordered {
        border-color: #ccc !important;
    }

        table.table-bordered, table.table-bordered > thead > tr > th {
            border-color: #ccc !important;
        }

            table.table-bordered, table.table-bordered > tbody > tr > td {
                border-color: #ccc !important;
            }
</style>

<div class="modal fade" id="WFD02115_SearchAssets" tabindex="1" role="dialog" style="overflow:auto;">
    <div class="modal-dialog" style="width:900px; margin: 10px auto;">
        <div class="modal-content Radius12" style="width:1020px;">
            <div class="modal-header RadiusTop12 HeaderModel">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">TDEM Fixed Asset Request Detail</h4>
            </div>
            <div class="modal-body">
                <div id="AlertMessageWFD02115" class="message-area">
                </div>
                <div class="form-horizontal">
                    <div class="box box-info">
                        <div class="box-header with-border">
                            <div class="box-tools pull-right">
                                <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="" data-original-title="Collapse">
                                    <i class="fa fa-minus"></i>
                                </button>
                            </div>
                        </div>
                        <div class="box-body">

                            @*-----------------------------Header---------------------------------*@
                            <div class="col-lg-12">
                                <div class="form-group text-right">
                                    <button id="btnGetExistsAssetInfo" class="btn btn-success" tabindex="3"><i class="fa fa-check"></i> Get Exists Asset Info </button>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <div class="col-sm-4">
                                        <label for="WFD02115_COMPANY" class="col-sm-5 control-label txt-right padding-label-popup">Company </label>
                                        <div class="col-sm-7 padding-group-textbox-popup">
                                            @*@Html.CommonTextBox("WFD02115_COMPANY", null, new { @class = "form-control ", style = "width: 100%;", })*@
                                            <input type="text" class="form-control text-left" id="WFD02115_COMPANY" name="WFD02115_COMPANY" maxlength="50" pattern="^[a-zA-Z0-9][/-]{1,50}$">
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <label for="ASSET_NO" class="col-sm-5 control-label txt-right padding-label-popup">Asset No. </label>
                                        <div class="col-sm-7 padding-group-textbox-popup">
                                            @Html.CommonTextBox("ASSET_NO", null, new { @class = "form-control ", style = "width: 100%;", })
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <label for="WFD02115_ASSET_SUB" class="col-sm-5 control-label padding-label-popup">Asset Sub </label>
                                        <div class="col-sm-7 padding-group-textbox-popup">
                                            @Html.CommonTextBox("WFD02115_ASSET_SUB", null, new { @class = "form-control ", style = "width: 100%;", })
                                        </div>
                                    </div>
                                </div>                                
                            </div>

                            @*-----------------------------Budget Info---------------------------------*@

                            <div class="col-lg-12 py-10">
                                <h5 class="modal-title"><u><b>Budget Info.</b></u></h5>
                                <div class="form-group">
                                    <div class="">
                                        <label for="WFD02115_WBS_BUDGET" class="col-sm-2 control-label">WBS (Budget) </label>
                                        <div class="col-sm-3">
                                            <select id="WFD02115_WBS_BUDGET" class="form-control select2" style="width: 100%;"></select>
                                            @*@Html.WBSBudgetCombobox("WFD02115_WBS_BUDGET", new { @class = "form-control select2", style = "width: 100%;", tabindex = "3" })*@
                                        </div>
                                        <label id="WFD02115_WBS_BUDGET_NAME" class="col-sm-3 text-left"></label>
                                        <label for="WBS_BALANCE" class="col-sm-3 control-label text-right">WBS BALANCE</label>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="">
                                        <label for="WFD02115_WBS_PROJECT" class="col-sm-2 control-label">WBS Cost (Project) </label>
                                        <div class="col-sm-3">
                                            <select id="WFD02115_WBS_PROJECT" class="form-control select2" style="width: 100%;"></select>
                                            @*@Html.WBSProjectCombobox("WFD02115_WBS_PROJECT", new { @class = "form-control select2", style = "width: 100%;", tabindex = "3" })*@
                                        </div>
                                        <label id="WFD02115_WBS_PROJECT_NAME" class="col-sm-3 text-left"></label>
                                        <label id="WBS_BALANCE" class="col-sm-3 control-label text-right"></label>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="">
                                        <label for="WFD02115_ASSET_GROUP" class="col-sm-2 control-label">Asset Group </label>
                                        <div class="col-sm-3">
                                            @Html.CommonTextBox("WFD02115_ASSET_GROUP", null, new { @class = "form-control ", style = "width: 100%;", })
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="">
                                        <label for="WFD02115_FINAL_ASSET_CLASS" class="col-sm-2 control-label">Final Asset Class </label>
                                        <div class="col-sm-3">
                                            <select id="WFD02115_FINAL_ASSET_CLASS" class="form-control select2" style="width: 100%;"></select>
                                            @*@Html.FinalAssetClassCombobox("WFD02115_FINAL_ASSET_CLASS", new { @class = "form-control select2", style = "width: 100%;", tabindex = "3" })*@
                                        </div>
                                        <label id="WFD02115_FINAL_ASSET_CLASS_NAME" class="col-sm-4 text-left label-text"></label>
                                    </div>
                                </div>
                            </div>


                            @*-----------------------------Fixed Assset Info.---------------------------------*@

                            <div class="col-lg-12 py-10">
                                <h5 class="modal-title"><u><b>Fixed Assset Info.</b></u></h5>
                                <div class="form-group">
                                    <div class="f">
                                        <label for="WFD02115_ASSET_MAIN_SUB" class="col-sm-2 control-label">Asset Main / Sub </label>
                                        <div class="col-sm-3">
                                            @Html.AssetMainSubCombobox("WFD02115_ASSET_MAIN_SUB", new { @class = "form-control select2", style = "width: 100%;", tabindex = "3" })
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="WFD02115_PARENT_ASSET_NO" class="col-sm-2 control-label">Parent Asset No. </label>
                                    <div class="col-sm-3">
                                        <div class="input-group">
                                            <input type="text" class="form-control" id="WFD02115_PARENT_ASSET_NO" name="ASSET_NO" maxlength="50">
                                            <span class="input-group-btn" data-toggle="modal" style="cursor:pointer"><button id="WFD02115BtnPARENT_ASSET_NO" class="btn btn-flat" type="button" style="background-color:white; padding-left:8px; padding-right:8px;">...</button></span>
                                        </div>
                                    </div>
                                    <label id="WFD02115_PARENT_ASSET_NAME" class="col-sm-4 text-left label-text"></label>

                                </div>
                                <div class="form-group">
                                    <div class="">
                                        <label for="WFD02115_ASSET_DESC" class="col-sm-2 control-label">Asset Description </label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control text-left" id="WFD02115_ASSET_DESC" name="WFD02115_ASSET_DESC" maxlength="50" pattern="^[a-zA-Z0-9][/-]{1,50}$">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="">
                                        <label for="WFD02115_ASSET_CLASS" class="col-sm-2 control-label">Asset Class </label>
                                        <div class="col-sm-3">
                                            @Html.AssetClassCombobox("WFD02115_ASSET_CLASS", new { @class = "form-control select2", style = "width: 100%;", tabindex = "3" })
                                        </div>
                                        <label id="WFD02115_ASSET_CLASS_NAME" class="col-sm-4 text-left"></label>

                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="">
                                        <label for="WFD02115_MINOR_CATEGORY" class="col-sm-2 control-label">Minor Category </label>
                                        <div class="col-sm-3">
                                            <select id="WFD02115_MINOR_CATEGORY" class="form-control select2" style="width: 100%;"></select>
                                            @*@Html.MinorCategoryCombobox("WFD02115_MINOR_CATEGORY", new { @class = "form-control select2", style = "width: 100%;", tabindex = "3" })*@
                                        </div>
                                        <label id="WFD02115_MINOR_CATEGORY_NAME" class="col-sm-4 text-left"></label>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="">
                                        <label for="BASE_UOM" class="col-sm-2 control-label">Base Unit of Measure </label>
                                        <div class="col-sm-3">
                                            @Html.BaseUnitOfMeasureCombobox("BASE_UOM", new { @class = "form-control select2", style = "width: 100%;", tabindex = "3" })
                                        </div>
                                        <label id="UOM_NAME" class="col-sm-4 text-left"></label>

                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="f">
                                        <label for="#COST_CODE" class="col-sm-2 control-label">Cost Center Charge </label>
                                        <div class="col-sm-3">
                                            <div class="input-group">
                                                <input type="text" class="form-control " id="#COST_CODE" name="PARENT_ASSET_NO" maxlength="50" pattern="^[A-Za-z0-9\-]{0,15}$" tabindex="3">
                                                <span class="input-group-btn" style="cursor:pointer;"><button id="WFD02115BtnCOST_CODE" class="btn btn-flat" type="button" style="background-color:white; border-left-width:0px; padding-left:8px; padding-right:8px;">...</button></span>
                                                <input type="hidden" value="@ViewBag.WFD02115_PARENT_ASSET_NOWFD02115_COST_CENTER_CHARGE" id="#COST_CODE" />
                                            </div>
                                        </div>
                                        <label id="COST_NAME" class="col-sm-4 text-left"></label>

                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="f">
                                        <label for="RESP_COST_CODE" class="col-sm-2 control-label">Responsible Cost Center </label>
                                        <div class="col-sm-3">
                                            <div class="input-group">
                                                <input type="text" class="form-control " id="RESP_COST_CODE" name="PARENT_ASSET_NO" maxlength="50" pattern="^[A-Za-z0-9\-]{0,15}$" tabindex="3">
                                                <span class="input-group-btn" style="cursor:pointer;"><button id="WFD02115BtnRESPONSIBLE_COST_CENTER" class="btn btn-flat" type="button" style="background-color:white; border-left-width:0px; padding-left:8px; padding-right:8px;">...</button></span>
                                                <input type="hidden" value="@ViewBag.RESP_COST_CODE" id="RESP_COST_CODE" />
                                            </div>
                                        </div>
                                        <label id="RESPONSIBLE_COST_CENTER_NAME" class="col-sm-4 text-left"></label>

                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="">
                                        <label for="WFD02115_LOCATION" class="col-sm-2 control-label">Location </label>
                                        <div class="col-sm-3">
                                            @Html.LocationCombobox("WFD02115_LOCATION", new { @class = "form-control select2", style = "width: 100%;", tabindex = "3" })
                                        </div>
                                        <label id="LOCATION_NAME" class="col-sm-4 text-left"></label>

                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="">
                                        <label for="BOI" class="col-sm-2 control-label">BOI </label>
                                        <div class="col-sm-3">
                                            @Html.BOICombobox("BOI", new { @class = "form-control select2", style = "width: 100%;", tabindex = "3" })
                                        </div>
                                        <label id="BO_HINT" class="col-sm-4 text-left"></label>

                                    </div>
                                </div>


                            </div>

                            @*-----------------------------Additional Information---------------------------------*@

                            <div class="col-lg-12 py-10">
                                <h5 class="modal-title"><u><b>Additional Information</b></u></h5>
                                <div class="form-group">
                                    <div class="f">
                                        <label for="WFD02115_ADTL_ASSET_DESC" class="col-sm-2 control-label">Additional Asset Desc. </label>
                                        <div class="col-sm-8">
                                            @*@Html.CommonTextBox("WFD02115_ADTL_ASSET_DESC", null, new { @class = "form-control ", style = "width: 100%;", })*@
                                            <input type="text" class="form-control text-left" id="WFD02115_ADTL_ASSET_DESC" name="WFD02115_ADTL_ASSET_DESC" maxlength="50" pattern="^[a-zA-Z0-9][/-]{1,50}$">

                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="">
                                        <label for="WFD02115_BOI_NO" class="col-sm-2 control-label">Tax Privilege </label>

                                        <div class="col-sm-3">
                                            <select id="WFD02115_BOI_NO" class="form-control select2" style="width: 100%;"></select>
                                            @*@Html.MachineLicenseCombobox("WFD02115_BOI_NO", new { @class = "form-control select2", style = "width: 100%;", tabindex = "3" })*@
                                        </div>

                                        <label id="TAX_PRIVILEGE_NAME" class="col-sm-4 text-left"></label>

                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="">
                                        <label for="WFD02115_MACHINE_LICENSE" class="col-sm-2 control-label">Machine License </label>
                                        <div class="col-sm-3">
                                            <select id="WFD02115_MACHINE_LICENSE" class="form-control select2" style="width: 100%;"></select>
                                            @*@Html.MachineLicenseCombobox("WFD02115_MACHINE_LICENSE", new { @class = "form-control select2", style = "width: 100%;", tabindex = "3" })*@

                                        </div>
                                        <label id="MACHINE_LICENSE_NAME" class="col-sm-4 text-left"></label>

                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="">
                                        <label for="WFD02115_SERIAL_NO" class="col-sm-2 control-label">Serial Number </label>
                                        <div class="col-sm-3">
                                            @*@Html.CommonTextBox("WFD02115_SERIAL_NO", null, new { @class = "form-control ", style = "width: 100%;", })*@
                                            <input type="text" class="form-control text-left" id="WFD02115_SERIAL_NO" name="WFD02115_SERIAL_NO" maxlength="18" pattern="^[a-zA-Z0-9][/-]{1,18}$">
                                        </div>

                                        <label for="WFD02115_INVEN_NO" class="col-sm-2 control-label">Asset Plate Number </label>
                                        <div class="col-sm-3">
                                            @Html.CommonTextBox("WFD02115_INVEN_NO", null, new { @class = "form-control ", style = "width: 100%;", })
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="">
                                        <label for="INVEN_INDICATOR" class="col-sm-2 control-label">Physical Check </label>
                                        <div class="col-sm-3">
                                            <input id="INVEN_INDICATOR" type="checkbox" tabindex="3" style="width:28px; height:28px;" />
                                        </div>

                                        <label for="WFD02115_INVEN_NOTE" class="col-sm-2 control-label">Inventory Note </label>
                                        <div class="col-sm-3">
                                            @*@Html.CommonTextBox("WFD02115_INVEN_NOTE", null, new { @class = "form-control ", style = "width: 100%;", })*@
                                            <input type="text" class="form-control text-left" id="WFD02115_INVEN_NOTE" name="WFD02115_INVEN_NOTE" maxlength="15" pattern="^[a-zA-Z0-9][/-]{1,15}$">
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="">
                                        <label for="WFD02115_LICENSE_PLATE" class="col-sm-2 control-label">License Plate No. </label>
                                        <div class="col-sm-3">
                                            @*@Html.CommonTextBox("WFD02115_LICENSE_PLATE", null, new { @class = "form-control ", style = "width: 100%;", })*@
                                            <input type="text" class="form-control text-left" id="WFD02115_LICENSE_PLATE" name="WFD02115_LICENSE_PLATE" maxlength="15" pattern="^[a-zA-Z0-9][/-]{1,15}$">

                                        </div>

                                        <label for="ROOM" class="col-sm-2 control-label">Room (Future Use) </label>
                                        <div class="col-sm-3">
                                            @Html.CommonTextBox("ROOM", null, new { @class = "form-control ", style = "width: 100%;", })
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="f">
                                        <label for="WFD02115_MANUFACTURE_OF_ASSET" class="col-sm-2 control-label">Location Detail </label>
                                        <div class="col-sm-8">
                                            @*@Html.CommonTextBox("WFD02115_MANUFACTURE_OF_ASSET", null, new { @class = "form-control ", style = "width: 100%;", })*@
                                            <input type="text" class="form-control text-left" id="WFD02115_MANUFACTURE_OF_ASSET" name="WFD02115_MANUFACTURE_OF_ASSET" maxlength="30" pattern="^[a-zA-Z0-9][/-]{1,30}$">

                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="f">
                                        <label for="WFD02115_LOCATION_REMARK" class="col-sm-2 control-label">Location Remark </label>
                                        <div class="col-sm-8">
                                            @Html.CommonTextBox("WFD02115_LOCATION_REMARK", null, new { @class = "form-control ", style = "width: 100%;", })
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="">
                                        <label for="WFD02115_PLATE_TYPE" class="col-sm-2 control-label">Plate Type </label>
                                        <div class="col-sm-3">
                                            @Html.PlateTypeCombobox("WFD02115_PLATE_TYPE", new { @class = "form-control select2", style = "width: 100%;", tabindex = "3" })
                                        </div>
                                        <label for="WFD02115_BARCODE_SIZE" class="col-sm-2 control-label">Plate Size </label>
                                        <div class="col-sm-3">
                                            @Html.PlateTypeCombobox("WFD02115_BARCODE_SIZE", new { @class = "form-control select2", style = "width: 100%;", tabindex = "3" })
                                        </div>
                                    </div>
                                </div>

                            </div>


                            @*-----------------------------Leasing---------------------------------*@

                            <div class="col-lg-12 py-10 border-line">
                                <h5 class="modal-title"><u><b>Leasing</b></u></h5>
                                <div class="form-group">
                                    <label for="WFD02115_LEASE_AGREE_DATE" class="col-sm-2 control-label">Lease Agreement Date </label>
                                    <div class="col-sm-3">
                                        <div class="input-group">
                                            <div class="input-inline" style="width: 100%;">
                                                <span class="input-group date" style="max-width:100%;">
                                                    @Html.TextBox("WFD02115_LEASE_AGREE_DATE", null, new { @class = "form-control datepicker", maxlength = "10", placeholder = "From", tabindex = "13" })
                                                    <span class="input-group-addon" onclick="ClickIconDate('WFD02115_LEASE_AGREE_DATE')">
                                                        <i class="fa fa-calendar"></i>
                                                    </span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <label for="WFD02115_LEASE_START_DATE" class="col-sm-2 control-label">Lease Start Date </label>
                                    <div class="col-sm-3">
                                        <div class="input-group">
                                            <div class="input-inline" style="width: 100%;">
                                                <span class="input-group date" style="max-width:100%;">
                                                    @Html.TextBox("WFD02115_LEASE_START_DATE", null, new { @class = "form-control datepicker", maxlength = "10", placeholder = "From", tabindex = "13" })
                                                    <span class="input-group-addon" onclick="ClickIconDate('WFD02115_LEASE_START_DATE')">
                                                        <i class="fa fa-calendar"></i>
                                                    </span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="">
                                        <label for="WFD02115_LEASE_LENGTH_YEAR" class="col-sm-2 control-label ">Lease Length (year) </label>
                                        <div class="col-sm-3">
                                            @*@Html.CommonTextBox("WFD02115_LEASE_LENGTH_YEAR", null, new { @class = "form-control text-right", style = "width: 100%;", maxlength="12"})*@
                                            <input type="text" class="form-control text-right" id="WFD02115_LEASE_LENGTH_YEAR" name="WFD02115_LEASE_LENGTH_YEAR" maxlength="4" pattern="^[0-9][/-]{1,4}$">

                                        </div>

                                        <label for="WFD02115_LEASE_LENGTH_PERD" class="col-sm-2 control-label">Lease Length (period) </label>
                                        <div class="col-sm-3">
                                            @*@Html.CommonTextBox("WFD02115_LEASE_LENGTH_PERD", null, new { @class = "form-control  text-right", style = "width: 100%;", })*@
                                            <input type="text" class="form-control text-right" id="WFD02115_LEASE_LENGTH_PERD" name="WFD02115_LEASE_LENGTH_PERD" maxlength="3" pattern="^[0-9][/-]{1,3}$">

                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="">
                                        <label for="WFD02115_LEASE_TYPE" class="col-sm-2 control-label">Lease Type </label>
                                        <div class="col-sm-3">
                                            @Html.LeaseTypeCombobox("WFD02115_LEASE_TYPE", new { @class = "form-control select2", style = "width: 100%;", tabindex = "3" })

                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="">
                                        <label for="WFD02115_LEASE_SUPPLEMENT" class="col-sm-2 control-label">Lease Supplementary </label>
                                        <div class="col-sm-8">
                                            @*@Html.CommonTextBox("WFD02115_LEASE_SUPPLEMENT", null, new { @class = "form-control ", style = "width: 100%;", })*@
                                            <input type="text" class="form-control text-left" id="WFD02115_LEASE_SUPPLEMENT" name="WFD02115_LEASE_SUPPLEMENT" maxlength="20" pattern="^[a-zA-Z0-9][/-]{1,20}$">

                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="">
                                        <label for="WFD02115_LEASE_NUM_PAYMENT" class="col-sm-2 control-label">No. Lease Payments </label>
                                        <div class="col-sm-3">
                                            @*@Html.CommonTextBox("WFD02115_LEASE_NUM_PAYMENT", null, new { @class = "form-control  text-right", style = "width: 100%;", })*@
                                            <input type="text" class="form-control text-left" id="WFD02115_LEASE_NUM_PAYMENT" name="WFD02115_LEASE_NUM_PAYMENT" maxlength="20" pattern="^[a-zA-Z0-9][/-]{1,6}$">


                                        </div>

                                        <label for="WFD02115_LEASE_PAY_CYCLE" class="col-sm-2 control-label">Lease Payment Cycle </label>
                                        <div class="col-sm-3">
                                            @*@Html.CommonTextBox("WFD02115_LEASE_PAY_CYCLE", null, new { @class = "form-control text-right", style = "width: 100%;", })*@
                                            <input type="text" class="form-control text-right" id="WFD02115_LEASE_PAY_CYCLE" name="WFD02115_LEASE_PAY_CYCLE" maxlength="3" pattern="^[0-9][/-]{1,3}$">

                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="">
                                        <label for="WFD02115_LEASE_ADV_PAYMENT" class="col-sm-2 control-label">Lease Advance Payments </label>
                                        <div class="col-sm-3">
                                            @*@Html.CommonTextBox("WFD02115_LEASE_ADV_PAYMENT", null, new { @class = "form-control text-right", style = "width: 100%;", })*@
                                            <input type="text" class="form-control text-right" id="WFD02115_LEASE_ADV_PAYMENT" name="WFD02115_LEASE_ADV_PAYMENT" maxlength="6" pattern="^[0-9][/-]{1,6}$">

                                        </div>

                                        <label for="WFD02115_LEASE_PAYMENT" class="col-sm-2 control-label">Lease Payment </label>
                                        <div class="col-sm-3">
                                            @*@Html.CommonTextBox("WFD02115_LEASE_PAYMENT", null, new { @class = "form-control text-right", style = "width: 100%;", })*@
                                            <input type="text" class="form-control text-right" id="WFD02115_LEASE_PAYMENT" name="WFD02115_LEASE_PAYMENT" maxlength="14" pattern="^[0-9][/-]{1,14}$">
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="">
                                        <label for="WFD02115_LEASE_ANU_INT_RATE" class="col-sm-2 control-label">Lease Annual Interest Rate </label>
                                        <div class="col-sm-3">
                                            @*@Html.CommonTextBox("WFD02115_LEASE_ANU_INT_RATE", null, new { @class = "form-control text-right", style = "width: 100%;", })*@
                                            <input type="text" class="form-control text-right" id="WFD02115_LEASE_ANU_INT_RATE" name="WFD02115_LEASE_ANU_INT_RATE" maxlength="8" pattern="^[0-9][/-]{1,8}$">

                                        </div>
                                    </div>
                                </div>

                            </div>

                            @*-----------------------------footter---------------------------------*@
                            @* -------------------------------------1------------------------------------------- *@

                            <div class="col-lg-12 py-10">
                                <div class="col-lg-3" id="DPRE_MANI_1">
                                    <div class="col-lg-12">
                                        <label for="" class="">Depreciation Area </label>
                                    </div>
                                    <div class="col-lg-12">
                                        <label for="" class="">Depreciation key </label>
                                    </div>
                                    <div class="col-lg-12">
                                        <label for="" class="">Useful Life in Years </label>
                                    </div>
                                    <div class="col-lg-12">
                                        <label for="" class="">Useful Life in Periods </label>
                                    </div>
                                    <div class="col-lg-12">
                                        <label for="" class="">Scrap value </label>
                                    </div>
                                </div>
                                <div class="col-lg-3" id="DPRE_1">
                                    <div class="col-lg-12">
                                        <label for="" class="text-left">1 Local GAAP</label>
                                    </div>
                                    <div class="col-lg-12">
                                        <input type="text" class="form-control text-left" id="WFD02115_DPRE_KEY_01" name="WFD02115_DPRE_KEY_01" maxlength="4">

                                    </div>
                                    <div class="col-lg-12">
                                        <input type="text" class="form-control text-right" id="WFD02115_PLAN_LIFE_YEAR_01" name="WFD02115_PLAN_LIFE_YEAR_01" maxlength="3">
                                    </div>
                                    <div class="col-lg-12">
                                        <input type="text" class="form-control text-right" id="WFD02115_PLAN_LIFE_PERD_01" name="WFD02115_PLAN_LIFE_PERD_01" maxlength="3">
                                    </div>
                                    <div class="col-lg-12">
                                        <input type="text" class="form-control text-right" id="WFD02115_SCRAP_VALUE_01" name="WFD02115_SCRAP_VALUE_01" maxlength="3">
                                    </div>
                                </div>
                                <div class="col-lg-3" id="DPRE_15">
                                    <div class="col-lg-12">
                                        <label for="WFD02115_DPRE_AREA_01" class="text-left">15 Tax book</label>
                                    </div>
                                    <div class="col-lg-12">
                                        <input type="text" class="form-control text-left" id="WFD02115_DPRE_KEY_15" name="WFD02115_DPRE_KEY_15" maxlength="4">

                                    </div>
                                    <div class="col-lg-12">
                                        <input type="text" class="form-control text-right" id="WFD02115_PLAN_LIFE_YEAR_15" name="WFD02115_PLAN_LIFE_YEAR_15" maxlength="3">
                                    </div>
                                    <div class="col-lg-12">
                                        <input type="text" class="form-control text-right" id="WFD02115_PLAN_LIFE_PERD_15" name="WFD02115_PLAN_LIFE_PERD_15" maxlength="3">
                                    </div>
                                    <div class="col-lg-12">
                                        <input type="text" class="form-control text-right" id="WFD02115_SCRAP_VALUE_15" name="WFD02115_SCRAP_VALUE_15" maxlength="3">
                                    </div>
                                </div>
                                <div class="col-lg-3" id="DPRE_31">
                                    <div class="col-lg-12">
                                        <label for="WFD02115_DPRE_AREA_01" class="text-left">31 Consolidation Book</label>
                                    </div>
                                    <div class="col-lg-12">
                                        <input type="text" class="form-control text-left" id="WFD02115_DPRE_KEY_31" name="WFD02115_DPRE_KEY_31" maxlength="4">

                                    </div>
                                    <div class="col-lg-12">
                                        <input type="text" class="form-control text-right" id="WFD02115_PLAN_LIFE_YEAR_31" name="WFD02115_PLAN_LIFE_YEAR_31" maxlength="3">
                                    </div>
                                    <div class="col-lg-12">
                                        <input type="text" class="form-control text-right" id="WFD02115_PLAN_LIFE_PERD_31" name="WFD02115_PLAN_LIFE_PERD_31" maxlength="3">
                                    </div>
                                    <div class="col-lg-12">
                                        <input type="text" class="form-control text-right" id="WFD02115_SCRAP_VALUE_31" name="WFD02115_SCRAP_VALUE_31" maxlength="3">
                                    </div>
                                </div>

                            </div>

                            <div class="col-lg-12 py-10" id="DPRE_MANI_2">
                                <div class="col-lg-3">
                                    <div class="col-lg-12">
                                        <label for="" class="">Depreciation Area </label>
                                    </div>
                                    <div class="col-lg-12">
                                        <label for="" class="">Depreciation key </label>
                                    </div>
                                    <div class="col-lg-12">
                                        <label for="" class="">Useful Life in Years </label>
                                    </div>
                                    <div class="col-lg-12">
                                        <label for="" class="">Useful Life in Periods </label>
                                    </div>
                                    <div class="col-lg-12">
                                        <label for="" class="">Scrap value </label>
                                    </div>
                                </div>
                                <div class="col-lg-3" id="DPRE_41">
                                    <div class="col-lg-12">
                                        <label for="" class="text-left">41 Management Reporting</label>
                                    </div>
                                    <div class="col-lg-12">
                                        <input type="text" class="form-control text-left" id="WFD02115_DPRE_KEY_41" name="WFD02115_DPRE_KEY_41" maxlength="4">

                                    </div>
                                    <div class="col-lg-12">
                                        <input type="text" class="form-control text-right" id="WFD02115_PLAN_LIFE_YEAR_41" name="WFD02115_PLAN_LIFE_YEAR_41" maxlength="3">
                                    </div>
                                    <div class="col-lg-12">
                                        <input type="text" class="form-control text-right" id="WFD02115_PLAN_LIFE_PERD_41" name="WFD02115_PLAN_LIFE_PERD_41" maxlength="3">
                                    </div>
                                    <div class="col-lg-12">
                                        <input type="text" class="form-control text-right" id="WFD02115_SCRAP_VALUE_41" name="WFD02115_SCRAP_VALUE_41" maxlength="3">
                                    </div>
                                </div>
                                <div class="col-lg-3" id="DPRE_81">
                                    <div class="col-lg-12">
                                        <label for="WFD02115_DPRE_AREA_01" class="text-left">81 Leasing-Local</label>
                                    </div>
                                    <div class="col-lg-12">
                                        <input type="text" class="form-control text-left" id="WFD02115_DPRE_KEY_81" name="WFD02115_DPRE_KEY_81" maxlength="4">

                                    </div>
                                    <div class="col-lg-12">
                                        <input type="text" class="form-control text-right" id="WFD02115_PLAN_LIFE_YEAR_81" name="WFD02115_PLAN_LIFE_YEAR_81" maxlength="3">
                                    </div>
                                    <div class="col-lg-12">
                                        <input type="text" class="form-control text-right" id="WFD02115_PLAN_LIFE_PERD_81" name="WFD02115_PLAN_LIFE_PERD_81" maxlength="3">
                                    </div>
                                    <div class="col-lg-12">
                                        <input type="text" class="form-control text-right" id="" name="WFD02115_SCRAP_VALUE_81" maxlength="3">
                                    </div>
                                </div>
                                <div class="col-lg-3" id="DPRE_91">
                                    <div class="col-lg-12">
                                        <label for="WFD02115_DPRE_AREA_01" class="text-left">91 Leasing-Consolidation</label>
                                    </div>
                                    <div class="col-lg-12">
                                        <input type="text" class="form-control text-left" id="WFD02115_DPRE_KEY_91" name="WFD02115_DPRE_KEY_91" maxlength="4">

                                    </div>
                                    <div class="col-lg-12">
                                        <input type="text" class="form-control text-right" id="WFD02115_PLAN_LIFE_YEAR_91" name="WFD02115_PLAN_LIFE_YEAR_91" maxlength="3">
                                    </div>
                                    <div class="col-lg-12">
                                        <input type="text" class="form-control text-right" id="WFD02115_PLAN_LIFE_PERD_91" name="WFD02115_PLAN_LIFE_PERD_91" maxlength="3">
                                    </div>
                                    <div class="col-lg-12">
                                        <input type="text" class="form-control text-right" id="WFD02115_SCRAP_VALUE_91" name="WFD02115_SCRAP_VALUE_91" maxlength="3">
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-12 py-10">
                                <div class="form-group">
                                    <div class="col-sm-12 text-right" style="padding-top:10px;">
                                        <div class="input-inline" style="width: 100%;">
                                            <label for="" class="text-left">Insert Asset</label>
                                            @Html.CommonTextBox("INSERT_ASSET_ROWS", null, new { @class = "", style = "width: 30px", })
                                            <label for="" class="text-left" style="padding-right:10px;">rows</label>

                                            <button id="WFD02115OK" class="btn btn-success" tabindex="3"><i class="fa fa-check"></i>  OK </button>
                                            <button id="WFD02115Close" class="btn btn-warning" tabindex="3"><i class="fa fa-power-off"></i>  Cancel </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @*@Html.Partial("../WFD02115/SearchResult")*@
            </div>
            @Html.Partial("../COMSCC/Index")
        </div>
    </div>
</div>
@Html.Partial("../WFD02190/Index")
<script type="text/javascript">

    var WFD02115_MESSAGE = {
        ConfirmSaveLocation: '@ViewBag.ConfirmSaveLocation',
    }

    var URL_CONST = {
        WFD02115_SaveAssetsData: '@Url.Action("WFD02115_SaveAssetsData", "WFD02115")',
        WFD02115_GetAssetsData: '@Url.Action("WFD02115_GetAssetsData", "WFD02115")',
        WFD02115_GetSystemsData: '@Url.Action("WFD02115_GetSystemsData", "WFD02115")',
        WFD02115_GetWBSData: '@Url.Action("WFD02115_GetWBSData", "WFD02115")',
        WFD02115_CreateSession: '@Url.Action("WFD02115_CreateSession", "WFD02115")',
        WFD02115_GetSystemsData_DDL: '@Url.Action("WFD02115_GetSystemsData_DDL", "WFD02115")',
        WFD02115_GetWBSData_DDL: '@Url.Action("WFD02115_GetWBSData_DDL", "WFD02115")',
        WFD02115_GetDepreciationData_DDL: '@Url.Action("WFD02115_GetDepreciationData_DDL", "WFD02115")',


        SelectWBSValue: '@Url.Action("SelectWBSValue", "Common")',

    }

    var URL_WFD02190 = {
        ITEM_PER_PAGE: '@ViewBag.WFD02190_ITEM_PER_PAGE',
        SEARCH_ASSET: '@Url.Action("WFD02190_Search", "WFD02190")?singleFlag=Y',
        SAVE_ASSETS_DATA: '@Url.Action("WFD02190_SaveAssetsData", "WFD02190")',
        DefaultCostCode: '@ViewBag.DefaultCostCode'
    }


</script>
