﻿@model th.co.toyota.stm.fas.Models.WFD02115.WFD02115SaveModel

@{
    Layout = "~/Views/Shared/_Popup.cshtml";
}
<style>

    #CostSearchResultTable-item-per-page {
        min-width:50px
    }

    .auto-drop {
        /*width: auto !important;*/
    }

        .auto-drop > .select2-results > .select2-results__options > .select2-results__option {
            white-space: nowrap;
        }

    .validate {
        color: red;
        padding-bottom: 20px;
    }

    .txt-desc {
        margin-bottom: 0px;
        margin-top: 5px;
    }

    .px-5 {
        padding-left: 5px;
        padding-right: 5px;
    }

    .padding-label {
        padding-right: 0px;
        padding-left: 3px;
    }

    .padding-group-textbox {
        padding-left: 5px;
    }

    .padding-label-popup {
        padding-right: 0px;
        padding-left: 0px;
    }

    .padding-label-popup5 {
        padding-right: 0px;
        padding-left: 0px;
    }

    .padding-group-textbox-popup {
        padding-left: 3px;
        padding-right: 0px;
    }

    .padding-group-textbox-popup3 {
        padding-left: 3px;
        padding-right: 3px;
    }

    .padding-group-textbox-popup3Center {
        padding-left: 3px;
        padding-right: 3px;
        text-align: center;
    }

    .padding-group-textbox-popup15 {
        padding-left: 3px;
        padding-right: 3px;
    }

    .fasdangerPopup {
        /*border-radius: 3px;*/
        /*margin: 00px 10px 0px 10px;*/
        padding: 5px 8px 5px 8px;
        /*border-left: 5px solid #d33724 !important;
        border-color:#d33724 !important;*/
        margin-top: -1px;
    }

    .fasWarningPopup {
        border-radius: 3px;
        margin: 0px;
        padding: 15px 30px 15px 15px;
        border-left: 5px solid #db8b0b !important;
    }

    .box {
        width: 99%;
    }

    .box-body {
        border: 1px solid #A3A3A3;
    }

    .box-header > .fa, .box-header > .glyphicon, .box-header > .ion, .box-header .box-title {
        font-size: 14px;
        font-weight: bold;
    }

    .box-header.with-border {
        border: 1px solid #A3A3A3;
    }

    .flex {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .scol {
        column-width: 130px;
    }

    .mcol {
        column-width: 220px;
    }

    .leftnopadding {
        padding-left: 0px;
    }

    .buttnomargin {
        margin-bottom: -20px;
    }

    .notextindent > th {
        text-indent: 0px;
    }

    .bg-red {
        background-color: red;
    }

    .bg-yellow {
        background-color: yellow;
    }

    .main-header > .navbar {
        border: none;
        min-height: 50px;
        border-radius: 0;
        margin-left: 0;
    }

    .select2-container--default.select2-container--disabled .select2-selection--single, input:disabled {
        background-color: #f5f5f5 !important;
        cursor: not-allowed !important;
    }

    .different {
        color: red !important;
        border-color: red;
    }

    .coDialog {
        max-height: 100%;
        overflow-y: auto;
    }

    .tooltip-inner {
        max-width: 250px;
        padding: 3px 8px;
        color: #fff;
        text-align: left;
        background-color: #000;
        border-radius: 4px;
    }

    #WFD02115Loading {
        display: block;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background: url(../../Images/Loading.gif) no-repeat center #fff;
        text-align: center;
        font: normal 16px Tahoma,Geneva,sans-serif;
        border: 1px solid #FFF;
        z-index: 99999;
        overflow: auto;
        opacity: .69;
        border-radius: 12px;
    }
</style>
<header class="main-header">
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top" role="navigation">
        <!-- Sidebar toggle button-->
        <a class="navbar-brand" href="#">Toyota Fixed Assets System (TFAST)</a>
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">

                <li class="">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="padding-top:15px;height:50px;">
                        <span class="hidden-xs">@GlobalUser.UserSc2.DisplayName</span>
                    </a>
                </li>
                <!-- Control Sidebar Toggle Button -->
            </ul>
        </div>
    </nav>
</header>
<div id="WFD02115Loading" style="width:100%;"></div>
<form id="frmWFD02115Submit" class="form-horizontal" method="post" action="" style="padding-left: 1%;">
    <input type="hidden" id="WFD02115_CUMU_ACQU_PRDCOST_01" name="WFD02115_CUMU_ACQU_PRDCOST_01" data-field="CUMU_ACQU_PRDCOST_01" />
    <section class="content-header">
        <h1>
            <span id="WFD02115FlowTypeLable"></span>
        </h1>
    </section>
    <div class="row">
        <div class="validate">
            <ul id="sumValidation"></ul>
        </div>
    </div>

    <div id="AlertMessageAreaWFD02115" class="" style="display:none">
    </div>
    <div id="divWFD02115" class="coDialog">
        <div class="box box-success ">
            <div class="box-header with-border">
                <h3 class="box-title"><i class="fa fa-newspaper-o"></i> Request <span id="span_company"></span></h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="" data-original-title="Collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                </div>
            </div>

            <div class="box-body" style="display: block;" id="Condition">
                <div class="col-sm-12" id="divWFD02115Header">
                    <div class="search-row form-group">
                        <div class="col-sm-3">
                            <label for="WFD02115_DOCNO" class="col-sm-5 control-label text-right padding-label-popup">Document No. </label>
                            <div class="col-sm-7 padding-group-textbox-popup">
                                @Html.CommonTextBox("WFD02115_DOCNO", null, new { @class = "form-control", disabled = "disabled" })
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <label for="WFD02115_ITEMNO" class="col-sm-5 control-label text-right padding-label-popup">Item No. </label>
                            <div class="col-sm-7 padding-group-textbox-popup">
                                @Html.CommonTextBox("WFD02115_ITEMNO", null, new { @class = "form-control", disabled = "disabled" })
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <label for="WFD02115_ORIGIN_ASSET_NO" class="col-sm-7 control-label text-right padding-label-popup">Original Asset No. </label>
                            <div class="col-sm-5 padding-group-textbox-popup">
                                @Html.CommonTextBox("WFD02115_ORIGIN_ASSET_NO", null, new { @class = "form-control", disabled = "disabled" })
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <label for="WFD02115_ORIGIN_ASSET_SUB_NO" class="col-sm-7 control-label text-right padding-label-popup">Original Asset Sub </label>
                            <div class="col-sm-5 padding-group-textbox-popup">
                                @Html.CommonTextBox("WFD02115_ORIGIN_ASSET_SUB_NO", null, new { @class = "form-control", disabled = "disabled" })
                            </div>
                        </div>
                    </div>

                    <div class="search-row form-group">
                        <div class="col-sm-3">
                            <label for="WFD02115_COMPANY" class="col-sm-5 control-label text-right padding-label-popup">Company </label>
                            <div class="col-sm-7 padding-group-textbox-popup">
                                @Html.CommonTextBox("WFD02115_COMPANY", null, new { data_field = "COMPANY", @class = "disabledalway form-control", disabled = "disabled" })
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <label for="WFD02115_ASSET_NO" class="col-sm-5 control-label text-right padding-label-popup">Asset No. </label>
                            <div class="col-sm-7 padding-group-textbox-popup">
                                @Html.CommonTextBox("WFD02115_ASSET_NO", null, new { data_field = "ASSET_NO", @class = "disabledalway form-control", disabled = "disabled", style = "width: 100%;" })
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <label for="WFD02115_ASSET_SUB" class="col-sm-7 control-label text-right padding-label-popup">Asset Sub </label>
                            <div class="col-sm-5 padding-group-textbox-popup">
                                @Html.CommonTextBox("WFD02115_ASSET_SUB", null, new { data_field = "ASSET_SUB", @class = "disabledalway form-control", disabled = "disabled", style = "width: 100%;" })
                            </div>
                        </div>
                        <div class="col-sm-3 text-right">
                            <button id="btnGetExistsAssetInfo" class="btn btn-success" tabindex="3"><i class="fa fa-check"></i> Get Exists Asset Info </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @*-----------------------------Budget Info---------------------------------*@
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title"><i class="fa fa-newspaper-o"></i> Budget Info. <span id="span_company"></span></h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="" data-original-title="Collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                </div>
            </div>

            <div class="box-body" style="display: block;" id="Condition">
                <div class="col-sm-12" id="divWFD02115Header">
                    <div class="search-row form-group">
                        <div class="text-right ">
                            <h5 class="modal-title"><b>WBS BALANCE</b></h5>
                        </div>
                    </div>

                    <div class="search-row form-group">
                        @*<div class="col-sm-6">*@
                        <label for="WFD02115_WBS_BUDGET" class="col-sm-2 control-label text-right padding-label-popup5">WBS (Budget) </label>
                        <div class="col-sm-4 padding-group-textbox-popup">
                            <select id="WFD02115_WBS_BUDGET" data-field="WBS_BUDGET" class="form-control select2 required" required style="width: 100%;"></select>
                            <input type="hidden" id="WFD02115_WBS_ASSET_CLASS" name="WFD02115_WBS_ASSET_CLASS" value="" />
                        </div>
                        @*</div>*@
                        <div class="col-sm-4 px-5">
                            <label id="WFD02115_WBS_BUDGET_NAME" class="txt-desc text-left "></label>
                        </div>
                        <div class="col-sm-2 px-5 text-right">
                            @*<label for="WFD02115_WBS_BALANCE" class="control-label text-right"></label>*@
                            <label id="WFD02115_WBS_BALANCE" data-field="" class="txt-desc"></label>
                        </div>
                    </div>
                    <div class="search-row form-group">
                        @*<div class="col-sm-6">*@
                        <label for="WFD02115_WBS_PROJECT" class="col-sm-2 control-label text-right padding-label-popup5">WBS Cost (Project) </label>
                        <div class="col-sm-4 padding-group-textbox-popup">
                            <select id="WFD02115_WBS_PROJECT" data-field="WBS_PROJECT" class="form-control select2 required" required style="width: 100%;"></select>
                        </div>
                        @*</div>*@
                        <div class="col-sm-6 px-5">
                            <label id="WFD02115_WBS_PROJECT_NAME" class="txt-desc text-left"></label>
                        </div>
                    </div>
                    <div class="search-row form-group">
                        @*<div class="col-sm-6">*@
                        <label for="WFD02115_ASSET_GROUP" class="col-sm-2 control-label text-right padding-label-popup5">Asset Group </label>
                        <div class="col-sm-4 padding-group-textbox-popup">
                            @Html.CommonTextBox("WFD02115_ASSET_GROUP", null, new { data_field = "ASSET_GROUP", @class = "disabledalway form-control", disabled = "disabled", style = "width: 100%;", })
                        </div>
                        @*</div>*@
                        <div class="col-sm-6">
                        </div>
                    </div>
                    <div class="search-row form-group">
                        @*<div class="col-sm-6">*@
                        <label for="WFD02115_FINAL_ASSET_CLASS" class="col-sm-2 control-label text-right padding-label-popup5">Final Asset Class </label>
                        <div class="col-sm-4 padding-group-textbox-popup">
                            <input type="hidden" id="WFD02115_DEFAULT_FINAL_ASSET_CLASS" />
                            <select id="WFD02115_FINAL_ASSET_CLASS" data-field="FINAL_ASSET_CLASS" class="form-control select2" style="width: 100%;"></select>
                        </div>
                        @*</div>*@
                        <div class="col-sm-5 px-5">
                            <label id="WFD02115_FINAL_ASSET_CLASS_NAME" class="txt-desc text-left label-text"></label>
                        </div>
                        <div class="col-sm-1 px-5">
                            <label id="WFD02115_FINAL_ASSET_CLASS_NAME" class="txt-desc text-left label-text"></label>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        @*-----------------------------Fixed Assset Info.---------------------------------*@
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title"><i class="fa fa-newspaper-o"></i> Fixed Assset Info. <span id="span_company"></span></h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="" data-original-title="Collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                </div>
            </div>

            <div class="box-body" style="display: block;" id="Condition">
                <div class="col-sm-12" id="">

                    <div class="search-row form-group">
                        @*<div class="col-sm-6">*@
                        <label for="WFD02115_ASSET_MAIN_SUB" class="col-sm-2 control-label text-right padding-label-popup5">Asset Main / Sub </label>
                        <div class="col-sm-4 padding-group-textbox-popup">
                            @Html.SystemCombobox("WFD02115_ASSET_MAIN_SUB", "FAS_TYPE", "MAINSUB", false, new { data_field = "ASSET_MAINSUB", @class = "form-control select2 required", required = "required", style = "width: 100%;", tabindex = "3" })
                        </div>
                        @*</div>*@
                        <div class="col-sm-6 px-5">
                        </div>
                    </div>
                    <div class="search-row form-group">
                        @*<div class="col-sm-6">*@
                        <label for="WFD02115_PARENT_ASSET_NO" class="col-sm-2 control-label text-right padding-label-popup5">Parent Asset No. </label>
                        <div class="col-sm-4 padding-group-textbox-popup">
                            <div class="input-group">
                                <input type="text" class="form-control required" data-field="PARENT_ASSET_NO" id="WFD02115_PARENT_ASSET_NO" name="WFD02115_PARENT_ASSET_NO" maxlength="12">
                                <span class="input-group-btn" data-toggle="modal" style="cursor:pointer"><button id="WFD02115BtnPARENT_ASSET_NO" class="btn btn-flat" type="button" style="background-color:white; padding-left:8px; padding-right:8px;">...</button></span>
                            </div>
                        </div>
                        @*</div>*@
                        <div class="col-sm-6 px-5">
                            <label id="WFD02115_PARENT_ASSET_NAME" data-field="PARENT_ASSET_NAME" class="txt-desc text-left label-text"></label>
                        </div>
                    </div>
                    <div class="search-row form-group">
                        @*<div class="col-sm-6">*@
                        <label for="WFD02115_ASSET_DESC" class="col-sm-2 control-label text-right padding-label-popup5">Asset Description </label>
                        <div class="col-sm-10 padding-group-textbox-popup">
                            <input type="text" class="form-control text-left required" data-field="ASSET_DESC" required id="WFD02115_ASSET_DESC" name="WFD02115_ASSET_DESC" maxlength="50">
                        </div>
                    </div>
                    <div class="search-row form-group">
                        @*<div class="col-sm-6">*@
                        <label for="WFD02115_ASSET_CLASS" class="col-sm-2 control-label text-right padding-label-popup5">Asset Class </label>
                        <div class="col-sm-4 padding-group-textbox-popup">
                            <select id="WFD02115_ASSET_CLASS" data-field="ASSET_CLASS" class="form-control select2 required" required style="width: 100%;"></select>
                        </div>
                        @*</div>*@
                        <div class="col-sm-3 px-5">
                            <label id="WFD02115_ASSET_CLASS_NAME" class="txt-desc text-left"></label>
                        </div>
                        <div class="col-sm-3 px-5 text-right">
                            <label id="WFD02115_ASSET_CLASS_WARN" class="txt-desc" style="color:red;display:none;">Asset Class does not match with WBS(Budget)</label>
                        </div>
                    </div>
                    <div class="search-row form-group">
                        @*<div class="col-sm-6">*@
                        <label for="WFD02115_MINOR_CATEGORY" class="col-sm-2 control-label text-right padding-label-popup5">Minor Category </label>
                        <div class="col-sm-4 padding-group-textbox-popup">
                            <input type="hidden" id="hdMinorCategory" data-field="MINOR_CATEGORY" value="" />
                            <select id="WFD02115_MINOR_CATEGORY" data-field="MINOR_CATEGORY" class="form-control select2 required" required style="width: 100%;"></select>
                        </div>
                        @*</div>*@
                        <div class="col-sm-6 px-5">
                            <label id="WFD02115_MINOR_CATEGORY_NAME" class="txt-desc text-left"></label>
                        </div>
                    </div>
                    <div class="search-row form-group">
                        @*<div class="col-sm-6">*@
                        <label for="WFD02115_BASE_UOM" class="col-sm-2 control-label text-right padding-label-popup5">Base Unit of Measure </label>
                        <div class="col-sm-4 padding-group-textbox-popup">
                            @Html.SystemCombobox("WFD02115_BASE_UOM", "FAS_TYPE", "UOM", true, new { data_field = "BASE_UOM", @class = "form-control select2 required", style = "width: 100%;", tabindex = "3" }, true, null, true)
                        </div>
                        @*</div>*@
                        <div class="col-sm-6 px-5">
                            <label id="WFD02115_BOM_NAME" class="txt-desc text-left"></label>
                        </div>
                    </div>
                    <div class="search-row form-group">
                        @*<div class="col-sm-6">*@
                        <label for="WFD02115_COST_CODE" class="col-sm-2 control-label text-right padding-label-popup5">Cost Center Charger </label>
                        <div class="col-sm-4 padding-group-textbox-popup">
                            <div class="input-group">
                                <input type="text" data-field="COST_CODE" class="form-control required require" required id="WFD02115_COST_CODE" readonly="readonly" name="WFD02115_COST_CODE" maxlength="10" tabindex="3">
                                <span class="input-group-btn" style="cursor:pointer;"><button id="WFD02115BtnCOST_CODE" class="btn btn-flat" type="button" style="background-color:white; border-left-width:0px; padding-left:8px; padding-right:8px;">...</button></span>
                            </div>
                        </div>
                        @*</div>*@
                        <div class="col-sm-6 px-5">
                            <label id="WFD02115_COST_NAME" data-field="COST_NAME" class="txt-desc text-left"></label>
                        </div>
                    </div>
                    <div class="search-row form-group">
                        @*<div class="col-sm-6">*@
                        <label for="WFD02115_RESP_COST_CODE" class="col-sm-2 control-label text-right padding-label-popup5">Responsible Cost Center </label>
                        <div class="col-sm-4 padding-group-textbox-popup">
                            <div class="input-group">
                                <input type="text" data-field="RESP_COST_CODE" class="form-control required require" required id="WFD02115_RESP_COST_CODE" readonly="readonly" name="WFD02115_RESP_COST_CODE" maxlength="10" tabindex="3">
                                <span class="input-group-btn" style="cursor:pointer;"><button id="WFD02115BtnRESPONSIBLE_COST_CENTER" class="btn btn-flat" type="button" style="background-color:white; border-left-width:0px; padding-left:8px; padding-right:8px;">...</button></span>
                            </div>
                        </div>
                        @*</div>*@
                        <div class="col-sm-6 px-5">
                            <label id="WFD02115_RESP_COST_NAME" data-field="RESP_COST_NAME" class="txt-desc text-left"></label>
                        </div>
                    </div>
                    <div class="search-row form-group">
                        @*<div class="col-sm-6">*@
                        <label for="WFD02115_LOCATION" class="col-sm-2 control-label text-right padding-label-popup5">Location / Supplier Code </label>
                        <div class="col-sm-4 padding-group-textbox-popup">
                            <select id="WFD02115_LOCATION" data-field="LOCATION" class="form-control select2" style="width: 100%;"></select>
                        </div>
                        @*</div>*@
                        <div class="col-sm-6 px-5">
                            <label id="WFD02115_LOCATION_NAME" class="txt-desc text-left"></label>
                        </div>
                    </div>
                    <div class="search-row form-group">
                        @*<div class="col-sm-6">*@
                        <label for="BOI" class="col-sm-2 control-label text-right padding-label-popup5">BOI </label>
                        <div class="col-sm-4 padding-group-textbox-popup">
                            @Html.SystemCombobox("WFD02115_BOI", "INVEST_REASON", "INVEST_REASON", true, new { data_field = "INVEST_REASON", @class = "form-control select2 required require", required = "required", style = "width: 100%;", tabindex = "3" }, true, null, true)
                        </div>
                        @*</div>*@
                        <div class="col-sm-6 px-5">
                            <label id="WFD02115_BOI_HINT" class="txt-desc text-left"></label>
                        </div>
                    </div>
                    <div class="search-row form-group">
                        @*<div class="col-sm-6">*@
                        <label for="WFD02115_BOI_NO" class="col-sm-2 control-label text-right padding-label-popup5">Tax Privilege </label>
                        <div class="col-sm-4 padding-group-textbox-popup">
                            <select id="WFD02115_BOI_NO" data-field="BOI_NO" class="form-control select2" style="width: 100%;"></select>
                        </div>
                        @*</div>*@
                        <div class="col-sm-6 px-5">
                            <label id="WFD02115_TAX_PRIVILEGE_NAME" class="txt-desc text-left"></label>
                        </div>
                    </div>


                </div>
            </div>
        </div>

        @*-----------------------------Additional Information---------------------------------*@
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title"><i class="fa fa-newspaper-o"></i> Additional Information <span id="span_company"></span></h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="" data-original-title="Collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                </div>
            </div>

            <div class="box-body" style="display: block;" id="Condition">
                <div class="col-sm-12" id="divAdditionalInfo">
                    <div class="search-row form-group">
                        @*<div class="col-sm-8">*@
                        <label for="WFD02115_ADTL_ASSET_DESC" class="col-sm-2 control-label text-right padding-label-popup5">Additional Asset Desc. </label>
                        <div class="col-sm-10 padding-group-textbox-popup">
                            <input type="text" data-field="ADTL_ASSET_DESC" class="form-control text-left" id="WFD02115_ADTL_ASSET_DESC" name="WFD02115_ADTL_ASSET_DESC" maxlength="50"><!--pattern="^[a-zA-Z0-9][/-]{1,50}$"-->
                        </div>
                        @*</div>*@
                    </div>
                    <div class="search-row form-group">
                        @*<div class="col-sm-5">*@
                        <label for="WFD02115_MACHINE_LICENSE" class="col-sm-2 control-label text-right padding-label-popup5">Machine License </label>
                        <div class="col-sm-4 padding-group-textbox-popup">
                            <select id="WFD02115_MACHINE_LICENSE" data-field="MACHINE_LICENSE" class="form-control select2" style="width: 100%;"></select>
                        </div>
                        @*</div>*@
                        <div class="col-sm-6 px-5">
                            <label id="WFD02115_MACHINE_LICENSE_NAME" class="txt-desc text-left"></label>
                        </div>
                    </div>
                    <div class="search-row form-group">
                        @*<div class="col-sm-5">*@
                        <label for="WFD02115_SERIAL_NO" class="col-sm-2 control-label text-right padding-label-popup5">Serial Number </label>
                        <div class="col-sm-4 padding-group-textbox-popup">
                            <input type="text" class="form-control text-left" data-field="SERIAL_NO" id="WFD02115_SERIAL_NO" name="WFD02115_SERIAL_NO" maxlength="18" pattern="^[a-zA-Z0-9][/-]{1,18}$">
                        </div>
                        @*</div>*@
                        <label for="WFD02115_INVEN_NO" class="col-sm-2 control-label text-right padding-label-popup5">Asset Plate Number </label>
                        <div class="col-sm-4 padding-group-textbox-popup">
                            @Html.CommonTextBox("WFD02115_INVEN_NO", null, new { data_field = "INVEN_NO", @class = "disabledalway form-control", style = "width: 100%;", })
                        </div>
                    </div>
                    <div class="search-row form-group">
                        @*<div class="col-sm-5">*@
                        <label for="WFD02115_INVEN_INDICATOR" class="col-sm-2 control-label text-right padding-label-popup5">Physical Check </label>
                        <div class="col-sm-4 padding-group-textbox-popup">
                            <input id="WFD02115_INVEN_INDICATOR" type="checkbox" tabindex="3" style="margin-top: 7px;" data-field="INVEN_INDICATOR" />
                        </div>
                        @*</div>*@
                        <label for="WFD02115_INVEN_NOTE" class="col-sm-2 control-label text-right padding-label-popup5">Inventory Note </label>
                        <div class="col-sm-4 padding-group-textbox-popup">
                            <input type="text" class="form-control text-left" data-field="INVEN_NOTE" id="WFD02115_INVEN_NOTE" name="WFD02115_INVEN_NOTE" maxlength="15" pattern="^[a-zA-Z0-9][/-]{1,15}$">
                        </div>
                    </div>
                    <div class="search-row form-group">
                        @*<div class="col-sm-5">*@
                        <label for="WFD02115_LICENSE_PLATE" class="col-sm-2 control-label text-right padding-label-popup5">License Plate No. </label>
                        <div class="col-sm-4 padding-group-textbox-popup">
                            <input type="text" class="form-control text-left" data-field="LICENSE_PLATE" id="WFD02115_LICENSE_PLATE" name="WFD02115_LICENSE_PLATE" maxlength="15" pattern="^[a-zA-Z0-9][/-]{1,15}$">
                        </div>
                        @*</div>*@
                        <label for="WFD02115_ROOM" class="col-sm-2 control-label text-right padding-label-popup5">Room (Future Use) </label>
                        <div class="col-sm-4 padding-group-textbox-popup">
                            @Html.CommonTextBox("WFD02115_ROOM", null, new { data_field = "ROOM", @class = "disabledalway form-control ", style = "width: 100%;", maxlength = "8" })
                        </div>
                    </div>
                    <div class="search-row form-group">
                        @*<div class="col-sm-5">*@
                        <label for="WFD02115_MANUFACTURE_OF_ASSET" class="col-sm-2 control-label text-right padding-label-popup5">Location Detail</label>
                        <div class="col-sm-10 padding-group-textbox-popup">
                            <input type="text" data-field="MANUFACT_ASSET" class="form-control text-left" id="WFD02115_MANUFACTURE_OF_ASSET" name="WFD02115_MANUFACTURE_OF_ASSET" maxlength="30">
                        </div>
                        @*</div>*@
                    </div>
                    <div class="search-row form-group">
                        @*<div class="col-sm-5">*@
                        <label for="WFD02115_LOCATION_REMARK" class="col-sm-2 control-label text-right padding-label-popup5">Remark for Location</label>
                        <div class="col-sm-10 padding-group-textbox-popup">
                            <input type="text" class="form-control text-left" data-field="LOCATION_REMARK" id="WFD02115_LOCATION_REMARK" name="WFD02115_LOCATION_REMARK" maxlength="200" style="width:100%">
                        </div>
                        @*</div>*@
                    </div>
                    <div class="search-row form-group">
                        @*<div class="col-sm-5">*@
                        <label for="WFD02115_PLATE_TYPE" class="col-sm-2 control-label text-right padding-label-popup5">Plate Type </label>
                        <div class="col-sm-4 padding-group-textbox-popup">
                            @Html.SystemCombobox("WFD02115_PLATE_TYPE", "FAS_TYPE", "PLATE_TYPE", false, new { data_field = "PLATE_TYPE", @class = "form-control select2", style = "width: 100%;", tabindex = "3" })
                        </div>
                        @*</div>*@
                        <label for="WFD02115_BARCODE_SIZE" class="col-sm-2 control-label text-right padding-label-popup5">Plate Size </label>
                        <div class="col-sm-4 padding-group-textbox-popup">
                            @Html.SystemCombobox("WFD02115_BARCODE_SIZE", "FAS_TYPE", "BARCODE_SIZE", false, new { data_field = "BARCODE_SIZE", @class = "form -control select2", style = "width: 100%;", tabindex = "3" })
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @*-----------------------------Leasing---------------------------------*@
        <div class="box box-info" id="divLeasingInfo">
            <div class="box-header with-border">
                <h3 class="box-title"><i class="fa fa-newspaper-o"></i> Leasing <span id="span_company"></span></h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="" data-original-title="Collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                </div>
            </div>

            <div class="box-body" style="display: block;" id="Condition">
                <div class="col-sm-12">
                    <div class="search-row form-group">
                        <label for="WFD02115_LEASE_AGREE_DATE" class="col-sm-2 control-label text-right padding-label-popup5">Lease Agreement Date </label>
                        <div class="col-sm-3 padding-group-textbox-popup">
                            <div class="input-group">
                                <div class="input-inline" style="width: 100%;">
                                    <span class="input-group date" style="max-width:100%;">
                                        <input type="text" class="form-control datepicker" data-field="LEASE_AGREE_DATE" id="WFD02115_LEASE_AGREE_DATE" name="WFD02115_LEASE_AGREE_DATE" maxlength="10" placeholder="DD.MM.YYYY">
                                        <span class="input-group-addon date-picker-icon" onclick="ClickIconDate('WFD02115_LEASE_AGREE_DATE')">
                                            <i class="fa fa-calendar"></i>
                                        </span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <label for="WFD02115_LEASE_START_DATE" class="col-sm-5 control-label text-right padding-label-popup">Lease Start Date </label>
                            <div class="col-sm-7 padding-group-textbox-popup">
                                <div class="input-group">
                                    <div class="input-inline" style="width: 100%;">
                                        <span class="input-group date" style="max-width:100%;">
                                            <input type="text" class="form-control datepicker" data-field="LEASE_START_DATE" id="WFD02115_LEASE_START_DATE" name="WFD02115_LEASE_START_DATE" maxlength="10" placeholder="DD.MM.YYYY">
                                            <span class="input-group-addon date-picker-icon" onclick="ClickIconDate('WFD02115_LEASE_START_DATE')">
                                                <i class="fa fa-calendar"></i>
                                            </span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-1">
                        </div>
                    </div>
                    <div class="search-row form-group">
                        <label for="WFD02115_LEASE_LENGTH_YEAR" class="col-sm-2 control-label text-right padding-label-popup5">Lease Length in Years </label>
                        <div class="col-sm-3 padding-group-textbox-popup">
                            <input type="text" class="form-control text-right numberOnly require" data-field="LEASE_LENGTH_YEAR" id="WFD02115_LEASE_LENGTH_YEAR" name="WFD02115_LEASE_LENGTH_YEAR" maxlength="3" min="0" max="999" style="max-width:50px;" autocomplete="off">
                        </div>
                        <div class="col-sm-6">
                            <label for="WFD02115_LEASE_LENGTH_PERD" class="col-sm-5 control-label text-right padding-label-popup">Lease Length in Months </label>
                            <div class="col-sm-7 padding-group-textbox-popup">
                                <input type="text" class="form-control text-right numberOnly require" data-field="LEASE_LENGTH_PERD" id="WFD02115_LEASE_LENGTH_PERD" name="WFD02115_LEASE_LENGTH_PERD" min="1" max="11" maxlength="2" style="max-width:50px;" autocomplete="off">
                            </div>
                        </div>
                        <div class="col-sm-1">
                        </div>
                    </div>
                    <div class="search-row form-group">
                        <label for="WFD02115_LEASE_TYPE" class="col-sm-2 control-label text-right padding-label-popup5">Lease Type </label>
                        <div class="col-sm-9 padding-group-textbox-popup15">
                            @Html.SystemCombobox("WFD02115_LEASE_TYPE", "FAS_TYPE", "LEASE_TYPE", false, new { data_field = "LEASE_TYPE", @class = "form -control select2", style = "width: 100%;", tabindex = "3" })
                        </div>
                        <div class="col-sm-1">
                        </div>
                    </div>
                    <div class="search-row form-group">
                        <label for="WFD02115_LEASE_SUPPLEMENT" class="col-sm-2 control-label text-right padding-label-popup5">Lease Supplementary </label>
                        <div class="col-sm-9 padding-group-textbox-popup15">
                            <input type="text" data-field="LEASE_SUPPLEMENT" class="form-control text-left" id="WFD02115_LEASE_SUPPLEMENT" name="WFD02115_LEASE_SUPPLEMENT" maxlength="50" autocomplete="off">
                        </div>
                        <div class="col-sm-1">
                        </div>
                    </div>
                    <div class="search-row form-group">
                        <label for="WFD02115_LEASE_NUM_PAYMENT" class="col-sm-2 control-label text-right padding-label-popup5">No. Lease Payments </label>
                        <div class="col-sm-3 padding-group-textbox-popup">
                            <input type="text" data-field="LEASE_NUM_PAYMENT" class="form-control text-right require numberOnly" id="WFD02115_LEASE_NUM_PAYMENT" name="WFD02115_LEASE_NUM_PAYMENT" maxlength="5" autocomplete="off">
                        </div>
                        <div class="col-sm-6">
                            <label for="WFD02115_LEASE_PAY_CYCLE" class="col-sm-5 control-label text-right padding-label-popup">Lease Payment Cycle </label>
                            <div class="col-sm-7 padding-group-textbox-popup">
                                <input type="text" data-field="LEASE_PAY_CYCLE" class="form-control text-right require numberOnly" id="WFD02115_LEASE_PAY_CYCLE" name="WFD02115_LEASE_PAY_CYCLE" maxlength="3" autocomplete="off">
                            </div>
                        </div>
                        <div class="col-sm-1">
                        </div>
                    </div>
                    <div class="search-row form-group">
                        <label for="WFD02115_LEASE_ADV_PAYMENT" class="col-sm-2 control-label text-right padding-label-popup5">Lease Advance Payments (Y/N) </label>
                        <div class="col-sm-3 padding-group-textbox-popup">
                            <input type="text" data-field="LEASE_ADV_PAYMENT" class="form-control text-left require" id="WFD02115_LEASE_ADV_PAYMENT" name="WFD02115_LEASE_ADV_PAYMENT" maxlength="1" style="max-width: 50px;text-transform:uppercase;" autocomplete="off">
                        </div>
                        <div class="col-sm-6">
                            <label for="WFD02115_LEASE_PAYMENT" class="col-sm-5 control-label text-right padding-label-popup">Lease Payment </label>
                            <div class="col-sm-7 padding-group-textbox-popup">
                                <input type="text" data-field="LEASE_PAYMENT" class="form-control text-right decimalOnly require" id="WFD02115_LEASE_PAYMENT" name="WFD02115_LEASE_PAYMENT" maxlength="14" autocomplete="off">
                            </div>
                        </div>
                        <div class="col-sm-1">
                        </div>
                    </div>
                    <div class="search-row form-group">
                        <label for="WFD02115_LEASE_ANU_INT_RATE" class="col-sm-2 control-label text-right padding-label-popup5">Lease Annual Interest Rate </label>
                        <div class="col-sm-3 padding-group-textbox-popup">
                            <input type="text" data-field="LEASE_ANU_INT_RATE" class="form-control text-right decimalOnly require" id="WFD02115_LEASE_ANU_INT_RATE" name="WFD02115_LEASE_ANU_INT_RATE" maxlength="8" autocomplete="off">
                        </div>
                        <div class="col-sm-6">
                        </div>
                        <div class="col-sm-1">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @*-----------------------------Depreciation---------------------------------*@
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title"><i class="fa fa-newspaper-o"></i> Depreciation <span id="span_company"></span></h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="" data-original-title="Collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="box-body" style="display: block;" id="Condition">
                <div class="col-sm-12" id="divDepreciationInfo">
                    <div class="search-row form-group">
                        <div class="col-sm-6" style="margin-top:30px">
                            <h5 class="modal-title"><u><b>     </b></u></h5>
                        </div>
                        <div class="col-sm-6 text-right ">
                        </div>
                    </div>
                    <div class="search-row form-group">
                        <div class="col-sm-2 text-right padding-label-popup">
                            <label for="" class="text-right padding-label-popup">Depreciation Area </label>
                        </div>
                        <div class="col-sm-10">
                            <div class="col-sm-2 padding-group-textbox-popup3">
                                <label for="" class="text-left" id="WFD02115_DPRE_AREA_01">01 @Html.GetLabelFromSystemMaster("FAS_TYPE", "DPRE_AREA", "01")</label>
                            </div>
                            <div class="col-sm-2 aeconly padding-group-textbox-popup3">
                                <label for="" class="text-left padding-label-popup" id="WFD02115_DPRE_AREA_15">15 @Html.GetLabelFromSystemMaster("FAS_TYPE", "DPRE_AREA", "15")</label>
                            </div>
                            <div class="col-sm-2 aeconly padding-group-textbox-popup3">
                                <label for="" class="text-left padding-label-popup" id="WFD02115_DPRE_AREA_31">31 @Html.GetLabelFromSystemMaster("FAS_TYPE", "DPRE_AREA", "31")</label>
                            </div>
                            <div class="col-sm-2 aeconly padding-group-textbox-popup3">
                                <label for="" class="text-left" id="WFD02115_DPRE_AREA_41">41 @Html.GetLabelFromSystemMaster("FAS_TYPE", "DPRE_AREA", "41")</label>
                            </div>
                            <div class="col-sm-2 aeconly Leasing-control padding-group-textbox-popup3">
                                <label for="" class="text-left" id="WFD02115_DPRE_AREA_81">81 @Html.GetLabelFromSystemMaster("FAS_TYPE", "DPRE_AREA", "81")</label>
                            </div>
                            <div class="col-sm-2 aeconly Leasing-control padding-group-textbox-popup3">
                                <label for="" class="text-left" id="WFD02115_DPRE_AREA_91">91 @Html.GetLabelFromSystemMaster("FAS_TYPE", "DPRE_AREA", "91")</label>
                            </div>
                        </div>
                    </div>
                    <div class="search-row form-group">
                        <div class="col-sm-2 text-right padding-label-popup">
                            <label for="" class="text-right padding-label-popup">Depreciation key </label>
                        </div>
                        <div class="col-sm-10">
                            <div class="col-sm-2 padding-group-textbox-popup3">
                                <input type="text" data-field="DPRE_KEY_01" data-dpre-area="01" class="form-control text-left dpre-typeahead required" id="WFD02115_DPRE_KEY_01" name="WFD02115_DPRE_KEY_01" maxlength="4" autocomplete="off">
                            </div>
                            <div class="col-sm-2 aeconly padding-group-textbox-popup3">
                                <input type="text" data-field="DPRE_KEY_15" data-dpre-area="15" class="form-control text-left dpre-typeahead required" id="WFD02115_DPRE_KEY_15" name="WFD02115_DPRE_KEY_15" maxlength="4" autocomplete="off">
                            </div>
                            <div class="col-sm-2 aeconly padding-group-textbox-popup3">
                                <input type="text" data-field="DPRE_KEY_31" data-dpre-area="31" class="form-control text-left dpre-typeahead required" id="WFD02115_DPRE_KEY_31" name="WFD02115_DPRE_KEY_31" maxlength="4" autocomplete="off">
                            </div>
                            <div class="col-sm-2 aeconly padding-group-textbox-popup3">
                                <input type="text" data-field="DPRE_KEY_41" data-dpre-area="41" class="form-control text-left dpre-typeahead required" id="WFD02115_DPRE_KEY_41" name="WFD02115_DPRE_KEY_41" maxlength="4" autocomplete="off">
                            </div>
                            <div class="col-sm-2 aeconly padding-group-textbox-popup3 Leasing-control">
                                <input type="text" data-field="DPRE_KEY_81" data-dpre-area="81" class="form-control text-left dpre-typeahead required" id="WFD02115_DPRE_KEY_81" name="WFD02115_DPRE_KEY_81" maxlength="4" autocomplete="off">
                            </div>
                            <div class="col-sm-2 aeconly padding-group-textbox-popup3 Leasing-control">
                                <input type="text" data-field="DPRE_KEY_91" data-dpre-area="91" class="form-control text-left dpre-typeahead required" id="WFD02115_DPRE_KEY_91" name="WFD02115_DPRE_KEY_91" maxlength="4" autocomplete="off">
                            </div>
                        </div>
                    </div>
                    <div class="search-row form-group">
                        <div class="col-sm-2 text-right padding-label-popup">
                            <label for="" class="text-right padding-label-popup">Useful Life Type </label>
                        </div>
                        <div class="col-sm-10">
                            <div class="col-sm-2 padding-group-textbox-popup3">
                                <input type="text" data-field="USEFUL_LIFE_TYPE_01" class="form-control text-left disabledalway" id="WFD02115_USEFUL_LIFE_TYPE_01" name="USEFUL_LIFE_TYPE_01">
                            </div>
                            <div class="col-sm-2 aeconly padding-group-textbox-popup3">
                                <input type="text" data-field="USEFUL_LIFE_TYPE_15" class="form-control text-left disabledalway" id="WFD02115_USEFUL_LIFE_TYPE_15" name="USEFUL_LIFE_TYPE_15">
                            </div>
                            <div class="col-sm-2 aeconly padding-group-textbox-popup3">
                                <input type="text" data-field="USEFUL_LIFE_TYPE_31" class="form-control text-left disabledalway" id="WFD02115_USEFUL_LIFE_TYPE_31" name="USEFUL_LIFE_TYPE_31">
                            </div>
                            <div class="col-sm-2 aeconly padding-group-textbox-popup3">
                                <input type="text" data-field="USEFUL_LIFE_TYPE_41" class="form-control text-left disabledalway" id="WFD02115_USEFUL_LIFE_TYPE_41" name="USEFUL_LIFE_TYPE_41">
                            </div>
                            <div class="col-sm-2 aeconly padding-group-textbox-popup3 Leasing-control">
                                <input type="text" data-field="USEFUL_LIFE_TYPE_81" class="form-control text-left disabledalway" id="WFD02115_USEFUL_LIFE_TYPE_81" name="USEFUL_LIFE_TYPE_81">
                            </div>
                            <div class="col-sm-2 aeconly padding-group-textbox-popup3 Leasing-control">
                                <input type="text" data-field="USEFUL_LIFE_TYPE_91" class="form-control text-left disabledalway" id="WFD02115_USEFUL_LIFE_TYPE_91" name="USEFUL_LIFE_TYPE_91">
                            </div>
                        </div>
                    </div>
                    <div class="search-row form-group">
                        <div class="col-sm-2 text-right padding-label-popup">
                            <label for="" class="text-right padding-label-popup">Useful Life in Years </label>
                        </div>
                        <div class="col-sm-10">
                            <div class="col-sm-2 padding-group-textbox-popup3">
                                <input type="text" data-field="PLAN_LIFE_YEAR_01" class="form-control text-right numberOnly required" id="WFD02115_PLAN_LIFE_YEAR_01" name="WFD02115_PLAN_LIFE_YEAR_01" maxlength="3" autocomplete="off">
                            </div>
                            <div class="col-sm-2 aeconly padding-group-textbox-popup3">
                                <input type="text" data-field="PLAN_LIFE_YEAR_15" class="form-control text-right numberOnly required" id="WFD02115_PLAN_LIFE_YEAR_15" name="WFD02115_PLAN_LIFE_YEAR_15" maxlength="3" autocomplete="off">
                            </div>
                            <div class="col-sm-2 aeconly padding-group-textbox-popup3">
                                <input type="text" data-field="PLAN_LIFE_YEAR_31" class="form-control text-right numberOnly required" id="WFD02115_PLAN_LIFE_YEAR_31" name="WFD02115_PLAN_LIFE_YEAR_31" maxlength="3" autocomplete="off">
                            </div>
                            <div class="col-sm-2 aeconly padding-group-textbox-popup3">
                                <input type="text" data-field="PLAN_LIFE_YEAR_41" class="form-control text-right numberOnly required" id="WFD02115_PLAN_LIFE_YEAR_41" name="WFD02115_PLAN_LIFE_YEAR_41" maxlength="3" autocomplete="off">
                            </div>
                            <div class="col-sm-2 aeconly padding-group-textbox-popup3 Leasing-control">
                                <input type="text" data-field="PLAN_LIFE_YEAR_81" class="form-control text-right numberOnly required" id="WFD02115_PLAN_LIFE_YEAR_81" name="WFD02115_PLAN_LIFE_YEAR_81" maxlength="3" autocomplete="off">
                            </div>
                            <div class="col-sm-2 aeconly padding-group-textbox-popup3 Leasing-control">
                                <input type="text" data-field="PLAN_LIFE_YEAR_91" class="form-control text-right numberOnly required" id="WFD02115_PLAN_LIFE_YEAR_91" name="WFD02115_PLAN_LIFE_YEAR_91" maxlength="3" autocomplete="off">
                            </div>
                        </div>
                    </div>
                    <div class="search-row form-group">
                        <div class="col-sm-2 text-right padding-label-popup">
                            <label for="" class="text-right padding-label-popup">Useful Life in Months </label>
                        </div>
                        <div class="col-sm-10">
                            <div class="col-sm-2 padding-group-textbox-popup3">
                                <input type="text" data-field="PLAN_LIFE_PERD_01" class="form-control text-right numberOnly required" id="WFD02115_PLAN_LIFE_PERD_01" name="WFD02115_PLAN_LIFE_PERD_01" maxlength="2" autocomplete="off">
                            </div>
                            <div class="col-sm-2 aeconly padding-group-textbox-popup3">
                                <input type="text" data-field="PLAN_LIFE_PERD_15" class="form-control text-right numberOnly required" id="WFD02115_PLAN_LIFE_PERD_15" name="WFD02115_PLAN_LIFE_PERD_15" maxlength="2" autocomplete="off">
                            </div>
                            <div class="col-sm-2 aeconly padding-group-textbox-popup3">
                                <input type="text" data-field="PLAN_LIFE_PERD_31" class="form-control text-right numberOnly required" id="WFD02115_PLAN_LIFE_PERD_31" name="WFD02115_PLAN_LIFE_PERD_31" maxlength="2" autocomplete="off">
                            </div>
                            <div class="col-sm-2 aeconly padding-group-textbox-popup3">
                                <input type="text" data-field="PLAN_LIFE_PERD_41" class="form-control text-right numberOnly required" id="WFD02115_PLAN_LIFE_PERD_41" name="WFD02115_PLAN_LIFE_PERD_41" maxlength="2" autocomplete="off">
                            </div>
                            <div class="col-sm-2 aeconly padding-group-textbox-popup3 Leasing-control">
                                <input type="text" data-field="PLAN_LIFE_PERD_81" class="form-control text-right numberOnly required" id="WFD02115_PLAN_LIFE_PERD_81" name="WFD02115_PLAN_LIFE_PERD_81" maxlength="2" autocomplete="off">
                            </div>
                            <div class="col-sm-2 aeconly padding-group-textbox-popup3 Leasing-control">
                                <input type="text" data-field="PLAN_LIFE_PERD_91" class="form-control text-right numberOnly required" id="WFD02115_PLAN_LIFE_PERD_91" name="WFD02115_PLAN_LIFE_PERD_91" maxlength="2" autocomplete="off">
                            </div>
                        </div>
                    </div>
                    <div class="search-row form-group">
                        <div class="col-sm-2 text-right padding-label-popup">
                            <label for="" class="text-right padding-label-popup">Scrap value </label>
                        </div>
                        <div class="col-sm-10">
                            <div class="col-sm-2 padding-group-textbox-popup3">
                                <input type="text" data-field="SCRAP_VALUE_01" class="form-control text-right decimalOnly" id="WFD02115_SCRAP_VALUE_01" name="WFD02115_SCRAP_VALUE_01" maxlength="14">
                            </div>
                            <div class="col-sm-2 aeconly padding-group-textbox-popup3">
                                <input type="text" data-field="SCRAP_VALUE_15" class="form-control text-right decimalOnly" id="WFD02115_SCRAP_VALUE_15" name="WFD02115_SCRAP_VALUE_15" maxlength="14">
                            </div>
                            <div class="col-sm-2 aeconly padding-group-textbox-popup3">
                                <input type="text" data-field="SCRAP_VALUE_31" class="form-control text-right decimalOnly" id="WFD02115_SCRAP_VALUE_31" name="WFD02115_SCRAP_VALUE_31" maxlength="14">
                            </div>
                            <div class="col-sm-2 aeconly padding-group-textbox-popup3">
                                <input type="text" data-field="SCRAP_VALUE_41" class="form-control text-right decimalOnly" id="WFD02115_SCRAP_VALUE_41" name="WFD02115_SCRAP_VALUE_41" maxlength="14">
                            </div>
                            <div class="col-sm-2 aeconly padding-group-textbox-popup3 Leasing-control">
                                <input type="text" data-field="SCRAP_VALUE_81" class="form-control text-right decimalOnly" id="WFD02115_SCRAP_VALUE_81" name="WFD02115_SCRAP_VALUE_81" maxlength="14">
                            </div>
                            <div class="col-sm-2 aeconly padding-group-textbox-popup3 Leasing-control">
                                <input type="text" data-field="SCRAP_VALUE_91" class="form-control text-right decimalOnly" id="WFD02115_SCRAP_VALUE_91" name="WFD02115_SCRAP_VALUE_91" maxlength="14">
                            </div>
                        </div>
                    </div>
                    <div class="search-row form-group">
                        <div class="col-sm-2 text-right">
                        </div>
                        <div class="col-sm-5">
                            <div class="col-sm-4">
                            </div>
                            <div class="col-sm-4 aeconly padding-group-textbox-popup3">
                                <div class="col-sm-1">
                                    <input id="WFD02115_DEACT_DEPRE_AREA_15" data-field="DEACT_DEPRE_AREA_15" type="checkbox" tabindex="3" style="margin-top: 8px;" />
                                </div>
                                <label for="WFD02115_DEACT_DEPRE_AREA_15" class="col-sm-3 control-label">Deactivate </label>
                            </div>
                            <div class="col-sm-4 aeconly">
                            </div>
                        </div>
                        <div class="col-sm-5">
                            <div class="col-sm-4 aeconly">
                            </div>
                            <div class="col-sm-4 aeconly">
                            </div>
                            <div class="col-sm-4 aeconly">
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>


        <div class="box box-danger">
            <div class="box-body" style="display: block;" id="Condition">
                <div class="col-lg-12 py-10">
                    <div class="form-group">
                        <div class="col-sm-12 text-right" style="padding-top:10px;">
                            <div class="input-inline" style="width: 100%;">
                                <label for="" class="text-left duplicaterow">Insert Asset</label>
                                @Html.CommonTextBox("INSERT_ASSET_ROWS", null, new { @class = "duplicaterow", style = "width: 50px", })
                                <label for="INSERT_ASSET_ROWS" class="text-left duplicaterow" style="padding-right:10px;">rows</label>

                                <button id="btnWFD02115OK" class="btn btn-success" tabindex="3"><i class="fa fa-check"></i>  OK </button>
                                <button id="btnWFD02115Close" class="btn btn-warning" tabindex="3"><i class="fa fa-power-off"></i>  Cancel </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</form>
@Html.Action("Index", "WFD02190")

@Html.Partial("../COMSCC/Index")

@section scripts {
    <script type="text/javascript">

        var WFD02115_MESSAGE = {
            SHOULD_NOT_EMPTY : '@ViewBag.MSTD0031AERR'
        }
        var GLOBAL = { //for search dialog
            GUID: '@Model.GUID',
            REQUEST_TYPE: '@Model.REQUEST_TYPE',
            COMPANY: '@Model.COMPANY',
            IsAEC: '@ViewBag.IsAEC',
            IsAECManager: '@ViewBag.IsAECManager',
            ALLOW_EDIT: '@ViewBag.AllowEdit',
            USER_LOGIN: '@ViewBag.USER_LOGIN'
        }
        var Params = {
            GUID: '@Model.GUID',
            DOC_NO: '@Model.DOC_NO',
            LINE_NO: '@Model.LINE_NO',
            NEW_LINE_NO: '@Model.NEW_LINE_NO',
            FLOW_TYPE: '@Model.FLOW_TYPE',
            MODE: '@Model.MODE',
            ORIGINAL_ASSET_NO: '@Model.ORIGINAL_ASSET_NO',
            ORIGINAL_ASSET_SUB: '@Model.ORIGINAL_ASSET_SUB',
            ROLEMODE: '@Model.ROLEMODE',
            INVEST_REASON: '@Model.INVEST_REASON',
            COST_CODE: '@Model.COST_CODE',
            RESP_COST_CODE: '@Model.RESP_COST_CODE',
            CUMU_ACQU_PRDCOST_01: '@Model.CUMU_ACQU_PRDCOST_01',
            COMPANY: '@Model.COMPANY',
            OPTION: '@Model.OPTION',
            WBS_BUDGET: '@Model.WBS_BUDGET',
            ASSET_CLASS: '@Model.ASSET_CLASS',
            IS_FIRST_ASSET: @(Model.IS_FIRST_ASSET ? "true" : "false")
        }
        var URL_CONST = {
            WFD02115_SaveAssetsData: '@Url.Action("SaveAssetsData", "WFD02115")',
            WFD02115_SaveAssetsReclassData: '@Url.Action("SaveAssetsReclassData", "WFD02115")',
            WFD02115_GetAssetsData: '@Url.Action("GetAssetsData", "WFD02115")',
            WFD02115_GetFixedAssetMaster: '@Url.Action("GetFixedAssetMaster", "WFD02115")',
            WFD02115_GetFixedAssetMasterForReclass: '@Url.Action("GetFixedAssetMasterForReclass", "WFD02115")',
            WFD02115_GetFixedAssetMasterForSettlement: '@Url.Action("GetFixedAssetMasterForSettlement", "WFD02115")',
            WFD02115_GetWBSData: '@Url.Action("GetWBSData", "WFD02115")',
            WFD02115_GetDeriveWBSBudget: '@Url.Action("GetDeriveWBSBudget", "WFD02115")',
            WFD02115_GetDepreciationData: '@Url.Action("GetDepreciationData", "WFD02115")',
            WFD02115_GetDepreciationAutocomplete: '@Url.Action("GetDepreciationAutocomplete", "WFD02115")',
            WFD02115_GetOriginalAssetsData: '@Url.Action("GetOriginalAssetsData", "WFD02115")',
            InsertNewToTargetAssets: '@Url.Action("InsertNewToTargetAssets", "WFD02710")',

        }

        var URL_COMSCC = {
            ITEM_PER_PAGE: 20,
            SEARCH_COST_CODE: '@Url.Action("COMSCC_Search", "COMSCC")',
            SET_INITIAL_PARAMETER_TEMP: '@Url.Action("Index", "COMSCC")',
            SET_INITIAL_PARAMETER: '@Url.Action("Index", "COMSCC")?AllCostCode=N&AssetOwnerFlag=Y',
            DefaultCostCode: '@Model.COST_CODE'
        }

        var DPRE_TYPE = {
            BC: '@Model.DPRE_TYPE_DESC_BC',
            VL: '@Model.DPRE_TYPE_DESC_VL',
            NA: '@Model.DPRE_TYPE_DESC_NA'
        }
        var DPRE_AREA = {
            DESC_01: '01 @Html.GetLabelFromSystemMaster("FAS_TYPE", "DPRE_AREA", "01")',
            DESC_15: '15 @Html.GetLabelFromSystemMaster("FAS_TYPE", "DPRE_AREA", "15")',
            DESC_31: '31 @Html.GetLabelFromSystemMaster("FAS_TYPE", "DPRE_AREA", "31")',
            DESC_41: '41 @Html.GetLabelFromSystemMaster("FAS_TYPE", "DPRE_AREA", "41")',
            DESC_81: '81 @Html.GetLabelFromSystemMaster("FAS_TYPE", "DPRE_AREA", "81")',
            DESC_91: '91 @Html.GetLabelFromSystemMaster("FAS_TYPE", "DPRE_AREA", "91")',
        }

        var assetClassOutsourceList = [];
        @foreach (var d in Model.assetClassOutsource)
        {
            @:assetClassOutsourceList.push("@d.CODE");
        }

        var WFD02115_VARIABLES = {
            ASSET_CLASS_OUTSOURCE : assetClassOutsourceList
        }

    </script>
    <script type="text/javascript" src="~/JS/search-helper.js"></script>
    <script type="text/javascript" src="~/JS/WFD02190.js"></script>
    <script type="text/javascript" src="~/JS/WFD02115.js"></script>
    <script type="text/javascript" src="~/JS/COMSCC.js"></script>
}
