﻿@*<div class="box box-success" id="WFD02115_SearchDataRow">
    <div class="box-header with-border">
        <h3 class="box-title">
            Search result  
        </h3>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="" data-original-title="Collapse">
                <i class="fa fa-minus"></i>
            </button>
        </div>
    </div>
    <div class="box-body">
        <div class="col-lg-12">
            <div class="form-group">
                <div class="col-sm-4">
                </div>
                <div class="col-sm-8 text-right">
                    <button id="WFD02115OK" class="btn btn-success" tabindex="3"><i class="fa fa-check"></i>  OK </button>
                    <button id="WFD02115Cancel" class="btn btn-warning" tabindex="3"><i class="fa fa-remove"></i>  Cancel </button>
                </div>
            </div>
        </div>
        <div id="WFD02115_SearchResult" class="col-lg-12">
            <table id="WFD02115_SearchResultTable" class="table table-bordered table-striped table-hover table-th-center" style="margin-top: 10px; font-size:12px; border-radius: 3px;">
                <thead style="height:40px;">
                    <tr>
                        <th class="text-center" style="width: 40px;"><input id="WFD02115_selectAll" type="checkbox" style="margin-left: 15px;" /></th>
                        <th style="width: 40px; text-align:center;">No</th>
                        <th style="width: 60px; text-align:center;">  Cost<br />Center</th>
                        <th style="width: 40px; text-align:center;">  Sub<br />Type</th>
                        <th style="width: 118px; text-align:center;">Asset No</th>
                        <th style="min-width: 150px; text-align:center;">Asset Name</th>
                        <th style="width: 60px; text-align:center;">PO No</th>
                        <th style="width: 150px; text-align:center;">Supplier</th>
                        <th style="width: 78px; text-align:center;"> Date in<br />Service</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>*@