﻿<script>
    var URLComUpload = {
        CheckUploadFile: '@Url.Action("CheckFileUpload", "ComUpload")',
        UploadAssetFile: '@Url.Action("UploadAttchDoc", "ComUpload")',
        DeleteFileTemp: '@Url.Action("AssetDeleteAttchDoc", "ComUpload")',
        GetFileAttchDoc: '@Url.Action("GetAttchDoc", "ComUpload")',
        InsertFile: '@Url.Action("SaveAttchDoc", "ComUpload")',
        GetZipFileAttchDoc: '@Url.Action("DownloadFileZip", "ComUpload")',
    }
</script>

<style>
    .attach {
        padding:2px;
    }

    .attach > .thumbnail {
        margin-bottom: 10px;

    }

    .attach > .thumbnail > .caption {
        position: absolute;
        top: 5px;
        right: 7px;
        margin: 0px;
        padding: 0px;
        cursor:pointer;
    }

    .attach > .thumbnail > .caption:hover {
        color: #dd4b39;
        transform: scale(1.1);
    }

</style>

<div class="modal fade" id="CommonUpload" tabindex="99" role="dialog">
    <div class="modal-dialog" style="width:600px; margin-top:20px;">
        <div class="modal-content Radius12" style="width:600px;">
            <div class="modal-header">
                <button id="CommonUploadModal" type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="lblUploadFileText">Upload Quotation File Dialog</h4>
            </div>
            <div class="modal-body">
                <div id="AlertMessageCommonUpload" class="message-area">
                </div>
                <div class="form-horizontal">
                    <div class="box box-info">
                        <div class="box-header with-border">
                            <h3 class="box-title">
                              
                            </h3>
                            <div class="box-tools pull-right" style="text-align:right">
                                <input type="file" multiple id="btnAddMultipleFile" style="visibility:hidden;height:0px;width:0px;" />
                                <button id="CommonUploadBtn" class="btn btn-primary"><i class="fa fa-upload"></i>  Upload </button>
                                <button id="CommonDownloadBtn" class="btn btn-info"><i class="fa fa-download"></i>  Download </button>
                            </div>
                        </div>
                        <div class="box-body">
                            <div class="col-sm-12">
                                <div class="form-group" id="DivFileList" style="min-height:100px;">
                                  
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer RadiusBottom12 FooterModel">
                <div class="form-inline form-in">
                    <div class="navbar-right">
                        <button class="btn btn-sm btn-info" id="btnComUploadSave" type="button"><i class="fa fa-save"></i> Save </button>
                        <button class="btn btn-sm btn-warning" data-dismiss="modal" id="btnCancelComUpload" type="button"><i class="fa fa-ban"></i> Cancel </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>


