﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Test Login</h2>
<div class="box box-primary">
    <div class="box-header with-border">
       
    </div>
    
    <div style="height:3px; background-color:lightblue;"></div>
</div>

<script type="text/javascript">
    $('#btnLogin').click(function (e) {
        var _data = {
            COMPANY: $('#txtCompany').val(),
            USER_ID: $('#txtUserID').val(),
        }
        ajax_method.Post("/Home/TestLogin", _data, false, function (result) {
            console.log(result);
            if (result.IsError) {
                fnErrorDialog("Login Error", result.Message);
                return;
            }

            fnErrorDialog("Login OK", result.Message);

        }, null);
    })

</script>




