﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>:: Toyota Fixed Assets Online System</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">


    <link rel="stylesheet" href="~/InitializeComponents/Content/Components/plugins/jQueryUI/jquery-ui.css">

    <!-- Bootstrap 3.3.5 -->
    <link rel="stylesheet" href="@Url.Content("~/InitializeComponents/Content/Components/bootstrap/css/bootstrap.min.css")">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="@Url.Content("~/InitializeComponents/Content/Components/dist/font-awesome/css/font-awesome.min.css")">
    <!-- Ionicons -->
    <!-- Theme style -->
    <link rel="stylesheet" href="@Url.Content("~/InitializeComponents/Content/Components/dist/css/AdminLTE.min.css")">

    <link rel="stylesheet" href="@Url.Content("~/InitializeComponents/Content/Components/plugins/select2/select2.min.css")">



    <link rel="stylesheet" href="~/InitializeComponents/Content/Components/plugins/jquery.timepicker/jquery.ui.timepicker.css" />

    <!-- fullCalendar 2.2.5-->
    <link href="@Url.Content("~/InitializeComponents/Content/Components/plugins/datatables/dataTables.bootstrap.css")" rel="stylesheet" />
    <!-- Custom style sheet for this site -->
    <link rel="stylesheet" href="~/InitializeComponents/Content/style-content/form.css" />
    <link rel="stylesheet" href="~/InitializeComponents/Content/style-content/table.css" />
    <link rel="stylesheet" href="~/InitializeComponents/Content/style-content/site-bootstrap.css" />
    <link rel="stylesheet" href="~/InitializeComponents/Content/style-content/dialog.css" />
    <link rel="stylesheet" href="~/InitializeComponents/Content/style-content/datetime-picker.css" />
    <link rel="stylesheet" href="~/InitializeComponents/Content/bootstrap-multiselect.css" />

    <!-- Date Picker -->
    @*<link rel="stylesheet" href="@Url.Content("~/InitializeComponents/Content/Components/plugins/datepicker/datepicker3.css")">*@
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="@Url.Content("~/InitializeComponents/Content/Components/dist/css/skins/_all-skins.min.css")">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="../InitializeComponents/Scripts/html5shiv.min.js"></script>
        <script src="../InitializeComponents/Scripts/respond.min.js"></script>
    <![endif]-->
    <!-- jQuery 2.1.4 -->
    @*<script src="@Url.Content("~/InitializeComponents/Content/Components/plugins/jQuery/jQuery-2.1.4.min.js")"></script>*@
    <script src="~/InitializeComponents/Content/Components/plugins/jQuery/jquery.min.js"></script>

    <!-- Bootstrap 3.3.5 -->
    <script src="@Url.Content("~/InitializeComponents/Content/Components/bootstrap/js/bootstrap.min.js")"></script>
    <!-- SlimScroll -->
    <script src="@Url.Content("~/InitializeComponents/Content/Components/plugins/slimScroll/jquery.slimscroll.min.js")"></script>
    <!-- FastClick -->
    <!-- AdminLTE App -->
    <script src="@Url.Content("~/InitializeComponents/Content/Components/dist/js/app.min.js")"></script>

    <!-- Dropdown List with auto Filter/Input-->
    <script src="@Url.Content("~/InitializeComponents/Content/Components/plugins/select2/select2.full.min.js")"></script>



    <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
    <!-- Date Picker-->
    @*<script src="@Url.Content("~/InitializeComponents/Content/Components/plugins/datepicker/bootstrap-datepicker.js")"></script>*@
    <script src="~/InitializeComponents/Content/Components/plugins/jQueryUI/jquery-ui.js"></script>
    <!-- Confirm Dialog-->
    <script src="@Url.Content("~/InitializeComponents/Content/Components/plugins/confirmation/bootbox.min.js")"></script>

    <script type="text/javascript" src="~/InitializeComponents/Content/Components/plugins/jquery.timepicker/jquery.ui.timepicker.js"></script>


    <script src="@Url.Content("~/InitializeComponents/Scripts/bootstrap3-typeahead.js")"></script>
    @*<script src="@Url.Content("~/InitializeComponents/Scripts/gridmvc.min.js")"></script>*@
    <script src="@Url.Content("~/InitializeComponents/Scripts/jquery.printPage.js")"></script>
    <!-- Date Table-->
    <script src="~/InitializeComponents/Content/Components/plugins/daterangepicker/moment.js"></script>
    <script src="@Url.Content("~/InitializeComponents/Content/Components/plugins/datatables/jquery.dataTables.min.js")"></script>
    <script src="@Url.Content("~/InitializeComponents/Content/Components/plugins/datatables/dataTables.bootstrap.min.js")"></script>
    <script src="~/InitializeComponents/Content/Components/plugins/datatables/datetime.js"></script>
    <script type="text/javascript" src="~/InitializeComponents/Content/Components/plugins/numberFormat/jquery.numberformatter.min.js"></script>
    <script type="text/javascript" src="~/InitializeComponents/Content/Components/plugins/jquery-dateFormat/jquery-dateFormat.min.js"></script>

    @*PERIOD*@
    <link href="~/InitializeComponents/Content/jquery.periodpicker.css" rel="stylesheet" />
    <link href="~/InitializeComponents/Content/jquery.timepicker.css" rel="stylesheet" />
    <script src="~/InitializeComponents/Scripts/jquery.mousewheel.min.js"></script>
    <script src="~/InitializeComponents/Scripts/jquery.periodpicker.full.min.js"></script>
    <script src="~/InitializeComponents/Scripts/jquery.timepicker.min.js"></script>

    <!-- Custom script for this site -->
    <script type="text/javascript" src="~/InitializeComponents/Scripts/Common/Master.js"></script>
    <script type="text/javascript" src="~/InitializeComponents/Scripts/Common/json.js"></script>
    <script type="text/javascript" src="~/InitializeComponents/Scripts/Common/AjaxCommon.js"></script>
    <script type="text/javascript" src="~/InitializeComponents/Scripts/Common/input.js"></script>
    <script type="text/javascript" src="~/InitializeComponents/Scripts/Common/datatable-pagin.js"></script>
    <script type="text/javascript" src="~/InitializeComponents/Scripts/Common/MessageAlert.js"></script>
    <script type="text/javascript" src="~/InitializeComponents/Scripts/Common/box-minimise.js"></script>
    <script type="text/javascript" src="~/InitializeComponents/Scripts/Common/DataFormat.js"></script>

    <script type="text/javascript" src="~/InitializeComponents/Scripts/bootstrap-multiselect.js"></script>

    <style>
        body.loading {
            overflow: hidden;
        }

            body.loading .boxLoading {
                display: block;
            }

        .main-footer {
            background: #dd4b39;
            padding: 5px;
            color: #fff;
            border-top: 1px solid #d2d6de;
            text-align: center;
        }

        .require {
            background-color: yellow;
        }

        .file-upload {
            position: relative;
            overflow: hidden;
            margin: 10px;
        }

            .file-upload input.file-input {
                position: absolute;
                top: 0;
                right: 0;
                margin: 0;
                padding: 0;
                font-size: 20px;
                cursor: pointer;
                opacity: 0;
                filter: alpha(opacity=0);
            }
        /*
        .layout-boxed .wrapper {
            max-width: 1250px;  //ปรับความกว้างของหน้าจอ ในกรณีจอเล็ก
        } */
    </style>
</head>
<body>
    <section id="wrapper">
        <div class="login-register" style="background-image:url(assets/images/background/bg.jpg);">
            <div class="login-box" id="loginBox" style="background-color:rgba(254, 232, 0, 1);">
                <div style="padding: 1.25rem">
                    <form class="form-horizontal" id="loginform">
                        <h3 class="box-title m-b-20">Start Your Impossible</h3>

                        <div class="form-group" style="text-align:left;margin-bottom:25px">
                            <div class="col-xs-12">
                                <span id="text-login-msg">Company</span>
                                <select class="form-control" id="txtCompany">
                                    <option value="TMT">TMT</option>
                                    <option value="STM">STM</option>
                                    <option value="TDEM" selected>TDEM</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group" style="text-align:left;margin-bottom:25px">
                            <div class="col-xs-12">
                                <span id="text-login-msg">Employee No</span>
                                <input type="text" class="form-control" id="txtUserID" value="301252" maxlength="20" />
                            </div>
                        </div>
                        <div class="form-group text-center">
                            <div class="col-xs-12">
                                <button type="button" id="btnLogin" class="btn-info btn-lg btn-block text-uppercase waves-effect waves-light" style="margin-top: 0px;">Let GO</button>
                            </div>
                        </div>

                    </form>

                </div>
            </div>
        </div>

    </section>
   
    <script>

    function fnErrorDialog(title, msg) {

        if (title == null) {
            title = "Error";
        }
        bootbox.dialog({
            message: "<span class=\"text-danger\">" + msg + "</span>",
            title: "<span class=\"text-danger\">" + title + "</span>",
            buttons: {
                danger: {
                    label: "Close",
                    className: "btn-danger",
                    callback: function () {

                    }
                }
            }
        });//End of confrim
    }
    function fnCompleteDialog2(msg, callback) {

        bootbox.dialog({
            message: "<span class=\"text-success\">" + msg + "</span>",
            title: "<span class=\"text-success\">Success</span>",
            buttons: {
                danger: {
                    label: "Close",
                    className: "btn-success",
                    callback: callback
                }
            }
        });//End of confrim
    }
    function fnCompleteDialog(msg) {
        bootbox.dialog({
            message: "<span class=\"text-success\">" + msg + "</span>",
            title: "<span class=\"text-success\">Success</span>",
            buttons: {
                danger: {
                    label: "Close",
                    className: "btn-success"
                }
            }
        });//End of confrim
    }

    //var loadConfirmAlert = function (message, callback) {
    //    bootbox.confirm(message, function (result) {
    //        callback && callback(result);
    //    });
    //}

    var loadConfirmAlert = function (message, callback) {
        bootbox.confirm({
            title: "Confirm Dialog",
            message: message,
            callback: function (result) {
                callback && callback(result);
            }
        });
    }


    jQuery(function ($) {
        $('input[data-visible="false"').each(function () {
            $(this).css('display', 'none');
        });
        $('button[data-visible="false"').each(function () {
            $(this).css('display', 'none');
        });

        //Random
        //style="background-color:rgba(254, 232, 0, 1);"
        var min = 1;
        var max = 255;
        var r = Math.random() * (+max - +min) + +min;
        var g = Math.random() * (+max - +min) + +min;
        var b = Math.random() * (+max - +min) + +min;


        $('#loginBox').css('background-color', 'rgba('+r+', '+g+', '+b+', 1)');

        $(document).ajaxStop(function () {
            $("#ajax_loader").hide();
        });
        $(document).ajaxStart(function () {
            $("#ajax_loader").show();
        });
        //Initialize Select2 Elements
        $(".select2").select2({ width: '100%' });
        //$('.datepicker').datepicker({
        //    autoclose: true,
        //    format: 'dd-M-yyyy',
        //});
        //$(".datepicker").datepicker({ dateFormat: "dd-M-yyyy" });
        $('.datepicker').datepicker({
            // dateFormat: 'dd-M-yy',
            dateFormat: 'dd.mm.yy',
            //comment the beforeShow handler if you want to see the ugly overlay
            beforeShow: function () {
                setTimeout(function () {
                    $('.ui-datepicker').css('z-index', 99999999999999);
                }, 0);
            }
        });

        //$('#myTooltip').tooltip();

        $('.timepicker').timepicker();

        //$(".datepicker").keypress(function (evt) {

        //    return false;
        //});

        //setBodyContentHeight()
        $(window).resize(function () {
            //setBodyContentHeight()
        });

        // Modal show in centre screen
        //$('.modal').on('show.bs.modal', reposition);
        //// Reposition when the window is resized
        //$(window).on('resize', function () {
        //    $('.modal:visible').each(reposition);
        //});

        //$(".timepicker").keypress(function (evt) {
        //    return false;
        //});




    });
    function reposition() {
        var modal = $(this),
            dialog = modal.find('.modal-dialog');
        modal.css('display', 'block');

        // Dividing by two centers the modal exactly, but dividing by three
        // or four works better for larger screens.
        dialog.css("margin-top", Math.max(0, ($(window).height() - dialog.height()) / 2));
    }
    function setBodyContentHeight() {
        var height = $(window).height() - $('.navbar-static-top').height() - 100;
        $('#body-content').css('min-height', height + 'px')
    }

    function CheckDate() {
        var startDate = $('.datefrom').val();
        var endDate = $('.dateto').val();
        if ((Date.parse(startDate) >= Date.parse(endDate))) {
            return false;
        }
        return true;
    }

    function dtConvFromJSON(data) { //genformat date dd-M-yyyy
        if (data == null) return '1/1/1950';
        var r = /\/Date\(([0-9]+)\)\//gi
        var matches = data.match(r);
        if (matches == null) return '1/1/1950';
        var result = matches.toString().substring(6, 19);
        var epochMilliseconds = result.replace(
        /^\/Date\(([0-9]+)([+-][0-9]{4})?\)\/$/,
        '$1');
        var b = new Date(parseInt(epochMilliseconds));
        var c = new Date(b.toString());
        var curr_date = c.getDate();
        var curr_month = c.getMonth() + 1;
        var curr_year = c.getFullYear();
        //var curr_h = c.getHours();
        //var curr_m = c.getMinutes();
        //var curr_s = c.getSeconds();
        //var curr_offset = c.getTimezoneOffset() / 60;
        var month = ["01", "02", "03", "04", "05", "06",
    "07", "08", "09", "10", "11", "12"][curr_month];
        var d = n(curr_date) + '.' + month + '.' + curr_year;
        return d;
    }
    function n(n) {//number 2 digit
        if (n >= 0) {
            return n > 9 ? "" + n : "0" + n;
        } else {
            return n < -9 ? "" + n : "-0" + Math.abs(n);
        }
    }
    function ClickIconDate(date) { //send Id txt date
        if ($('#' + date).is(':disabled')) {
            return;
        }

        $('#' + date).datepicker("show");
    }
    function CheckExtension(ext, arr, filename, extension_text) {
        return CheckExtensionPopup(ext, arr, filename, extension_text, false);
    }
    //Display Message On poup
    function CheckExtensionPopup(ext, arr, filename, extension_text, _popup) {
        if (!_popup) {
            ClearMessageC(); //Add by Surasith ;
        } else {
            ClearMessage("#AlertMessageAreaPopup");
        }
        if (arr.indexOf(ext.toUpperCase()) != -1) {
            return true;
        }
        if (!_popup) {
            //fnErrorDialog('Error', 'File ' + filename + ' is not expected file type ' + extension_text);
            AlertTextErrorMessage('MSTD7013BERR : File ' + filename + ' is not expected file type ' + extension_text);
        } else {
         //   $('#AlertMessageAreaPopup').html('MSTD7013BERR : File ' + filename + ' is not expected file type ' + extension_text);
            AlertTextErrorMessagePopup('MSTD7013BERR : File ' + filename + ' is not expected file type ' + extension_text, "#AlertMessageAreaPopup");
            //AlertMessageArea
        }
        return false;
    }

    function GetSearchCriteria(_txt) {
        return _txt.val();
        //if (_txt == null || _txt.val() == null || _txt.val() == "")
        //    return _txt.val();
        ////console.log("1");
        //var _rs = _txt.val();
        //if (!_rs.match("^%")) {
        //    // do this if begins with Hello
        //    _rs = '%' + _rs;
        //}
        ////console.log("2");
        //if (!_rs.match("%$")) {
        //    // do this if ends in world
        //    _rs = _rs + '%';
        //}
        ////console.log("3");
        //return _rs;
    }

    var getUrlParameter = function getUrlParameter(sParam) {
        var sPageURL = decodeURIComponent(window.location.search.substring(1)),
            sURLVariables = sPageURL.split('&'),
            sParameterName,
            i;

        for (i = 0; i < sURLVariables.length; i++) {
            sParameterName = sURLVariables[i].split('=');

            if (sParameterName[0] === sParam) {
                return sParameterName[1] === undefined ? true : sParameterName[1];
            }
        }
    };
    $('#btnLogin').click(function (e) {
        var _data = {
            COMPANY: $('#txtCompany').val(),
            USER_ID: $('#txtUserID').val(),
        }
        ajax_method.Post("/Home/TestLogin", _data, false, function (result) {
            console.log(result);
            if (result.IsError) {
                fnErrorDialog("Login Error", result.Message);
                return;
            }

            fnCompleteDialog2("Login OK", function () {
                window.location.href = "../WFD01110/";
            });

        }, null);
    })
    </script>

</body>

</html>
