﻿<div class="box box-primary">
    <div class="box-header with-border">
        <h3 class="box-title">Approver</h3>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                <i class="fa fa-minus"></i>
            </button>
        </div>
    </div>
    <div class="box-body">
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <div class="col-sm-4">
                    </div>
                    <div class="col-sm-8 text-right">
                        @Html.Button("WFD01270SaveApprover", "Change Approver", new { @class = "btn btn-info", tabindex = "10" }, TagHelper.BUTTON_TYPES.EXPORT)
                        @Html.Button("WFD01270GenerateApprover", "Generate Approver List", new { @class = "btn btn-info", tabindex = "10" }, TagHelper.BUTTON_TYPES.EXPORT)
                        @Html.Button("WFD01270ResetApprover", "Reset Approver List ", new { @class = "btn btn-warning", tabindex = "11" }, TagHelper.BUTTON_TYPES.CLEAR)
                    </div>
                </div>
            </div>
        </div>
        <div class="row" id="WFD01270Approver">
            
        </div>
        <div class="row" id="WFD01270Multipledocument">

        </div>
    </div>
</div>

