﻿@model IEnumerable<th.co.toyota.stm.fas.Models.WFD01270.WFD01270CommentHistoryModel>
    <style>
        .comment_body {
            font-size:13px;
        }
    </style>
<div class="box-body">
    <div class="row box-body">       
        <div class="col-md-12">          
            <ul class="timeline timeline-inverse">  
               @foreach (var item in Model)
               {
                   <li>
                    <i class="@item.ICON_DISPLAY"></i>
                    <div class="timeline-item">
                        @if (item.ATTACH_FILE == null || item.ATTACH_FILE == "")
                        {
                            <span class="time"><i class='fa fa-clock-o'>  </i>@item.CREATE_DATE</span>
                        }
                        else
                        {
                            <span class="time"><a style="font-size:12px; line-height:0.8;height:24px;" download class="btn btn-primary btn-xs" target="_blank" href='/WFD01270/DownloadFileTemp?FILENAME=@item.ATTACH_FILE&FunctionID=WFD01270&Type=COMMENT' ><span class="glyphicon glyphicon-download-alt"></span> Download file </a> <i class='fa fa-clock-o'>  </i>@item.CREATE_DATE</span>
                        }
                        <h3 class="timeline-header" style="overflow-x:hidden"><a href="#/"> @item.EMP_NAME</a><span class="comment_body"> @item.COMMENT</span></h3>
                        <div class="timeline-body" style="background-color:white; border-top:1px solid #f4f4f4;"></div>                        
                    </div>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>
