﻿<div class="box box-primary">
    <div class="box-header with-border">
        <h3 class="box-title">Comment Info</h3>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                <i class="fa fa-minus"></i>
            </button>
        </div>
    </div>
    <div class="box-body" id="CommentInfo">
        <div class="col-sm-12" >
            <div class="form-group">
                <label for="TRANSACTION_TYPE" class="col-sm-12">Comment :</label>
                <div class="col-sm-10">
                    @*@Html.CommonTextBox("WFD01270_COMMENT_INFO", null, new { @class = "form-control", style = "width: 100%;", tabindex = "20" })*@
                    <textarea class="form-control" rows="5" id="WFD01270_COMMENT_INFO" tabindex="20"></textarea>
                </div>
                <div class="col-sm-2" style="text-align:right;">
                    <button id="WFD01270_UPLOAD_COMMENT_INFO_BTN" type="button" class="btn btn-info" tabindex="21"><i class="fa fa-upload"></i> Upload </button>
                    <a id="WFD01270_UPLOAD_COMMENT_INFO_DOWNLOAD" href="#" class="" style="display:none;"><i class="fa fa-paperclip"></i></a>
                    <p class="inlineBlock" title="" data-original-title="View File" data-toggle="tooltip" data-placement="top">
                        <a id="WFD01270_UPLOAD_COMMENT_INFO_VIEW" href="#" class="btn btn-sm btn-view-file" style="display:none;"><span class="glyphicon glyphicon-paperclip"></span></a>
                    </p>
                    <input id="WFD01270_UPLOAD_COMMENT_INFO_FILE" type="file" style="display:none;" class="form-control" onchange="WFD01270_SetButtonAndUploadFile();" />
                    <button id="WFD01270_UPLOAD_COMMENT_INFO_DEL" type="button" style="display:none;" onclick="WFD01270DelUploadCommentFileClick()" class="btn btn-warning"><i class="fa fa-remove"></i> Remove File </button>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="form-group">
                <div class="col-sm-9">
                    <input type="text" id="WFD01270FileUploadTB" style="display:none;" />
                </div>
            </div>
        </div>
    </div>
</div>
