﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/InitializeComponents/Content/style-content/animate.css" />
<style>
    .fasWarning {
        border-radius: 3px;
        margin: 0px;
        padding: 15px 30px 15px 15px;
        border-left: 5px solid #db8b0b !important;
    }

    .fasdanger {
        border-radius: 3px;
        margin: 0px;
        padding: 15px 30px 15px 15px;
        border-left: 5px solid #d33724 !important;
    }

    .alertNotify {
        padding: 15px;
        margin-bottom: 20px;
        border: 1px solid transparent;
        border-radius: 4px;
    }

    .modal-content { /*for confirm dialog*/
        border-radius: 5px;
        width: 700px;
    }

    .modal-dialog { /*for confirm dialog*/
        margin-top: 150px;
        width: 510px;
    }
    .stick {
        position: fixed;
        top: -12px;
        z-index: 999 !important;/*2017-06-09 Suphachai L. Old 9999 Support z-index < dialog Submit Success */
        /*margin-top: -12px;*/
    }
    .inlineBlock {
        display:inline-block;       
    }
    .btn-view-file {
        background-color:white;
        color:black;
        padding-right:5px;
        display:inline-block;
        border-color:black;
    }
</style>
<div class="fasWarning alert alert-warning alert-dismissible" id="WFD01270_WARNING" style="display:none;">
    <p>@ViewBag.HigherMessage</p>
</div>
<div class="fasdanger alert alert-danger alert-dismissible" id="WFD01270_NoAuthorize" style="display:none;">
    <h4><i class="icon fa fa-ban"></i> Alert!</h4>
    <p>@ViewBag.NoAuthorize</p>
</div>
<div class="form-horizontal" id="WFD01270_Main">
    <nav id="sticker">
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Doc No</h3>
            <div class="box-tools pull-right">
                    @Html.Button("WFD01270Submit", "Submit", new { @class = "btn btn-success", style = "display:none;" }, TagHelper.BUTTON_TYPES.OK)
                    @Html.Button("WFD01270Approve", "Approve", new { @class = "btn btn-info", style = "display:none;" }, TagHelper.BUTTON_TYPES.OK)
                    @Html.Button("WFD01270Reject", "Reject", new { @class = "btn btn-danger", style = "display:none;" }, TagHelper.BUTTON_TYPES.CANCEL)
               
            </div>
        </div>
        <div class="box-body">
            <div class="col-sm-12">
                
                    <div class="form-group">
                        <label for="WFD01270_COMPANY" class="col-sm-2 control-label">Company :</label>
                        <div class="col-sm-2">
                            @Html.CompanyCombobox("WFD01270_COMPANY", new { @class = "form-control select2", tabindex = "1" }, true)
                        </div>
                        <label for="WFD01270_DOC_NO" class="col-sm-2 control-label">หมายเลขเอกสาร/Document No. :</label>
                        <div class="col-sm-2">
                            @Html.CommonTextBox("WFD01270_DOC_NO", null, new { @class = "form-control", style = "width: 100%;", disabled = "disabled", maxlength = "10" })
                            <input id="WFD01270_UPDATE_DATE" style="display:none;" />
                        </div>
                        <label for="WFD01270_STATUS" class="col-sm-2 control-label">สถานะปัจจุบัน/Current Status :</label>
                        <div class="col-sm-2">
                            @Html.CommonTextBox("WFD01270_STATUS", null, new { @class = "form-control", style = "width: 100%;", disabled = "disabled", maxlength = "50" })
                        </div>
                    </div>
              
            </div>
        </div>
		<div style="height:3px; background-color:lightblue;"></div>
    </div>
        
    </nav>

    @Html.Partial("Requestor")
    @if (ViewBag.REQUEST_TYPE == "T")
    {
        @Html.Partial("../WFD02410/NewAssetOwner")
    }
    @if (ViewBag.REQUEST_TYPE == "C")
    {
        @Html.Partial("../WFD02210/CIPRequest")
    }
    @if (ViewBag.REQUEST_TYPE == "T")
    {
        @Html.Partial("../WFD02410/TransferRequest")
    }
    @if (ViewBag.REQUEST_TYPE == "D")
    {
        @Html.Partial("../WFD02510/DisposeRequest")
    }
    @if (ViewBag.REQUEST_TYPE == "S")
    {
        @Html.Partial("../WFD02640/Index")
    }
    @if (ViewBag.REQUEST_TYPE == "P" || ViewBag.REQUEST_TYPE == "R" || ViewBag.REQUEST_TYPE == "L")
    {
        @Html.Partial("../WFD02310/ReprintRequest")
    }
    @if (ViewBag.REQUEST_TYPE == "A") // For WFD02111
    {
        @Html.Partial("../WFD02111/RequestScreen")
    }
    @Html.Partial("Approver")
    @Html.Partial("CommentInfo")


    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Comment History</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                    <i class="fa fa-minus"></i>
                </button>
            </div>
        </div>
        <div class="box-body" id="CommentHistory">
        </div>
    </div>
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title"> Workflow Tracking Process</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                    <i class="fa fa-minus">
                    </i>
                </button>
            </div>
        </div>
        <div class="box-body" id="WFD01270WorkflowTrackingProcess">

        </div>
    </div>
</div>
<div class="modal fade" id="WFD01270_AlertSumbit" tabindex="1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content" style="width:700px;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="window.location='@Url.Action("Index","WFD01110")'">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title"><label id="WFD01270ALERT_TITLE" for="WFD01270ALERT_TITLE"></label></h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label id="WFD01270ALERT_SUBJECT" for="WFD01270ALERT_SUBJECT"></label>
                    <div class="col-sm-12" id="WFD01270_DisplayMessage">

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="form-group text-right">
                    @*<span id="WFD01270_RedirectInformation"></span><button type="button" id="WFD01270_CloseRequester" class="btn btn-warning" onclick="window.location='@Url.Action("Index","WFD01110")'"><i class="fa fa-close"></i> Close </button>*@
                    @* Auto Redirect and Select tab by Pawares M. 20180712*@
                    <span id="WFD01270_RedirectInformation"></span><button type="button" id="WFD01270_CloseRequester" class="btn btn-warning"><i class="fa fa-close"></i> Close </button>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {

    <script type="text/javascript">

        var UserId = '@GlobalUser.UserSc2.TFASTEmployeeNo';
        var Guid = '@ViewBag.GUID';
        var DocNo = '@ViewBag.DOC_NO';
        var RequestType = '@ViewBag.REQUEST_TYPE';

        var WFD01270_Message = {
            ConfirmSubmit: '@ViewBag.ConfirmSubmit',
            ConfirmApprove: '@ViewBag.ConfirmApprove',
            ConfirmReSubmit: '@ViewBag.ConfirmReSubmit',
            ConfirmGenerateApprover: '@ViewBag.ConfirmGenerateApprover',
            ConfirmResetApprover: '@ViewBag.ConfirmResetApprover',
            ConfirmReject: '@ViewBag.ConfirmReject',
            ConfirmClear: '@ViewBag.ConfirmClear',
            ConfirmDelete: '@ViewBag.ConfirmDelete',
            ConfirmExportToExcel: '@ViewBag.ConfirmExportToExcel',
            ConfirmPrint: '@ViewBag.ConfirmPrint',
            ShouldNotBeEmpty: '@ViewBag.ShouldNotBeEmpty',
            MustBeNumber: '@ViewBag.MustBeNumber',
            OrgChanged: '@ViewBag.OrgChanged',
            FormatDateInvalid: '@ViewBag.FormatDateInvalid',
            LessOrEqual: '@ViewBag.LessOrEqual'
        }

        var SCREEN_PARAMS = {
            GUID: '@ViewBag.GUID',
            REQUEST_TYPE: '@ViewBag.REQUEST_TYPE',
            COMPANY: '@ViewBag.COMPANY',
            DOC_NO: '@ViewBag.DOC_NO',
            EMP_CODE: '@ViewBag.EMP_CODE',
            USER_BY: '@ViewBag.USER_BY',
            ALLOW_APPROVE: '@ViewBag.ALLOW_APPROVE',
            ALLOW_REJECT: '@ViewBag.ALLOW_REJECT',
            MODE: '@ViewBag.MODE',
            DELEGATE: '@ViewBag.DELEGATE',
            MAIN: '@ViewBag.MAIN',
            HIGHER: '@ViewBag.HIGHER',
            FA: '@ViewBag.FA',
            COMMENT_STATUS: '',
            DOC_STATUS: '@ViewBag.DOC_STATUS',
            IS_BOI_STATE: '@ViewBag.IS_BOI_STATE',
            IS_STORE_STATE: '@ViewBag.IS_STORE_STATE',
            VIEW_BOI_STATE: '@ViewBag.VIEW_BOI_STATE',
            VIEW_STORE_STATE: '@ViewBag.VIEW_STORE_STATE',
            WFD02190_COST_CODE: '',
            WFD02115_COST_CODE: '',
            ALLOW_SEL_APPV: '@ViewBag.ALLOW_SEL_APPV',
            IS_REQ: '@ViewBag.IS_REQ',
            IS_ORG_CHANGED: '@ViewBag.IS_ORG_CHANGED',
            VIEW_FA_STATE: '@ViewBag.VIEW_FA_STATE',
            IS_FA_STATE: '@ViewBag.IS_FA_STATE',
            COUNTDOWN: '@ViewBag.COUNTDOWN',
            MAINPAGE: '@Url.Action("Index","WFD01110")'
        }

        var SCREEN_WFD02410_PARAMS = {
            IS_FA_ADMIN: '@ViewBag.IS_FA_ADMIN',
            IS_SYSTEM_ADMIN: '@ViewBag.IS_SYSTEM_ADMIN',
            BOI_ROLE_APPROVE: '@ViewBag.BOI_ROLE_APPROVE',
            ENABLE_PHONE_NO: '@ViewBag.EnablePhone'
        }

        var SCREEN_WFD02510_PARAMS = {
            BOI_ROLE_APPROVE: '@ViewBag.BOI_ROLE_APPROVE',
            STORE_ROLE_APPROVE: '@ViewBag.STORE_ROLE_APPROVE',
            FA_ROLE_APPROVE: '@ViewBag.FA'
        }

        // Dialog Asset
        var URL_WFD02115 = {
            //test
            GetAssetsData: '@Url.Action("WFD02115_GetAssetsData", "WFD02115")?COMPANY=' + 'TMT' + '&DOC_NO=' + '99' + '&LINE_NO=' + 2
        }

        // Dialog Asset
        var URL_WFD02190 = {
            ITEM_PER_PAGE: '@ViewBag.WFD02190_ITEM_PER_PAGE',
            COST_CODE: '@ViewBag.WFD02190_COST_CODE',
            SEARCH_ASSET: '@Url.Action("WFD02190_Search", "WFD02190")?singleFlag=N&Guid=' + Guid + '&DocNo=' + DocNo + '&RequestType=' + RequestType + '&CostCode=' + SCREEN_PARAMS.WFD02190_COST_CODE,
            SAVE_ASSETS_DATA: '@Url.Action("WFD02190_SaveAssetsData", "WFD02190")?Guid=' + Guid,
            DefaultCostCode: '@ViewBag.DefaultCostCode'
        }

         // Dialog Asset
        var URL_WFD02115 = {
            ITEM_PER_PAGE: '@ViewBag.WFD02115_ITEM_PER_PAGE',
            COST_CODE: '@ViewBag.WFD02115_COST_CODE',
            SEARCH_ASSET: '@Url.Action("WFD02115_Search", "WFD02115")?singleFlag=N&Guid=' + Guid + '&DocNo=' + DocNo + '&RequestType=' + RequestType + '&CostCode=' + SCREEN_PARAMS.WFD02115_COST_CODE,
            SAVE_ASSETS_DATA: '@Url.Action("WFD02115_SaveAssetsData", "WFD02115")?Guid=' + Guid,
            DefaultCostCode: '@ViewBag.DefaultCostCode'
        }

        // Dialog Cost center
        var URL_COMSCC = {
            ITEM_PER_PAGE: '@ViewBag.COMSCC_ITEM_PER_PAGE',
            SEARCH_COST_CODE: '@Url.Action("COMSCC_Search", "COMSCC")',
            SET_INITIAL_PARAMETER: '@Url.Action("Index", "COMSCC")?AllCostCode=Y&AssetOwnerFlag=Y',
            DefaultCostCode: '@ViewBag.DefaultCostCode'
        }

        // Master Request
        var URL_WFD01270 = {
            GET_REQUESTOR: '@Url.Action("GetRequestor", "WFD01270")',
            GET_APPROVER_BY_DOC: '@Url.Action("GetApproverByDocNo", "WFD01270")',
            GET_APPROVER_INFO: '@Url.Action("GetEmployeeInfo", "WFD01270")',
            SUBMIT_DATA: '@Url.Action("WFD01270_SubmitData", "WFD01270")',
            APPROVE_DATA: '@Url.Action("WFD01270_ApproveData", "WFD01270")',
            REJECT_DATA: '@Url.Action("WFD01270_RejectRequest", "WFD01270")',
            DELETE_FILE_COMMENT: '@Url.Action("WFD01270_DeleteAttchDoc", "WFD01270")',
            UPLOAD_FILE_COMMENT: '@Url.Action("WFD01270_UploadCommentInfoData", "WFD01270")',
            GENERATE_APPROVER_LIST: '@Url.Action("WFD01270_SubmitData", "WFD01270")',
            GENERATE_APPROVER: '@Url.Action("GenerateApprover", "WFD01270")',
            GET_APPROVER: '@Url.Action("GetApprover", "WFD01270")',
            CHECK_UPLOAD_FILE: '@Url.Action("CheckFileUpload", "WFD01270")',
            SAVE_APPROVER: '@Url.Action("SaveApprover", "WFD01270")'
        }

        // Reprint Request
        var URL_WFD02111 = {
            ITEM_PER_PAGE: '@ViewBag.WFD02111_ITEM_PER_PAGE',
            UPDATE_ASSETS_REPRINT_DATA: '@Url.Action("WFD02111_UpdateAssetList", "WFD02111")',
            GET_ASSETS_REPRINT_DATA: '@Url.Action("WFD02111_GetAssetReprint", "WFD02111")',
            DELETE_ASSET_NO: '@Url.Action("WFD02111_DeleteAssetReprint", "WFD02111")',
            CLEAR_ASSETS_REPRINT_DATA: '@Url.Action("WFD02111_ClearAssetReprint", "WFD02111")',
            INSERT_ASSETS_REPRINT_DATA: '@Url.Action("WFD02111_InsertAssetReprint", "WFD02111")',
            APPROVE_DATA: '@Url.Action("WFD02111_ApproveAssetReprint", "WFD02111")',
            REJECT_DATA: '@Url.Action("WFD02111_RejectAssetReprint", "WFD02111")',
        }

        // CIP Request
        var URL_WFD02210 = {
            ITEM_PER_PAGE: '@ViewBag.WFD02210_ITEM_PER_PAGE',
            UPDATE_ASSETS_CIP_DATA: '@Url.Action("WFD02210_UpdateAssetList", "WFD02210")',
            GET_ASSETS_CIP_DATA: '@Url.Action("WFD02210_GetAssetCIP", "WFD02210")?Guid=' + Guid,
            CLEAR_ASSETS_CIP_DATA: '@Url.Action("WFD02210_ClearAssetCIP", "WFD02210")',
            INSERT_ASSETS_CIP_DATA: '@Url.Action("WFD02210_InsertAssetCIP", "WFD02210")?Guid=' + Guid,
            APPROVE_DATA: '@Url.Action("WFD02210_ApproveAssetCIP", "WFD02210")',
            REJECT_DATA: '@Url.Action("WFD02210_RejectAssetCIP", "WFD02210")',
            DELETE_ASSET_NO: '@Url.Action("WFD02210_DeleteAssetCIP", "WFD02210")'
        }

        // Transfer Request
        var URL_WFD02410 = {
            ITEM_PER_PAGE: '@ViewBag.WFD02410_ITEM_PER_PAGE',
            UPDATE_ASSETS_TRANSFER_DATA: '@Url.Action("WFD02410_UpdateAssetList", "WFD02410")',
            GET_TRANSFER_REASON: '@Url.Action("WFD02410_GetTransferReason", "WFD02410")',
            GET_BOI_STATUS: '@Url.Action("WFD02410_GetBOIStatus", "WFD02410")',
            GET_NEW_ASSET_OWNER: '@Url.Action("WFD02410_GetNewAssetOwner", "WFD02410")',
            GET_ASSETS_TRANSFER_DATA: '@Url.Action("WFD02410_GetAssetTransfer", "WFD02410")',
            DELETE_ASSET_NO: '@Url.Action("WFD02410_DeleteAssetTransfer", "WFD02410")',
            CLEAR_ASSETS_TRANSFER_DATA: '@Url.Action("WFD02410_ClearAssetTransfer", "WFD02410")',
            INSERT_ASSETS_TRANSFER_DATA: '@Url.Action("WFD02410_InsertAssetTransfer", "WFD02410")?Guid=' + Guid,
            APPROVE_DATA: '@Url.Action("WFD02410_ApproveAssetTransfer", "WFD02410")',
            REJECT_DATA: '@Url.Action("WFD02410_RejectAssetTransfer", "WFD02410")',
            UPLOAD_FILE_BOI: '@Url.Action("WFD02410_UploadBOIAttchDoc", "WFD02410")',
            DELETE_FILE_BOI: '@Url.Action("WFD02410_DeleteAttchDoc", "WFD02410")',
            CHECK_UPLOAD_FILE: '@Url.Action("CheckFileUpload", "WFD02410")'
        }

        // Disposal Request
        var URL_WFD02510 = {
            ITEM_PER_PAGE: '@ViewBag.WFD02510_ITEM_PER_PAGE',
            UPDATE_ASSETS_DISPOSAL_DATA: '@Url.Action("WFD02510_UpdateAssetList", "WFD02510")',
            GET_DISPOSAL_REASON: '@Url.Action("WFD02510_GetDisposalReason", "WFD02510")',
            GET_BOI_STATUS: '@Url.Action("WFD02510_GetBOIStatus", "WFD02510")',
            GET_STORE_STATUS: '@Url.Action("WFD02510_GetStoreStatus", "WFD02510")',
            GET_HEADER_DATA: '@Url.Action("WFD02510_GetHeaderDisposal", "WFD02510")',
            GET_ASSETS_DISPOSAL_DATA: '@Url.Action("WFD02510_GetAssetDisposal", "WFD02510")',
            DELETE_ASSET_NO: '@Url.Action("WFD02510_DeleteAssetDisposal", "WFD02510")',
            CLEAR_ASSETS_DISPOSAL_DATA: '@Url.Action("WFD02510_ClearAssetDisposal", "WFD02510")',
            INSERT_ASSETS_DISPOSAL_DATA: '@Url.Action("WFD02510_InsertAssetDisposal", "WFD02510")',
            APPROVE_DATA: '@Url.Action("WFD02510_ApproveAssetDisposal", "WFD02510")',
            REJECT_DATA: '@Url.Action("WFD02510_RejectAssetDisposal", "WFD02510")',
            GET_HEADER_DATA: '@Url.Action("WFD02510_GetDataHeader", "WFD02510")',
            UPLOAD_ASSET_FILE: '@Url.Action("WFD02510_AssetUploadFileAttchDoc", "WFD02510")',
            DELETE_ASSET_FILE: '@Url.Action("WFD02510_AssetDeleteAttchDoc", "WFD02510")',
            UPLOAD_FILE: '@Url.Action("WFD02510_UploadAttchDoc", "WFD02510")',
            DELETE_FILE: '@Url.Action("WFD02510_DeleteAttchDoc", "WFD02510")',
            CHECK_UPLOAD_FILE: '@Url.Action("CheckFileUpload", "WFD02510")',
            GET_KEEP_BY_STATUS: '@Url.Action("WFD02510_GetKeepByStatus", "WFD02510")',
            GET_SALE_PROCESS_STATUS: '@Url.Action("WFD02510_GetSaleProcessStatus", "WFD02510")'
        }

        // Reprint Request
        var URL_WFD02310 = {
            ITEM_PER_PAGE: '@ViewBag.WFD02310_ITEM_PER_PAGE',
            UPDATE_ASSETS_REPRINT_DATA: '@Url.Action("WFD02310_UpdateAssetList", "WFD02310")',
            GET_ASSETS_REPRINT_DATA: '@Url.Action("WFD02310_GetAssetReprint", "WFD02310")',
            DELETE_ASSET_NO: '@Url.Action("WFD02310_DeleteAssetReprint", "WFD02310")',
            CLEAR_ASSETS_REPRINT_DATA: '@Url.Action("WFD02310_ClearAssetReprint", "WFD02310")',
            INSERT_ASSETS_REPRINT_DATA: '@Url.Action("WFD02310_InsertAssetReprint", "WFD02310")',
            APPROVE_DATA: '@Url.Action("WFD02310_ApproveAssetReprint", "WFD02310")',
            REJECT_DATA: '@Url.Action("WFD02310_RejectAssetReprint", "WFD02310")',
        }
        // Stock Request
        var WFD02640_Message = {
            ConfirmNotice: '@ViewBag.ConfirmNotice',
            ConfirmReport: '@ViewBag.ConfirmReport',
            ErrorGenApprover: '@ViewBag.ErrorGenApprover',
            AllCostCenterIsSelected: '@ViewBag.AllCostCenterIsSelected'
        }

        var WFD02640_URL = {
            NoticeEmail: '@Url.Action("NoticeEmail", "WFD02640")',
            onLoadScreen: '@Url.Action("onLoadScreen", "WFD02640")',
            Report: '@Url.Action("Report", "WFD02640")',
            APPROVE_DATA: '@Url.Action("WFD02640_ApproveStock", "WFD02640")',
            REJECT_DATA: '@Url.Action("WFD02640_RejectStock", "WFD02640")',
            INSERT_DATA: '@Url.Action("WFD02640_InsertStock", "WFD02640")',
            SaveTempRequestStock: '@Url.Action("SaveTempRequestStock", "WFD02640")',
            InsertAssetToTempSelected: '@Url.Action("InsertAssetToTempSelected", "WFD02640")',
            CHECK_UPLOAD_FILE: '@Url.Action("CheckFileUpload", "WFD02640")',
            DELETE_FILE: '@Url.Action("DeleteAttchDoc", "WFD02640")',
            UPDATE_DELETE_FILE: '@Url.Action("UpdateFileToTempStock", "WFD02640")',
            SetNoSelectInTempRequestStock: '@Url.Action("SetNoSelectInTempRequestStock", "WFD02640")',
            SetInitialDataIncaseReSubmit: '@Url.Action("SetInitialDataIncaseReSubmit", "WFD02640")',
            UpdateSeleted_Temp_RequestStock: '@Url.Action("UpdateSeleted_Temp_RequestStock", "WFD02640")'
        }

        var WFD02640_Parameter = {
            YEAR: '@ViewBag.Year',
            ROUND: '@ViewBag.Round',
            ASSET_LOCATION: '@ViewBag.Asset_Location',
            SV_CODE: '@ViewBag.WFD02640SVEMPNAME',
            EMP_CODE: '@GlobalUser.UserSc2.TFASTEmployeeNo',
            IS_FA_ADMIN: '@(GlobalUser.UserSc2.IsAECUser ? "Y" : "N")',
            SV_EMP_CODE: '@ViewBag.Sv_Code'
        }
    </script>
    <script type="text/javascript" src="~/InitializeComponents/Scripts/Common/BatchProcess.js"></script>
    <script type="text/javascript" src="~/InitializeComponents/Scripts/bootstrap-growl-master/jquery.bootstrap-growl.min.js"></script>
    <script type="text/javascript" src="~/JS/WFD01270.js"></script>
    <script type="text/javascript" src="~/JS/WFD02190.js"></script>
    <script type="text/javascript" src="~/JS/WFD02115.js"></script>
    <script type="text/javascript" src="~/JS/COMSCC.js"></script>
    <script type="text/javascript" src="~/JS/WFD02410.js"></script>
    <script type="text/javascript" src="~/JS/WFD02111.js"></script>
    <script type="text/javascript" src="~/JS/WFD02210.js"></script>
    <script type="text/javascript" src="~/JS/WFD02510.js"></script>
    <script type="text/javascript" src="~/JS/WFD02310.js"></script>
    <script type="text/javascript" src="~/JS/WFD02640.js"></script>
    <script type="text/javascript" src="~/InitializeComponents/Scripts/bootstrap-growl-master/bootstrap-notify.js"></script>
    <script type="text/javascript" src="~/InitializeComponents/Scripts/bootstrap-growl-master/bootstrap-notify.min.js"></script>
   <script type="text/javascript">
        $(document).ready(function () {
            var s = $("#sticker");
            var t = $("#WFD01270DivRequest")
            var _width = t.width();
            var pos = s.position();
            var fixmeTop = $('#sticker').offset().top;
            $(window).scroll(function () {
                var windowpos = $(window).scrollTop();
                if (windowpos >= fixmeTop) {//pos.top
                    s.addClass("stick");
                    _width = t.width();
                    $("#sticker").width(_width);
                } else {
                    s.removeClass("stick");
                    _width = t.width();
                    $("#sticker").width('100%');
                }
                //alert(1111);
            });

            $(window).resize(function () {
                _width = t.width();
                $("#sticker").width(_width);
            });
            
            //jQuery('#WFD01270DivRequest').resize(function () {
            //    _width = t.width();
            //    $("#sticker").width(_width);
            //    /* What ever */
            //});

            //new ResizeSensor(jQuery('#WFD01270DivRequest'), function () {
            //    alert(111);
            //});
            //jQuery('.sidebar-toggle').click(function () {
            //    //$('.sidebar-toggle').slideToggle(0, function () {
            //    //    alert(111);
            //    //});
            //    /* What ever */
            //});

            //if ($(".sidebar-collapse")[0]) {
            //    alert(1);
            //} else {
            //    alert(2);
            //}
            //$('#WFD01270DivRequest').resizable({
            //    stop: function (event, ui) {
            //        _width = t.width();
            //        $("#sticker").width(_width);
            //    }
            //});
        })
</script>
}
