﻿<div id="WFD01270DivRequest">
    <div class="box box-primary" >
        <div class="box-header with-border">
            <h3 class="box-title">ข้อมูลผู้ขอ (Requestor)</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                    <i class="fa fa-minus"></i>
                </button>
            </div>
        </div>
        <div class="box-body">
            <div class="col-sm-12">
                <div class="form-group">
                    <label for="REQUEST_DATE" class="col-sm-3 control-label">วันที่ขอ/Request Date :</label>
                    <div class="col-sm-3">
                        @Html.CommonTextBox("WFD01270_REQUEST_DATE", null, new { @class = "form-control", style = "width: 100%;", disabled = "disabled", maxlength = "11" })
                    </div>
                    <label for="COST_NAME" class="col-sm-3 control-label">ศูนย์ต้นทุน/Cost center :</label>
                    <div class="col-sm-3">
                        @Html.CommonTextBox("WFD01270_COST_NAME", null, new { @class = "form-control", style = "width: 100%;", disabled = "disabled", maxlength = "70" })
                    </div>
                </div>
                <div class="form-group">
                    <label for="EMP_CODE" class="col-sm-3 control-label">รหัสพนักงาน/Employee Code :</label>
                    <div class="col-sm-3">
                        @Html.CommonTextBox("WFD01270_EMP_CODE", null, new { @class = "form-control", style = "width: 100%;", disabled = "disabled", maxlength = "8"})
                    </div>
                    <label for="POS_NAME" class="col-sm-3 control-label">ตำแหน่ง/Position :</label>
                    <div class="col-sm-3">
                        @Html.CommonTextBox("WFD01270_POS_NAME", null, new { @class = "form-control", style = "width: 100%;", disabled = "disabled", maxlength = "70"})
                    </div>
                </div>
                <div class="form-group">
                    <label for="EMP_NAME" class="col-sm-3 control-label">ชื่อ-สกุล/Employee Name :</label>
                    <div class="col-sm-3">
                        @Html.CommonTextBox("WFD01270_EMP_NAME", null, new { @class = "form-control", style = "width: 100%;", disabled = "disabled", maxlength = "70" })
                    </div>
                    <label for="DEPT_NAME" class="col-sm-3 control-label">ฝ่าย/Department :</label>
                    <div class="col-sm-3">
                        @Html.CommonTextBox("WFD01270_DEPT_NAME", null, new { @class = "form-control", style = "width: 100%;", disabled = "disabled", maxlength = "45" })
                    </div>
                </div>
                <div class="form-group">
                    <label for="PHONE_NO" class="col-sm-3 control-label">เบอร์ติดต่อ/Tel No. :</label>
                    <div class="col-sm-3">
                        @Html.CommonTextBox("WFD01270_PHONE_NO", null, new { @class = "form-control", style = "width: 100%;", maxlength = "20", tabindex = "1" })
                    </div>
                    <label for="SECT_NAME" class="col-sm-3 control-label">แผนก/Section :</label>
                    <div class="col-sm-3">
                        @Html.CommonTextBox("WFD01270_SECT_NAME", null, new { @class = "form-control", style = "width: 100%;", disabled = "disabled", maxlength = "45" })
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>