﻿@{
    ViewBag.ScreenTitle = "General Report Screen";
}
<style>
    .text-title-calendar {
        color: #7FABE4;
        background-color: #ffffff;
    }

    .text-des-calendar-onprocess {
        color: #000000;
        background-color: #00B1F4;
    }

    .text-des-calendar-complete {
        color: #000000;
        background-color: #92D050;
    }

    .text-des-calendar-notscan {
        color: #000000;
        background-color: #ffffff;
    }

    .fc-day-header {
        background-color: #B7DEE8;
    }

    .fc-day.fc-sat {
        background-color: #D9D9D9;
    }

    .fc-day.fc-sun {
        background-color: #D9D9D9;
    }

    .info-box-icon {
        float: right;
    }

    .info-box-content {
        margin-left: 0px !important;
        padding: 5px 10px !important;
    }

    .info-box-text {
        font-size: 10px;
    }

    select {
        width: 120px !important;
    }

	select.requied {
		background-color: yellow;
	}
	
    #tableGeneralReport>thead>tr>th:first-child {
        padding-left: 0px;
        padding-right: 20px;
    }

    #tableGeneralReport>tbody>tr>td:first-child {
        padding-left: 10px;
    }
	.table-responsive {
        min-height: 0.01%;
        overflow-x:hidden;
    }

    .table-responsive > div:first-child > div:nth-child(2){
        overflow-x:auto;
        margin-right: 0px;
    }

    .table-responsive > div:first-child{
        margin-right: 0px;
    }
</style>
@*<section class="content">*@
<div class="box box-info">
    <!-- Row condition panel -->
    <form class="form-horizontal" id="form">
        <div class="box-header with-border">
            <h3 class="box-title">Search Condition</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="" data-original-title="Collapse">
                    <i class="fa fa-minus"></i>
                </button>
            </div>
        </div>
        <div class="box-body" style="display: block;">
            <div class="col-sm-12">
                <div class="box-default">
                    <div class="box-body">
                        <div class="col-sm-12">
                            @* Company *@
                            <div class="form-group">
                                <label for="cbb_company" class="col-sm-2 control-label">Company</label>
                                <div class="col-sm-3">
                                    @Html.CompanyMultipleComboboxNew("cbb_company", new { multiple = "multiple", @class = "form-control", tabindex = "1" }, true)
                                    @*@Html.CompanyCombobox("cbb_company", new { @class = "form-control select2 require" })*@
                                </div>
                            </div>
                            @* Report Type *@
                            <div class="form-group">
                                <label for="cbbTypeOfReport" class="col-sm-2 text-right">Type of Report</label>
                                <div class="col-sm-3">
                                    @*<select id="cbbTypeOfReport" class="form-control require select2">
                                            <option>--SELECT ITEM--</option>
                                        </select>*@
                                    <select id="cbbTypeOfReport" class="form-control select2 requied">
                                        <option>@*- Select -*@</option>
                                    </select>
                                    @*@Html.WFD01120ComBoTypeOfReport("cbbTypeOfReport", new { @class = "form-control select2" })*@
                                </div>
                            </div>
                            @*  Report Name  *@
                            <div class="form-group" id="divReportName">
                                <label for="cbbReportName" class="col-sm-2 text-right">Report Name</label>
                                <div class="col-sm-3">
                                    <select id="cbbReportName" class="form-control select2 requied">
                                        @*<option>- Select -</option>*@
                                    </select>
                                </div>
                                <label for="cbbReportNo" class="col-sm-2 text-right">Report No.</label>
                                <div class="col-sm-3" id="divForReportNo">
                                    <input type="text" class="form-control" id="txtReportNo" name="txtReportNo" maxlength="15">
                                </div>
                            </div>
                            @*  Period  *@
                            <div class="form-group" id="divPeriod">
                                @* Period Date  *@

                                <label for="datePeriodFrom" class="col-sm-2 text-right" name="datePeriod">Period</label>

                                <div class="col-sm-2" name="datePeriod">
                                    <div class="input-group date" name="datePeriod">
                                        @Html.TextBox("datePeriod", null, new { @id = "datePeriodFrom", @class = "form-control datepicker", placeholder = "From" })
                                        <div class="input-group-addon date-picker-icon" name="datePeriod" onclick="ClickIconDate('datePeriodFrom')">
                                            <i class="fa fa-calendar" name="datePeriod"></i>
                                        </div>
                                    </div>
                                </div>
                                <label for="datePeriodTo" class="col-sm-1 text-center" name="datePeriod">-</label>
                                <div class="col-sm-2" name="datePeriod">
                                    <div class="input-group date" name="datePeriod">
                                        @Html.TextBox("datePeriod", null, new { @id = "datePeriodTo", @class = "form-control datepicker", placeholder = "To" })
                                        <div class="input-group-addon date-picker-icon" name="datePeriod" onclick="ClickIconDate('datePeriodTo')">
                                            <i class="fa fa-calendar" name="datePeriod"></i>
                                        </div>
                                    </div>
                                </div>

                                @* Cost center  *@

                                <label for="cbbCostCenter" class="col-sm-2 text-right" name="CostCenter">Cost Center</label>
                                <div class="col-sm-6" name="CostCenter">
                                    <select id="cbbCostCenter" class="form-control select2 requied" name="CostCenter">
                                        @*<option>-Select-</option>*@
                                    </select>
                                </div>

                            </div>


                            @*  Button  *@
                            <div class="form-group" id="divButton">


                                <div class="col-sm-2">
                                    <div class="input-group date">

                                    </div>
                                </div>


                                <div class="col-sm-6">
                                </div>

                                @* Search  *@
                                <div class="col-sm-2" id="divSearch">
                                    <div class="navbar-right">
                                        @*<button class="btn btn-primary" id="WFD01120Search" type="button"><i class="fa fa-search"></i>Search</button>*@
                                        @Html.Button("WFD01120Search", "Search", new { @class = "btn btn-primary", type = "button" }, TagHelper.BUTTON_TYPES.SEARCH)
                                    </div>
                                </div>
                                @* Print  *@
                                <div class="col-sm-1" id="divPrint">
                                    <div class="navbar-left">
                                        @*<button class="btn btn-info" id="WFD01120Print" type="button"><i class="fa fa-print"></i>Print</button>*@
                                        @Html.Button("WFD01120Print", "View report", new { @class = "btn btn-info", type = "button" }, TagHelper.BUTTON_TYPES.EXPORT)
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="box" id="divReportType">
                        <div class="box-header with-border">
                            <h3 class="box-title"></h3>
                            <div class="box-tools pull-right">
                                <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="" data-original-title="Collapse">
                                    <i class="fa fa-minus"></i>
                                </button>
                            </div>
                        </div>
                        <div class="box-body" style="display: block;">

                            <div class="row">
                                <div class="col-lg-12">
                                    <table id="tableGeneralReport" class="table table-bordered table-striped table-hover table-th-center" style="margin-top: 10px;">
                                        <thead>
                                            <tr>
                                                <th style="width: 30px;">
                                                    <input type="checkbox" id="selectAll" onclick="selectAllItem(this)" style="margin-left:35px" />
                                                </th>
                                                <th>Company</th>
                                                <th>Report Type</th>
                                                <th style="width:150px">Report No.</th>
                                                <th class="text-center" style="width:150px">Complete Date</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                    </table>


                                </div>
                            </div>
                        </div>
                        <!-- /.box-footer-->
                    </div>


                </div>
            </div> <!-- End row condition panel -->

        </div>
    </form>
</div>
@*</section>*@

@section scripts {
    <script type="text/javascript" src="~/InitializeComponents/Scripts/Common/BatchProcess.js"></script>
    <script>
        var URL_CONST = {
            ReportTypeURL: '@Url.Action("GetReportType", "WFD01120")',
            ReportNameURL: '@Url.Action("GetReportName", "WFD01120")',
            CostCenterURL: '@Url.Action("GetCostCenter", "WFD01120")',
            SearchURL: '@Url.Action("GetChangeRequestDetail", "WFD01120")',
            PrintURL: '@Url.Action("CheckPrintValidation", "WFD01120")',
            GET_STOCKTAKE: '@Url.Action("GetStockTakingReport", "WFD01120")',
            EmployeeCode: '@ViewBag.EMP_CODE',
            ITEM_PER_PAGE: '@ViewBag.ITEM_PER_PAGE',
        }

        $(document).ready(function () {
            $('#cbb_company').multiselect(multiSelectOptionWidth100);
        });

    </script>
    <script type="text/javascript" src="~/JS/WFD01120.js"></script>
}