﻿
<div class="box">
    <div class="box-header with-border">
        <h3 class="box-title"></h3>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="" data-original-title="Collapse">
                <i class="fa fa-minus"></i>
            </button>
        </div>
    </div>
    <div class="box-body" style="display: block;">

        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4">
                <div class="form-inline form-in">
                    <label style="width: 121px;" class="text-right"><b>Operation : </b></label>
                    <div class="form-in" style="margin-left: 6px;" id="WFD01150_OperationEditPage"></div>
                </div>
            </div>
            <div class="col-lg-8  col-sm-8 text-right">
                @Html.Button("WFD01150SubmitEdit", "Submit", new { @class = "btn btn-success" }, TagHelper.BUTTON_TYPES.SUBMIT)
                @Html.Button("WFD01150CancelEdit", "Cancel", new { @class = "btn btn-warning" }, TagHelper.BUTTON_TYPES.CANCEL)
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="form-inline form-in WFD01150_AddMode">
                    <label><b>Asset Class : </b></label>
                    <div class="form-in" style="width: 150px;">
                        @Html.AssetClassFlowCombobox("WFD01150_AssetCategoryCBB", new { @class = "form-control select2" })
                    </div>
                </div>
                <div class="form-inline form-in WFD01150_AddMode">
                    <label>@Html.CheckBox("WFD01150_ApplyToAllAsset", false) : Apply to all asset</label>
                </div>
                <div class="form-inline form-in WFD01150_EditMode">
                    <label><b>Fix Asset Category : </b></label>
                    <div class="form-in" id="WFD01150_AssetCategory"></div>
                </div>
            </div>
        </div>

        <div class="row" style="margin-top: 10px;">
            <div class="col-lg-12">
                <label><b>List of Approve : </b></label>
                <label id=""></label>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <table id="WFD01150_ApproveDTable" class="table table-bordered table-hover table-striped">
                    <thead class="bg-gray-light">
                        <tr>
                            <th style="width: 50px;">Del</th>
                            <th style="width: 50px;">Seq No.</th>
                            <th style="width: 150px;">Role</th>
                            <th style="width: 80px;">Division</th>
                            <th style="width: 80px;">Group</th>
                            <th style="width: 150px;">Condition</th>
                            <th style="width: 60px;">Required</th>
                            <th style="width: 90px;">Finish Flow</th>
                            <th style="width: 80px;">Reject To</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>

        <div id="WFD01150_EditDetailBox" class="box box-success" style="padding: 20px 5px;">
            
        </div>


    </div>
    <!-- /.box-footer-->
</div>
