﻿@{
    ViewBag.Title = "ErrorPage";
    ViewBag.ScreenTitle = "Error Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="box-body"><div class="callout callout-danger"><p>@ViewBag.error</p></div></div>
