﻿<table id="SVAssignmentTable" class="table table-bordered table-hover">
    <thead class="bg-gray-light">
        <tr>
            <th class="text-center" rowspan="2" style="min-width: 40px ">Day</th>
            <th class="text-center" rowspan="2" style="min-width: 80px;">Date</th>
            <th class="text-center" rowspan="2" style="min-width: 150px;">S/V Name</th>
            <th class="text-center" rowspan="2" style="min-width: 60px;">Handheld</th>
            <th class="text-center" colspan="9" id="assignmentCalendarTableTimeCol">Time</th>
        </tr>
        <tr id="assignmentCalendarTableTimeHeadRow">
            <th>07:30-08:30</th>
            <th>08:30-09:30</th>
            <th>09:30-10:30</th>
            <th>10:30-11:30</th>
            <th>11:30-12:30</th>
            <th>12:30-13:30</th>
            <th>13:30-14:30</th>
            <th>14:30-15:30</th>
            <th>15:30-16:30</th>
        </tr>
    </thead>
    <tbody id="assignmentCalendarTableTBody"></tbody>
</table>
