﻿
<div class="box box-success wfd02620-editmode" id="WFD02620_AssignmentBox">
    <div class="box-header with-border">
        <h3 class="box-title">
            Assignment
        </h3>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="" data-original-title="Collapse">
                <i class="fa fa-minus imargin"></i>
            </button>
        </div>
    </div>
    <div class="box-body" style="display: block;">
        <label>Summary</label>
        <div class="row">
            <div class="col-lg-8" id="summaryBlock">

                

            </div>
            <div class="col-lg-4 text-right">
                @Html.Button("WFD02620AnnounceButton", "Announce", new { @class = "btn btn-info" }, TagHelper.BUTTON_TYPES.DEFAULT)
                @Html.Button("WFD02620CompleteButton", "Complete", new { @class = "btn btn-info" }, TagHelper.BUTTON_TYPES.DEFAULT)
                &nbsp;&nbsp;
               @Html.Button("WFD02620Print", "Print", new { @class = "btn btn-info" }, TagHelper.BUTTON_TYPES.PRINT)
            </div>
        </div>

        <div class="row" style="margin-top: 20px;">
            <div class="col-lg-4 box-minimise">
                <div class="box box-success" id="assignDetailBox">
                    <div class="box-header">
                        <h3 class="box-title">
                            Assignment Detail
                        </h3>
                        <div class="box-tools pull-left">
                            <button type="button" class="btn btn-box-minimise-tool" data-hide-target="box-minimise" data-toggle="tooltip" title="" data-original-title="Hide">
                                <i class="fa fa-angle-double-left imargin"></i>
                            </button>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="col-lg-12">
                                @Html.Partial("AssignmentDetail")
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-8 box-minimise">
                <div class="box box-success"> @*map-height" data-map-height-id="assignDetailBox">*@
                    <div class="box-body">
                        <div class="row">
                            <div class="col-lg-12 text-right">
                                @Html.Button("WFD02620SaveAssignmentButton", "Save", new { @class = "btn btn-success" }, TagHelper.BUTTON_TYPES.SAVE)
                                @Html.Button("WFD02620CancelAssignmentButton", "Cancel", new { @class = "btn btn-warning" }, TagHelper.BUTTON_TYPES.CANCEL)
                            </div>
                            <br /><br />
                        </div>
                        <div class="row">
                            <div id="TBCalendarBlock" class="col-lg-12" style="overflow: hidden; overflow-x:auto;">
                                @Html.Partial("AssignmentCalendar")
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 text-right">

                                <div class="form-inline form-in wfd02620-box">
                                    <label style="width: 110px;">Exceed Capacity : </label>
                                    <i class="imargin" style="background-color: red;">
                                    </i>
                                </div>

                                <div class="form-inline form-in wfd02620-box">
                                    <label>Booked : </label>
                                    <i class="imargin" style="background-color: yellow;">
                                    </i>
                                </div>

                                <div class="form-inline form-in wfd02620-box">
                                    <label style="width: 70px;">Available : </label>
                                    <i class="imargin" style="background-color: white;">
                                    </i>
                                </div>

                            </div> 
                        </div>
                        <div style="clear: both;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

