﻿<table id="WFD02620_SVTable" class="table table-bordered table-striped table-hover">
    <thead class="bg-gray-light">
        <tr>
            <th class="text-center" style="width: 150px">S/V Name</th>
            <th class="text-center" style="width: 50px">Items</th>
            <th class="text-center">Time(Hrs.)</th>
            <th class="text-center" style="width: 50px">Handheld</th>
            <th id="lockTBCol" class="text-center" style="width: 50px;">Lock</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>



<div class="modal fade" id="SetWorkingTimeDialog" tabindex="-1" role="dialog">
    <div class="modal-dialog" style="width:645px;height:300px;">
        <div class="modal-content" >
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">Set Working Time(Hrs):</h4>
            </div>
            <div class="modal-body">
                <div id="AlertMessageArea" class="message-area">
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-inline form-in">
                            <label>S/V Name:</label>
                            @Html.CommonTextBox("WFD02620SetWorkingTimeSVName", null, new { @class = "form-control", style = "width: 290px;", disabled = "disabled", tabindex = "1" })
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-inline form-in">
                            <input id="WFD02620DATEPERIOD" type="text" />
                            @*<label>Date:</label>
                            <div class="input-group date" style="width: 130px;">
                                @Html.TextBox("WFD02620DATE_FROM", null, new { @class = "form-control datepicker", placeholder = "From", tabindex = "2", maxlength = "11" })
                                <span class="input-group-btn" >
                                    <button type="button" class="btn btn-default" onclick="ClickIconDate('WFD02620DATE_FROM')">
                                        <i class="fa fa-calendar imargin"></i>
                                    </button>
                                </span>
                            </div>
                            <i>-</i>
                            <div class="input-group date" style="width: 130px;">
                                @Html.TextBox("WFD02620DATE_TO", null, new { @class = "form-control datepicker", placeholder = "To", tabindex = "3", maxlength = "11" })
                                <span class="input-group-btn" >
                                    <button type="button" class="btn btn-default" onclick="ClickIconDate('WFD02620DATE_TO')">
                                        <i class="fa fa-calendar imargin"></i>
                                    </button>
                                </span>
                            </div>*@
                        </div>
                    </div>
                </div>

                @*<div class="row">
                    <div class="col-lg-12">
                        <div class="form-inline form-in">
                            <label>Time:</label>
                            <div class="input-group date" style="width: 130px;">
                                @Html.TextBox("WFD02620TIME_START", null, new { @class = "form-control timepicker", placeholder = "From", tabindex = "4", maxlength = "5" })
                                
                            </div>
                            <i class="imargin">-</i>
                            <div class="input-group date" style="width: 130px;">
                                @Html.TextBox("WFD02620TIME_END", null, new { @class = "form-control timepicker", placeholder = "To", tabindex = "5", maxlength = "5" })
                            </div>
                        </div>
                    </div>
                </div>*@
            </div>
            <div class="modal-footer">
                <button id="btnWFD02620OKFP" class="btn btn-success" tabindex="6"><i class="fa fa-check imargin"></i>  OK </button>
                <button id="btWFD02620nCancelFP" class="btn btn-warning" data_dismiss = "modal" tabindex="7" onclick="onWFD02620Cancel();"><i class="fa fa-remove"></i>  Cancel </button>

                @*@Html.Button("btnWFD02620OKFP", "OK", new { @class = "btn btn-success", tabindex = "6" }, TagHelper.BUTTON_TYPES.OK)
                @Html.Button("btWFD02620nCancelFP", "Cancel", new { @class = "btn btn-warning", data_dismiss = "modal", tabindex = "7" }, TagHelper.BUTTON_TYPES.CANCEL)*@
                @*<button id="btnCancelFP" type="button" class="btn btn-warning" data-dismiss="modal">Cancel</button>*@
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

