﻿@{
    ViewBag.ScreenTitle = "FA Physical Check Request Detail Screen";
}

<!-- Setting block -->
@Html.Partial("Setting")

<!-- Assignment block -->
@Html.Partial("Assignment")



@*<link rel="stylesheet" type="text/css" href="~/InitializeComponents/Content/Components/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="~/InitializeComponents/Content/style-content/site-bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="~/InitializeComponents/Content/style-content/table.css" />*@
<link rel="stylesheet" type="text/css" href="~/InitializeComponents/Content/style-content/Page/WFD02620.css" />

@section scripts{

    <script type="text/javascript" src="~/InitializeComponents/Scripts/Common/JJWorkingTime.js"></script>
    <script type="text/javascript" src="~/InitializeComponents/Content/Components/plugins/CaptureImg/html2canvas.js"></script>
    <script type="text/javascript" src="~/InitializeComponents/Scripts/Common/BatchProcess.js"></script>

    <script type="text/javascript">

        var WFD02620_User = {
            EMP_CODE: '@GlobalUser.UserSc2.TFASTEmployeeNo',
            IS_FA_ADMIN: '@(GlobalUser.UserSc2.IsAECUser ? "1" : "0")',
            FULL_NAME: '@ViewBag.UserFullName'
        }

        var SCREEN_PARAMS = {
            SCREEN_MODE: '@ViewBag.SCREEN_MODE',
            USER_ID: '@ViewBag.UserId',
            USER_FULL_NAME: '@ViewBag.UserFullName'
        };

        // Main screen key for get all data
        var ScreenKey_WFD02620 = {
            Company: '@ViewBag.COMPANY',
            Year: '@ViewBag.YEAR',
            Round: '@ViewBag.ROUND',
            AssetLocation: '@ViewBag.ASSET_LOCATION'
        }

        var WFD02620_Message = {
            ConfirmSaveAssignment: '@ViewBag.ConfirmSaveAssignment',
            ConfirmResetAssignment: '@ViewBag.ConfirmResetAssignment',
            ConfirmSaveHeader: '@ViewBag.ConfirmSaveHeader',
            ConfirmComplete: '@ViewBag.ConfirmComplete',
            ConfirmAnnounce: '@ViewBag.ConfirmAnnounce',
            NoWorkingDay: '@ViewBag.NoWorkingDay',
            InvalidFormat: '@ViewBag.InvalidFormat'
        }

        var WFD02620_URL = {

            GetDefaultSreenData: '@Url.Action("GetDefaultSreenData", "WFD02620")',
            GetSettingSectionData: '@Url.Action("GetSettingSectionData", "WFD02620")',
            AddStockTakeRequest: '@Url.Action("AddStockTakeRequest", "WFD02620")',
            GetStockTakeData: '@Url.Action("GetStockTakeData", "WFD02620")',
            GetStockTakeDetailData: '@Url.Action("GetStockTakeDetailData", "WFD02620")',
            ValidateSetWorkingTimeDialog: '@Url.Action("ValidateSetWorkingTimeDialog", "WFD02620")',
            CalculateIntersectUsageHHTMoreThanMaxHHT: '@Url.Action("CalculateIntersectUsageHHTMoreThanMaxHHT", "WFD02620")',
            SaveAssigmentDatas: '@Url.Action("SaveAssigmentDatas", "WFD02620")',
            ResetAssignment: '@Url.Action("ResetAssignment", "WFD02620")',
            EditStockTakeRequest: '@Url.Action("EditStockTakeRequest", "WFD02620")',
            Announce: '@Url.Action("Announce", "WFD02620")',
            Completed: '@Url.Action("Completed", "WFD02620")',
            UploadAssetListFile: '@Url.Action("UploadAssetListFile", "WFD02620")',
            GenBatchParam: '@Url.Action("GenBatchParam", "WFD02620")',
            GetDiffMinute: '@Url.Action("GetDiffMinute", "WFD02620")',
            GetResultDateTimeAfterAddMinute: '@Url.Action("GetResultDateTimeAfterAddMinute", "WFD02620")',
            GetParamWithoutAssetLocation: '@Url.Action("GetParamWithoutAssetLocation", "WFD02620")',
            GetSVAssignment: '@Url.Action("GetSVAssignment", "WFD02620")',

            GetMinorCategory_DDL: '@Url.Action("WFD02620GetMinorCategory", "WFD02620")'
        };

        $(document).ready(function () {
            $('#WFD02620ASSET_CLASS').multiselect(multiSelectOptionWidth100);
            $('#WFD02620COST_CENTER').multiselect(multiSelectOptionWidth100);
            $('#WFD02620RESPONSIBLE_COST_CENTER').multiselect(multiSelectOptionWidth100);
            $('#WFD02620MINOR_CATEGORY').multiselect(multiSelectOptionWidth100);
        });

    </script>
    <script type="text/javascript" src="~/JS/WFD02620_Assignment.js"></script>
    <script type="text/javascript" src="~/JS/WFD02620.js"></script>

}