﻿<div class="box box-success" id="WFD02620SettingBlock">
    <div class="box-header with-border">
        <h3 class="box-title">
            Setting
        </h3>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="" data-original-title="Collapse" id="WFD02620_setting">
                <i class="fa fa-minus imargin"></i>
            </button>
        </div>
    </div>
    <div class="box-body" style="display: block;">

        <div class="form-group col-sm-12">
            <div class="row">
                <div class="col-sm-2" style="text-align:right">
                    <label>Company : </label>
                </div>
                <div class="col-sm-4">
                    @Html.CompanyCombobox("WFD02620COMPANY", new { @class = "form-control select2 wfd02620-primary-input wfd02620-input", tabindex = "1" }, true)
                </div>
                <div class="col-sm-2" style="text-align:right">
                    <label>Create By : </label>
                </div>
                <div class="col-sm-4">
                    @Html.CommonTextBox("WFD02620CREATE_BY", null, new { @class = "form-control", @readonly = "readonly", disabled = "disabled" })
                </div>

            </div>
            <div class="row" style="height:3px">
            </div>
            <div class="row">
                <div class="col-sm-2" style="text-align:right">
                    <label>FA Physical Check Round : </label>
                </div>
                <div class="col-sm-4">
                    <div class="form-inline">
                        @Html.CommonTextBox("WFD02620YEAR", null, new { @class = "form-control int-input wfd02620-primary-input wfd02620-input", style = "width: 150px;", maxlength = "4", placeholder = "Year", tabindex = "2" })
                        <i>/</i>
                        @Html.CommonTextBox("WFD02620ROUND", null, new { @class = "form-control int-input wfd02620-primary-input wfd02620-input", style = "width: 150px;", maxlength = "2", placeholder = "Round", tabindex = "3" })
                    </div>
                </div>
                <div class="col-sm-2" style="text-align:right">
                    <label>Asset Location : </label>
                </div>
                <div class="col-sm-4">
                    @Html.AssetLocationCombobox("WFD02620ASSET_LOCATION", new { @class = "form-control select2 wfd02620-primary-input wfd02620-input", tabindex = "4" })
                </div>
            </div>
            <div class="row" style="height:3px">
            </div>

            <div class="row">
                <div class="col-sm-2" style="text-align:right">
                    <label>Asset Class : </label>
                </div>
                <div class="col-sm-4">
                    @Html.AssetClassCombobox("WFD02620ASSET_CLASS", new { @class = "form-control", style = "width: 100%", multiple = "multiple", tabindex = "5" }, false)
                </div>
                <div class="col-sm-6">
                </div>

            </div>
            <div class="row" style="height:3px">
            </div>
            <div class="row">
                <div class="col-sm-2" style="text-align:right">
                    <label>Cost Center : </label>
                </div>
                <div class="col-sm-4">
                    @Html.WFD02620CostCenterCombobox("WFD02620COST_CENTER", new { @class = "form-control", style = "width: 200px", multiple = "multiple", tabindex = "6"}, false)
                </div>

                <div class="col-sm-2" style="text-align:right">

                    <label>Responsible Cost Center : </label>
                </div>
                <div class="col-sm-4">
                    @*@Html.SubTypeCombobox("WFD02620SubType", new { @class = "form-control select2 wfd02620-input", style = "width: 100%", multiple = "multiple", tabindex = "5", maxlength = "400" }, false)*@
                    @Html.WFD02620ResponsibleCostCenterCombobox("WFD02620RESPONSIBLE_COST_CENTER", new { @class = "form-control", multiple = "multiple", tabindex = "7"}, false)
                </div>
            </div>


            <div class="row" style="height:3px">
            </div>

            <div class="row">
                <div class="col-sm-2" style="text-align:right">
                    <label>Minor Category : </label>
                </div>
                <div class="col-sm-4">
                    @* @Html.MinorCategoryComboboxByCompany("WFD02620MINOR_CATEGORY", new { @class = "form-control", multiple = "multiple", tabindex = "8" }, false)*@
                    <select class="form-control"  multiple = "multiple"  id="WFD02620MINOR_CATEGORY" name="WFD02620MINOR_CATEGORY" tabindex="4">
                        @*<option value="">- Select -</option>*@
                    </select>
                </div>

                <div class="col-sm-2" style="text-align:right">

                    <label>BOI : </label>
                </div>
                <div class="col-sm-4">
                    @Html.BOICombobox("WFD02620BOI", new { @class = "form-control select2 wfd02620-primary-input wfd02620-input", tabindex = "9"})
                </div>
            </div>

            <div class="row" style="height:3px">
            </div>

            <div class="row">
                <div class="col-sm-2" style="text-align:right">

                    <label>Inventory Check : </label>
                </div>
                <div class="col-sm-4">
                    @Html.InventoryCheckCombobox("WFD02620INVENTORY_CHECK", new { @class = "form-control select2 wfd02620-primary-input wfd02620-input", tabindex = "10"})
                </div>
                <div class="col-sm-2" style="text-align:right">

                    <label>Asset Status : </label>
                </div>
                <div class="col-sm-4">

                    @Html.AssetStatusCombobox("WFD02620ASSET_STATUS", new { @class = "form-control select2 wfd02620-input", tabindex = "11", maxlength = "400" })
                </div>

            </div>
            <div class="row" style="height:3px">
            </div>

            <div class="row">
                <div class="col-sm-2" style="text-align:right">
                    <label>Target Date : </label>
                </div>
                <div class="col-sm-4">
                    <div class="form-inline">
                        <div class="input-group date">
                            @Html.TextBox("WFD02620TARGET_DATE_FROM", null, new { @class = "form-control datepicker wfd02620-input", placeholder = "From", tabindex = "6", maxlength = "12" })
                            <span class="input-group-btn">
                                <button class="btn btn-default wfd02620-input-dtbutton" onclick="ClickIconDate('WFD02620TARGET_DATE_FROM')">
                                    <i class="fa fa-calendar imargin"></i>
                                </button>
                            </span>
                        </div>
                        <i>-</i>
                        <div class="input-group date">
                            @Html.TextBox("WFD02620TARGET_DATE_TO", null, new { @class = "form-control datepicker wfd02620-input", placeholder = "To", tabindex = "7", maxlength = "13" })
                            <span class="input-group-btn">
                                <button class="btn btn-default wfd02620-input-dtbutton" onclick="ClickIconDate('WFD02620TARGET_DATE_TO')">
                                    <i class="fa fa-calendar imargin"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>

                <div class="col-sm-2" style="text-align:right">
                    <label>Data as of : </label>
                </div>
                <div class="col-sm-4">
                    <div class="form-inline">
                        <div class="input-group date">
                            @Html.TextBox("WFD02620DATA_AS_OF", null, new { @class = "form-control datepicker wfd02620-input", placeholder = "To", tabindex = "8", maxlength = "14" })
                            <span class="input-group-btn">
                                <button class="btn btn-default wfd02620-input-dtbutton" onclick="ClickIconDate('WFD02620DATA_AS_OF')">
                                    <i class="fa fa-calendar imargin"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row" style="height:3px">
            </div>

            <div class="row">

                <div class="col-sm-2" style="text-align:right">

                    <label>Q'ty Total Handheld : </label>
                </div>
                <div class="col-sm-4">
                    @Html.CommonTextBox("WFD02620QTY_OF_HANDHELD", null, new { @class = "form-control int-input wfd02620-input", tabindex = "4", maxlength = "2" })
                </div>


                <div class="col-sm-2" style="text-align:right">
                    <label>Break Time [m] : </label>
                </div>
                <div class="col-sm-4">
                    @Html.CommonTextBox("WFD02620BREAK_TIME_MINUTE", null, new { @class = "form-control int-input wfd02620-input", maxlength = "2", tabindex = "9" })
                </div>
            </div>

            <div class="row" style="height:3px">
            </div>

            <div class="row" style="margin-top: 10px;">
                <div class="col-lg-6 col-sm-8 col-xs-12">
                    <div class="form-inline form-in">
                        <label>Asset from upload : </label>
                        <div class="input-group">
                            <input id="WFD02620FileUploadTB" type="text" class="form-control wfd02620-input imargin" style="width: 230px;" tabindex="11" , maxlength="255">
                            <input id="WFD02620FileUploadFile" type="file" class="form-control imargin" style="display: none;" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet">
                            <span class="input-group-btn">
                                <button id="WFD02620FileUploadButton" class="btn btn-default wfd02620-input" type="button" tabindex="12">Browse..</button>

                            </span>

                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-4 col-xs-12 text-right edit-btn-group">
                    <a download class="btn btn-primary btn-xs" href='../Document/Template_stock.xlsx'><span class="glyphicon glyphicon-download-alt"></span> Download Template </a>

                    @Html.Button("WFD02620btnSave", "Save", new { @class = "btn btn-success", tabindex = "13" }, TagHelper.BUTTON_TYPES.SAVE)
                    @Html.Button("WFD02620btnCancel", "Cancel", new { @class = "btn btn-warning", tabindex = "14" }, TagHelper.BUTTON_TYPES.CANCEL)
                </div>
            </div>
            <div class="row wfd02620-editmode assign-btn-group">
                <div class="col-lg-6 col-sm-6 col-xs-12">
                    @Html.Button("WFD02620btnResetAssignment", "Reset Assignment", new { @class = "btn btn-danger" }, TagHelper.BUTTON_TYPES.CLEAR)

                </div>
                <div class="col-lg-6 col-sm-6 col-xs-12 text-right">
                    @Html.Button("WFD02620btnEdit", "Edit", new { @class = "btn btn-warning" }, TagHelper.BUTTON_TYPES.EDIT)
                </div>
            </div>
        </div>
        </div>
        <!-- /.box-footer-->
    </div>