﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.ScreenTitle = "Fixed Asset Management Detail Screen";
}
<style>

    .px-5 {
        padding-left:5px;
        padding-right:5px;
    }

    #table-fix-asset-tag {
        width: 100%;
    }

    #table-fix-asset-tag td {
        padding-bottom: 7px;
    }

    #btnAddMultipleFile {
        display: none;
    }

    #form-asset {
        font-family: Tahoma;
    }

        #form-asset input,
        #form-asset textarea,
        #form-asset label {
            font-size: 8pt;
        }

    div.form-group > div > input {
        font-family: Tahoma;
        font-size: 8pt;
    }

    .control-label {
        text-align: left !important;
    }

    .form-inline {
        display: block !important;
    }

    IMG.displayed {
        display: block;
        margin-left: auto;
        margin-right: auto;
        border: 1px solid #A3A3A3;
    }

    .nav-tabs-custom {
        background: transparent;
        border-color: #A3A3A3;
        font-size: 12px;
    }

        .nav-tabs-custom > .nav-tabs {
            border-top-right-radius: 3px;
            border-top-left-radius: 3px;
            font-weight: bold;
        }

            .nav-tabs-custom > .nav-tabs > li > a {
                color: #fff;
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
            }

            .nav-tabs-custom > .nav-tabs > li.active {
                border-top-color: transparent;
            }

            .nav-tabs-custom > .nav-tabs > li:first-of-type.active > a {
                border-left-color: #A3A3A3;
            }

            .nav-tabs-custom > .nav-tabs > li.active > a {
                border-top-color: #A3A3A3;
                border-right-color: #A3A3A3;
                border-left-color: #A3A3A3;
            }

            .nav-tabs-custom > .nav-tabs > li > a, .nav-tabs-custom > .nav-tabs > li > a:hover {
                background: #E6B9B8;
                margin: 0;
            }

        .nav-tabs-custom > .tab-content {
            border: 1px solid #A3A3A3;
        }

    .nav > li > a {
        position: relative;
        display: block;
        padding: 5px 15px;
    }

    .nav-tabs > li > span {
        background: #C0504D;
        color: #fff;
        font-size: 10px;
        padding: 3px 10px;
        border-radius: 7px;
        position: absolute;
        top: -15px;
        right: -5px;
    }

    .crop-container {
        max-width: 640px;
        margin: 0px auto;
        text-align: center;
    }

        .crop-container img {
            max-width: 100%;
            min-width: 300px;
            min-height: 300px;
        }

    .table-responsive {
        min-height: 0.01%;
        overflow-x: hidden;
    }

        .table-responsive > div:first-child > div:nth-child(2) {
            overflow-x: auto;
            margin-right: 0px;
        }

        .table-responsive > div:first-child {
            margin-right: 0px;
        }

    p {
        margin: 0px;
    }

    .inlineBlock {
        display: inline-block;
    }

    .btn-view-file {
        background-color: white;
        color: black;
        padding-right: 5px;
        display: inline-block;
        border-color: black;
    }

    .treeview {
        font-size: 13px;
    }
</style>


<style>
    * {
        box-sizing: border-box;
    }

    /*body {
        font: 16px Arial;
    }*/

    /*the container must be positioned relative:*/
    .autocomplete {
        position: relative;
        display: inline-block;
    }

    input {
        border: 1px solid transparent;
        /* background-color: #f1f1f1; */
        padding: 10px;
        font-size: 16px;
    }

        input[type=text] {
            /* background-color: #f1f1f1;*/
            width: 100%;
        }

        input[type=submit] {
            background-color: DodgerBlue;
            color: #fff;
            cursor: pointer;
        }

    .autocomplete-items {
        position: absolute;
        border: 1px solid #d4d4d4;
        border-bottom: none;
        border-top: none;
        z-index: 99;
        /*position the autocomplete items to be the same width as the container:*/
        top: 100%;
        left: 0;
        right: 0;
    }

        .autocomplete-items div {
            padding: 10px;
            cursor: pointer;
            background-color: #fff;
            border-bottom: 1px solid #d4d4d4;
        }

            /*when hovering an item:*/
            .autocomplete-items div:hover {
                background-color: #e9e9e9;
            }

    /*when navigating through the items using the arrow keys:*/
    .autocomplete-active {
        background-color: DodgerBlue !important;
        color: #ffffff;
    }
</style>

<script type="text/javascript">

    var WFD02130_Message = {
        ConfirmSaveLocation: '@ViewBag.ConfirmSaveLocation',
        SaveLocation_Err_NoInput: '@ViewBag.SaveLocation_Err_NoInput',
        PrintTag_Err_NoInput: '@ViewBag.PrintTag_Err_NoInput',
        ConfirmPrintTag: '@ViewBag.ConfirmPrintTag',
        SaveSuccess: '@ViewBag.SaveSuccess',
        PRINT_LOCKED_ERR: '@ViewBag.PrintTag_Locked_Err',
        ContactAdmin: '@ViewBag.ContactAdmin',
        GoToPrintQueue: '@ViewBag.GoToPrintQueue',
        ConfirmDelete: '@ViewBag.ConfirmDelete',
        PlateType_Err_NoInput: '@ViewBag.PlateType_Err_NoInput',
        PlateSize_Err_NoInput: '@ViewBag.PlateSize_Err_NoInput'
    }

</script>
<form class="form-horizontal" id="form-asset" enctype="multipart/form-data" method="post">
    <div class="col-md-8">
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">Fixed Asset</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="" data-original-title="Collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="box-body assetdata" style="display: block;" id="divHeaderData">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="COMPANY" class="col-sm-2 col-lg-2 control-label px-5">Company</label>
                        <div class="col-sm-2 col-lg-2 px-5">
                            @Html.CommonTextBox("COMPANY", null, new { @class = "form-control text-left", disabled = "disabled", tabindex = "1" })
                        </div>
                        <label for="ASSET_NO" class="col-sm-2 col-lg-2 control-label px-5">Asset No.</label>
                        <div class="col-sm-2 col-lg-2 px-5">
                            @Html.CommonTextBox("ASSET_NO", null, new { @class = "form-control text-left", disabled = "disabled", tabindex = "2" })
                        </div>
                        <label for="ASSET_SUB" class="col-sm-2 col-lg-2 control-label px-5">Asset Sub</label>
                        <div class="col-sm-2 col-lg-2 px-5">
                            @Html.CommonTextBox("ASSET_SUB", null, new { @class = "form-control text-left", disabled = "disabled", tabindex = "3" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="ASSET_NAME" class="col-sm-2 col-lg-2 control-label px-5">Asset Description</label>
                        <div class="col-sm-6 col-lg-6 px-5">
                            @Html.CommonTextBox("ASSET_NAME", null, new { @class = "form-control text-left", disabled = "disabled", tabindex = "4" })
                        </div>
                        <label for="INVEN_NO" class="col-sm-2 col-lg-2 control-label px-5">Asset Plate No.</label>
                        <div class="col-sm-2 col-lg-2 px-5">
                            @Html.CommonTextBox("INVEN_NO", null, new { @class = "form-control text-left", disabled = "disabled", tabindex = "5" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 col-lg-2 control-label px-5">Additional Asset Desc.</label>
                        <div class="col-sm-6 col-lg-6 px-5">
                            @Html.CommonTextBox("ADTL_ASSET_NAME", null, new { @class = "form-control text-left", disabled = "disabled", tabindex = "4" })
                        </div>
                        <label for="ASSET_GROUP" class="col-sm-2 col-lg-2 control-label px-5">Asset Group</label>
                        <div class="col-sm-2 col-lg-2 px-5">
                            @Html.CommonTextBox("ASSET_GROUP", null, new { @class = "form-control text-left", disabled = "disabled", tabindex = "7" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="ORG_ASSET" class="col-sm-2 col-lg-2 control-label px-5">Original Asset No.</label>
                        <div class="col-sm-2 col-lg-2 px-5">
                            @Html.CommonTextBox("ORG_ASSET", null, new { @class = "form-control text-left", disabled = "disabled", tabindex = "8" })
                        </div>
                        <label for="ORG_ASSET_SUB" class="col-sm-2 col-lg-2 control-label px-5">Original Asset Sub</label>
                        <div class="col-sm-2 col-lg-2 px-5">
                            @Html.CommonTextBox("ORG_ASSET_SUB", null, new { @class = "form-control text-left", disabled = "disabled", tabindex = "9" })
                        </div>
                        <label for="BOI" class="col-sm-2 col-lg-2 control-label px-5">BOI</label>
                        <div class="col-sm-2 col-lg-2 px-5">
                            @Html.CommonTextBox("INVEST_REASON", null, new { @class = "form-control text-left", disabled = "disabled", tabindex = "10" })
                        </div>
                    </div>


                    <div class="form-group">
                        <label for="STOCKTAKE_FREQUENCY" class="col-sm-2 col-lg-2 control-label px-5">Stocktake Frequency</label>
                        <div class="col-sm-1 col-lg-1 px-5">
                            @Html.CommonTextBox("STOCKTAKE_FREQUENCY", null, new { @class = "form-control text-left", tabindex = "11", maxlength = "2", onkeypress = "return isNumberKey(event)" })
                        </div>
                        <label class="col-sm-1 col-lg-1 control-label px-5">Years</label>
                        <label for="LAST_SCAN_DATE" class="col-sm-2 col-lg-2 control-label px-5">Last Scan Date</label>
                        <div class="col-sm-2 col-lg-2 px-5">
                            @Html.CommonTextBox("LAST_SCAN_DATE", null, new { @class = "form-control text-left", disabled = "disabled", tabindex = "12" })
                        </div>
                        <label for="DATE_IN_SERVICE" class="col-sm-2 col-lg-2 control-label px-5">Capitalized Date</label>
                        <div class="col-sm-2 col-lg-2 px-5">
                            @Html.CommonTextBox("DATE_IN_SERVICE", null, new { @class = "form-control text-left", disabled = "disabled", tabindex = "13" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="STATUS_DESC" class="col-sm-2 col-lg-2 control-label px-5">Status</label>
                        <div class="col-sm-2 col-lg-2 px-5">
                            @Html.CommonTextBox("STATUS_DESC", null, new { @class = "form-control text-left", disabled = "disabled", tabindex = "14" })
                        </div>
                        <label for="PROCESS_STATUS_DESC" class="col-sm-2 col-lg-2 control-label px-5">Process Status</label>
                        <div class="col-sm-2 col-lg-2 px-5">
                            @Html.CommonTextBox("PROCESS_STATUS_DESC", null, new { @class = "form-control text-left", disabled = "disabled", tabindex = "15" })
                        </div>
                        <div class="col-sm-6 col-lg-4 aecuser px-5">
                            @Html.SystemCombobox("PROCESS_STATUS", "FAS_STATUS", "PROCESS_STATUS", false, new { @class = "form-control select2", tabindex = "16" }, false)
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="COST_PENDING" class="col-sm-2 col-lg-2 control-label px-5">Cost Pending</label>
                        <div class="col-sm-2 col-lg-2 px-5">
                            <label style="margin-top:5px;">@Html.CheckBox("COST_PENDING", false, new { disabled = "disabled" })</label>
                        </div>
                        <label for="DOC_NO" class="col-sm-2 col-lg-2 control-label px-5">Doc No.</label>
                        <div class="col-sm-2 col-lg-2 px-5">
                            @Html.CommonTextBox("DOC_NO", null, new { @class = "form-control text-left", disabled = "disabled", tabindex = "16" })
                        </div>
                        <label for="INVEN_INDICATOR" class="col-sm-2 col-lg-2 control-label px-5">Physical Check</label>
                        <div class="col-sm-2 col-lg-2 px-5">
                            <label style="margin-top:5px;">@Html.CheckBox("INVEN_INDICATOR", false, new { disabled = "disabled" })</label>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="button-box navbar-right">
                            @Html.Button("WFD02130Save", "Save", new { @class = "btn btn-success" }, TagHelper.BUTTON_TYPES.SAVE)
                            @Html.Button("WFD02130Close", "Close", new { @class = "btn btn-warning" }, TagHelper.BUTTON_TYPES.CANCEL)
                        </div>
                    </div>
                    <div style="height: 0px;">
                        <label id="UPDATE_DATE" class="col-sm-0" style="visibility:hidden"></label>
                    </div>

                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <!-- Custom Tabs -->
                        <div id="tabs" class="nav-tabs-custom">
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="#tab_asset_information" data-toggle="tab" aria-expanded="false">Asset Information</a></li>
                                <li class=""><a href="#tab_asset_depreciation" data-toggle="tab" aria-expanded="false">Asset Depreciation</a></li>
                                <li class=""><a href="#tab_leasing_information" data-toggle="tab" aria-expanded="false">Leasing Information</a></li>
                                <li class="aecuser"><a href="#tab_leasing_depreciation" data-toggle="tab" aria-expanded="false">Leasing Depreciation</a></li>
                                <li class=""><a href="#tab_additional_information" data-toggle="tab" aria-expanded="false">Additional Information</a></li>

                                <!-- <li class=""><a href="#tab_financial" data-toggle="tab" aria-expanded="true">FINANCIAL</a></li>
                                <li class=""><a href="#tab_cost" data-toggle="tab" aria-expanded="false">COST</a></li>-->
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="tab_asset_information">
                                    @Html.Partial("TabAssetInformation")
                                </div>
                                <div class="tab-pane" id="tab_asset_depreciation">
                                    @Html.Partial("TabAssetDepreciation")
                                </div>
                                <div class="tab-pane" id="tab_leasing_information">
                                    @Html.Partial("TabLeasingInformation")
                                </div>
                                <div class="tab-pane" id="tab_leasing_depreciation">
                                    @Html.Partial("TabLeasingDepreciation")
                                </div>
                                <div class="tab-pane" id="tab_additional_information">
                                    @Html.Partial("TabAdditionalInformation")
                                </div>
                            </div>
                            <!-- /.tab-content -->
                        </div>
                        <!-- nav-tabs-custom -->
                    </div>
                </div>
            </div>
        </div>
        <!-- /.box-footer-->
        @*<div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Cost Center</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="" data-original-title="Collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body" style="display: block;">
                    <div class="col-md-12">
                        <div class="form-group">
                            <!-- Custom Tabs -->
                            <div id="tabs" class="nav-tabs-custom">
                                <ul class="nav nav-tabs">
                                    <li class="active"><a href="#tab_asset_information" data-toggle="tab" aria-expanded="false">Asset Information</a></li>
                                    <li class=""><a href="#tab_asset_depreciation" data-toggle="tab" aria-expanded="false">Asset Depreciation</a></li>
                                    <li class=""><a href="#tab_leasing_information" data-toggle="tab" aria-expanded="false">Leasing Information</a></li>
                                    <li class="aecuser"><a href="#tab_leasing_depreciation" data-toggle="tab" aria-expanded="false">Leasing Depreciation</a></li>
                                    <li class="aecuser"><a href="#tab_additional_information" data-toggle="tab" aria-expanded="false">Additional Information</a></li>

                                    <!-- <li class=""><a href="#tab_financial" data-toggle="tab" aria-expanded="true">FINANCIAL</a></li>
                                    <li class=""><a href="#tab_cost" data-toggle="tab" aria-expanded="false">COST</a></li>-->
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane active" id="tab_asset_information">
                                        @Html.Partial("TabAssetInformation")
                                    </div>
                                    <div class="tab-pane" id="tab_asset_depreciation">
                                        @Html.Partial("TabAssetDepreciation")
                                    </div>
                                    <div class="tab-pane" id="tab_leasing_information">
                                        @Html.Partial("TabLeasingInformation")
                                    </div>
                                    <div class="tab-pane" id="tab_leasing_depreciation">
                                        @Html.Partial("TabLeasingDepreciation")
                                    </div>
                                    <div class="tab-pane" id="tab_additional_information">
                                        @Html.Partial("TabAdditionalInformation")
                                    </div>
                                </div>
                                <!-- /.tab-content -->
                            </div>
                            <!-- nav-tabs-custom -->
                        </div>
                    </div>
                </div>
            </div>*@
    </div>
    <div class="col-md-4">
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">Photo</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="" data-original-title="Collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="box-body" style="display: block;">
                <div class="col-md-12">
                    <div class="form-group">
                        <img id="WFD02130ImageUpLoadPriview" style="width:265px;height:265px;" class="displayed" src="@ViewBag.DafaultImage" />
                    </div>
                    <div class="form-group">
                        <div class="text-center">
                            @*<button class="btn btn-sm btn-info" id="WFD02130UploadOpen" type="button"  style="width:120px"><i class="fa  fa-upload"></i>Upload Photo</button>*@
                            @Html.Button("WFD02130UploadOpen", "Upload Photo", new { @class = "btn btn-info", type = "button" }, TagHelper.BUTTON_TYPES.UPLOAD)
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.box-footer-->
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">Fixed Asset Tag</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="" data-original-title="Collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="box-body" style="display: block;">
                <table id="table-fix-asset-tag">
                    <tbody>
                        <tr>
                            <td><label class="control-label">Print Count<span style="padding-left:10px" ID="PRINT_COUNT"></span></label></td>
                            <td><label class="control-label">Print Condition</label></td>
                            <td><label class="control-label text-left" ID="PRINT_CONDITION" style="font-weight:bold;color:red;font-size:15px"></label></td>
                        </tr>
                        <tr>
                            <td><label class="control-label">Plate Type</label></td>
                            <td colspan="2">
                                <label><input type="radio" name="PLATE_TYPE" id="PLATE_TYPE_P" value="P">&nbsp;Plate</label>
                                <label style="padding-left:5px"><input type="radio" name="PLATE_TYPE" id="PLATE_TYPE_S" value="S">&nbsp;Sticker</label>
                            </td>
                        </tr>
                        <tr>
                            <td><label class="control-label">Plate Size</label></td>
                            <td colspan="2">
                                <label><input type="radio" name="BARCODE" id="BARCODE_SIZE_SMALL" value="S">&nbsp;Small</label>
                                <label style="padding-left:5px"><input type="radio" name="BARCODE" id="BARCODE_SIZE_MEDIUM" value="M">&nbsp;Medium</label>
                                <label style="padding-left:5px"><input type="radio" name="BARCODE" id="BARCODE_SIZE_LARGE" value="L">&nbsp;Large</label>
                            </td>
                        </tr>
                    </tbody>
                </table>
                @*<div class="form-group">
                    <label class="control-label" style="width:10%"></label>
                    <label class="control-label" style="width:20%">Print Count</label>
                    <label class="control-label text-left" ID="PRINT_COUNT" style="width:12%"></label>
                    <label class="control-label" style="width:30%">Print Condition</label>
                    <label class="control-label text-left" ID="PRINT_CONDITION" style="width:20%;font-weight:bold;color:red;font-size:15px"></label>
                </div>
                <div class="form-group">
                    <label class="control-label" style="width:10%"></label>
                    <label class="control-label" style="width:20%">Plate Type</label>
                    <label class="control-label" style="width:12%"></label>
                    <label><input type="radio" name="PLATE_TYPE" id="PLATE_TYPE_P">&nbsp;Plate</label>
                    <label class="control-label" style="width:5%"></label>
                    <label><input type="radio" name="PLATE_TYPE" id="PLATE_TYPE_S">&nbsp;Sticker</label>
                </div>
                <div class="form-group">
                    <label class="control-label" style="width:10%"></label>
                    <label class="control-label" style="width:20%">Plate Size</label>
                    <label class="control-label" style="width:12%"></label>
                    <label><input type="radio" name="BARCODE" id="BARCODE_SIZE_SMALL">&nbsp;Small</label>
                    <label class="control-label" style="width:5%"></label>
                    <label><input type="radio" name="BARCODE" id="BARCODE_SIZE_MEDIUM">&nbsp;Medium</label>
                </div>
                <div class="form-group">
                    <label class="control-label" style="width:10%"></label>
                    <label class="control-label" style="width:20%"></label>
                    <label class="control-label" style="width:12%"></label>
                    <label><input type="radio" name="BARCODE" id="BARCODE_SIZE_LARGE">&nbsp;Large</label>
                </div>*@
                <div class="form-group">
                    <div class="text-center col-sm-12">
                        @Html.Button("WFD02130PrintTag", "Print", new { @class = "btn btn-info", type = "button", Style = "width:100px" }, TagHelper.BUTTON_TYPES.PRINT)
                    </div>
                </div>
            </div>
        </div>
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">BOI Privilege Termination</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="" data-original-title="Collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="box-body" style="display: block;">
                <div class="form-group">
                    <label class="col-sm-4 control-label">Attachment</label>
                    <div class="col-sm-8">
                        <button id="WFD02130_UPLOAD_BOI_BTN" type="button" class="btn btn-info" tabindex="21"><i class="fa fa-upload"></i> Attachment </button>

                        @*<input type="text" id="WFD02130FileUploadTB" style="display:none;" />
                            <button id="WFD02130_UPLOAD_BOI_BTN" type="button" class="btn btn-info" tabindex="17"><i class="fa fa-upload"></i> Upload </button>
                            <a id="WFD02130_UPLOAD_BOI_DOWNLOAD" href="#" target="_blank" class="btn btn-info" style="display:none;"><i class="fa fa-download"></i> Download </a>
                            <p class="inlineBlock" title="" data-original-title="View File" data-toggle="tooltip" data-placement="top">
                                <a id="WFD02130_UPLOAD_BOI_VIEW" href="#" class="btn btn-sm btn-view-file" style="display:none;"><span class="glyphicon glyphicon-paperclip"></span></a>
                            </p>
                            <input id="WFD02130_UPLOAD_BOI_FILE" type="file" style="display:none;" class="form-control" onchange="WFD02130_SetButtonAndUploadFile();" />
                            <button id="WFD02130_UPLOAD_BOI_DEL" type="button" style="display:none;" onclick="WFD02130DelUploadCommentFileClick()" class="btn btn-warning"><i class="fa fa-remove"></i>Remove File</button>*@
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">Updated Date</label>
                    <div class="col-sm-8">
                        @Html.CommonTextBox("BOI_UPDATE_DATE", null, new { @class = "form-control", disabled = "disabled", tabindex = "18" })
                    </div>
                </div>
            </div>
        </div>
        <!-- /.box-footer-->
    </div>
</form>

@Html.Partial("WFD02130DialogPrintLocation")
@Html.Partial("../ComUpload/Index")
@Html.Partial("UploadModal")

@section scripts {

    <link rel="stylesheet" href="~/InitializeComponents/Content/Components/plugins/cropper/cropper.min.css" />

    <script type="text/javascript" src="~/JS/ComUpload.js"></script>
    <script type="text/javascript">

        $(function () {

            if (!isIe8()) {
                $.getScript('../InitializeComponents/Content/Components/plugins/cropper/canvas-to-blob.min.js');
                $.getScript('../InitializeComponents/Content/Components/plugins/cropper/cropper.min.js');
            }

            if('@ViewBag.IsAECUser' == "Y"){
                $('.aecuser').show();
                $('#STOCKTAKE_FREQUENCY').prop('readonly', false);
                $('#STOCKTAKE_FREQUENCY').prop('disable', false);
            } else {
                $('.aecuser').hide();
                $('#STOCKTAKE_FREQUENCY').prop('readonly', true);
                $('#STOCKTAKE_FREQUENCY').prop('disable', true);
            }

        });

        var URL_CONST = {
            GetAssetList: '@Url.Action("GetAssetList", "WFD02130")',
            UpdateAssetInfo: '@Url.Action("UpdateAssetInfo", "WFD02130")',
            GetPrintLocation: '@Url.Action("GetPrintLocation", "WFD02130")',
            AddPrintTagAndUpdateBarCodeSize: '@Url.Action("AddPrintTagAndUpdateBarCodeSize", "WFD02130")',
            UpdateTAG_Photo: '@Url.Action("UpdateTAG_Photo", "WFD02130")',
            GetAutoCompleteEmployee: '@Url.Action("Employee_AutoComplete", "Common")',
            ASSET_NO: '@ViewBag.ASSET_NO',
            COST_CODE: '@ViewBag.COST_CODE',
            ITEM_PER_PAGE: '@ViewBag.ITEM_PER_PAGE',

            MESSAGECONFIRMSAVE: '@ViewBag.MessageConfirmSave',
            MESSAGESUCCESS: '@ViewBag.MessageSuccess',
            MESSAGECONFIRMCANCELT: '@ViewBag.MessageConfirmCancelT',
            MESSAGECONFIRMCANCELP: '@ViewBag.MessageConfirmCancelP',
            MESSAGE_DEL_SUCCESS: '@ViewBag.DeleteSuccess',
            CODESUCCESS: '@ViewBag.CodeSuccess',
            SaveSuccess: '@ViewBag.SaveSuccess',

            CODE_CONTACT_ADMIN: '@ViewBag.CodeContactAdmin',
            MESSAGE_CONTACT_ADMIN: '@ViewBag.MessageContactAdmin',
            CHECK_UPLOAD_FILE: '@Url.Action("CheckFileUpload", "WFD02130")',
            DELETE_FILE_BOI: '@Url.Action("WFD02130_DeleteAttchDoc", "WFD02130")',
            UPLOAD_FILE_BOI: '@Url.Action("WFD02130_UploadBOIData", "WFD02130")',

            STOCKTAKE_FREQUENCY: '@ViewBag.STOCKTAKE_FREQUENCY',
            PROCESS_STATUS: '@ViewBag.PROCESS_STATUS',
            EMP_REMARK: '@ViewBag.EMP_REMARK',
            LOCATION_REMARK: '@ViewBag.LOCATION_REMARK',
            COMPANY: '@ViewBag.COMPANY',
            ASSET_SUB: '@ViewBag.ASSET_SUB',
        }

        var PARAMETER = {
            FILEEXTENSION: '@ViewBag.FileExtension',
            DEFAULT_IMAGE: '@ViewBag.DafaultImage',
            IMAGE_WIDTH: '@ViewBag.ImageWidth',
            IMAGE_HEIGHT: '@ViewBag.ImageHeight',
            MODE: '@ViewBag.Mode',
            PerUploadBOIDoc: '@ViewBag.PerUploadBOIDoc'
        }

        var GLOBAL = {
            GUID: '@Guid.NewGuid().ToString()',
            IS_AEC: '@ViewBag.IsAECUser'
        }

        function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode
        if (charCode > 31 && (charCode < 48 || charCode > 57))
        return false;

        return true;
        }

    </script>


    <script type="text/javascript" src="~/JS/WFD02130.js"></script>
}