﻿<div class="form-group assetdata" id="divTabAssetInformation">
    <div class="row">
        <div class="col-lg-12">
            <label for="ASSET_CLASS" class="col-sm-3 control-label">Asset Class</label>
            <div class="col-sm-3 text-left">
                @Html.CommonTextBox("ASSET_CLASS", null, new { @class = "form-control text-left" })
            </div>
            <label class="col-sm-6 control-label"><span id="ASSET_CLASS_NAME"></span></label>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <label for="MINOR_CATEGORY" class="col-sm-3  control-label">Minor Category</label>
            <div class="col-sm-3 text-left">
                @Html.CommonTextBox("MINOR_CATEGORY", null, new { @class = "form-control text-left" })
            </div>
            <label class="col-sm-6 control-label"><span id="MINOR_CATEGORY_NAME"></span></label>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <label for="FINAL_ASSET" class="col-sm-3 control-label">Final Asset Class</label>
            <div class="col-sm-3 text-left">
                @Html.CommonTextBox("FINAL_ASSET_CLASS", null, new { @class = "form-control text-left" })
            </div>
            <label class="col-sm-6 control-label"><span id="FINAL_ASSET_CLASS_NAME"></span></label>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <label for="COST_CODE" class="col-sm-3  control-label">Cost Center</label>
            <div class="col-sm-3 text-left">
                @Html.CommonTextBox("COST_CODE", null, new { @class = "form-control text-left" })
            </div>
            <label class="col-sm-6 control-label"><span id="COST_CODE_NAME"></span></label>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <label for="RESP_COST_CODE" class="col-sm-3  control-label">Resp. Cost Center</label>
            <div class="col-sm-3 text-left">
                @Html.CommonTextBox("RESP_COST_CODE", null, new { @class = "form-control text-left" })
            </div>
            <label class="col-sm-6 control-label"><span id="RESP_COST_CODE_NAME"></span></label>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <label for="WBS_BUDGET" class="col-sm-3  control-label">WBS (Budget)</label>
            <div class="col-sm-3 text-left">
                @Html.CommonTextBox("WBS_BUDGET", null, new { @class = "form-control text-left" })
            </div>
            <label class="col-sm-6 control-label"><span id="WBS_BUDGET_NAME"></span></label>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <label for="WBS_PROJECT" class="col-sm-3  control-label">WBS Cost (Project)</label>
            <div class="col-sm-3 text-left">
                @Html.CommonTextBox("WBS_PROJECT", null, new { @class = "form-control text-left" })
            </div>
            <label class="col-sm-6 control-label"><span id="WBS_PROJECT_NAME"></span></label>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <label for="TAX_PRIVILEGE" class="col-sm-3 control-label">Tax Privilege</label>
            <div class="col-sm-3 text-left">
                @Html.CommonTextBox("BOI_NO", null, new { @class = "form-control text-left" })
            </div>
            <label class="col-sm-6 control-label"><span id="BOI_NO_NAME"></span></label>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <label for="ASSET_TYPE" class="col-sm-3 control-label">Machine License</label>
            <div class="col-sm-3 text-left">
                @Html.CommonTextBox("MACHINE_LICENSE", null, new { @class = "form-control text-left" })
            </div>
            <label class="col-sm-6 control-label"><span id="MACHINE_LICENSE_NAME"></span></label>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <label for="SERIAL_NO" class="col-sm-3 control-label">Serial Number</label>
            <div class="col-sm-3  text-left">
                @Html.CommonTextBox("SERIAL_NO", null, new { @class = "form-control text-left" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <label for="LICENSE_PLATE" class="col-sm-3 control-label">License Plate No.</label>
            <div class="col-sm-3 text-left">
                @Html.CommonTextBox("LICENSE_PLATE", null, new { @class = "form-control text-left" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <label for="LOCATION" class="col-sm-3 control-label">Location/Supplier Code</label>
            <div class="col-sm-3 text-left">
                @Html.CommonTextBox("LOCATION", null, new { @class = "form-control text-left" })
            </div>
            <label class="col-sm-6 control-label"> <span id="LOCATION_NAME"></span></label>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <label for="MANUFACTURE_OF_ASSET" class="col-sm-3 control-label">Location Detail</label>
            <div class="col-sm-9 text-left">
                @Html.CommonTextBox("MANUFACT_ASSET", null, new { @class = "form-control text-left" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <label for="LOCATION_REMARK" class="col-sm-3 control-label">Remark for Location</label>
            <div class="col-sm-9 text-left">
                @Html.CommonTextBox("LOCATION_REMARK", null, new { @class = "form-control text-left", style = "", maxlength = "200" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <label for="VENDOR_CODE" class="col-sm-3 control-label">Vendor Code</label>
            <div class="col-sm-3 text-left">
                @Html.CommonTextBox("VENDOR_CODE", null, new { @class = "form-control text-left" })
            </div>
            <label class="col-sm-6 control-label"> <span id="VENDOR_NAME"></span></label>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <label for="EMP_NAMEEMP_CODE" class="col-sm-3 control-label">Employee Code</label>
            <div class="col-sm-3 text-left">
                @Html.CommonTextBox("EMP_CODE", null, new { @class = "form-control typeahead", style = "", })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <label for="EMP_REMARK" class="col-sm-3 control-label">Employee Name</label>
            <div class="col-sm-9 text-left">
                @Html.CommonTextBox("EMP_NAME", null, new { @class = "form-control text-left" })
            </div>
        </div>
    </div>
</div>
