﻿<div class="form-group assetdata" id="divDepreciation">

        <div class="col-lg-12">
            <label for="Asset_Class" class="col-sm-4 col-lg-4 text-center"></label>
            <label for="Asset_Class" class="col-sm-2 col-lg-2 text-center" id="DPRE_AREA_01">01</label>
            <label for="Asset_Class" class="col-sm-2 col-lg-2 text-center aecuser" id="DPRE_AREA_15">15</label>
            <label for="Asset_Class" class="col-sm-2 col-lg-2 text-center aecuser" id="DPRE_AREA_31">31</label>
            <label for="Asset_Class" class="col-sm-2 col-lg-2 text-center aecuser" id="DPRE_AREA_41">41</label>
        </div>
        <div class="col-lg-12">
            <label class="col-sm-4  col-lg-4 control-label">Depreciation Area</label>
            <label class="col-sm-2 col-lg-2 text-center aecuser">Local Book</label>
            <label class="col-sm-2 col-lg-2 text-center aecuser">Tax book</label>
            <label class="col-sm-2 col-lg-2 text-center aecuser">IFRS</label>
            <label class="col-sm-2 col-lg-2 text-center aecuser">Mgmt Rpt</label>
        </div>
        <div class="col-lg-12">
            <label for="DPRE_KEY_01" class="col-sm-4  col-lg-4 control-label">Depreciation Key</label>
            <div class="col-sm-2  col-lg-2 text-left">
                @Html.CommonTextBox("DPRE_KEY_01", null, new { @class = "form-control text-right" })
            </div>
            <div class="col-sm-2  col-lg-2 text-left aecuser">
                @Html.CommonTextBox("DPRE_KEY_15", null, new { @class = "form-control text-right" })
            </div>
            <div class="col-sm-2  col-lg-2 text-left aecuser">
                @Html.CommonTextBox("DPRE_KEY_31", null, new { @class = "form-control text-right" })
            </div>
            <div class="col-sm-2  col-lg-2 text-left aecuser">
                @Html.CommonTextBox("DPRE_KEY_41", null, new { @class = "form-control text-right" })
            </div>
        </div>
    <div class="col-lg-12">
        <label for="DPRE_START_DATE_01" class="col-sm-4  col-lg-4 control-label">Start Date</label>
        <div class="col-sm-2  col-lg-2 text-left">
            @Html.CommonTextBox("DPRE_START_DATE_01", null, new { @class = "form-control text-right" })
        </div>
        <div class="col-sm-2  col-lg-2 text-left aecuser">
            @Html.CommonTextBox("DPRE_START_DATE_15", null, new { @class = "form-control text-right" })
        </div>
        <div class="col-sm-2  col-lg-2 text-left aecuser">
            @Html.CommonTextBox("DPRE_START_DATE_31", null, new { @class = "form-control text-right" })
        </div>
        <div class="col-sm-2  col-lg-2 text-left aecuser">
            @Html.CommonTextBox("DPRE_START_DATE_41", null, new { @class = "form-control text-right" })
        </div>
    </div>
    <div class="col-lg-12">
        <label for="USEFUL_LIFE_PERD_01" class="col-sm-4  col-lg-4 control-label">Cost Current</label>
        <div class="col-sm-2  col-lg-2 text-left">
            @Html.CommonTextBox("CUMU_ACQU_PRDCOST_01", null, new { @class = "form-control text-right" })
        </div>
        <div class="col-sm-2  col-lg-2 text-left aecuser">
            @Html.CommonTextBox("CUMU_ACQU_PRDCOST_15", null, new { @class = "form-control text-right" })
        </div>
        <div class="col-sm-2  col-lg-2 text-left aecuser">
            @Html.CommonTextBox("CUMU_ACQU_PRDCOST_31", null, new { @class = "form-control text-right" })
        </div>
        <div class="col-sm-2  col-lg-2 text-left aecuser">
            @Html.CommonTextBox("CUMU_ACQU_PRDCOST_41", null, new { @class = "form-control text-right" })
        </div>
    </div>
    <div class="col-lg-12">
        <label for="USEFUL_LIFE_PERD_01" class="col-sm-4  col-lg-4 control-label">Accum Depreciation</label>
        <div class="col-sm-2  col-lg-2 text-left">
            @Html.CommonTextBox("ACCU_DPRE_01", null, new { @class = "form-control text-right" })
        </div>
        <div class="col-sm-2  col-lg-2 text-left aecuser">
            @Html.CommonTextBox("ACCU_DPRE_15", null, new { @class = "form-control text-right" })
        </div>
        <div class="col-sm-2  col-lg-2 text-left aecuser">
            @Html.CommonTextBox("ACCU_DPRE_31", null, new { @class = "form-control text-right" })
        </div>
        <div class="col-sm-2  col-lg-2 text-left aecuser">
            @Html.CommonTextBox("ACCU_DPRE_41", null, new { @class = "form-control text-right" })
        </div>
    </div>
    <div class="col-lg-12">
        <label for="USEFUL_LIFE_PERD_01" class="col-sm-4  col-lg-4 control-label">Net Book Value</label>
        <div class="col-sm-2  col-lg-2 text-left">
            @Html.CommonTextBox("NET_VALUE_01", null, new { @class = "form-control text-right" })
        </div>
        <div class="col-sm-2  col-lg-2 text-left aecuser">
            @Html.CommonTextBox("NET_VALUE_15", null, new { @class = "form-control text-right" })
        </div>
        <div class="col-sm-2  col-lg-2 text-left aecuser">
            @Html.CommonTextBox("NET_VALUE_31", null, new { @class = "form-control text-right" })
        </div>
        <div class="col-sm-2  col-lg-2 text-left aecuser">
            @Html.CommonTextBox("NET_VALUE_41", null, new { @class = "form-control text-right" })
        </div>
    </div>
    <div class="col-lg-12">
        <label for="USEFUL_LIFE_PERD_01" class="col-sm-4  col-lg-4 control-label">Scrap Value</label>
        <div class="col-sm-2  col-lg-2 text-left">
            @Html.CommonTextBox("SCRAP_VALUE_01", null, new { @class = "form-control text-right" })
        </div>
        <div class="col-sm-2  col-lg-2 text-left aecuser">
            @Html.CommonTextBox("SCRAP_VALUE_15", null, new { @class = "form-control text-right" })
        </div>
        <div class="col-sm-2  col-lg-2 text-left aecuser">
            @Html.CommonTextBox("SCRAP_VALUE_31", null, new { @class = "form-control text-right" })
        </div>
        <div class="col-sm-2  col-lg-2 text-left aecuser">
            @Html.CommonTextBox("SCRAP_VALUE_41", null, new { @class = "form-control text-right" })
        </div>
    </div>
    <div class="col-lg-12">
        <label for="USEFUL_LIFE_PERD_01" class="col-sm-4  col-lg-4 control-label">YTD Depreciation</label>
        <div class="col-sm-2  col-lg-2 text-left">
            @Html.CommonTextBox("DPRE_CUR_YEAR_01", null, new { @class = "form-control text-right" })
        </div>
        <div class="col-sm-2  col-lg-2 text-left aecuser">
            @Html.CommonTextBox("DPRE_CUR_YEAR_15", null, new { @class = "form-control text-right" })
        </div>
        <div class="col-sm-2  col-lg-2 text-left aecuser">
            @Html.CommonTextBox("DPRE_CUR_YEAR_31", null, new { @class = "form-control text-right" })
        </div>
        <div class="col-sm-2  col-lg-2 text-left aecuser">
            @Html.CommonTextBox("DPRE_CUR_YEAR_41", null, new { @class = "form-control text-right" })
        </div>
    </div>
        <div class="col-lg-12">
            <label for="DPRE_START_DATE_01" class="col-sm-4  col-lg-4 control-label">Plan Useful Life (Year)</label>
            <div class="col-sm-2  col-lg-2 text-left">
                @Html.CommonTextBox("USEFUL_LIFE_YEAR_01", null, new { @class = "form-control text-right" })
            </div>
            <div class="col-sm-2  col-lg-2 text-left aecuser">
                @Html.CommonTextBox("USEFUL_LIFE_YEAR_01", null, new { @class = "form-control text-right" })
            </div>
            <div class="col-sm-2  col-lg-2 text-left aecuser">
                @Html.CommonTextBox("USEFUL_LIFE_YEAR_01", null, new { @class = "form-control text-right" })
            </div>
            <div class="col-sm-2  col-lg-2 text-left aecuser">
                @Html.CommonTextBox("USEFUL_LIFE_YEAR_01", null, new { @class = "form-control text-right" })
            </div>
        </div>
        <div class="col-lg-12">
            <label for="USEFUL_LIFE_PERD_01" class="col-sm-4  col-lg-4 control-label">Plan Useful Life (Period)</label>
            <div class="col-sm-2  col-lg-2 text-left">
                @Html.CommonTextBox("USEFUL_LIFE_PERD_01", null, new { @class = "form-control text-right" })
            </div>
            <div class="col-sm-2  col-lg-2 text-left aecuser">
                @Html.CommonTextBox("USEFUL_LIFE_PERD_15", null, new { @class = "form-control text-right" })
            </div>
            <div class="col-sm-2  col-lg-2 text-left aecuser">
                @Html.CommonTextBox("USEFUL_LIFE_PERD_31", null, new { @class = "form-control text-right" })
            </div>
            <div class="col-sm-2  col-lg-2 text-left aecuser">
                @Html.CommonTextBox("USEFUL_LIFE_PERD_41", null, new { @class = "form-control text-right" })
            </div>
        </div>
    <div class="col-lg-12">
        <label for="USEFUL_LIFE_PERD_01" class="col-sm-4  col-lg-4 control-label">Capacity (UOP)</label>
        <div class="col-sm-2  col-lg-2 text-left">
            @Html.CommonTextBox("CAPACITY_UOP_01", null, new { @class = "form-control text-right" })
        </div>
        <div class="col-sm-2  col-lg-2 text-left aecuser">
            @Html.CommonTextBox("CAPACITY_UOP_15", null, new { @class = "form-control text-right" })
        </div>
        <div class="col-sm-2  col-lg-2 text-left aecuser">
            @Html.CommonTextBox("CAPACITY_UOP_31", null, new { @class = "form-control text-right" })
        </div>
        <div class="col-sm-2  col-lg-2 text-left aecuser">
            @Html.CommonTextBox("CAPACITY_UOP_41", null, new { @class = "form-control text-right" })
        </div>
    </div>
    <div class="col-lg-12">
        <label for="USEFUL_LIFE_PERD_01" class="col-sm-4  col-lg-4 control-label">LTD Production (UOP)</label>
        <div class="col-sm-2  col-lg-2 text-left">
            @Html.CommonTextBox("LTD_PRODUCT_UOP_01", null, new { @class = "form-control text-right" })
        </div>
        <div class="col-sm-2  col-lg-2 text-left aecuser">
            @Html.CommonTextBox("LTD_PRODUCT_UOP_15", null, new { @class = "form-control text-right" })
        </div>
        <div class="col-sm-2  col-lg-2 text-left aecuser">
            @Html.CommonTextBox("LTD_PRODUCT_UOP_31", null, new { @class = "form-control text-right" })
        </div>
        <div class="col-sm-2  col-lg-2 text-left aecuser">
            @Html.CommonTextBox("LTD_PRODUCT_UOP_41", null, new { @class = "form-control text-right" })
        </div>
    </div>
        
    <div class="col-lg-12">
        <label for="USEFUL_LIFE_PERD_01" class="col-sm-4  col-lg-4 control-label">Scrap Value Percent APC</label>
        <div class="col-sm-2  col-lg-2 text-left">
            @Html.CommonTextBox("SCRAP_VALUE_PERCENT_APC_01", null, new { @class = "form-control text-right" })
        </div>
        <div class="col-sm-2  col-lg-2 text-left aecuser">
            @Html.CommonTextBox("SCRAP_VALUE_PERCENT_APC_15", null, new { @class = "form-control text-right" })
        </div>
        <div class="col-sm-2  col-lg-2 text-left aecuser">
            @Html.CommonTextBox("SCRAP_VALUE_PERCENT_APC_31", null, new { @class = "form-control text-right" })
        </div>
        <div class="col-sm-2  col-lg-2 text-left aecuser">
            @Html.CommonTextBox("SCRAP_VALUE_PERCENT_APC_41", null, new { @class = "form-control text-right" })
        </div>
    </div>
    
    
   
   
    
    <div class="col-lg-12">
        <label for="" class="col-sm-4  col-lg-4 control-label aecuser">Deactivate</label>
        <div class="col-sm-2  col-lg-2 text-left">
        </div>
        <div class="col-sm-2  col-lg-2 text-left aecuser">
            @Html.CommonTextBox("DEACTIVATE_15", null, new { @class = "form-control text-left" })
        </div>
        <div class="col-sm-2  col-lg-2 text-left aecuser">
        </div>
        <div class="col-sm-2  col-lg-2 text-left aecuser">
        </div>
    </div>
</div>