﻿<div class="form-group assetdata" id="divAdditionInformation">
    <div class="col-lg-12">
        <label for="IMP_INVOICE_1" class="col-sm-3 col-lg-2 control-label ">Import Invoice 1</label>
        <div class="col-sm-3 col-lg-6">
            @Html.CommonTextBox("IMP_INVOICE_1", null, new { @class = "form-control text-left",  maxlength = "50" })
        </div>
    </div>
    <div class="col-lg-12">
        <label for="IMP_INVOICE_2" class="col-sm-3 col-lg-2 control-label ">Import Invoice 2</label>
        <div class="col-sm-3 col-lg-6">
            @Html.CommonTextBox("IMP_INVOICE_2", null, new { @class = "form-control text-left",  maxlength = "50" })
        </div>
    </div>
    <div class="col-lg-12">
        <label for="IMP_DATE" class="col-sm-3 col-lg-2 control-label ">Import Date</label>
        <div class="col-sm-3 col-lg-3">
            <div class="input-inline" style="width: 100%;">
                <span class="input-group date" style="max-width:100%;">
                    @Html.TextBox("IMP_DATE", null, new { @class = "entersearch form-control datepicker", maxlength = "10", tabindex = "13" })
                    <span class="input-group-addon date-picker-icon" onclick="ClickIconDate('IMP_DATE')">
                        <i class="fa fa-calendar"></i>
                    </span>
                </span>
            </div>
        </div>
    </div>
    <div class="col-lg-12">
        <label for="PRD_PART_NO_3" class="col-sm-3 col-lg-2 control-label ">AORGOR 1</label>
        <div class="col-sm-3 col-lg-6">

            @Html.CommonTextBox("AORGOR_1", null, new { @class = "form-control text-left",  maxlength = "50" })
        </div>
    </div>
    <div class="col-lg-12">
        <label for="PRD_PART_NO_4" class="col-sm-3 col-lg-2 control-label ">AORGOR 2</label>
        <div class="col-sm-3 col-lg-6">
            @Html.CommonTextBox("AORGOR_2", null, new { @class = "form-control text-left",  maxlength = "50" })
        </div>
    </div>
    <div class="col-lg-12">
        <label for="PRD_PART_NO_5" class="col-sm-3 col-lg-2 control-label ">Free Text</label>
        <div class="col-sm-3 col-lg-6">
            @Html.CommonTextArea("Free_Text", null, new { @class = "form-control text-left",  maxlength = "200" })
        </div>
    </div>
</div>
 
