﻿<div class="form-group" id="div_cost_center">
    <div class="col-sm-12">
        <div class="table-responsive">
            <table id="tb_costcenter" class="table table-bordered table-striped table-hover table-th-center">
                <thead class="bg-gray">
                    <tr>
                        <th>Cost Center Code</th>
                        <th>Cost Center Name</th>
                        <th>Expense Account</th>
                        <th>Units</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>