﻿<div class="form-group">
    <label for="PLAN_COST" class="col-sm-3 control-label">Plan Cost</label>
    <div class="col-sm-3 text-left">
        @Html.CommonTextBox("PLAN_COST", null, new { @class = "form-control text-right", disabled = "disabled" })
    </div>
    <label for="COST" class="col-sm-3 control-label">Current Cost</label>
    <div class="col-sm-3 text-left">
        @Html.CommonTextBox("COST", null, new { @class = "form-control text-right", disabled = "disabled" })
    </div>
</div>
<div class="form-group" id="div_finance">
    <div class="col-sm-12">
        <div class="table-responsive">
            <table id="tb_finance" class="table table-bordered table-striped table-hover table-th-center">
                <thead class="bg-gray">
                    <tr>
                        <th>No.</th>
                        <th>Invoice No.</th>
                        <th>Invoice Date</th>
                        <th>Invoice Line</th>
                        <th>Supplier No</th>
                        <th>Supplier Name</th>
                        <th>Description</th>
                        <th>Invoice Cost</th>
                        <th>PO  No.</th>
                   </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>