﻿<div class="form-group assetdata" id="divLeasingDepreciation">

    <div class="col-lg-12 aecuser">
        <label for="Asset_Class" class="col-sm-4 col-lg-4 text-center"></label>
        <label for="Asset_Class" class="col-sm-2 col-lg-2 text-center">81</label>
        <label for="Asset_Class" class="col-sm-2 col-lg-2 text-center">91</label>
    </div>
    <div class="col-lg-12 aecuser">
        <label class="col-sm-4  col-lg-4 control-label">Depreciation Area</label>
        <label class="col-sm-2 col-lg-2 text-center">Leasing Local</label>
        <label class="col-sm-2 col-lg-2 text-center">Leasing Consolidation</label>
    </div>
    <div class="col-lg-12 aecuser">
        <label for="DPRE_KEY_81" class="col-sm-4  col-lg-4 control-label">Depreciation Key</label>
        <div class="col-sm-2  col-lg-2 text-left">
            @Html.CommonTextBox("DPRE_KEY_81", null, new { @class = "form-control text-right" })
        </div>
        <div class="col-sm-2  col-lg-2 text-left">
            @Html.CommonTextBox("DPRE_KEY_91", null, new { @class = "form-control text-right" })
        </div>
        
    </div>
    <div class="col-lg-12 aecuser">
        <label for="DPRE_START_DATE_81" class="col-sm-4  col-lg-4 control-label">Start Date</label>
        <div class="col-sm-2  col-lg-2 text-left">
            @Html.CommonTextBox("DPRE_START_DATE_81", null, new { @class = "form-control text-right" })
        </div>
        <div class="col-sm-2  col-lg-2 text-left">
            @Html.CommonTextBox("DPRE_START_DATE_91", null, new { @class = "form-control text-right" })
        </div>
        
    </div>
    <div class="col-lg-12 aecuser">
        <label for="USEFUL_LIFE_PERD_81" class="col-sm-4  col-lg-4 control-label">Cost Current</label>
        <div class="col-sm-2  col-lg-2 text-left">
            @Html.CommonTextBox("CUMU_ACQU_PRDCOST_81", null, new { @class = "form-control text-right" })
        </div>
        <div class="col-sm-2  col-lg-2 text-left">
            @Html.CommonTextBox("CUMU_ACQU_PRDCOST_91", null, new { @class = "form-control text-right" })
        </div>
        
    </div>
    <div class="col-lg-12 aecuser">
        <label for="USEFUL_LIFE_PERD_81" class="col-sm-4  col-lg-4 control-label">Accum depreciation</label>
        <div class="col-sm-2  col-lg-2 text-left">
            @Html.CommonTextBox("ACCU_DPRE_81", null, new { @class = "form-control text-right" })
        </div>
        <div class="col-sm-2  col-lg-2 text-left">
            @Html.CommonTextBox("ACCU_DPRE_91", null, new { @class = "form-control text-right" })
        </div>
        
    </div>
    <div class="col-lg-12 aecuser">
        <label for="USEFUL_LIFE_PERD_81" class="col-sm-4  col-lg-4 control-label">Net Book Value</label>
        <div class="col-sm-2  col-lg-2 text-left">
            @Html.CommonTextBox("NET_VALUE_81", null, new { @class = "form-control text-right" })
        </div>
        <div class="col-sm-2  col-lg-2 text-left">
            @Html.CommonTextBox("NET_VALUE_91", null, new { @class = "form-control text-right" })
        </div>
       
    </div>
    <div class="col-lg-12 aecuser">
        <label for="USEFUL_LIFE_PERD_81" class="col-sm-4  col-lg-4 control-label">Scrap Value</label>
        <div class="col-sm-2  col-lg-2 text-left">
            @Html.CommonTextBox("SCRAP_VALUE_81", null, new { @class = "form-control text-right" })
        </div>
        <div class="col-sm-2  col-lg-2 text-left">
            @Html.CommonTextBox("SCRAP_VALUE_91", null, new { @class = "form-control text-right" })
        </div>
       
    </div>
    <div class="col-lg-12 aecuser">
        <label for="USEFUL_LIFE_PERD_81" class="col-sm-4  col-lg-4 control-label">YTD Depreciation</label>
        <div class="col-sm-2  col-lg-2 text-left">
            @Html.CommonTextBox("DPRE_CUR_YEAR_81", null, new { @class = "form-control text-right" })
        </div>
        <div class="col-sm-2  col-lg-2 text-left">
            @Html.CommonTextBox("DPRE_CUR_YEAR_91", null, new { @class = "form-control text-right" })
        </div>
      
    </div>
    <div class="col-lg-12 aecuser">
        <label for="DPRE_START_DATE_81" class="col-sm-4  col-lg-4 control-label">Plan Useful Life(Year)</label>
        <div class="col-sm-2  col-lg-2 text-left">
            @Html.CommonTextBox("USEFUL_LIFE_YEAR_81", null, new { @class = "form-control text-right" })
        </div>
        <div class="col-sm-2  col-lg-2 text-left">
            @Html.CommonTextBox("USEFUL_LIFE_YEAR_81", null, new { @class = "form-control text-right" })
        </div>
      
    </div>
    <div class="col-lg-12 aecuser">
        <label for="USEFUL_LIFE_PERD_81" class="col-sm-4  col-lg-4 control-label">Plan Useful Life(Period)</label>
        <div class="col-sm-2  col-lg-2 text-left">
            @Html.CommonTextBox("USEFUL_LIFE_PERD_81", null, new { @class = "form-control text-right" })
        </div>
        <div class="col-sm-2  col-lg-2 text-left">
            @Html.CommonTextBox("USEFUL_LIFE_PERD_91", null, new { @class = "form-control text-right" })
        </div>
       
    </div>
    <div class="col-lg-12 aecuser">
        <label for="USEFUL_LIFE_PERD_81" class="col-sm-4  col-lg-4 control-label">Capacity (UOP)</label>
        <div class="col-sm-2  col-lg-2 text-left">
            @Html.CommonTextBox("CAPACITY_UOP_81", null, new { @class = "form-control text-right" })
        </div>
        <div class="col-sm-2  col-lg-2 text-left">
            @Html.CommonTextBox("CAPACITY_UOP_91", null, new { @class = "form-control text-right" })
        </div>
        
    </div>
    <div class="col-lg-12 aecuser">
        <label for="USEFUL_LIFE_PERD_81" class="col-sm-4  col-lg-4 control-label">LTD Production (UOP)</label>
        <div class="col-sm-2  col-lg-2 text-left">
            @Html.CommonTextBox("LTD_PRODUCT_UOP_81", null, new { @class = "form-control text-right" })
        </div>
        <div class="col-sm-2  col-lg-2 text-left">
            @Html.CommonTextBox("LTD_PRODUCT_UOP_91", null, new { @class = "form-control text-right" })
        </div>
       
    </div>

    <div class="col-lg-12 aecuser">
        <label for="USEFUL_LIFE_PERD_81" class="col-sm-4  col-lg-4 control-label">Scrap Value Percent APC</label>
        <div class="col-sm-2  col-lg-2 text-left">
            @Html.CommonTextBox("SCRAP_VALUE_PERCENT_APC_81", null, new { @class = "form-control text-right" })
        </div>
        <div class="col-sm-2  col-lg-2 text-left">
            @Html.CommonTextBox("SCRAP_VALUE_PERCENT_APC_91", null, new { @class = "form-control text-right" })
        </div>
       
    </div>

</div>