﻿<div class="row assetdata" id="divLeasingInformation">
      
    <div class="col-lg-12">
        <label for="LEASE_AGREE_DATE" class="col-sm-3 col-lg-3 control-label">Lease Agreement Date</label>
        <div class="col-sm-3 col-lg-3">
            @Html.CommonTextBox("LEASE_AGREE_DATE", null, new { @class = "form-control text-left" })
        </div>
        <label for="LEASE_START_DATE" class="col-sm-3 col-lg-3 control-label ">Lease Start Date</label>
        <div class="col-sm-3 col-lg-3">
            @Html.CommonTextBox("LEASE_START_DATE", null, new { @class = "form-control text-left" })
        </div>
    </div>

    <div class="col-lg-12">
        <label for="LEASE_LENGTH_YEAR" class="col-sm-3 col-lg-3 control-label ">Lease Length (year)</label>
        <div class="col-sm-3 col-lg-3">
            @Html.CommonTextBox("LEASE_LENGTH_YEAR", null, new { @class = "form-control text-left" })
        </div>
        <label for="LEASE_LENGTH_PERD" class="col-sm-3 col-lg-3 control-label ">Lease Length (period)</label>
        <div class="col-sm-3 col-lg-3">
            @Html.CommonTextBox("LEASE_LENGTH_PERD", null, new { @class = "form-control text-left" })
        </div>
    </div>

    <div class="col-lg-12">
        <label for="LEASE_TYPE" class="col-sm-3 col-lg-3 control-label ">Lease Type</label>
        <div class="col-sm-3">
            @Html.CommonTextBox("LEASE_TYPE", null, new { @class = "form-control text-left" })
        </div>
        <span id="LEASE_TYPE_NAME"></span>
    </div>
    <div class="col-lg-12">
        <label for="LEASE_SUPPLEMENT" class="col-sm-3 col-lg-3 control-label ">Lease Supplementary</label>
        <div class="col-sm-9 col-lg-9">
            @Html.CommonTextBox("LEASE_SUPPLEMENT", null, new { @class = "form-control text-left" })
        </div>
    </div>
    <div class="col-lg-12">
        <label for="LEASE_NUM_PAYMENT" class="col-sm-3 col-lg-3 control-label ">No. Lease Payments</label>
        <div class="col-sm-3 col-lg-3">
            @Html.CommonTextBox("LEASE_NUM_PAYMENT", null, new { @class = "form-control text-left" })
        </div>
        <label for="LEASE_PAY_CYCLE" class="col-sm-3 col-lg-3 control-label ">Lease Payment Cycle</label>
        <div class="col-sm-3 col-lg-3">
            @Html.CommonTextBox("LEASE_PAY_CYCLE", null, new { @class = "form-control text-left" })
        </div>
    </div>
    <div class="col-lg-12">
        <label for="LEASE_ADV_PAYMENT" class="col-sm-3 col-lg-3 control-label ">Leas Advance Payments</label>
        <div class="col-sm-3 col-lg-3">
            @Html.CommonTextBox("LEASE_ADV_PAYMENT", null, new { @class = "form-control text-left" })
        </div>
        <label for="LEASE_PAYMENT" class="col-sm-3 col-lg-3 control-label ">Lease Payment</label>
        <div class="col-sm-3 col-lg-3">
            @Html.CommonTextBox("LEASE_PAYMENT", null, new { @class = "form-control text-left" })
        </div>
    </div>
    <div class="col-lg-12">
        <label for="LEASE_ANU_INT_RATE" class="col-sm-3 col-lg-3 control-label ">Lease Annual Interest Rate</label>
        <div class="col-sm-3">
            @Html.CommonTextBox("LEASE_ANU_INT_RATE", null, new { @class = "form-control text-left" })
        </div>
    </div>
</div>