﻿<link rel="stylesheet" type="text/css" href="~/InitializeComponents/Content/cropImage.css" />


<div class="modal fade" id="upload-dialog" tabindex="-1" role="dialog">
    <div class="modal-dialog" style="width: 777px;">
        <div class="modal-content Radius12">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">Upload Photo</h4>
            </div>
            <div class="modal-body">
                <div id="AlertMessageAreaPopup">
                </div>
                <div class="modal-body crop-container">
                    @*<img class="resize-image" style="width: 400px; height: 300px;" src="@ViewBag.DafaultImage" alt="image for resizing" />*@
                    <div>
                        <img id="WFD02130_Imgae_PreviewUpload" src="@ViewBag.DafaultImage" alt="Picture" />
                    </div>
                </div>
            </div>
                
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-lg-6 text-left">
                            <button class="btn btn-sm btn-info" id="BtnImageUpload">
                                <i class="fa fa-image"></i>Select Photo
                            </button>
                            <input type="file" class="file-input" accept="JPEG,JFIF,GIF,BMP,PNG,JPG" id="Image_Upload" name="Image_Upload" style="display:none">
                        </div>
                        <div class="col-lg-6">

                            <div class="button-box navbar-right">
                                <button class="btn btn-sm btn-success" id="WFD02130UploadSave" type="button" style="width:100px"><i class="fa fa-save"></i>Save</button>
                                <button class="btn btn-sm btn-warning" id="WFD02130UploadCancel" type="button" style="width:100px"><i class="fa fa-ban"></i>Cancel</button>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- /.modal-dialog -->
            </div>
    </div>
</div>