﻿@model th.co.toyota.stm.fas.Models.SFAS.WFD01150.WFD01150EditScreenModel


<div class="row">
    <div class="col-lg-6">
        <label class="WFD01150-left-col text-right">Seq No :</label>
        <label id="WFD01150_INDX" style="margin-left: 10px;">1</label>
    </div>
    <div class="col-lg-6">
        <label class="WFD01150-left2-col text-right">Required : </label>
        <div class="form-in" style="margin-left: 0px; width: 65px">
            @Html.CheckBox("WFD01150_REQUIRE_FLAG", false)
        </div>
    </div>
</div>


<div class="row">
    <div class="col-lg-6">
        <label class="WFD01150-left-col text-right">Role :</label>
        <div class="form-in" style="width: 250px;">
            @Html.ApproveRoleCombobox("WFD01150_ROLE", new { @class = "form-control select2" })
        </div>
    </div>
    <div class="col-lg-6">
        <label class="WFD01150-left2-col text-right">Group : </label>
        <div class="form-in" style="width: 250px;">
            @Html.TextBox("WFD01150_APPRV_GROUP", null, new { @class = "form-control", maxlength = "8" })
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <label class="WFD01150-left-col text-right">Division :</label>
        <div class="form-in" style="width: 250px;">
            @Html.DivisionCombobox("WFD01150_DIVISION", new { @class = "form-control select2" })
        </div>
    </div>
    <div class="col-lg-6">

    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <label class="WFD01150-left-col text-right">Condition :</label>
        <div class="form-in" style="width: 250px;">
            @Html.ApproveConditionCombobox("WFD01150_CONDITION_CODE", Model.OperationCode, new { @class = "form-control select2" })
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="form-inline form-in" style="margin-left:0px;">
            <label class="WFD01150-left-col text-right">Operator :</label>
            <div class="form-inline form-in" style="margin-left: 0px; width: 87px;">
                @Html.OperatorCombobox("WFD01150_OPERATOR", new { @class = "form-control select2" })
            </div>
        </div>
        <div class="form-inline form-in" style="margin-right: 0px; padding-right: 0px;">
            <label style="margin-left: 0px;">Value : </label>
            @Html.TextBox("WFD01150_VALUE1", null, new { @class = "form-control text-right", style = "width: 170px;", maxlength = "20" })
        </div>
        <div class="form-inline form-in">
            <label style="margin-left: 0px;">And</label>
            <div class="form-in">
                @Html.TextBox("WFD01150_VALUE2", null, new { @class = "form-control text-right", style = "width: 170px;", maxlength = "20" })
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-lg-12">
        <div class="form-inline form-in" style="margin-left: 0px;     ">
            <label class="WFD01150-left-col text-right">Allow to Reject :</label>
            @Html.CheckBox("WFD01150_ALLOW_REJECT")
        </div>
        <div class="form-inline form-in" style="margin-right: 0px; padding-right: 0px;">
            <label style="width: 110px; text-align: right;">Reject To : </label>
            <div class="form-inline form-in" style="width:200px; margin-left: 2px; margin-right: 0px;">
                @Html.WFD01150_ApproveRejectTo("WFD01150_REJECT_TO", Model.UpperRoles, new { @class = "form-control select2", style = "width: 170px;" })
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">

        <label class="WFD01150-left-col text-right">Allow to Delete :</label>
        <div class="form-in">
            <div class="form-in" style="margin-left: 0px; width: 65px">
                @Html.CheckBox("WFD01150_ALLOW_DEL_ITEM")
            </div>
        </div>

    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <label class="WFD01150-left-col text-right">Allow to Select Approval :</label>
        <div class="form-in">
            <div class="form-in" style="margin-left: 0px; width: 65px">
                @Html.CheckBox("WFD01150_ALLOW_SEL_APPRV")
            </div>
        </div>
        <label class="WFD01150-left-col text-right">KPI Leadtime :</label>
        <div class="form-in" style="width: 100px;">
            @Html.TextBox("WFD01150_KPI_LEADTIME", null, new { @class = "form-control number", maxlength = "2" })
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <label class="WFD01150-left-col text-right">Finish Flow :</label>
        <div class="form-in">
            <div class="form-in" style="margin-left: 0px; width: 65px">
                @Html.CheckBox("WFD01150_FINISH_FLOW")
            </div>
            <label class="WFD01150-left-col text-right">Generate File :</label>
            <div class="form-in">
                <div class="form-in" style="margin-left: 0px; width: 65px">
                    @Html.CheckBox("WFD01150_GENERATE_FILE")
                </div>
            </div>
        </div>

    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <label class="WFD01150-left-col text-right">Higher Approve :</label>
        <div class="form-in">
            <div class="form-in" style="margin-left: 0px; width: 65px">
                @Html.CheckBox("WFD01150_HIGHER_APPR")
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <label class="WFD01150-left-col text-right">Notification by Email :</label>
        <div class="form-in">
            <div class="form-in" style="margin-left: 0px; width: 65px">
                <input type="checkbox" id="WFD01150_NOTIFICATION_PERSON" value="P" onclick="WFD01150_NOTIFICATION_PERSON_Click(this);" /> Person
            </div>
        </div>
        <div class="form-in">
            <div class="form-in" style="margin-left: 0px; width: 65px">
                <input type="checkbox" id="WFD01150_NOTIFICATION_GROUP" value="G" onclick="WFD01150_NOTIFICATION_GROUP_Click(this);" /> Group
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <label class="WFD01150-left-col text-right">Operation Mode :</label>
        <div class="form-in">
            <div class="form-in" style="margin-left: 0px; width: 65px">
                <input type="checkbox" id="WFD01150_OPERATION_PERSON" value="P" onclick="WFD01150_OPERATION_PERSON_Click(this);" /> Person
            </div>
        </div>
        <div class="form-in">
            <div class="form-in" style="margin-left: 0px; width: 65px">
                <input type="checkbox" id="WFD01150_OPERATION_GROUP" value="G" onclick="WFD01150_OPERATION_GROUP_Click(this);" /> Group
            </div>
        </div>
    </div>

</div>
<div class="row">
    <div class="col-lg-12">
        <table id="WFD01150_ApproveEmailDTable" class="table table-bordered table-hover table-striped">
            <thead class="bg-gray-light">

            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

@*<div id="WFD01150_EditDetailBox" class="box box-success" style="padding: 20px 5px;">

    </div>*@
<div class="row">
    <div class="col-lg-12 text-right">
        @Html.Button("WFD01150SaveItem", "Save", new { @class = "btn btn-success" }, TagHelper.BUTTON_TYPES.SAVE)
        @*@Html.Button("WFD01150_ClearItem", "Clear", new { @class = "btn btn-warning" }, TagHelper.BUTTON_TYPES.CLEAR)*@
        @Html.Button("WFD01150CancelItem", "Cancel", new { @class = "btn btn-warning" }, TagHelper.BUTTON_TYPES.CANCEL)
    </div>
</div>
