﻿
<div class="box box-info">
    <div class="box-header with-border">
        <h3 class="box-title">Search Condition</h3>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="" data-original-title="Collapse">
                <i class="fa fa-minus"></i>
            </button>
        </div>
    </div>
    <div class="box-body" style="display: block;">
        <div class="row">

            <div class="col-lg-4">
                <div class="form-inline form-in">
                    <label class="control-label">Company</label>
                    <div class="form-in" style="width: 200px;">
                        @Html.CompanyCombobox("WFD01150_Company", new { @class = "form-control select2", tabindex = "1" }, true)
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="form-inline form-in">
                    <label class="control-label">Operation</label>
                    <div class="form-in" style="width: 200px;">
                        @Html.RequestTypeFlowOperation("WFD01150_Operation", new { @class = "form-control select2" })
                    </div>
                </div>
            </div>

            <div class="form-group col-sm-12 col-md-12 col-lg-12" id="WFD01150_Button_Add">
                <div class="form-inline from-in text-right">
                    @Html.Button("WFD01150SubmitAdd", "Submit", new { @class = "btn btn-primary text-right btn-md", tabindex = "7" }, TagHelper.BUTTON_TYPES.SUBMIT)
                    @Html.Button("WFD01150CancelAdd", "Cancel", new { @class = "btn btn-warning text-right btn-md", tabindex = "8" }, TagHelper.BUTTON_TYPES.CANCEL)
                </div>
            </div>
            <div class="form-group col-sm-12 col-md-12 col-lg-12" id="WFD01150_Button_Load">
                <div class="form-inline from-in text-right">
                    @Html.Button("WFD01150Add", "Add", new { @class = "btn btn-info text-right btn-md", tabindex = "6" }, TagHelper.BUTTON_TYPES.ADD)
                    @Html.Button("WFD01150Search", "Search", new { @class = "btn btn-primary text-right btn-md", tabindex = "4" }, TagHelper.BUTTON_TYPES.SEARCH)
                    @Html.Button("WFD01150Clear", "Clear", new { @class = "btn btn-warning text-right btn-md", tabindex = "5" }, TagHelper.BUTTON_TYPES.CLEAR)
                </div>
            </div>
        </div>
        <div id="WFD01150_SearchResultRow" class="row" style="margin-top: 20px;">
            <div class="col-lg-12">
                <div style="width: 100%; display: block; overflow: hidden; overflow-x:auto;">
                    <table id="WFD01150_SearchTable" class="table table-bordered table-hover WFD01150-fixed-table table-striped">
                        <thead class="bg-gray-light">
                            <tr>
                                <th rowspan="2">Del</th>
                                <th rowspan="2">No.</th>
                                <th rowspan="2" class="dynamic-width" style="min-width: 150px;">Asset Class</th>
                                <th rowspan="1" colspan="3" id="WFD01150_ApproveFlowHeadCol">Approve Flow</th>
                            </tr>
                            <tr id="WFD01150_FlowApproverRow">
                                <th class="WFD01150-flow-col">01</th>
                                <th class="WFD01150-flow-col">02</th>
                                <th class="WFD01150-flow-col">10</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><button type="button" class="WFD01150-btn-del">X</button></td>
                                <td>1</td>
                                <td>Pattern</td>
                                <td class="WFD01150-flow-col">S/V</td>
                                <td class="WFD01150-flow-col">DM</td>
                                <td class="WFD01150-flow-col">FA(S/V)</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- /.box-footer-->
</div>


