﻿
@{
    ViewBag.Title = "WFD01150: Approve Flow Master";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.ScreenTitle = "Approve Flow Master Screen";
}

<section id="WFD01150_SearchBox" style="display: block; width: 100%;">
    @Html.Partial("_Search")
</section>
<section id="WFD01150_Body" style="display: block; width: 100%;"></section>


@section styles{

    <style>
        button.WFD01150-btn-del {
            background-color: #ff0000;
            border: 1px solid #333;
            font-weight: bold;
            color: white;
            border-radius: 3px;
            transition: 0.1s background-color;
        }

            button.WFD01150-btn-del:hover {
                background-color: #fd5757;
            }

        table.table > thead > tr > th:first-child, table.table > tbody > tr > td:first-child {
            width: 50px;
            text-align: center;
        }

        table.table > thead > tr > th:nth-child(2), table.table > tbody > tr > td:nth-child(2) {
            width: 50px;
            text-align: center;
        }

        table#WFD01150_SearchResultRow > thead > tr > th {
            text-align: center;
            padding: 1px 5px;
            font-size: 12px;
        }

        table.table > thead > tr > th {
            text-align: center;
            font-size: 12px;
        }

            table.table > thead > tr > th.WFD01150-flow-col {
                width: 80px;
                text-align: center;
                background-color: #fee9d7;
                border-top-style: solid;
                border-top-width: 1px;
            }

        table.table > tbody > tr > td.WFD01150-flow-col {
            text-align: center;
            width: 80px;
        }

        table.table > tbody > tr > td {
            vertical-align: middle;
            padding: 4px 7px;
            font-size: 12px;
        }

        table.WFD01150-fixed-table {
            table-layout: fixed;
        }

            table.WFD01150-fixed-table > tbody > tr > td {
                overflow: hidden;
            }

        table#WFD01150_SearchTable > tbody > tr, #WFD01150_ApproveDTable > tbody > tr {
            cursor: pointer;
        }

        #WFD01150_EditDetailBox label.text-right, #WFD01150_EditDetailBox label.text-left {
            padding-top: 4px;
            padding-right: 0px;
        }

        #WFD01150_EditDetailBox div.row {
            margin-top: 5px;
        }

        #WFD01150_EditDetailBox .form-in {
            margin-top: 0px;
            margin-bottom: 0px;
        }



        @@media only screen and (max-width:890px) {
            /* styles for browsers larger than 960px; */
            .WFD01150-left-col, .WFD01150-left2-col {
                display: block;
                width: 100%;
            }

            .WFD01150-left2-col {
                display: inline-block;
                width: 100px !important;
            }
        }

        @@media only screen and (min-width:900px) {
            /* styles for browsers larger than 960px; */
            .WFD01150-left-col, .WFD01150-left2-col {
                display: inline-block;
                width: 190px !important;
                margin-left: 0px !important;
            }
        }

        @@media only screen and (min-width:1250px) {
            /* styles for browsers larger than 1440px; */
            .WFD01150-left-col {
                display: inline-block;
                width: 190px !important;
                margin-left: 0px !important;
            }

            .WFD01150-left2-col {
                display: inline-block;
                width: 100px !important;
            }
        }
    </style>

}

@section scripts{



    <script type="text/javascript">

        var WFD01150_Url = {
            SearchApproveByRequestType: '@Url.Action("SearchApproveByRequestType", "WFD01150")',
            SearchPage: '@Url.Action("SearchPage", "WFD01150")',
            EditPage: '@Url.Action("EditPage", "WFD01150")',
            EditDetailPage: '@Url.Action("EditDetailPage", "WFD01150")',
            GetApproveDDatas: '@Url.Action("GetApproveDDatas", "WFD01150")',
            SubmitSaveApproveDDatas: '@Url.Action("SubmitSaveApproveDDatas", "WFD01150")',
            ValidateSaveApproveDetail: '@Url.Action("ValidateSaveApproveDetail", "WFD01150")',
            SubmitAddApproveData: '@Url.Action("SubmitAddApproveData", "WFD01150")',
            DeleteApprove: '@Url.Action("DeleteApprove", "WFD01150")',
            ValidateAddApprove: '@Url.Action("ValidateAddApprove", "WFD01150")',
            GetApproveEmailDatas: '@Url.Action("GetApproveEmailDatas", "WFD01150")',
            SaveTempApproveEmailDetail: '@Url.Action("SaveTempApproveEmailDetail", "WFD01150")',
            DeleteTempApproveEmailDetail: '@Url.Action("DeleteTempApproveEmailDetail", "WFD01150")',
        };

        var WFD01150_Config = {
            ITEM_PER_PAGE: '@ViewBag.ITEM_PER_PAGE'
        };

        var WFD01150_Message = {
            ConfirmSave: '@ViewBag.MSTD0006ACFM',
            ConfirmCancel: '@ViewBag.MCOM0007ACFM',
            ConfirmDelete: '@ViewBag.MSTD0001ACFM'
        }

    </script>

    <script type="text/javascript" src="~/JS/WFD01150.js"></script>

}