﻿
<div id="divCostDialog" class="modal fade" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header HeaderModel">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Asset No : <span id="lblAssetNoOnCostdialog"></span></h4>
            </div>
            <div class="modal-body">
                <div id="AlertMessageWFD02910" class="message-area">
                </div>
                <div class="form-horizontal">
                    <div class="form-group">
                        <div class="col-sm-2 text-right">
                        </div>
                        <div class="col-sm-2">
                            <label for="txtCostValueOriginal" class="control-label" style="white-space: nowrap;">Cost Value</label>
                        </div>
                        <div class="col-sm-4 text-right">
                            @Html.CommonTextBox("txtCostValueOriginal", null, new { @class = "form-control text-right", disabled = "disabled" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2 text-right">
                            <input id="chkAmount" type="checkbox" class="custom-control-input" tabindex="3" style="width:24px;height:24px;" />
                        </div>
                        <div class="col-sm-2">
                            <label class="control-label"> Amount</label>
                        </div>
                        <div class="col-sm-4 text-left">
                            <input name="txtCostAmount" id="txtCostAmount" onblur="fPopup.CalculateRemainCost();" class="form-control  text-right" disabled>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2 text-right">
                            <input id="chkQty" type="checkbox" class="custom-control-input" tabindex="3" style="width:24px;height:24px;" />
                        </div>
                        <div class="col-sm-2">
                            <label class="control-label"> Quantity</label>
                        </div>
                        <div class="col-sm-2 text-left">
                            <input type="text" maxlength="8" name="txtQty" id="txtQty" class="form-control  text-right" disabled min="1" max="5">
                        </div>
                        <div class="col-sm-2 text-left">
                            <label class="control-label" id="lblUnit" style="white-space: nowrap;">/ 1.000</label>
                        </div>
                        <div class="col-sm-4 text-left">
                            <input name="txtAmountByQty" id="txtAmountByQty" class="form-control  text-right" disabled>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2 text-right">
                            <input id="chkPercentage" type="checkbox" class="custom-control-input" tabindex="3" style="width:24px;height:24px;" />
                        </div>
                        <div class="col-sm-2">
                            <label class="control-label"> Percentage</label>
                        </div>
                        <div class="col-sm-2 text-left">
                            <input type="text" maxlength="8" name="txtCostPercentage" id="txtCostPercentage" class="form-control  text-right" disabled>
                        </div>
                        <div class="col-sm-2 text-left">
                            <label class="control-label" style="white-space: nowrap;">/ 100.00%</label>
                        </div>
                        <div class="col-sm-4 text-left">
                            <input name="txtAmountByPercentage" id="txtAmountByPercentage" class="form-control  text-right" disabled>
                        </div>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <label class="control-label text-left col-sm-3">Remain Cost :</label>
                <label class="control-label text-left col-sm-5" id="lblRemainCost">99,999,999.00</label>
                <button class="btn btn-sm btn-info" id="btnCostDialogOK" type="button"><i class="fa fa-save"></i> OK </button>
                <button class="btn btn-sm btn-warning" data-dismiss="modal" id="btnCancelDialog" type="button"><i class="fa fa-ban"></i> Cancel </button>

            </div>
        </div>
    </div>
</div>
