﻿<style>
    p {
        margin: 0 0 0px !important;
    }
</style>
<div class="box box-primary" id="WFD02900_SearchDataRow">
    <div class="box-header with-border">
        <h3 class="box-title">Assets List</h3>
        <div class="form-group">
            <div class="col-sm-6">
                @Html.WFD01170Button("btnRequestDownload", "Download Template ", new { @class = "btn btn-info", tabindex = "2" }, TagHelper.BUTTON_TYPES.DOWNLOAD)
                @Html.WFD01170Button("btnRequestUpload", "Upload Excel ", new { @class = "btn btn-warning", tabindex = "2" }, TagHelper.BUTTON_TYPES.UPLOAD)
                @Html.WFD01170Button("btnGenerateAssetNo", "Generate Asset No ", new { @class = "btn btn-info", tabindex = "2" }, TagHelper.BUTTON_TYPES.ADD)
            </div>
            <div class="col-sm-6 text-right">
                @Html.WFD01170Button("btnRequestAdd", "Add ", new { @class = "btn btn-info", tabindex = "2" }, TagHelper.BUTTON_TYPES.ADD)
                @Html.WFD01170Button("btnRequestClear", "Clear ", new { @class = "btn btn-warning", tabindex = "2" }, TagHelper.BUTTON_TYPES.CLEAR)
                @Html.WFD01170Button("btnRequestExport", "Export to Excel ", new { @class = "btn btn-info", tabindex = "2" }, TagHelper.BUTTON_TYPES.EXPORT)
            </div>
        </div>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                <i class="fa fa-minus"></i>
            </button>
        </div>
        
    </div>
    <div class="box-body">
        <div class="table-responsive">
            <div class="col-lg-12 row" id="divSearchRequestResult">
                <table id="tbSearchResult" class="table table-bordered table-striped table-hover table-thead-center"
                       style="font-size:12px; border-radius: 3px;">
                    <thead style="height:40px; background-color:rgba(236, 240, 245, 1);">
                        <tr>
                            <th class="text-center" style="width: 25px;"><input id="WFD02910_SelectAll" type="checkbox" style="margin-top: 3px; height:20px; width:20px;" /></th>
                            <th class="text-center" style="width: 20px;">No.</th>
                            <th class="text-center" style="width: 80px;">Asset No.</th>
                            <th class="text-center" style="width: 40px;">Asset<br />Sub</th>
                            <th class="text-center" style="width: 40px;">Asset<br />Class</th>
                            <th class="text-center" style="width: 80px;">Capitalized<br />Date</th>
                            <th class="text-center" style="min-width: 120px;">Description</th>
                            <th class="text-center" style="width: 60px;">Cost Value</th>
                            <th class="text-center" style="min-width: 100px;"></th>
                            <th class="text-center" style="min-width: 100px;">To Asset No.</th>
                            <th class="text-center" style="width: 40px;">To Asset <br />Sub</th>
                            <th class="text-center" style="width: 60px;">Asset Class</th>
                            <th class="text-center" style="min-width: 120px;">Description</th>
                            <th class="text-center" style="width: 80px;">Amount<br />Posted</th>
                            <th class="text-center" style="width: 80px;">Effective<br />Date</th>
                            <th class="text-center" style="width: 25px;">BOI</th>
                            <th class="text-center" style="width: 25px;">BOI<br />Doc</th>
                            <th class="text-center" style="width: 80px;">Reason</th>
                            <th class="text-center" style="width: 40px;">Status</th>
                            <th class="text-center" style="width: 25px;">Del</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
        <div class="row">
            <div id="WFD02210RemarkGenerate" class="col-lg-12" style="display:none;">
                <div class="form-group" style="padding-right:16px; color:#e08e0b; text-align:right">
                    <p>Remark: If you want to edit data in asset list, please click Reset Approver List.</p>
                </div>
            </div>
        </div>
        </div>
</div>

<div class="box box-primary" id="DivTMCDocument">
    <div class="box-header with-border">
        <div class="row">
            <div class="col-sm-10" style="text-align:left;">
                <h3 class="box-title">TMC Document</h3>
            </div>

            <div class="col-sm-2" style="text-align:right;">
                <button id="WFD02910btnUploadTMCDocument" type="button" class="btn btn-info" tabindex="21"><i class="fa fa-upload"></i> Upload </button>
            </div>
        </div>
    </div>
</div>

@Html.Partial("CostDialog")
<script type="text/javascript">
    var Message = {
        ConfirmGenerateAssetNo: '@ViewBag.ConfirmGenerateAssetNo'
    }
    var url2910 = {
        GenerateAssetNoList : '@ViewBag.GenerateAssetNoList'
    }
</script>